[2021-04-01 20:35] SaiKishor-MSFT commented on #1383
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-05 21:31] walterov opened #1389 "Need to remove the note on Windows and CNI being in preview"
Windows Containers and CNI are already GA. Please remove the note that says they are in public preview

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e69382e4-c307-4dfe-9885-92d2436ef858
* Version Independent ID: 135ea653-550b-039d-121c-95f2e7c93f10
* Content: [Release notes for Azure Kubernetes Service (AKS) engine on

[2021-04-05 22:20] mattbriggs commented on #1389
#in-progress

[2021-04-05 23:11] mattbriggs commented on #1389
#please-close

[2021-04-05 23:11] #1389 closed

[2021-04-13 00:35] aluty opened #1401 "Typos in Azure Stack Hub hotfix 1.2005.33.108"
Fixed an issue in which partner node certificates required by nchotagent might be deleted.
**nchostagent**
Disabled winrrm runner
**winrm**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c7da25b-56e5-d04a-b025-0c765b997acc
* Version Independent ID: ee049f22-7026-2967-5e14-835454a5d822
* Content: [Azure Stack Hub hotfi

[2021-04-13 05:40] BharathNimmala-MSFT commented on #1401
@aluty Thanks a lot for bringing this to our notice and helping us improve our Azure documentation. I have raised a PR to correct the typos. Once the PR is reviewed and approved , changes would go live.

At this point it appears that there's no further edits or updates needed to the documentation, other than what has been listed above. We will go ahead and close this issue for now, however if you

[2021-04-13 05:40] #1401 closed

[2021-04-13 21:12] alexsmithMSFT opened #1404 "Missing details on SQL account requirements during install of App Service RP"
Received feedback on this doc from customer case:

This is related to the section **#prepare-the-sql-server-instance**. Per discussion with Andrew Westgarth and Max Yang, these are the requirements-

1. We only support SQL Auth, not Windows Auth
2. It does not need to be the default root/sa/sqlsa account, but does require certain permissions. From App Service release notes, we expect to perform in

[2021-04-14 09:41] GitaraniSharma-MSFT commented on #1404
@alexsmithMSFT , thank you for your feedback. We have assigned this to the content owner/author for review.

@BryanLa , please review the feedback and update the doc accordingly as it has already been discussed with Andrew Westgarth (anwestg).

[2021-04-14 13:35] alexsmithMSFT commented on #1404
Looks to be a dupe of https://github.com/MicrosoftDocs/azure-stack-docs/issues/1362

[2021-04-14 16:07] #1362 closed

[2021-04-14 16:09] BryanLa commented on #1404
#1362 is closed - I'll be using the steps from @apwestgarth to update the article instead.

[2021-04-16 17:08] alexsmithMSFT commented on #1404
@BryanLa **not saying the requirements are the same**, but this doc section has a nice format that could be adapted to App Service RP SQL account requirements-
https://docs.microsoft.com/en-us/azure-stack/operator/azure-stack-sql-resource-provider-hosting-servers?view=azs-2008#required-privileges

[2021-04-16 17:29] BryanLa commented on #1404
Thanks @alexsmithMSFT . I like the format, but any thoughts on how to adapt # 3 from your [requirements list above](https://github.com/MicrosoftDocs/azure-stack-docs/issues/1404#issue-857327287) to a similar "Object: permission(s)" format? Seems like it would be:

Databases: create, alter
Tables: create, alter  << I omitted your "indices" one, as I think this would include perms to create/alter an

[2021-04-22 19:01] alexsmithMSFT opened #1411 "Add statements officially supporting Azure CNI network plugin"
From the top of this page-

@walterov recently confirmed that we also support Azure CNI networking plugin.

We should probably also update-
https://docs.microsoft.com/azure-stack/user/azure-stack-kubernetes-aks-engine-support#aks-engine-supported-areas

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc538db2-5b34-3668-1

[2021-04-22 19:08] alexsmithMSFT commented on #1411
Some background info available for public AKS-
https://docs.microsoft.com/en-us/azure/aks/configure-azure-cni
https://docs.microsoft.com/en-us/azure/aks/configure-kubenet

[2021-04-22 20:15] prjelesi opened #1412 "Proposal for update"
step 4 of https://docs.microsoft.com/en-us/azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-cluster?view=azs-2008#update-the-api-model

provide the URL to the tenant portal. For example, https://portal.local.azurestack.external.

is making confusion with

step 6: Find portalURL and provide the URL to the tenant portal. For example, https://portal.local.azurestack.external.

i would delete

[2021-04-22 20:19] prjelesi opened #1413 "Missing part regarding running from linux on ADSK"
when deployment is executed on ASDK from linux error will happened - missing root certificate for ADSK.

i would add lines:

if you are using the ASDK  you need to explicitly add the root certificate to the trusted certificate store of the machine.
You can find the root certificate in the VM at this directory: /var/lib/waagent/Certificates.pem.
Copy the certificate file with the following command:

[2021-04-22 23:40] mattbriggs commented on #1413
@prjelesi Thanks for providing feedback to help improve our docs. I'll update.

#in-progress

[2021-04-23 00:18] BryanTrach-MSFT commented on #1412
@prjelesi Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-23 00:19] BryanTrach-MSFT commented on #1411
@alexsmithMSFT Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-23 18:31] mattbriggs commented on #1411
@alexsmithMSFT Thanks for passing this info on I'll update.

#in-progress

[2021-04-23 19:48] mattbriggs commented on #1413
updated.

#please-close

[2021-04-23 19:48] #1413 closed

[2021-04-23 20:05] mattbriggs commented on #1412
@prjelesi Thanks for catching the duplicate step. I removed the second one. Thanks! The update will be on the site shortly.

Thanks!

#please-close

[2021-04-23 20:05] #1412 closed

[2021-04-23 20:22] mattbriggs commented on #1411
@alexsmithMSFT Added the links and statement about Azure CNI. Thanks Alex! Will appear in the next update.

#please-close

[2021-04-23 20:22] #1411 closed

[2021-04-30 23:44] walterov opened #1424 "[ICM fix] Fix json example in "Update the API model" section"
This is needed to mitigate an ICM... Currently the "clusterSubnet" value in the json example in section "Update the API model" (https://docs.microsoft.com/en-us/azure-stack/user/kubernetes-aks-engine-custom-vnet?view=azs-2008#update-the-api-model) has the wrong value for "clusterSubnet", the table above says that the value for "clusterSubnet" should be "10.244.0.0/16". Please change the json examp

[2021-05-01 00:12] mattbriggs commented on #1424
@walterov Thanks!

#in-progress

[2021-05-01 10:39] KrishnaG-MSFT commented on #1424
@mattbriggs Thanks for the quick response. 👍

[2021-05-03 20:31] bandwiches opened #1426 "Images Aren't Readable in Dark Mode."
![image](https://user-images.githubusercontent.com/16140382/116929712-6ea46600-ac24-11eb-8206-45bb64b07b10.png)
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85d6ea47-e076-e8ca-04b8-caf60a394879
* Version Independent ID: 55f706e5-2200-ec76-9703-f507f029a5bd
* Content: [Configure IPsec/IKE site-to-site VPN connections i

[2021-05-04 05:55] JayaChatterjee-MSFT commented on #1426
Thank you for your feedback! We will review and update as appropriate.

[2021-05-04 06:18] jimchurches opened #1427 "Az Modules"
Folks

This documentation is still using the AzureRM PowerShell modules.  What are the chances of getting this updated to use the Az modules?

The older depreciated AzureRM modules and the Az modules can not coexist.  This creates also sorts of problems when trying to manage an Azure Stack Hub with PowerShell.  We are using the Operator Access Workstation and a jump box with the correct Az modules

[2021-05-04 14:03] icestorm104 opened #1428 "PKI Next Steps"
Right at the end it under the Using validated certificates section it states:

_For deployment, securely transfer your certificates to your deployment engineer so that they can copy them onto the **deployment host** as specified in the **Azure Stack Hub PKI requirements documentation**._

However, the PKI requirements documentation do not include any information. After research this appears to be

[2021-05-04 15:04] JayaChatterjee-MSFT commented on #1427
Thank you for your feedback! We will review and update as appropriate.

[2021-05-04 20:26] LeeCoxMS opened #1430 "Update Storage Section: 3.1"
We should update this section: https://docs.microsoft.com/en-us/azure-stack/hci/deploy/create-cluster-powershell#step-31-prepare-drives

It should also exclude Removable drives on the Host nodes. If a customer is building this with a script set locally on the Primary Node it will wipe the Removable Storage they are using to build the cluster. I understand it's a corner case, but still a valid one

[2021-05-05 01:40] Karishma-Tiwari-MSFT commented on #1430
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-05-05 01:42] Karishma-Tiwari-MSFT commented on #1428
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-05-05 15:31] xYorickx opened #1432 "Azure storage service encryption for data at Rest"
Hi,

In the storage cheat sheet linked below you mention "BitLocker 128-bit AES encryption" for azure stack hub.
https://docs.microsoft.com/en-us/azure-stack/user/azure-stack-acs-differences?view=azs-2008

But..
Systems deployed before release 2002 use BitLocker with 128-bit AES encryption; systems deployed starting with 2002, or newer, use BitLocker with AES-256 bit encryption.
https://docs.micro

[2021-05-05 15:41] v-dasis commented on #1430
note has been added to doc and merged. Will notify when this is live, thx!

[2021-05-05 17:12] MonikaReddy-MSFT commented on #1432
@xYorickx -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-05-05 17:44] mattbriggs commented on #1432
@MonikaReddy-MSFT Thanks for your notes.

#in-progress

[2021-05-05 19:12] Karishma-Tiwari-MSFT commented on #1430
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-05-05 19:12] #1430 closed

[2021-05-06 14:25] ChaiSwaddipong opened #1436 "Azure Active Directory domain?"
"In order to register an Azure Stack HCI cluster using Windows Admin Center, you must first register Windows Admin Center with Azure and supply your Azure Active Directory (tenant) ID. Make sure that the computer on which you run Windows Admin Center is joined to the same **Azure Active Directory domain** in which you'll create the cluster, or a trusted domain."

1. Could you clarify this **Azure

[2021-05-06 17:06] khdownie commented on #1436
Thanks @ChaiSwaddipong - you are correct. I will fix this today.

[2021-05-06 17:20] VikasPullagura-MSFT commented on #1436
@ChaiSwaddipong
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-05-06 22:45] khdownie commented on #1436
@VikasPullagura-MSFT @ChaiSwaddipong this is fixed now. You can close this issue.

[2021-05-07 01:54] Donnie-Zhang opened #1438 "missing NSG on RRAS to allow the traffic in between the local and remote vnet"
[Enter feedback here]

One customer followed this doc to deploy the S2S VPN tunnel using RRAS on two of this azure stack stamps. The tunnel was setup successfully, but tenant VM cannot talk to its peer on another stamp.
We figured out the problem is that we were miss the NSG rule on the RRAS to allow the traffic in between the two vNets in both inbound and outbound. Without this NSG, the RRAS will

[2021-05-07 04:56] psmanhas commented on #1438
@Donnie-Zhang Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-05-07 04:56] psmanhas commented on #1438
@mattbriggs Can you please check and add your comments on this doc update request as applicable

[2021-05-07 05:30] #1436 closed

[2021-05-07 20:45] mattbriggs commented on #1432
@MonikaReddy-MSFT Thanks again for catching this and letting me know. I've updated the cheat sheet to reflect the data at rest article. Thanks! Matt

[2021-05-07 20:45] mattbriggs commented on #1432
#please-close

[2021-05-07 23:58] mattbriggs commented on #1438
@psmanhas @Donnie-Zhang Thanks for your notes.

#in-progress

[2021-05-10 18:34] #1438 closed

[2021-05-10 21:58] TravisCragg-MSFT commented on #1426
@bandwiches Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-05-10 22:48] TravisCragg-MSFT commented on #1383
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

@JohnCobb1 added you to an email thread explaining this further

[2021-05-18 12:01] dmc-tech opened #1455 "DHCP example has an incorrect name as example. Should be lowercase"
https://docs.microsoft.com/en-us/azure-stack/aks-hci/new-akshcinetworksetting#deploy-with-a-dhcp-environment has an incorrect example.  DHCPVnet is not a valid name with April-2021 PowerShell modules as the name must lowercase

![image](https://user-images.githubusercontent.com/8145761/118647227-05525480-b7d9-11eb-9092-e54898b75adf.png)

---
#### Document Details

⚠ *Do not edit this section. It i

[2021-05-18 12:26] psmanhas commented on #1455
@dmc-tech Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-05-18 12:26] psmanhas commented on #1455
@mkostersitz Can you please check and add your comments on this doc update request as applicable

[2021-05-18 13:35] mkostersitz commented on #1455
@dmc-tech thanks for the feedback. We will update the document accordingly. The input for the name parameter for New-AksHciNetworksetting must be lowercase. @psmanhas I will submit a PR for the document.

[2021-05-19 08:53] jianfeng-jia opened #1458 "Script Error"
[Enter feedback here]
To send diagnostic logs from VirtualMachines and BareMetal roles, with date filtering for log files for the time period between 8 hours ago and 2 hours ago:

$fromDate = (Get-Date).AddHours(-8) -ToDate (Get-Date).AddHours(-2)
Invoke-Command -Session $pepsession -ScriptBlock {Send-AzureStackDiagnosticLog -FilterByRole VirtualMachines,BareMetal -FromDate $using:fromDate}

shoul

[2021-05-19 09:09] psmanhas commented on #1458
@jianfeng-jia Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-05-19 09:09] psmanhas commented on #1458
@PatAltimore Can you please check and add your comments on this doc update request as applicable

[2021-05-19 16:23] PatAltimore commented on #1458
Hi @jianfeng-jia,

Thank you for finding the issue and providing the fix. Your help is appreciated. I've made the edit and the fix should be published soon.

Thanks,
Pat

#please-close

[2021-05-19 16:23] #1458 closed

[2021-05-19 17:01] BryanLa commented on #1404
After discussing further with @apwestgarth, he's going to open an ADO work item to track this. He'll do some tests as part of his release work to verify the correct perms. After his work item is complete, we'll update the article.

#please-close
cc: @alexsmithMSFT @TrentShoun

[2021-05-19 17:01] #1404 closed

[2021-05-19 22:14] mattbriggs commented on #1424
updated.

#please-close

[2021-05-19 22:14] #1424 closed

[2021-05-20 05:02] asobeeh opened #1461 "what does mean make a note"
[Enter feedback here]

what does mean make a note
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3691f8f-4e0a-0ba9-507b-7982a4c31adf
* Version Independent ID: f6937bc3-6d66-503b-9704-fcdefefc2767
* Content: [Delete VM with dependencies on Azure Stack Hub - Azure Stack Hub](https://docs.microsoft.com/en-us/azure-stack/u

[2021-05-20 12:50] MonikaReddy-MSFT commented on #1461
@asobeeh - Thanks for reaching out. Can you elaborate your question a little bit more for us to assist you accordingly. Thank you.

[2021-05-20 14:16] mattbriggs commented on #1461
@asobeeh Thanks for passing along this feedback. I can see a few things I need to make clearer in the article and few sentences that need to be fixed. In terms of "make a note" this just means to write it down or copy and paste it so that you can remember it later. I'll be sure to clarify that in the instructions. Thanks! Matt

#in-progress

[2021-05-20 16:39] mattbriggs commented on #1461
Updated topic and should be in place in our next build. Thanks again!

#please-close

[2021-05-20 16:39] #1461 closed

[2021-05-20 22:51] binaryjanitor opened #1464 "2020.Q3 Installer Link Broken"
Azure Stack App Service RP 2020.Q3 Installer link results in 404 error. Also 2020.Q3 Installer fails to load feed from https://go.microsoft.com/fwlink/?linkid=2136732

This effectively breaks this installer.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f38266c0-568b-4c1b-b5f6-84b97eb641df
* Version Independent ID: 56d

[2021-05-20 23:01] apwestgarth commented on #1464
We are investigating the issue with the download and are actively working to resolve it as soon as possible.

[2021-05-20 23:05] binaryjanitor commented on #1464
@apwestgarth Thank you for the help and generally being awesome!

[2021-05-21 14:58] ChaiSwaddipong opened #1466 "Better safeguard for Install-AksHci"
_"Now, you are ready to install the Azure Kubernetes Service on Azure Stack HCI host.

Install-AksHCi_"

Questions/observations:

1. Please specify where to run this command. Is it on one node or all nodes?
2. I accidentally ran it after creating K8S cluster. Then, the get-akshcicluster stopped working. There should be some sort of warning that there is a K8S cluster running.

---
#### Document De

[2021-05-21 22:20] NavtejSaini-MSFT commented on #1466
@ChaiSwaddipong We are checking this and will get back to you.

[2021-05-21 22:29] TravisCragg-MSFT commented on #1466
@ChaiSwaddipong Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-05-24 17:24] walterov opened #1469 "This release notes for 2008 and 2102 reference the wrong json example in table..."
In table "AKS engine and corresponding image mapping", the entry for v0.55.4 has the wrong link reference for the linux json example, it is pointing to the 0.60.0 example. it should point to: https://raw.githubusercontent.com/Azure/aks-engine/v0.55.0/examples/azure-stack/kubernetes-azurestack.json

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2021-05-24 17:51] mattbriggs commented on #1469
@walterov Thanks for this update.

#in-progress

[2021-05-24 18:09] mattbriggs commented on #1469
Updated.

#sign-off

[2021-05-24 23:08] #1469 closed

[2021-05-25 04:18] itporter opened #1470 "Download links and installer not working"
Multiple links on the page result in a 404 message. This has been tested from multiple locations by multiple users.

- App Service App Service on Azure Stack Hub deployment helper scripts.
- App Service on Azure Stack Hub installer.

When running the Installer from a previously downloaded version, the license agreement does not load.

---
#### Document Details

⚠ *Do not edit this section. It is r

[2021-05-25 04:59] psmanhas commented on #1470
@itporter  Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-05-25 04:59] psmanhas commented on #1470
@BryanLa Can you please check and add your comments on this doc update request as applicable

[2021-05-25 16:18] BryanLa commented on #1470
@itporter @psmanhas - this is a known issue and a result of something happening on download site (not the doc). Short of removing the links from the doc, there is nothing else I can do at this point. I'll advise as soon as I hear from engineering on whether the links have been restored/changed.

[2021-05-25 16:30] BryanLa commented on #1470
Update... @apwestgarth has added a note to this article that will indicate the downloads are temporarily unavailable. This will publish around 10am pacific today, and be removed once the problem is resolved.

[2021-06-07 17:34] BryanLa commented on #1428
Resolved.
#please-close

[2021-06-07 17:34] #1428 closed

[2021-06-08 12:52] danborik opened #1493 "Missing storage access type"
[Enter feedback here]
There should be explicitly specified required access type to storage account container which contains new VM image VHD. With default access type (Private) it is not possible to add new VM image. Blob access type has to be used at least.
Second thing is that neither adminportal nor AzS PowerShell  do not return any meaningful error, but only Failed status at newly added image.

[2021-06-08 14:30] MonikaReddy-MSFT commented on #1493
@danborik -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-06-10 16:35] SychevIgor opened #1499 "Update screenshot. AKS on Azure Stack Hub HCI no longer in a preview"
Update this screenshot https://docs.microsoft.com/en-us/azure-stack/aks-hci/media/create-kubernetes-cluster/add-connection.png it's no longer up-to-date

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9eab013e-9d8b-6a9a-a7cc-91254cea0e5f
* Version Independent ID: 1307b887-14cd-cf0d-ff02-715c55bb8db7
* Content: [Quicksta

[2021-06-10 18:16] BryanLa commented on #1470
Helper script for the 2020.Q2 update has been restored (https://aka.ms/appsvcupdateq2installer).

Helper script for the installer (https://aka.ms/appsvconmasinstaller) and 2020.Q3 update (https://aka.ms/appsvcupdateq3installer) are in process.

cc:@apwestgarth

[2021-06-10 23:25] apwestgarth commented on #1470
Downloads for Q3 have just been re-published, I'm working on final validation and will submit a PR later tonight/first thing tomorrow morning to update docs to reinstate the links.

[2021-06-10 23:53] BryanLa commented on #1470
@apwestgarth - not sure if this is on your list, but I noticed one more link..

For the [update](https://docs.microsoft.com/en-us/azure-stack/operator/azure-stack-app-service-update) article, we point to the 2020.Q3 download (https://aka.ms/appsvcupdateq3installer) for connected stamps. For disconnected stamps, we point to the https://aka.ms/appsvcupdate8installer download, which was also removed

[2021-06-11 03:08] MonikaReddy-MSFT commented on #1499
@SychevIgor - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-06-11 05:17] apwestgarth commented on #1470
Downloads for Q3 reinstated.  Have submitted PR to reinstate them in the documentation and also have updated the update disconnected documentation.

[2021-06-11 15:43] BryanLa commented on #1470
Fixed in PR 7604
#please-close

[2021-06-11 15:43] #1470 closed

[2021-06-14 12:45] MonikaReddy-MSFT commented on #1493
@danborik -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged. For the PS Issue, we have added this in our backlog for our PG to look into it.

 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-14 12:45] #1493 closed

[2021-06-14 21:58] walterov opened #1506 "New release of AKS Engine v0.63.0"
We have a new version of AKS Engine v0.63.0. there are only new K8s version, not new features. We need to apply the following changes to the release notes:

1. In table "AKS engine and Azure Stack version mapping" add a new row mapping ASH version 2102 to AKSe versions 0.60.1 and 0.63.0

2. In table "Kubernetes version upgrade path in AKS engine v0.60.1" change:
   a. change the title to reference

[2021-06-14 22:02] mattbriggs commented on #1506
@walterov Thanks Walter

#in-progress

[2021-06-14 22:04] walterov opened #1507 "New release of AKS Engine v0.63.0 Part 2"
For the "What's new" section change:

Remove the bullet list and add only one bullet item:

Support for Kubernetes 1.18.18, 1.19.10, 1.20.6

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e69382e4-c307-4dfe-9885-92d2436ef858
* Version Independent ID: 135ea653-550b-039d-121c-95f2e7c93f10
* Content: [Release notes for Azu

[2021-06-14 22:12] mattbriggs commented on #1507
@walterov Thanks Walter

#in-progress

[2021-06-15 02:06] Karishma-Tiwari-MSFT commented on #1506
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-06-15 02:07] Karishma-Tiwari-MSFT commented on #1507
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-06-15 15:55] sethmanheim commented on #1244
All archived release notes are now at https://docs.microsoft.com/en-us/azure-stack/operator/relnotearchive/release-notes

[2021-06-15 19:41] mattbriggs commented on #1507
Updated.

#please-close

[2021-06-15 19:41] #1507 closed

[2021-06-15 19:42] mattbriggs commented on #1506
Updated.

#please-close

[2021-06-15 19:42] #1506 closed

[2021-06-16 11:55] i3laze opened #1510 "Storage Tiers monitoring and reporting"
There's no documentation on monitoring and reporting of Storage Tiers performance and cache hit ratio.
One for Server 2012 and defrag.exe is currently obsolete:
https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2012-r2-and-2012/dn789160(v=ws.11)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-06-16 13:39] psmanhas commented on #1510
@i3laze Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-06-16 13:39] psmanhas commented on #1510
@khdownie Can you please check and add your comments on this doc update request as applicable

[2021-06-16 15:39] i3laze commented on #1510
Thanks for rapid response.
I’m particularly interested in Storage Spaces Direct/Azure Stack HCI cluster running Tiered Storage.

[2021-06-16 18:27] walterov opened #1512 "Need clarification in the Update fails section"
The section "Update to 2102 fails during pre-update checks for AKS/ACR" says

"Applicable: This issue applies to Azure Kubernetes Service (AKS) and Azure Container Registry (ACR) private preview customers.
Remediation: You must uninstall AKS and ACR prior to updating to 2102. Please restart the update after uninstalling these services."

We need to change it to:

"Applicable: This issue applies to

[2021-06-16 18:43] sethmanheim commented on #1512
Thanks @walterov, I have opened a PR in the private repo. Should be live by 3 PM today PT. #please-close

[2021-06-16 18:43] #1512 closed

[2021-06-16 20:14] walterov opened #1513 "Change section "Download New Image""
Need to change this section to say

The aks-engine binary (required)
AKS Base Ubuntu 16.04-LTS Image Distro (deprecated - no longer use, change in API Model to use 18.04 instead)
AKS Base Ubuntu 18.04-LTS Image Distro (required for Linux agents)
AKS Base Windows Server Image Distro (required for Windows agents)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2021-06-16 20:15] mattbriggs commented on #1513
@walterov #in-progress

[2021-06-16 20:28] mattbriggs commented on #1513
Updated. #please-close

[2021-06-16 20:28] #1513 closed

[2021-06-17 00:32] MonikaReddy-MSFT commented on #1499
@SychevIgor -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-17 00:32] #1499 closed

[2021-06-17 02:55] VikasPullagura-MSFT commented on #1513
@mattbriggs Thanks for updating the document.

[2021-06-17 02:56] VikasPullagura-MSFT commented on #1512
@sethmanheim Thanks for fixing the document.

[2021-06-17 05:35] VikasPullagura-MSFT commented on #1244
@sethmanheim Thanks for sharing the details.

[2021-06-21 09:44] HassanAlmanasrah opened #1518 "AKS Base 16.04"
the below table shows that 1604 AKS Base image is available for AKS-Engine 0.60.1
![image](https://user-images.githubusercontent.com/54538594/122742060-43d2a780-d28e-11eb-8062-b1bd23ef3503.png)
On the other hand, it is mentioned that 1604 is deprecated
![image](https://user-images.githubusercontent.com/54538594/122742214-649afd00-d28e-11eb-8344-09307c30768e.png)

do we have discrepancy in this doc

[2021-06-21 15:11] VikasPullagura-MSFT commented on #1518
@HassanAlmanasrah
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-06-21 15:11] VikasPullagura-MSFT commented on #1518
@mattbriggs
Can you please check and add your comments on this doc update request as applicable.

[2021-06-21 18:11] mattbriggs commented on #1518
@HassanAlmanasrah Thanks for catching this. updating...

#in-progress

[2021-06-21 18:19] mattbriggs commented on #1518
updated.

#please-close

[2021-06-21 18:19] #1518 closed

[2021-06-23 09:09] walkerlin-msft opened #1522 "Cisco contact links are missing"
[Enter feedback here]
The 2 Cisco links of OEM contact information
![Cisco OEM contact](https://user-images.githubusercontent.com/21300840/123069767-b0dc6d80-d445-11eb-87e0-1cab49d33058.PNG)
 are redirected to the Bing search, please update them as correct information.
https://aka.ms/aa708e2
https://aka.ms/aa700rq
![image](https://user-images.githubusercontent.com/21300840/123069616-84285600-d445-

[2021-06-23 11:50] VikasPullagura-MSFT commented on #1522
@walkerlin-msft
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-06-23 11:50] VikasPullagura-MSFT commented on #1522
@PatAltimore
Can you please check and add your comments on this doc update request as applicable.

[2021-06-23 15:20] Li-Yanzhi opened #1523 "Which OS should be used for SDN infrastructure VM ?"
In section create **`Create the VHDX file`**,  it said **"SDN uses a VHDX file containing the Azure Stack HCI operating system (OS) as a source for creating the SDN virtual machines (VMs). The version of the OS in your VHDX must match the version used by the Azure Stack HCI Hyper-V hosts"**, but in the following examples, it uses **WindowsServerDatacenter** image for create VHDX file.

And if I us

[2021-06-23 20:44] v-dasis commented on #1523
Thanks for the feedback , am investigating...

[2021-06-24 00:19] Karishma-Tiwari-MSFT commented on #1523
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-06-24 01:57] Li-Yanzhi commented on #1523
@v-dasis I have an another question, if we use both Azure Stack HCI cluster and Windows Server 2019 (SDDC) cluster in same datacenter and managed by same SDN infrastructure,  what OS we should use for SDN infrastructure VMs?

[2021-06-24 17:45] walterov opened #1526 "Need to remove explicit links to json files and point to the release notes for them instead"
Customers keep getting confused by having multiple links to json files. Instead could we tell them to use the json files referenced for the specific version of AKS Engine in the release notes? In the case of the bash command we can simply say that the command would look like that but the the link to use is in the release notes. Would that work? This allies to Linux ad Windows json files (API Model

[2021-06-24 17:52] mattbriggs commented on #1526
@walterov This makes sense. I'll review and update and send you the review link. #in-progress

[2021-06-24 21:28] v-dasis commented on #1523
SDN infrastructure VMs should be on same OS type as the underlying hosts. So, if you have a HCI cluster, the SDN VMs should be on the HCI OS. And if you have a Windows Server cluster, the SDN VMs should be on the Server Datacenter OS. One SDN cluster cannot manage a mix of HCI and Server hosts.

The SDN VMs use the Azure Stack HCI OS. Although the event comes up and can be annoying, it will not ha

[2021-06-24 21:42] PatAltimore commented on #20
Updated diagram based on feedback.

#please-close

[2021-06-24 21:42] #20 closed

[2021-06-25 00:12] PatAltimore commented on #1522
Hi @walkerlin-msft,

I've updated the links. The changes will publish tomorrow.

Thanks,
Pat

#please-close

[2021-06-25 00:12] #1522 closed

[2021-06-25 04:26] jwk55 opened #1528 "Time Synchronization section needs updating"
[Hello,

With respect to an NTP server. In addition to a FQDN or IP address stack requires ",0x1" or ",0x8" (depending if NTP server is windows or non-windows) to be added to the end of each NTP server name or address.  We installed 2102 on our stack and when we attempted to apply a minor update we received the error that the PDC was not configured to use the NTP server, was instead synchronized t

[2021-06-25 07:00] VikasPullagura-MSFT commented on #1528
@jwk55
Thanks for the feedback! We are currently investigating and will get back on this.

[2021-06-25 07:43] Li-Yanzhi commented on #1523
Can you officially confirm this?  It's a hardcoded technical constraints , or license limitation (but actually works), or just not the best practice?  We have customer using SDDC clusters currently and have plan to use Azure Stack HCI for part of workload only if the SDDC clusters and HCI clusters will co-exist in same SDN infrastructure.

[2021-06-25 19:20] TravisCragg-MSFT commented on #1528
@jwk55 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-06-25 21:23] PatAltimore commented on #1528
Hi @jwk55,

Thanks for logging an issue. Are you saying the documentation needs to be clearer or the capacity planner worksheet needs to be fixed? (or both).

I own the article. I'm trying to understand what needs to be updated in the article.

For the worksheet, I can pass the feedback along to the capacity planner worksheet owner.

Thanks,
Pat

[2021-06-26 05:28] jwk55 commented on #1528
Hi Pat,

I am a CE. Working with a customer we ran into some issues with time.  2 things need to happen.

  1.  The Time Synchronization section needs to be clearer because most users are going to insert the IP address of an NTP server or a FQDN. In the docs article there is no mention of appending “,0x1” or “,0x8” at the end of your time source. Those characters are needed, otherwise when you run

[2021-06-26 10:27] jbpaux commented on #20
@PatAltimore I don't see updates :(
https://github.com/MicrosoftDocs/azure-stack-docs/blob/master/azure-stack/operator/media/azure-stack-integrate-dns/integrate-dns-01.svg
There are sill mention of azs-Dns01 instead of ns01, the sea.azurestackhub.external, the missing zone for cloudapp.

[2021-06-28 15:21] AnirbanPaul commented on #1523
It may work, there is no hardcoded technical constraint right now. But, it is not officially supported.

Please reach out to sdn_feedback@microsoft.com. We can discuss available options for the customer.

[2021-06-29 06:55] mattcowen opened #1534 "Should state not to use .local for the external DNS zone"
When configuring an external DNS zone and forwarding from Stack Hub's DNS, it is best customers don't use a .local domain. This can cause issues for some workloads like the vanilla Ubuntu 18.04 vm image that, by default, uses systemd-resolved service to route DNS queries. Systemd-resolved does not respond to queries for .local domains so DNS settings for Ubuntu would have to be updated to resolve

[2021-06-29 14:51] HassanAlmanasrah opened #1535 "Some comments about this documentation which cause confusion and misunderstanding for customer as well as some typos:"
**[Typos]**
- Step 2: **The tool includes sample packages that are in the .azpk format, and must be extracted first. You can rename the file extensions from ".azpk" to ".zip," or use an archiver tool of your choice:**
--> it should be ".azpkg"
- In step 7: **For all fields referring to ms-resource, you must change the appropriate values inside the strings/resources.json file:**
--> the file name i

[2021-06-29 15:09] MonikaReddy-MSFT commented on #1535
@HassanAlmanasrah -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-06-29 20:14] fabianotex opened #1537 "Permission Issue"
Documentation states that I can use Built-in "Owner" **OR** "User Access Administrator"

"If your Azure subscription is through an EA or CSP, the easiest way is to ask your Azure subscription admin to assign a built-in "Owner" **or** "User Access Administrator" Azure role to your subscription."

Admin assigned "User Access Administrator", however that is not enough permission to register the Clust

[2021-06-30 03:15] Li-Yanzhi commented on #1523
@AnirbanPaul @v-dasis Thanks for you comments, and we will contact SDN team with customer scenario.

[2021-06-30 14:08] MonikaReddy-MSFT commented on #1535
@HassanAlmanasrah - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

@mlearned - Can you take a look at the above couple of issues that the customer is asking for a templates. Please pr

[2021-06-30 14:14] MonikaReddy-MSFT commented on #1534
@mattcowen -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-30 14:14] #1534 closed

[2021-06-30 16:18] himanshusinha-msft commented on #1537
Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on Microsoft Q&A  and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If you have a document which you are following and if you think it needs  an update

[2021-06-30 20:20] mattbriggs commented on #1526
Updated.

#please-close

[2021-06-30 20:20] #1526 closed

[2021-06-30 20:37] fabianotex commented on #1537
The documentation doesn't seems to be correct. Documentation states that I can use Built-in "Owner" OR "User Access Administrator". User Access Administrator does not have the proper permissions required to register AsHCI Cluster.

[2021-07-01 22:58] himanshusinha-msft commented on #1537
Thank @fabianotex  . Can you share the document which you are fering so that we can go ahead and review the same .

[2021-07-02 12:24] jbpaux opened #1542 "Incorrect schema"
Hello, the schema https://docs.microsoft.com/en-us/azure-stack/operator/media/azure-stack-integrate-dns/integrate-dns-01.svg?view=azs-2102 is incorrect :

* Name servers are azs-ns01/ns02 and not azs-Dns01/Dns02 (the D should be removed)
* forwarded zone should be the same as in the text (east.cloud.fabrikam.com and not sea.azurestack.external)
* another zone should be included in the ns01/ns02 se

[2021-07-02 18:37] himanshusinha-msft commented on #1542
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-07-03 05:14] Li-Yanzhi opened #1545 "Not exclude *.contoso.com in -NoProxy list"
"you may want to exempt your enterprise namespace (.contoso.com) from being directed through the proxy. You can achieve that by specifying the values in the proxyServerNoProxy list:

**Issue1**:  No space in **proxyServer** and **NoProxy**

**Issue2**: The powershell sample does not exclude *.contoso.com

[code]

May be this right?

[code]

---
#### Document Details

⚠ *Do not edit this section. I

[2021-07-03 16:25] Langenbuch opened #1546 ""Connect with SSH by using PuTTY" - incorrect description"
[Enter feedback here]
The description for "Connect with SSH by using PuTTY" is somehow mixing public and private keys. Public SSH key is mentioned as prerequisite, but path to private key is requested. Following the description is leading to an error message, that publickey authentication is missing.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2021-07-03 17:34] himanshusinha-msft commented on #1545
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-07-03 17:36] himanshusinha-msft commented on #1546
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-07-05 22:00] SatishBoddu-MSFT commented on #1537
Adding the reference document link.
[Azure subscription and permissions](https://docs.microsoft.com/en-us/azure-stack/hci/deploy/register-with-azure#azure-subscription-and-permissions)

![image](https://user-images.githubusercontent.com/62923178/124520418-4c080800-dda1-11eb-9ce8-61160bdcafa8.png)

Cc: @khdownie

[2021-07-06 15:38] mattbriggs commented on #1546
@Langenbuch Thanks for your feedback. I'll update. Thanks!

#in-progress

[2021-07-06 16:32] mattbriggs commented on #1546
@Langenbuch Sorry about the confusion in the titling and the intros in this topic. I updated those, so hopefully it won't be so confusing. Thank you for your feedback and taking the time to point this out.

#please-close

[2021-07-06 19:57] khdownie commented on #1537
Contributor role is still required along with user access administrator. Adjusting the docs to make this clear. Thank you for bringing this to our attention.

[2021-07-07 08:39] Mihaly7 opened #1550 "Add Upgrade VM version to this article."
After migration, it would worth to note to upgrade the Virtual Machine's version. In case when customer moves from older Hyper-V servers, they could miss useful features. Also, if they migrate from different Hyper-V servers they could have different vm versions on a single environment.

Reference article.:
https://docs.microsoft.com/en-us/windows-server/virtualization/hyper-v/deploy/upgrade-virtua

[2021-07-07 08:55] psmanhas commented on #1550
@Mihaly7
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-07-07 08:55] psmanhas commented on #1550
@v-dasis Can you please check and add your comments on this doc update request as applicable

[2021-07-07 16:06] v-dasis commented on #1550
This is already stated (in both Azure Stack HCI migration articles):

Update your VMs to the latest version for Azure Stack HCI to take advantage of all the advancements:

Get-VM | Update-VMVersion -Force

[2021-07-08 01:52] TravisCragg-MSFT commented on #1546
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-08 01:52] #1546 closed

[2021-07-08 15:24] ChaiSwaddipong opened #1553 "Install-AksHci"
Do I run this on all physical hosts? Please clarify.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37e3139e-399b-be0f-d80e-d78b094b214a
* Version Independent ID: f18262fc-0401-68d0-964a-ee4e19be10e0
* Content: [Quickstart to set up an Azure Kubernetes Service host and create AKS on Azure Stack HCI clusters using Windo

[2021-07-08 18:19] sethmanheim commented on #1535
@HassanAlmanasrah Thank you for your feedback. The article describes creating your own Azure Resource Manager template to use to create a custom marketplace item and deploy it. If you are not familiar with ARM templates, see https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/quickstart-create-templates-use-the-portal. In Azure Stack, you will need to use API version profiles:

[2021-07-08 19:08] MonikaReddy-MSFT commented on #1553
@ChaiSwaddipong  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-07-08 20:44] fabianotex opened #1555 "PowerShell instructions are not clear"
[Enter feedback here]

Instructions are not clear. In the cmdlets below, there is no reference from where the variable **$vm** is coming from. I would imagine that the first one is from "Get-ClusterResource -Name "Virtual Machine xyz"? The next cmdlet cannot be piped, so should I use "Add-VMAssignableDevice -ResourcePoolName GPU_Pool -VMName xyz?

$vm | Set-ClusterParameter -Name "OfflineAction" -

[2021-07-08 20:51] fabianotex commented on #1555
I decided to manually stop the VM and then I performed a Quick Migration in order to move VM pointer to the other node, since Drain/Pause node failed. VM started just fine on the other node and GPU was present.

[2021-07-09 01:13] Karishma-Tiwari-MSFT commented on #1555
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-12 16:19] MonikaReddy-MSFT commented on #1535
@sethmanheim  - Thank you for providing your insights.
@HassanAlmanasrah - I hope @sethmanheim  has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-12 16:19] #1535 closed

[2021-07-12 20:24] CHDAFNI-MSFT opened #1559 "Content doesn't appear to be reasonably up-to-date"
Per [Azure Stack Hub Marketplace changes](https://docs.microsoft.com/en-us/azure-stack/operator/azure-stack-marketplace-changes?view=azs-2102) it states that the content on this [current page](https://docs.microsoft.com/en-us/azure-stack/operator/azure-stack-marketplace-azure-items?view=azs-2102) should have the latest items listed, however, the contents of it do not reflect several items noted on

[2021-07-12 21:03] jamesorlando opened #1562 "OS Disk Swap"
I learned through internal channels that OS Disk Swap is not supported in ASH. Can we get that noted on this page?

Thanks.

James

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa744c44-a2a6-725e-e29a-62e89d0b0529
* Version Independent ID: 4e31c4b6-1685-2248-13ac-9776720cf73b
* Content: [Azure Stack Hub VM features -

[2021-07-12 21:35] mattbriggs commented on #1562
@jamesorlando Thanks for this note. I'll follow up and get this noted.

#in-progress

[2021-07-13 00:08] SatishBoddu-MSFT commented on #1559
Hello @CHDAFNI-MSFT
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-07-13 17:09] sethmanheim commented on #1559
@CHDAFNI-MSFT Thanks for reporting this. Yes, we do have discrepancies here. Both articles should be in sync, and I am working with the PM team to review and update. We have a separate email thread going and I will follow up.

[2021-07-15 19:03] mattbriggs commented on #1562
@jamesorlando I've updated as unsupported. Thanks again for your note. The update should appear in the next doc build.

#please-close

[2021-07-15 19:03] #1562 closed

[2021-07-15 19:23] sethmanheim commented on #1559
We are working on getting this updated, so closing this issue for now. #please-close

[2021-07-20 12:15] i3laze commented on #1510
@khdownie no updates so far?

[2021-07-20 16:33] khdownie commented on #1510
@i3laze thanks for the reminder. I must have missed this the first time. I will look into it.

[2021-07-21 17:35] PatAltimore commented on #1542
Hi @jbpaux,

Sorry I didn't get all your feedback in the first time. I published a new update. Would you like to confirm the changes include all your feedback?

Thanks,
Pat

[2021-07-21 17:37] PatAltimore commented on #1542
#in-progress

[2021-07-22 22:30] PatAltimore commented on #1528
#in-progress

[2021-07-25 00:11] nimeader opened #1578 "monitor link anchor missing/wrong"
"It's important to **(monitor)[https://docs.microsoft.com/en-us/azure-stack/operator/azure-stack-manage-storage-shares?view=azs-2002#monitor-shares]** the available storage..."

link should likely anchor to #monitor-volumes

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03c63388-ff19-a72e-959b-883a01b400e8
* Version In

[2021-07-25 03:21] DerekHerman-MSFT commented on #1578
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-27 12:07] cenkersoy opened #1581 "Errors installing AksHCI"
Hi,

When installing AksHCI module, I get the following warnings:

WARNING: The specified module 'DownloadSdk' with PowerShellGetFormatVersion '2.0' is not supported by the current version of PowerShellGet. Get the latest versi
on of the PowerShellGet module to install this module, 'DownloadSdk'.
WARNING: The specified module 'Kva' with PowerShellGetFormatVersion '2.0' is not supported by the curr

[2021-07-27 12:08] Mihaly7 opened #1582 "Trial period is not 30 days for AZHCI but 60."
30-day free trial once registered - Should be 60

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd1b5681-bec1-c4d2-bb1a-9c1e2533d710
* Version Independent ID: 818c8ae2-b58a-ed92-799d-1bec94407187
* Content: [Compare Azure Stack HCI to Windows Server - Azure Stack HCI](https://docs.microsoft.com/e

[2021-07-27 13:30] MonikaReddy-MSFT commented on #1582
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-27 13:31] MonikaReddy-MSFT commented on #1582
@Mihaly7 - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-27 13:31] #1582 closed

[2021-07-27 13:33] Mihaly7 commented on #1582
Thank you for the quick response!

From: MonikaReddy-MSFT ***@***.***>
Sent: Tuesday, July 27, 2021 3:32 PM
To: MicrosoftDocs/azure-stack-docs ***@***.***>
Cc: Mihaly Kolozsi ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-stack-docs] Trial period is not 30 days for AZHCI but 60. (#1582)

Closed #1582<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com

[2021-07-27 22:03] PatAltimore commented on #1542
Hi @jbpaux,

You can review the change when you have time. I published an update to the article. I'm going to close this issue as resolved. Let us know if you have additional feedback.

Thanks,
Pat

#please-close

[2021-07-27 22:03] #1542 closed

[2021-07-27 22:18] PatAltimore commented on #1528
Hi @jwk55,

I published an update to the article. It will publish soon.

Thanks!
Pat

#please-close

[2021-07-27 22:18] #1528 closed

[2021-07-27 22:52] DerekHerman-MSFT commented on #1581
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-28 08:37] jbpaux commented on #1542
Thanks @PatAltimore sounds good now ! Well done.
In the center part under "conditional forwarding", I have doubts. It may be both zones, not just the cloudapp one.

[2021-07-29 21:06] TravisCragg-MSFT commented on #1578
@nimeader Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-07-29 23:35] PatAltimore commented on #1578
Hi @nimeader,

Thanks for letting us know. The issue was due to a recent change supporting multiple versions. I standardized the header / bookmark to "Monitor storage". The fix will go live tomorrow.

Thanks,
Pat
#please-close

[2021-07-29 23:35] #1578 closed

[2021-07-30 09:21] pameruoso opened #1588 "Hub operations on sql/mysql providers fail if newer Az modules are installed."
This page should mention that no other "Az" or Azs modules shoul be installed on the machine where running the SQL/Mysql provider scripts.

If these modules are present, most "operation" tasks will randomly fail like the simple authentication to the admin management portal.

This is due to the module transition from AzureRM to Az.

Here is an example while trying to rotate the sqlrp certificate

*

[2021-07-30 10:18] psmanhas commented on #1588
@BryanLa Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-07-30 10:19] psmanhas commented on #1588
@BryanLa Can you please check and add your comments on this doc update request as applicable

[2021-08-02 23:10] walterov opened #1592 "Fix references to "update", change them to "upgrade" in the VM Re-sizing item from aks-engine"
There is a typo in the item for how to re-size VMs in the cluster, it says to use aks-engine update, it should say, aks-engine upgrade. We do not support aks-engine update, we should not instruct customers to use it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bddc138b-1b2e-4be5-d38b-91818ccf1922
* Version Independe

[2021-08-02 23:37] Karishma-Tiwari-MSFT commented on #1592
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-08-02 23:54] mattbriggs commented on #1592
@walterov Thanks #in-progress

[2021-08-02 23:54] mattbriggs commented on #1592
Signed off on Javier's PR.

#please-close

[2021-08-02 23:54] #1592 closed

[2021-08-03 15:44] walterov opened #1597 "Need to remove "aks-engine get-versions command limitations" item since it is no longer an issue"
Please remove this bullet item, it is no longer an issue

aks-engine get-versions command limitations

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bddc138b-1b2e-4be5-d38b-91818ccf1922
* Version Independent ID: fb4f2341-8ca1-f849-05f5-5b4ce22b9462
* Content: [Known issues with the AKS engine on Azure Stack Hub - Azure

[2021-08-03 17:42] mattbriggs commented on #1597
@walterov Thanks!

#in-progress

[2021-08-03 17:59] mattbriggs commented on #1597
Change made.

#please-close

[2021-08-03 17:59] #1597 closed

[2021-08-05 16:34] ariesow opened #1599 "AKS on HCI with SDN ?"
[Enter feedback here]
Can AKS work in conjunction with the use of SDN on HCI ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6db0c266-9042-4171-77fe-666d43eeba15
* Version Independent ID: fbce33cb-7178-5933-e35d-1f5b40af00f5
* Content: [Software defined networking (SDN) in Azure Stack HCI and Windows Server - Azure St

[2021-08-05 18:46] Karishma-Tiwari-MSFT commented on #1599
Thanks for the question. We are currently investigating and will update you shortly.

[2021-08-06 09:34] prjelesi opened #1602 "deployment of template fail if you add tags"
Hi,

It should be noted that deployment of HA filesharing and SQL fail if you add tags.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c085e86-242e-ac36-a611-3d379d3dcfb0
* Version Independent ID: 4d455fad-dc6a-ed4f-75c0-f8a6118aa07a
* Content: [Prerequisites to deploy Azure App Service on Azure Stack Hub - Azure Stac

[2021-08-06 18:09] apwestgarth commented on #1464
This issue has since been resolved and links restored #please-close

[2021-08-06 18:09] #1464 closed

[2021-08-06 18:09] apwestgarth commented on #113
Update 5 is no longer a supported version and similar issues have not been reported in the current supported versions #please-close

[2021-08-06 18:09] #113 closed

[2021-08-06 18:11] apwestgarth commented on #30
Documentation has been significantly update in the last 18 months to restructure based on a number of feedback items. #please-close

[2021-08-06 18:11] #30 closed

[2021-08-06 18:16] apwestgarth commented on #1602
Hi @prjelesi if you are experiencing and issue with the Quickstart template(s), please raise an issue in the [Azure Stack Hub Quickstart Samples Repository](https://github.com/Azure/AzureStack-QuickStart-Templates/issues)

Adding tags to a deployment or resource should not cause the template to fail.  Please share details of Azure Stack Hub version and detail error messages when creating the issue

[2021-08-06 18:17] #1602 closed

[2021-08-09 20:27] BryanLa commented on #1588
@pameruoso - thanks very much for your feedback. The doc has been updated.

#please-close this issue

cc: @AKEMXP

[2021-08-09 20:27] #1588 closed

[2021-08-11 17:21] HassanAlmanasrah opened #1607 "Hotfix information"
It is mentioned in both below documentation that "To apply this hotfix, you must have version 1.2102.28.82 or later." for installing 1.2102.28.89
https://docs.microsoft.com/en-us/azure-stack/operator/hotfix-1-2102-28-87?view=azs-2102
https://docs.microsoft.com/en-us/azure-stack/operator/hotfix-1-2102-28-89?view=azs-2102

while after checking metadata xml file for the update 1.2102.28.89, the minim

[2021-08-11 17:26] kobulloc-MSFT commented on #1607
@HassanAlmanasrah Thank you for bringing this to our attention.  I've assigned this to the document author for review.

[2021-08-11 20:36] khdownie commented on #1599
@Karishma-Tiwari-MSFT @ariesow I've confirmed that SDN is not currently supported in AKS HCI - so this issue can be closed.

[2021-08-11 21:59] TravisCragg-MSFT commented on #1599
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-08-11 21:59] #1599 closed

[2021-08-12 02:11] Donnie-Zhang opened #1608 "issue with 'Start-SecretRotation' script"
[Enter feedback here]
https://docs.microsoft.com/en-us/azure-stack/operator/azure-stack-rotate-secrets?view=azs-2102#rotation
We have seen a few cases that the customers failed to pass the parameters to Start-SecretRotation, which can be mitigated by adding '-ArgumentList' by the end of the script as below.

Invoke-Command -Session $PEPsession -ScriptBlock {
    param($certSharePath, $certPassword

[2021-08-12 16:45] sethmanheim commented on #1607
@HassanAlmanasrah Thank you for the feedback -- I agree this is confusing, and we already updated the [release notes](https://docs.microsoft.com/en-us/azure-stack/operator/release-notes?view=azs-2102#2102-build-reference) to indicate the correct build requirements. I'll make sure the hotfix KBs are also updated.

[2021-08-12 16:45] sethmanheim commented on #1607
#please-close

[2021-08-12 16:53] kobulloc-MSFT commented on #1608
@Donnie-Zhang Thank you for bringing this to our attention!  I've assigned this to the document author for review.

[2021-08-18 05:58] ariesow commented on #1599
Hi @TravisCragg-MSFT and @khdownie, Thanks for the prompt response, by an chance this is in roadmap for cloud provider scenario which require multi-tenancy ?

[2021-08-19 15:42] khdownie commented on #1599
We can't make any definitive comments about the future, @ariesow - but SDN will likely be supported at some point.

[2021-08-24 14:19] BryanLa commented on #1608
Article changes have been completed.

#please-close

[2021-08-24 14:19] #1608 closed

[2021-08-24 15:25] sethmanheim commented on #1426
@bandwiches Very sorry for the slow response. The image has been updated with a white background and should appear live today after 10 AM PT. #please-close

[2021-08-24 15:25] #1426 closed

[2021-08-28 15:06] bjoernf73 opened #1622 "It is a bit unclear what "registering your ASDK installation with Azure" refers to"
The sentence "If you've previously registered your ASDK installation with Azure, you should remove the registration resource before redeploying the ASDK" is somewhat unclear.

Have I?

My ASDK re-installation just failed at step 60.190.197:

"Invoke-EceAction : Type 'Configure' of Role 'Gallery' raised an exception: ERROR during Directory Tenant Registration: A task was canceled."

I certainly did

[2021-08-29 05:10] shashishailaj commented on #1622
@bjoernf73  Thank you for pointing this out . We will investigate and update the thread.

[2021-08-30 17:15] maheoasic opened #1624 "Documentation needs slight correction"
[Enter feedback here]
2nd block is not azure cmd but output of prev cmd, that show LoadBalancer details

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fff7a8c5-0a30-db37-e348-d7726d6428e7
* Version Independent ID: 6ed253a0-d251-565f-feb7-72a73c1afbe8
* Content: [Install existing applications with Helm on Azure Kubernet

[2021-08-30 23:52] Karishma-Tiwari-MSFT commented on #1624
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-09-01 19:51] walterov opened #1629 "Replace "down" for "download""
Replace "down" for "download" in the sentence starting with: "For other Linux machines, down "

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28bc38be-d135-cf83-9b01-b6a050d71baf
* Version Independent ID: 6178cf90-b745-b187-9cc1-6439893857ec
* Content: [Using Azure Kubernetes Service on Azure Stack Hub with the CLI - A

[2021-09-01 20:18] kobulloc-MSFT commented on #1629
@walterov Thank you for bringing this to our attention!  I'll get a PR out to fix this.

[2021-09-01 22:42] mattbriggs commented on #1629
updated. https://github.com/MicrosoftDocs/azure-stack-docs-pr/pull/8241

#please-close

[2021-09-01 22:42] #1629 closed

[2021-09-03 20:41] nimeader opened #1634 "tls settings required for PowerShellGet"
TLS settings:

[Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12

are required for installing PowerShellGet (step 1.prerequisites.3, and step 4.1), but isn't mentioned until after the step (step 4.3). This should be in one of the prerequisites.

-Nick

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2021-09-03 20:48] mattbriggs commented on #1634
@nimeader Thanks for your note. I'll update shortly. Thanks!

#in-progress

[2021-09-03 22:39] mattbriggs commented on #1634
updated.

#please-close

[2021-09-03 22:39] #1634 closed

[2021-09-07 17:45] drloring opened #1638 "Does not work in a disconnected environment"
I tried these instructions in a completely internet-disconnected environment, and it won't work because the NuGet PackageManager is not installed.  I can't find official instructions on how to install the NuGet PackageManager in an offline configuration, so this essentially blocks the ASDK installation in an offline configuration.

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2021-09-07 21:39] drloring commented on #1638
I disccovered that the NuGet PackageManager was not available in the PowerShell window, however, when you run it in the PowerShell ISE window, it finds the NuGet PackageManager and can continue.  May want to update documentation to reflect or fix ASDK CloudBuilder image.

[2021-09-07 21:39] #1638 closed

[2021-09-08 02:39] Karishma-Tiwari-MSFT commented on #1624
Thanks for bringing this to our attention. This has been updated in the document.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-09-08 02:39] #1624 closed

[2021-09-09 10:41] clementmoulin opened #1641 "Wrong information"
"It's recommended that all servers be the same manufacturer and model"

But when trying to setup a cluster with 2 servers from different manufacturers, you get the following error:

"The provided servers are not the same manufacturer model, which is required to continue".

BTW, this requirement is really disappointing.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2021-09-09 18:40] Karishma-Tiwari-MSFT commented on #1641
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-09-09 18:40] #1641 closed

[2021-09-10 07:28] i3laze commented on #1510
Still looking into Win2016+ Tiered Spaces monitoring.
Particularly Mirror Accelerated Parity drives me crazy with its cold tier write performance - I need more data to make decisions.

[2021-09-16 19:06] drloring opened #1648 "service account not showing up in portal"
I"m following the instructions to setup a service account with a secret.  But when I attempt to add the new account the Read role to my subscription, I can't find the user.  This is on an offline ASDK installation with ADFS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 193ec77a-b7dc-7807-cb42-fb1c8ad4a3c7
* Version I

[2021-09-16 23:20] BryanLa commented on #1648
@drloring - I'm assuming where you said "user", you meant the name of the Application you registered (the service account)? If so, make sure you search for the application name using the syntax mentioned in the article (see step 6 under [assign a role](https://docs.microsoft.com/azure-stack/operator/give-app-access-to-resources?view=azs-2102&tabs=az1%2Caz2&pivots=state-disconnected#assign-a-role))

[2021-09-17 04:36] VikasPullagura-MSFT commented on #1648
@BryanLa Thanks for sharing the details.

@drloring Hope the provided information is helpful.

[2021-09-20 06:07] VikasPullagura-MSFT commented on #1648
@drloring
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-09-20 06:07] #1648 closed

[2021-09-21 11:50] jorgecc opened #1653 "az group deployment deprecated"
The command "az group deployment create..." indicated in this document is deprecated.

`This command is implicitly deprecated because command group 'group deployment' is deprecated and will be removed in a future release. Use 'deployment group' instead.`

The command should be "az deployment group create..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2021-09-21 18:26] walterov opened #1654 "Fix this sentence: "Is the service principal is not automatically created?""
Fix this sentence: "Is the service principal is not automatically created?". Change to "Is the service principal automatically created?"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa2fa482-ee43-99ca-38bf-cdfc180efdb3
* Version Independent ID: 159e5062-cb29-8f90-6b2e-1240791b2f76
* Content: [Known issues for the Azu

[2021-09-21 20:50] Karishma-Tiwari-MSFT commented on #1654
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2021-09-21 21:54] #1654 closed

[2021-09-22 01:57] #1653 closed

[2021-09-27 17:19] santhoshbomma9 opened #1658 "Clarification on Azure Stackhub Marketplace"
Is Stackhub Marketplace like a private marketplace for that stackhub users? This is not like Azure Marketplace right?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f55b7c67-95b1-2a78-7918-200a97c8899a
* Version Independent ID: 25fa28e8-8a70-a525-7640-8b615c2b99d7
* Content: [Azure Stack Hub Marketplace overview - Azur

[2021-09-27 19:48] sethmanheim commented on #1658
Closing as was discussed offline. #please-close

[2021-09-27 19:48] #1658 closed

[2021-09-29 01:11] walterov opened #1661 "Change Ubuntu CLI installation instruction"
Remove this part:

"For an Ubuntu machine, run the following commands to install the build of the Azure CLI with AKS support.

Bash

Copy
curl -o azure-cli_xenial_all.deb https://aka.ms/ash-aks-cli-linux

sudo apt install ./azure-cli_xenial_all.deb"

Replace it with:

"For an Ubuntu machine, follow the instructions here https://aka.ms/ash-aks-cli-linux"

---
#### Document Details

⚠ *Do not edit t

[2021-09-29 01:18] walterov opened #1662 "Change the "az --version" screenshots for the following..."
In section: https://review.docs.microsoft.com/en-us/azure-stack/user/aks-how-to-use-cli?view=azs-2107&branch=release-2108&tabs=ubuntu%2Clinuxcon#install-azure-cli

For Ubuntu:
Mention that Azure CLI version should be 2.28.0 or above
![image](https://user-images.githubusercontent.com/1017810/135186516-a182ebd2-7ca2-45cc-bbba-500cc055e461.png)

For Windows:
Mention that Azure CLI version should be 2

[2021-09-29 01:19] Karishma-Tiwari-MSFT commented on #1661
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-29 04:06] VikasPullagura-MSFT commented on #1662
@walterov
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-09-29 04:06] VikasPullagura-MSFT commented on #1662
@mattbriggs
Can you please check and add your comments on this doc update request as applicable.

[2021-09-29 18:11] mattbriggs commented on #1661
#in-progress

[2021-09-29 18:25] mattbriggs commented on #1661
Updated.

#please-close

[2021-09-29 18:25] #1661 closed

[2021-09-29 18:54] mattbriggs commented on #1662
#in-progress

[2021-09-29 18:55] mattbriggs commented on #1662
Updated. Will merge to the release branch for review.

#sign-off

[2021-09-29 19:21] mattbriggs commented on #1662
#please-close

[2021-09-29 19:21] #1662 closed

[2021-09-30 15:53] alexsmithMSFT opened #1664 "Template validation tool doc references Az modules in AzureRM code stamples"
The AzureRM code samples reference the Az modules "Import-Module .\Az.BLAH" instead of the AzureRM modules, in these two sections:

https://docs.microsoft.com/en-us/azure-stack/user/azure-stack-validate-templates?view=azs-2102&tabs=azurerm1%2Cazurerm2%2Caz3#build-the-cloud-capabilities-file

Should be:

https://docs.microsoft.com/en-us/azure-stack/user/azure-stack-validate-templates?view=azs-2102&

[2021-09-30 16:21] sethmanheim commented on #1664
@alexsmithMSFT Thank you for catching that, I will fix. #please-close

[2021-09-30 16:21] #1664 closed

[2021-09-30 18:24] alexsmithMSFT commented on #1664
@sethmanheim the code snippits look good, but the text of the steps still gives the Az module names:

And the second instance still mentions the Az subdirectory: AzureStack-Tools-az

[2021-09-30 18:26] sethmanheim commented on #1664
@alexsmithMSFT OK, I will fix. This issue initially only mentioned the code samples.

[2021-09-30 18:47] alexsmithMSFT commented on #1664
@sethmanheim you're right, I should have said steps and code-samples originally, but I didn't notice at first.

[2021-09-30 19:10] sethmanheim commented on #1664
@alexsmithMSFT No worries, thanks for catching it, really appreciated. The fix is merged, will be live at 3 PM PT.

[2021-10-01 19:27] JohnBMSFT opened #1666 "Rotation PowerShell code snippet uses double-quotes instead of single quotes"
Characters preceded by a dollar sign ($) in the password string are treated as a variable when used within double quotes and thus entire password is not considered when the string is passed to the command for processing. With the use of single quotes the string is passed to the command exactly as you type it.
![image](https://user-images.githubusercontent.com/91756038/135675828-ada54237-2b51-49e6-

[2021-10-01 20:15] BryanLa commented on #1666
@JohnBMSFT - thanks for your feedback. I've gone ahead and converted all instances of the strings passed to ConvertTo-SecureString, from double to single quotes.

#please-close

[2021-10-01 20:15] #1666 closed

[2021-10-01 21:59] walterov commented on #1661
The link in the article is not using the aka link I placed in the issue above.

[2021-10-01 22:09] mattbriggs commented on #1661
Yes ... the link doesn't work. I wish they would fix it. The link however will work when it is published. You check by removing the 'review' in the URL...

[2021-10-01 22:37] walterov opened #1669 "Add new section above "Download AKS Base Images" titled "Download Required VM Extensions""
Add new section above "Download AKS Base Images" titled "Download Required VM Extensions"

Here is the document with the content: https://microsoft-my.sharepoint-df.com/:w:/p/waltero/EUnUiBaGfExCmQZZ87b9BzcBLgeFl-ZqBST9Eh0l28MqEg?e=dn1RvD

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5161bfe9-b400-e18f-0119-5d1c5a50ab

[2021-10-01 22:40] Karishma-Tiwari-MSFT commented on #1669
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-10-02 00:20] mattbriggs commented on #1669
#in-progress

[2021-10-04 13:49] pemsft opened #1670 "Guest OS support?"
Thank you for excellent documentation!

Could you add question and answer for question: **Which Guest OS are supported on Azure Stack HCI?**

Perhaps the answer would be reference to related Hyper-V documentation:
https://docs.microsoft.com/en-us/windows-server/virtualization/hyper-v/supported-windows-guest-operating-systems-for-hyper-v-on-windows

---
#### Document Details

⚠ *Do not edit this se

[2021-10-04 13:52] SrijitBose-MSFT commented on #1670
@pemsft , thank you for your feedback. We have shared the same with the content author(s). This should now be visible in their backlog.

[2021-10-04 17:31] mattbriggs commented on #1669
#please-close

[2021-10-04 17:31] #1669 closed

[2021-10-06 23:26] walterov opened #1675 "Change single node pool bullet about windows known issue"
Change this bullet: "For the public preview, no more than one node pool can be created per AKS cluster. Windows clusters are limited to a single node pool, no Linux pool can be added."

To: "For the public preview, no more than one node pool can be created per AKS cluster. Windows clusters are limited to a single node pool, no Linux pool can be added. This means that only Windows containers can be

[2021-10-06 23:36] mattbriggs commented on #1675
#in-progress

[2021-10-06 23:50] mattbriggs commented on #1675
@walterov ... thanks! caught a few other small things.

[2021-10-07 08:27] CraigWilsonOZ opened #1676 "Backup command is incorrect in example"
[Enter feedback here]

Command in example is:
Set-AzsBackupConfiguration -BackupShare $sharepath -Username $username -Password $password -EncryptionCertPath "c:\temp\cert.cer"

Base on the example it should be:
Set-AzsBackupConfiguration -Path $sharepath -Username $username -Password $password -EncryptionCertPath "c:\Certs\AzSIBCCert.cer"

---
#### Document Details

⚠ *Do not edit this section. It

[2021-10-07 17:14] #1676 closed

[2021-10-08 08:39] ezYakaEagle442 opened #1678 "AKS HCI calendar to match Kubernetes Release Cadence Change"
Please update calendar based on last summer K8S communication :
[https://kubernetes.io/blog/2021/07/20/new-kubernetes-release-cadence/?s=03](https://kubernetes.io/blog/2021/07/20/new-kubernetes-release-cadence/?s=03)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88bbe4b7-99f3-6aa3-0bd1-0bdf82be2da2
* Version Independe

[2021-10-13 14:16] alexsmithMSFT opened #1684 "AKS engine image mapping for V0.60.1 lists 18.04-LTS twice, and not 16.04-LTS"
The table for **#aks-engine-and-corresponding-image-mapping** for version V0.60.1 lists AKS Base Ubuntu 18.04-LTS twice, but the sample Linux API model sample shows "distro": "aks-ubuntu-16.04"...

V0.60.1
AKS Base Ubuntu 18.04-LTS Image Distro, 2021 Q1 (2021.01.28),
AKS Base Ubuntu 18.04-LTS Image Distro, 2021 Q1 (2021.01.28),
AKS Base Windows Image (17763.1697.210129)	1.16.14, 1.16.15, 1.17.17,

[2021-10-13 17:15] mattbriggs commented on #1684
@alexsmithMSFT Thanks for pointing this out. I updated in this pull request after touching bases with Walter. https://github.com/MicrosoftDocs/azure-stack-docs-pr/pull/8563

Here is the AKS engine topic this is based on: https://github.com/Azure/aks-engine/blob/master/docs/topics/azure-stack.md#aks-engine-versions

[2021-10-13 17:15] mattbriggs commented on #1684
#please-close

[2021-10-13 17:15] #1684 closed

[2021-10-13 19:13] alexsmithMSFT commented on #1684
Cool, thanks @mattbriggs !

[2021-10-15 22:54] JohnCobb1 commented on #1670
Thanks for your feedback. The FAQ has been updated with it: https://docs.microsoft.com/en-us/azure-stack/hci/faq#which-guest-operating-systems-are-supported-on-azure-stack-hci

#sign-off

[2021-10-18 22:42] MMannheim opened #1692 "script provided is erroneous"
just wondering if anybody has tested the robocopy script before publishing?

running the script code in following order:
$Logfile     = "c:\temp\Robocopy1-$date.txt"
$date        = Get-Date -UFormat "%Y%m%d"
will evaluate the log file name with  empty date.

Further, don't understand why those variables are declared twice in the script:
$Dest_Server     = "Node01"
$TARGETDIR   = \\$Dest_Server\C$\

[2021-10-20 13:58] alexsmithMSFT opened #1695 "2102 Known issue: Promoted images for new VMs are displayed in dropdown, even if they are not available in the local marketplace"
Consider adding an item for this under-
https://docs.microsoft.com/en-us/azure-stack/operator/known-issues?view=azs-2102#portal

In current 2102 builds, customers reported seeing OS images that were not downloaded in the marketplace when trying to create a VM from **All services -> Virtual Machines -> Create a Virtual machine**.

We are able to reproduce this issue in our lab environments, and hav

[2021-10-21 09:39] katyhuang72727 opened #1696 "The 21H2 build number is 20348.288 not 20348.11."
[Enter feedback here]

Hi ASHCI team,
The 21H2 build released on 10/19/2021 is 20348.288, not 20348.11.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22ce0662-cc07-34bc-1d9c-de7fd075bdee
* Version Independent ID: fc01822a-5d78-b4e0-eb1a-ccd8d9c7bdf0
* Content: [Azure Stack HCI release information - Azure Stack HCI](htt

[2021-10-21 13:19] SwathiDhanwada-MSFT commented on #1696
@katyhuang72727 Thanks for your feedback.

Assigning to content author @khdownie   for review.

[2021-10-22 04:42] #1696 closed

[2021-10-27 05:37] jberkers42 opened #1704 "Network example references an illegal IP address"
Hi There,

In the section of the page that describes the allocation of addresses in the 172.100.0.0/24 network, the address space is divided into different classes, also listing reserved addresses.  The table just before the **Kubenet address blocks example**, the last entry references the following IP Address:

* 172.100.0.256

This is an illegal address, and should actually be **172.100.0.255**.

[2021-11-01 22:07] walterov opened #1709 "We need to add an explicit item for the 50 K8s node per subscription limit"
We need to add an item to the Known issues list:

"When creating clusters, customers need to ensure that there are not more than 50 Kubernetes nodes (control plan and agent nodes) deployed per subscriptions. That is, the total of Kubernetes nodes deployed across all clusters within a single subscription should not exceed 50 nodes."

---
#### Document Details

⚠ *Do not edit this section. It is req

[2021-11-01 22:13] mattbriggs commented on #1709
@walterov Sure and Thanks! #in-progress

[2021-11-01 22:54] mattbriggs commented on #1709
Updated.

#sign-off

[2021-11-01 22:54] #1709 closed

[2021-11-02 17:27] sethmanheim commented on #1695
@alexsmithMSFT Please submit known issue items in the following format. For examples, see https://docs.microsoft.com/en-us/azure-stack/operator/known-issues?view=azs-2102. Thank you!

Applicable:
Cause:
Remediation:
Occurrence:

[2021-11-03 02:55] Donnie-Zhang opened #1711 "two issues hit by following the document"
[Enter feedback here]
Customer may hit two issues while running 'Connect-AzureRMAccount'
1. invalid provider type specified
This is due to the self-signed certificate missing a provider. This can be fixed by making a little change in New-SelfSignedCertificate
Old:$NewCert = New-SelfSignedCertificate -CertStoreLocation "cert:\CurrentUser\My" -Subject "CN=<YourAppName>" -KeySpec KeyExchange
New:$New

[2021-11-03 03:53] VikasPullagura-MSFT commented on #1711
@Donnie-Zhang
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-11-03 03:53] VikasPullagura-MSFT commented on #1711
@BryanLa
Can you please check and add your comments on this doc update request as applicable.

[2021-11-03 14:50] jacobpedd opened #1712 "Heading formatting broken"
Configure an override doesn't show up in the navigation, I believe because the headings are incorrect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1cea280-89dd-b421-0ca9-da8fc972610d
* Version Independent ID: 746905a4-0549-449c-6842-d365fb7da05d
* Content: [Manage host networking with Network ATC - Azure Stack HCI]

[2021-11-03 15:55] kobulloc-MSFT commented on #1712
@jacobpedd, thank you for your feedback!  I want to make sure I'm looking at the right thing.  I currently see "Manage Network ATC" in the navigation to the left which matches the title, "Manage host networking using Network ATC".  "Configure an override" appears below as a heading and can be linked to (note the url in the screenshot.  Did I miss anything?

![image](https://user-images.githubuserc

[2021-11-03 16:08] kobulloc-MSFT commented on #1712
@jacobpedd, there was an update to the docs yesterday if I'm not mistaken.  Are you looking at the live version of this document?

![image](https://user-images.githubusercontent.com/37556655/140098400-af161a89-b3f4-40ff-999b-17dcbf00579c.png)

[2021-11-04 00:38] TolliLF opened #1714 "Should use -cluster instead of -IPstPort"
I was advised by Dan Cuomo that:
New-NetQosPolicy "Cluster" -IPDstPort 3343 -Priority 6

should be
New-NetQosPolicy "Cluster" -Cluster -Priority 6

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dea141b6-da05-c6d2-3abd-fab02216da49
* Version Independent ID: f0b22348-f1af-fb52-ebac-688df3941009
* Content: [Troubleshoot c

[2021-11-04 15:02] GiftA-MSFT commented on #1714
@TolliLF we'll review your feedback and get back to you shortly. Thanks.

[2021-11-04 21:23] kobulloc-MSFT commented on #1712
@jacobpedd We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-11-04 21:23] #1712 closed

[2021-11-04 22:14] khdownie commented on #1714
@TolliLF @GiftA-MSFT thank you - I verified with Dan and made the change to the doc, so this issue can be closed.

[2021-11-04 23:08] #1714 closed

[2021-11-05 11:30] brcart opened #1717 "Error on page"
Please ignore
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 575279d6-40ba-bb35-9dd9-ca766d561039
* Version Independent ID: 7c0f91cc-e60c-30e8-4fcf-e5ad1dd3f5bf
* Content: [Get authentication information for Azure Stack Hub - Azure Stack Hub](https://docs.microsoft.com/en-us/azure-stack/user/authenticate-azure-stack-hub

[2021-11-05 11:33] brcart opened #1718 "Doc issue"
On this page you have
For multinode systems, the user portal URL is formatted as https://management.<region>.<FQDN>
I believe this should be
For multinode systems, the user portal URL is formatted as https://portal.<region>.<FQDN>

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d05155b-09e6-313e-de80-44de4eee68a3
* Ver

[2021-11-05 14:35] alexsmithMSFT opened #1719 "Unclear steps for Trusting the Certificate on Windows"
In the section [**Trust the certificate -> Windows**](https://docs.microsoft.com/en-us/azure-stack/asdk/asdk-cli?view=azs-2102&tabs=win#trust-the-certificate), step 1, the python installed as part of the Az CLI is not automatically in the PATH environment variable, so a user needs to change directory where python.exe is located, e.g.

In the same section, step 1 output example given is the Linux d

[2021-11-05 15:08] kobulloc-MSFT commented on #1717
@brcart Thank you for your feedback!  If there is anything else you would like us to address, please open another issue and we'd be happy to work on a resolution.

[2021-11-05 15:08] #1717 closed

[2021-11-05 15:20] kobulloc-MSFT commented on #1718
@brcart Thank you for bringing this to our attention!  It looks like we have different text for the portal versus PowerShell.  We'll get a PR out to address that.

**Portal**

![image](https://user-images.githubusercontent.com/37556655/140534736-111bda31-6720-4599-9830-23ab2d107413.png)

**PowerShell**

![image](https://user-images.githubusercontent.com/37556655/140534515-15830a39-ae64-49c6-8017-e

[2021-11-05 15:41] alexsmithMSFT commented on #1719
Also a minor typo for ASDK in the description of this section-

[2021-11-05 15:55] alexsmithMSFT opened #1721 "Steps missing for exporting and trusting root certificates on multinode Stack Hub systems"
In the section [Connect with Azure CLI -> Connect to Azure Stack Hub](https://docs.microsoft.com/en-us/azure-stack/user/azure-stack-version-profiles-azurecli2?view=azs-2102&tabs=ad-win#connect-to-azure-stack-hub
), there is a step specific to ASDK: **Step 1 - If you are using the ASDK, trust the Azure Stack Hub CA root certificate**. The ASDK will always have this problem because it generates self

[2021-11-05 16:06] BryanLa commented on #1718
Thanks for this feedback @brcart. I've gone ahead and fixed this - it should republish later today.

#please-close

[2021-11-05 16:06] #1718 closed

[2021-11-05 19:01] mattbriggs commented on #1721
@alexsmithMSFT Thanks for the feedback. #in-progress

[2021-11-05 19:01] mattbriggs commented on #1719
@alexsmithMSFT Thanks for the feedback. #in-progress

[2021-11-06 02:33] AnuragSingh-MSFT commented on #1721
@alexsmithMSFT, thank you for the feedback. This issue has been assigned to the author for further review and update.

[2021-11-07 07:54] Li-Yanzhi opened #1725 "The default value of parameter controlPlaneVmSize is not correct"
The default value of parameter controlPlaneVmSize is **Standard_A4_v2** (4CPU,8G RAM)  instead of **Standard_A2_v2** (2CPU,4GB RAM)

![image](https://user-images.githubusercontent.com/6248137/140637048-bcad6373-9485-4e47-b4ae-a6e16cb75b64.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7063b994-0e35-6c7e-3be9-b29de

[2021-11-07 15:04] GiftA-MSFT commented on #1725
@Li-Yanzhi we'll review your feedback and get back to you shortly. Thanks.

[2021-11-08 17:37] BryanLa commented on #1711
@Donnie-Zhang - thanks much for your feedback. I'll need to consult with the security team on this as we worked closely on this particular article. I'll report back once I get a response from them..

[2021-11-10 06:05] aserfass-msft opened #1729 "ASH-R/RCA UPS suggestions"
Hello,

Please consider adding the recommendation for UPSs to support an ASH-R/RCA deployment. I understand it is dependent on the time and usage assumptions but I'm really wondering what are power related ASH-R specific risks to mitigate? Are the nodes redundant enough to recover from a sudden power outage? Is brown-out UPS capacity therefore enough? Otherwise, how much time is recommended for a

[2021-11-10 09:20] VikasPullagura-MSFT commented on #1729
@aserfass-msft
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-11-10 09:21] VikasPullagura-MSFT commented on #1729
@PatAltimore
Can you please check and add your comments on this doc update request as applicable.

[2021-11-11 20:05] mattbriggs commented on #1719
Merged

#please-close

[2021-11-11 20:05] #1719 closed

[2021-11-11 20:06] mattbriggs commented on #1721
Merged.

#please-close

[2021-11-11 20:06] #1721 closed

[2021-11-17 12:25] kongou-ae opened #1739 "az arcappliance create hci raises InvalidResourceType"
Hi,

I tried installing ResourceBridge to Nested Azure Stack HCI. But the following error raised.

[code]

I believe that our Azure CLI and extensions are latest version and requires prerequisite for this feature.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b82e60f9-ebed-4011-41b7-3e11a60322ff
* Version Inde

[2021-11-17 16:55] ksurjan commented on #1739
@kongou-ae, thanks for trying this.
Please go use the sign-up link to have access to the Preview: https://aka.ms/joinEAP.

This requirement will be removed in the next few weeks.

[2021-11-19 21:54] walterov opened #1742 "Need to change the version of the Custom Script extension to 2.0.6"
The extension we refer to should not be the "latest" but instead the 2.0.6

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4871e496-b684-ea5f-b579-50774bb9ffb4
* Version Independent ID: b683dc6a-864d-9932-11da-3335d2597cb7
* Content: [Install and offer the Azure Kubernetes Service on Azure Stack Hub - Azure Stack Hub](h

[2021-11-19 22:05] kobulloc-MSFT commented on #1742
@walterov Thank you for bringing this to our attention!  We'll review the documentation and get back to you shortly.

[2021-11-19 22:28] mattbriggs commented on #1742
@walterov

#in-inprogress

[2021-11-19 23:28] BryanLa commented on #1711
Discussed with engineering security team.
Issue #1 has been resolved.
No consensus from engineering on changing anything for issue #2, so closing this for now..

#please-close

[2021-11-19 23:28] #1711 closed

[2021-11-19 23:49] mattbriggs commented on #1742
Updated

#please-close

[2021-11-19 23:49] #1742 closed

[2021-11-20 02:44] kongou-ae commented on #1739
Hi @ksurjan,

Thanks. After having onboarding my subscription, this error was fixed.

Best

[2021-11-20 02:44] #1739 closed

[2021-11-20 02:58] kongou-ae opened #1744 "Creating a custom location of hci-vmoperator failed"
Hi Azure Stack HCI team,

I'm trying VM provisioning on Azure Portal, then I encountered the following error:

[code]

I guess that this command checked "properties.status" although it should check "properties.provisioningState".

[code]

Best regards.

[2021-11-20 15:55] KranthiPakala-MSFT commented on #1744
Thanks for reaching out. To better assist your query, could you please share the document link which you are currently following so that we can involve the appropriate team? If your question is generic and not specific to a document feedback, I would recommend you to please post your query in [Microsoft Q&A](https://docs.microsoft.com/answers/products/azure?product=all) forum, where we have our en

[2021-11-21 01:48] kongou-ae commented on #1744
Sorry for having open this issue directly, not from docs.microsoft.com.

The document which my issue is related with is as follows:

https://docs.microsoft.com/en-us/azure-stack/hci/manage/azure-arc-enabled-virtual-machines?WT.mc_id=AZ-MVP-5003408#create-a-custom-location-by-installing-azure-arc-resource-bridge

The last command in this section raised the error which I mentioned.

Best.

[2021-11-22 16:51] excelsi opened #1745 "Error at Step 3 of "Install PowerShell modules and update extensions""
I get this error at the Set-MocConfig Command:

ssh-keygen : The term 'ssh-keygen' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included,
verify that the path is correct and try again.
At C:\Program Files\WindowsPowerShell\Modules\Moc\1.0.9\Moc.psm1:1812 char:9
+         ssh-keygen -q -f $($global:config[$mo

[2021-11-22 17:07] ksurjan commented on #1745
Hello,
Can you please share the version of the Host OS. ssh-keygen is standard with new versions of Windows OS.
Thanks.

[2021-11-22 17:11] excelsi commented on #1745
The Host OS is Azure Stack HCI because i need to execute the Command there as i understand the Docs correctly..

[2021-11-22 17:12] excelsi commented on #1745
If i do an Get-WindowsOptionalFeature -Online on Azure Stack HCI i don't see the OpenSSH Client Feature so that i could enable this here...

[2021-11-22 17:40] excelsi commented on #1745
I checked also the 21H2 Relase Build 20348, which also doesn't include the OpenSSH Client Feature..

[2021-11-22 17:47] ksurjan commented on #1745
Thanks for the details. I am checking on this.

[2021-11-23 04:58] ksurjan commented on #1745
Can you please check if running ssh-keygen on all nodes unblocks this step.

[2021-11-23 05:21] excelsi commented on #1745
I cannot run ssh-keygen because it's not available..

[2021-11-23 05:24] excelsi commented on #1745
This should be Part of the OpenSSH Client i assume..

[2021-11-23 05:51] ksurjan commented on #1745
Can you also share the output of the following:

Get-WindowsCapability -Online | Where-Object Name -like 'OpenSSH*'

# Install the OpenSSH Client
Add-WindowsCapability -Online -Name OpenSSH.Client~~~~0.0.1.0

[2021-11-23 06:03] excelsi commented on #1745
Thanks that was the right CMDlet here... i didn't remeber before :-)

[2021-11-23 08:19] excelsi commented on #1745
Unfortunately the installation stucks in running forever as it seems...
<img width="403" alt="image" src="https://user-images.githubusercontent.com/8747559/142990236-7b51cf69-d3e6-42db-a66d-443971ee0894.png">

[2021-11-23 16:42] excelsi commented on #1745
I managed to install this now through a workarround

[2021-11-23 16:55] ksurjan commented on #1745
For Portal access to create Virtual Machines, please use aka.ms/AzureArcVM.
Please feel free to reach out to me with any feedback. Thanks.

[2021-11-23 19:47] excelsi commented on #1745
Now im at point 4 "Update the required extensions:" and i got errors here (i think because az shell is not installed on the Azure Stack HCI Node)... what's the sugesstion here or how can i can quickly install AZ Shell?

[2021-11-23 19:53] excelsi commented on #1745
Or should this az extension commands be executed on Azure?

[2021-11-23 19:57] excelsi commented on #1745
Shou

[2021-11-23 19:57] #1745 closed

[2021-11-23 20:33] excelsi opened #1748 "InvalidRessourceType at "Create a custom location by installing Azure Arc Resource Bridge""
At "Create a custom location by installing Azure Arc Resource Bridge" Step 3 last command i got:

<img width="877" alt="image" src="https://user-images.githubusercontent.com/8747559/143100599-ecd2c86e-dbee-48ce-93a8-8aab1e8386b0.png">

What could be the issue and maybe a solution here?
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2021-11-23 20:40] excelsi commented on #1748
Before i had to execute this to get the Deployment running:
az provider register -n Microsoft.ResourceConnector --wait

[2021-11-24 06:02] excelsi commented on #1748
https://docs.microsoft.com/en-us/azure-stack/hci/manage/azure-arc-enabled-virtual-machines#create-a-custom-location-by-installing-azure-arc-resource-bridge

[2021-11-24 13:48] ksurjan commented on #1748
This functionality is currently in Preview and available through Early Access Program. We need to whitelist your subscription ID to enable this capability.

This requirement will be lifted in a few weeks once we are in Public Preview.
________________________________
From: excelsi ***@***.***>
Sent: Tuesday, November 23, 2021 11:00 PM
To: MicrosoftDocs/azure-stack-docs ***@***.***>
Cc: Kilol Surja

[2021-11-24 14:51] excelsi commented on #1748
OK Bad News for me but thanks anyways...

[2021-11-24 14:59] ksurjan commented on #1748
If you would like to try this functionality, please provide your subscription ID to whitelist for this feature.
________________________________
From: excelsi ***@***.***>
Sent: Wednesday, November 24, 2021 6:51 AM
To: MicrosoftDocs/azure-stack-docs ***@***.***>
Cc: Kilol Surjan ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-stack-docs] InvalidRessourceType at "Create a custo

[2021-11-24 15:03] excelsi commented on #1748
4738702d-1b02-4938-bdd2-97b67898d660
Thanks!

[2021-11-24 16:39] excelsi commented on #1748
Tell me if it's finished and if i need to execute something special additionally. Thanks!

[2021-11-24 20:51] ksurjan commented on #1748
You are all set. Please try the custom location creation again and it should work now. Please let me know how that goes. Again, the link to Portal during preview is https://aka.ms/HCI-selfserivceVM.
________________________________
From: excelsi ***@***.***>
Sent: Wednesday, November 24, 2021 8:39 AM
To: MicrosoftDocs/azure-stack-docs ***@***.***>
Cc: Kilol Surjan ***@***.***>; Mention ***@***.***

[2021-11-25 15:58] excelsi commented on #1748
Im now at Step 7 it fails with:

<img width="909" alt="image" src="https://user-images.githubusercontent.com/8747559/143471608-422ebf94-9c23-4686-8139-ab4a2d85ef93.png">

On the Azure Portal i can see:

<img width="987" alt="image" src="https://user-images.githubusercontent.com/8747559/143471684-5ed24ebd-706d-48fa-9082-ece47d4cfc43.png">

How can check how the hearbeat is going? Maybe locally on t

[2021-11-25 16:02] excelsi commented on #1748
Now Step 7 was successful :-)

[2021-11-25 16:37] excelsi commented on #1748
At the moment i cannot select the custom location and the VM Template

<img width="602" alt="image" src="https://user-images.githubusercontent.com/8747559/143477250-1e13cbfd-cff2-4051-ba24-6a59883ee32f.png">

I finished the steps of:
https://docs.microsoft.com/en-us/azure-stack/hci/manage/azure-arc-enabled-virtual-machines#create-virtual-network-and-gallery-image

I can see my custom location and

[2021-11-26 15:12] kongou-ae commented on #1748
I encountered the same issue.
![image](https://user-images.githubusercontent.com/3410186/143600961-37652855-5ded-4e16-8b40-84a104558d02.png)

[2021-11-27 14:58] #1744 closed

[2021-11-27 15:02] kongou-ae opened #1749 "Can't create a virtual machine on AzSHCI from portal due to no virtual machine kind"
I created custom location but I can't create a VM from Azure Portal. Because there is no virtual machine kind. Any idea?

![image](https://user-images.githubusercontent.com/3410186/143686532-c879834e-f516-4257-83f3-5b768d13f4a9.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b82e60f9-ebed-4011-41b7-3e11a60322ff
* V

[2021-11-27 15:06] kongou-ae commented on #1748
Hi @excelsi ,

I guess that we need to use https://aka.ms/hci-selfservicevm/ to create a VM from the portal. In my case, the portal can show custom locations with this URL.

But I encounter the new issue...
https://github.com/MicrosoftDocs/azure-stack-docs/issues/1749

Best

[2021-11-27 17:48] excelsi commented on #1749
I used the preview portal link but still cannot select the Virtual Machine Kind also if i have created my Location, Network and Gallery Image:

<img width="638" alt="image" src="https://user-images.githubusercontent.com/8747559/143691519-e84e2988-5ae9-4113-8cab-6cefc9ad12f0.png">

<img width="627" alt="image" src="https://user-images.githubusercontent.com/8747559/143691555-14a0e246-d9f6-462e-9b70-

[2021-11-27 17:50] excelsi commented on #1748
Thanks for the right link it worked but i still have also your issue:

https://github.com/MicrosoftDocs/azure-stack-docs/issues/1749#issuecomment-980763887

[2021-11-27 17:50] #1748 closed

[2021-11-28 03:01] MayankBargali-MSFT commented on #1749
@kongou-ae Thank you for your feedback! We will review and update as appropriate.

[2021-11-29 18:49] excelsi commented on #1749
Thanks i could start the Deployment now but after some time got this deployment error:

{
    "status": "Failed",
    "error": {
        "code": "InternalError",
        "message": "Cannot connect to the hybrid connection because no agent is connected in the target arc resource."
    }
}

Any help here?
Thanks!

[2021-11-29 19:08] ksurjan commented on #1749
Can you please provide get-archcilogs bundle?

[2021-11-29 19:15] excelsi commented on #1749
I need to enter the Password for this user of the local Linux VM:
<img width="208" alt="image" src="https://user-images.githubusercontent.com/8747559/143928571-94efe619-e63f-4995-9110-843d286437b6.png">
and then the cloudservice IP of something?
<img width="169" alt="image" src="https://user-images.githubusercontent.com/8747559/143928640-51703390-d42c-4457-8d35-3ae9397fe1ed.png">
Thanks!

[2021-11-29 19:22] ksurjan commented on #1749
You can do the following:
1. uninstall-module archci
2. Install-Module -Name ArcHci -RequiredVersion 0.2.6 -Force -Confirm:$false -SkipPublisherCheck -AcceptLicense
3. close all powershell windows
4. restart powershell
5. get-archcilogs
This will not prompt for VM passwords. It will still require cloudServiceIP and the token file generated under $csv_path/workingDir/

[2021-11-29 19:37] excelsi commented on #1749
How is the file called with the login information?

<img width="324" alt="image" src="https://user-images.githubusercontent.com/8747559/143931441-c4987c16-fcb0-41b0-8753-633a1f607fc5.png">

Thanks!

[2021-11-29 19:50] ksurjan commented on #1749
it should be a .tok file.

[2021-11-29 19:56] excelsi commented on #1749
Worked
https://1drv.ms/u/s!Aopp0r2sfNjEio9lvtoGpzeXDHdchQ?e=I0FLvh

[2021-11-30 15:05] kongou-ae commented on #1749
@ksurjan

I created the new VM by https://aka.ms/AzureArcVM. Then the following error raised.

![image](https://user-images.githubusercontent.com/3410186/144072026-1f9afb9b-1d9a-4414-b57c-5d27e876b9c5.png)

After a few minutes later from this error, I found the new VM in Azure Stack HCI. I guess that timeout may be short.

Best.

[2021-11-30 16:36] ksurjan commented on #1749
Would you be able to get `get-ArcHCILogs` and share it with me. Thanks.

[2021-11-30 18:13] IvanNaumeiko opened #1752 "Please review Maximum supported specifications"
Please review Maximum supported specifications here:
https://docs.microsoft.com/en-us/azure-stack/aks-hci/concepts-support

Not sure if that is still valid, it looks confusing.

Azure Kubernetes Service on Azure Stack HCI deployments that exceed the following specifications are not supported:
MAXIMUM SUPPORTED SPECIFICATIONS
Resource	Maximum
Physical servers per cluster	4
Kubernetes Clusters	4
Tot

[2021-11-30 20:52] excelsi commented on #1749
Im now one step further but now it's failed on the gallery image:

{
    "status": "Failed",
    "error": {
        "code": "NotFound",
        "message": "Couldn't find gallery image with name 'WS22AzureCore': Couldn't find a Gallery image with name 'WS22AzureCore': Not Found"
    }
}

<img width="1127" alt="image" src="https://user-images.githubusercontent.com/8747559/144126043-38bd82a3-43cd-4c7

[2021-11-30 21:12] excelsi commented on #1749
Deployment succeded after i recreated the galleryimage

[2021-11-30 21:20] ksurjan commented on #1749
@excelsi was this a transient error or are you seeing this for every VM creation ?

[2021-11-30 21:21] excelsi commented on #1749
No this was my first try yesterday, now it succeded after some retries..

[2021-11-30 21:24] ksurjan commented on #1749
Please let me know if you have any other issues.

From: excelsi ***@***.***>
Sent: Tuesday, November 30, 2021 1:22 PM
To: MicrosoftDocs/azure-stack-docs ***@***.***>
Cc: Kilol Surjan ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-stack-docs] Can't create a virtual machine on AzSHCI from portal due to no virtual machine kind (Issue #1749)

No this was my first try yesterday, n

[2021-12-01 00:06] kobulloc-MSFT commented on #1752
@IvanNaumeiko Thank you for your feedback!  We are investigating this and will get back to you shortly.

[2021-12-01 16:15] jessicaguan commented on #1725
@GitaraniSharma-MSFT @Li-Yanzhi hi! yes the default control plane VM size is Standard_A4_V2. It is described [here](https://docs.microsoft.com/en-us/azure-stack/aks-hci/reference/ps/new-akshcicluster), you can scroll down to the parameter description of "-controlPlaneVmSize" and see the default. Can I get some more clarity on what the issue/ask is here? Thanks!

[2021-12-01 16:26] GitaraniSharma-MSFT commented on #1725
@jessicaguan , thank you for the confirmation. It is mentioned as **Standard_A2_v2** in the below link:
https://docs.microsoft.com/en-us/azure-stack/aks-hci/reference/ps/set-akshciconfig#-controlplanevmsize

![image](https://user-images.githubusercontent.com/67630903/144272798-dc203ce4-f4c6-48ba-a532-ffbf76b9f759.png)

I do not have access to update this doc as I'm getting a 404 error.
Would you b

[2021-12-01 19:01] PatAltimore commented on #1280
Thanks @bowlerma,

I passed the information to the ASDK team for awareness. Since this isn't a documentation issue, I'm going to close the issue.

Thanks,
Pat

#please-close

[2021-12-02 22:26] spelluru commented on #1268
@kikofarad - do you mean this article is missing Event Hubs quotas mentioned in the following article?
https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-quotas

@kasun04 for awareness

[2021-12-05 15:16] habeebth7 opened #1757 "Does Microsoft provide backend support for MySQL services? If not whom shall we procure the support from?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9b14206-ecc7-c437-dfb7-283be7faf482
* Version Independent ID: d3559753-5579-a08b-bfcb-4202b2395a5f
* Content: [Create highly available MySQL databases - Azure Stack Hub](https://docs.microsoft.com/en-us/azure-stack/operator/azure-stack-tutorial-mysql

[2021-12-05 17:58] himanshusinha-msft commented on #1757
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-12-06 04:10] ChaitanyaNaykodi-MSFT commented on #1757
Hello @habeebth7
Following are the options to host MySQL server on Azure:
1. **Azure Database for MySQL** - This option is a fully managed MySQL database engine based on the stable version of MySQL community edition. This relational database as a service (DBaaS), hosted on the Azure cloud platform, falls into the industry category of PaaS
2. **MySQL on Azure VMs** - This option falls into the indu

[2021-12-06 06:43] habeebth7 commented on #1757
@ChaitanyaNaykodi-MSFT ... Thanks for the quick response. Our query was related to Azure Stack.  We see MySQl from Bitnami on Azure Stack. What level of support microsoft provide for such third party images/solutions? OS Level? application Level or not at all?

MS DOC https://docs.microsoft.com/en-us/azure-stack/operator/azure-stack-tutorial-mysql?view=azs-2102 speaks about Bitnami image. Does thi

[2021-12-07 20:24] aramase opened #1760 "Enhancements to Secrets Store CSI Driver + AKS-HCI docs"
1. Typo in the helm command [here](https://docs.microsoft.com/en-us/azure-stack/aks-hci/secrets-store-csi-driver#install-the-secrets-store-csi-driver)

[code]

Should be
[code]

2. Update api version in this [section](https://docs.microsoft.com/en-us/azure-stack/aks-hci/secrets-store-csi-driver#create-and-apply-your-own-secretproviderclass-object)

The apiVersion should be `secrets-store.csi.x-k8s

[2021-12-07 22:48] kobulloc-MSFT commented on #1760
@aramase Thank you for the feedback!  We are reviewing this and will get back to you shortly.

[2021-12-08 02:22] ChaitanyaNaykodi-MSFT commented on #1757
Hello @habeebth7, thank you for clarifying the question. As per this [FAQ documentation](https://docs.microsoft.com/en-us/azure-stack/operator/azure-stack-windows-server-faq?view=azs-2002&tabs=az1%2Caz2#who-should-i-contact-for-support-issues-with-azure-stack-hub-marketplace-items-)

Please go through [this FAQ documentation](https://docs.microsoft.com/en-us/azure/marketplace/marketplace-faq-publi

[2021-12-08 09:39] habeebth7 commented on #1757
Thanks, clear. I will contact Bitnami for the support. Appreciate your help.

[2021-12-08 15:48] ChaitanyaNaykodi-MSFT commented on #1757
Glad I could help. We will now proceed to close this issue out. Please tag me in your response if you have any additional questions. Thank you!

[2021-12-08 15:48] #1757 closed

[2021-12-08 22:27] walterov opened #1764 "Change to the latest know issue and one more known issue"
For this Known Issue: https://docs.microsoft.com/en-us/azure-stack/user/aks-known-issues?view=azs-2108#applications-deployed-to-aks-clusters-fail-to-access-persistent-volumes

We need to change the beginning of this sentence "When you deploy to an AKS cluster using Kubernetes 1.19 ..." to "When you deploy an AKS cluster using:
- Kubernetes 1.19 or
- Kubernetes 1.20 with Kubenet as the network plug

[2021-12-08 22:42] walterov opened #1765 "Change the AKS known issue to also include ACR"
Change this known issue to also include ACR: https://docs.microsoft.com/en-us/azure-stack/operator/known-issues?view=azs-2108#update-to-2108-will-not-proceed-if-there-are-aks-clusters-created-and-the-private-preview-of-aks-service-is-installed

Title should change to "Update to 2108 will not proceed if there are AKS clusters or ACR Registries created and the private preview of AKS and ACR services

[2021-12-08 22:52] mattbriggs commented on #1764
@walterov Thanks! #in-progress

[2021-12-09 00:31] sethmanheim commented on #1765
@walterov Done, thank you for the update! Will be live at 10 AM PST tomorrow. Just FYI, if it's easier to send email for small changes like this rather than file a GitHub issue, we are OK with that. Whatever is easiest for you. #please-close

[2021-12-09 00:31] #1765 closed

[2021-12-09 00:54] mattbriggs commented on #1764
Updated.

#please-close

[2021-12-09 00:54] #1764 closed

[2021-12-09 16:32] CHDAFNI-MSFT opened #1766 "Azure Stack Hub - VPN Gateway - Clarify if P2S - Point to Site is supported"
To help avoid user confusion, please clarify in the article if the Gateway SKUs supports point to site VPN connections. Hyperscale Azure from the same SKUs supports P2S.

Consider also adding the same clarification note to the following page: [https://docs.microsoft.com/en-us/azure-stack/user/azure-stack-vpn-gateway-settings?view=azs-2108](https://docs.microsoft.com/en-us/azure-stack/user/azure-st

[2021-12-09 17:03] CristianEdwards commented on #1766
Hi Chase,
Thank you for your feedback.  the following network considerations article covers the differences between Azure and Azure Stack Hub Networking. https://docs.microsoft.com/en-us/azure-stack/user/azure-stack-network-differences?view=azs-2108. The first row of the VPN section explains that P2S VPNs are not supported in Hub.

[2021-12-10 18:21] CHDAFNI-MSFT opened #1768 "Clarify supportability of custom IPSec/IKE policy configurations"
Per note on page:

"In addition, Azure Stack Hub does not support using policy-based traffic selectors for route-based gateways at this time, because custom IPSec/IKE policy configurations are not supported."

However, per these 2 links:

- [https://docs.microsoft.com/en-us/azure-stack/user/azure-stack-vpn-s2s?view=azs-2108&tabs=az1%2Caz2%2Caz3%2Caz4%2Caz5%2Caz8%2Caz6%2Caz7#part-2---supported-cryp

[2021-12-10 22:37] kobulloc-MSFT commented on #1768
@CHDAFNI-MSFT Thank you for your feedback!  This is being reviewed and we will get back to you shortly.

[2021-12-13 10:51] Karishma-Tiwari-MSFT commented on #1766
@CHDAFNI-MSFT We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-12-13 10:51] #1766 closed

[2021-12-13 15:08] Karishma-Tiwari-MSFT commented on #1760
I have created a PR for the 1.Typo

I have assigned the issue to the content author to investigate further and update the document as appropriate for 2 & 3.

[2021-12-13 15:49] #1760 closed

[2021-12-14 06:10] gregnashnamoi opened #1776 "Switch requirements N-S vs E-W"
Hi,
It's a little ambiguous whether all these are required on North-South switches, or only on East-West. It appears East-West has stricter requirements, but those might be avoided if E-W is done switchless.
For branch-office / edge scenarios, it would be helpful to work with N-S switches that don't do .1Qbb and .1Qaz

Can this be clarified?

thanks.

---
#### Document Details

⚠ *Do not edit this

[2021-12-14 07:59] VikasPullagura-MSFT commented on #1776
@gregnashnamoi
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-12-14 07:59] VikasPullagura-MSFT commented on #1776
@jacobpedd
Can you please check and add your comments on this doc update request as applicable.

[2021-12-14 15:54] alexsmithMSFT opened #1777 "Dead links for Leader and consortium member templates from GitHub"
The first two template short-links used in step 1 of each section are dead now, redirecting to bing.com (aka.ms shows no link exists)-
https://aka.ms/aa6z619
https://aka.ms/aa6zkua

The third one is valid, ownership shows @mattbriggs
https://aka.ms/aa6zdyt

Suggest updating the first two, with new short links, pointing to the correct templates under-
https://github.com/Azure/AzureStack-QuickStart-

[2021-12-14 19:46] SatishBoddu-MSFT commented on #1777
Hello [@alexsmithMSFT](https://github.com/alexsmithMSFT)
I have assigned the issue to the content author for further review.

[2021-12-14 23:10] mattbriggs commented on #1777
@alexsmithMSFT Thanks Alex!

#in-progress

[2021-12-15 15:36] alexsmithMSFT opened #1780 "Red Hat Enterprise Linux Images private offering survey link no longer works"
The Red Hat Enterprise Linux Images private offering survey link on this page no longer works-

https://forms.office.com/pages/responsepage.aspx?id=v4j5cvGGr0GRqy180BHbR_e32WQju3tMrgXNcUR94AVUNkJTWjdQRjc3TzFLREdGU0dIVFRUQ1JCSi4u

Resulting page says- **Sorry, something went wrong -> This form doesn't exist.**

Red Hat Enterprise Linux Images are a private offering on Azure Stack Hub. To make this

[2021-12-15 16:21] sethmanheim commented on #1780
@alexsmithMSFT Sorry, I must be misunderstanding the issue here, as all links on this page seem to work just fine. Please contact me internally if you have more information rather than through external GitHub issues. Thank you! #please-close

[2021-12-15 16:21] #1780 closed

[2021-12-15 19:03] PatAltimore commented on #1777
Updated links. Also removed a broken link.

#please-close

[2021-12-15 19:03] #1777 closed

[2021-12-16 07:14] Karishma-Tiwari-MSFT commented on #1768
@@sethmanheim Can you please help confirm on this? Thanks.

[2021-12-17 03:55] JimLin-Qcttw opened #1783 "KB5008210 is for Azure Stack HCI version 20H2"
KB5008210 is for Azure Stack HCI version 20H2.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c98d186-ef81-48f0-7e70-301b3ad92f09
* Version Independent ID: 8552ac82-b862-f27d-e8df-5e4a8612d9ea
* Content: [Azure Benefits on Azure Stack HCI - Azure Stack HCI](https://docs.microsoft.com/en-us/azure-stack/hci/manage/azure

[2021-12-17 16:07] sethmanheim commented on #1783
Hi @JimLin-Qcttw, thank you for catching that. The correct KB should be KB5008223 -- I will make the change immediately. Thanks again! #please-close

[2021-12-17 16:07] #1783 closed

[2021-12-17 20:09] alexsmithMSFT opened #1785 "Install-AzProfile fails with Install-Module missing parameter 'AllowPrerelease'"
The currently published commands fail on a clean install, at this step-

**PS C:\WINDOWS\system32> Install-AzProfile -Profile 2020-09-01-hybrid -Force**
_Install-Module : A parameter cannot be found that matches parameter name 'AllowPrerelease'._

This happened on my personal client machine, as well as a customer's today. It seems to be related to a change in PowerShellGet, I found more info and a

[2021-12-18 01:55] SatishBoddu-MSFT commented on #1785
[@alexsmithMSFT](https://github.com/alexsmithMSFT)
I have assigned the issue to the content author for further review.

[2021-12-20 18:49] mattbriggs commented on #1785
Thanks for this info! Updated topic.

@please-close

[2021-12-21 12:39] ChristianGottinger opened #1788 "One statement per code block"
Consider splitting the two statements in "Create the Kubernetes Secret with credentials" block and add description why to add the label in secret secrets-store-cred secret.

e.g.

## Create the Kubernetes Secret with credentials

To create the Kubernetes secret with the Service Principal credentials, run the following command. Replace the following values with the appropriate Client ID and Client

[2021-12-21 12:55] Karishma-Tiwari-MSFT commented on #1768
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-21 19:56] JamesTran-MSFT commented on #1788
@ChristianGottinger
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-12-21 21:34] alexsmithMSFT commented on #1785
Just hit the same issue again on a fresh Windows Server 2019 VM. The same workaround unblocked the install again.
Most of the steps were in PowerShell ISE as Administrator, but workaround steps to re-install PowerShellGet only work in a cmd.exe window as Admin (not ISE) because it uses a subshell of powershell.exe, which can't run in ISE.

[2021-12-22 05:01] VikasPullagura-MSFT commented on #1788
@ChristianGottinger
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-12-22 05:01] VikasPullagura-MSFT commented on #1788
@jessicaguan
Can you please check and add your comments on this doc update request as applicable.

[2021-12-23 18:58] jamesaepp opened #1789 "Dead feedback link"
The paragraph below:

https://docs.microsoft.com/en-us/azure-stack/hci/faq#can-i-transfer-data-offline-between-an--air-gapped--azure-stack-hci-and-azure

Links to: https://feedback.azure.com/forums/929833-azure-stack-hci

Which is dead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bce9bf06-c279-4009-0fae-65315f490cd8

[2021-12-23 23:53] JamesTran-MSFT commented on #1789
@jamesaepp
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-24 00:06] mattbriggs commented on #1785
@alexsmithMSFT I added this to the install Powershell Az topic. Should we add this as a known issue as well in case someone runs into the issue after installing Az?

Current doc (with update based on your feedback):
https://docs.microsoft.com/en-us/azure-stack/operator/powershell-install-az-module?view=azs-2108#prerequisites-for-windows

[2021-12-24 00:07] #1785 closed

[2021-12-27 18:38] JamesTran-MSFT commented on #1789
@jamesaepp
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

New Link - https://feedback.azure.com/d365community/forum/74a4b1b9-0725-ec11-b6e6-000d3a4f07b8

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-12-27 18:38] #1789 closed

[2021-12-29 14:14] shashishailaj commented on #1523
We will close this now as this is being taken offline.

[2021-12-29 14:14] #1523 closed

[2021-12-29 14:19] shashishailaj commented on #1670
As this has been updated we will be closing this.

[2021-12-29 14:19] #1670 closed

[2021-12-29 16:12] shashishailaj commented on #1550
as per the details form the team , you can update

[2021-12-29 16:14] #1550 closed

[2021-12-31 01:36] TheOnlyWei opened #1791 "How are the Azure Marketplace items made available for Azure Stack Hub?"
[Enter feedback here]
How are the Azure Marketplace items made available for Azure Stack Hub? What process determines this? How is it possible for an independent software vendor to update their Azure Stack Hub marketplace product if they are not consistent with their Azure Cloud marketplace counterpart product. I received an ICM from an independent software vendor customer with this question.

Cus

[2021-12-31 07:28] PriyankaRudramaina commented on #1791
Hi @TheOnlyWei,

Thank you for the question, I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-31 17:07] sethmanheim commented on #1791
@PriyankaRudramaina This seems more like a product query, not a documentation issue.

[2021-12-31 23:24] TheOnlyWei commented on #1791
@sethmanheim Yes, it is a product query, but this questions doesn't seem to be answered in any documentation I can find, so will be helpful to be documented as an independent software vendor created an ICM for this question.

[2022-01-03 01:26] VikasPullagura-MSFT commented on #1791
@TheOnlyWei Thanks for sharing more details.
I have assigned the issue to content author to check and update the document as appropriate.

[2022-01-03 01:27] VikasPullagura-MSFT commented on #1791
@sethmanheim
Can you please check and add your comments on this doc update request as applicable.

[2022-01-03 19:10] TheOnlyWei commented on #1791
There is an update from customer with a more refined question on how to update their product:

[2022-01-04 07:43] Lihailian opened #1795 "Failed to open "complete a survey" form"
HI Team,

Seems the form is in below statement is not exists anymore, could anyone help to check and fix the issue please? Thanks!
+++
Red Hat Enterprise Linux Images are a private offering on Azure Stack Hub. To make this offering available to your Marketplace Management tab, you will need to **complete a survey**. After you post the survey, it takes seven business days to see it in your Add from

[2022-01-04 16:30] VikasPullagura-MSFT commented on #1795
@Lihailian
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-01-04 16:30] VikasPullagura-MSFT commented on #1795
@sethmanheim
Can you please check and add your comments on this doc update request as applicable.

[2022-01-04 18:11] sethmanheim commented on #1795
#please-close

[2022-01-04 18:11] #1795 closed

[2022-01-07 20:45] TheOnlyWei opened #1802 "Should document how to remove app registration"
The page should document how to remove app registration for AAD, not just ADFS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 193ec77a-b7dc-7807-cb42-fb1c8ad4a3c7
* Version Independent ID: 389dc440-613b-88ad-c1e9-e4b6fe6db8c6
* Content: [Give an app access to Azure Stack Hub resources - Azure Stack Hub](https://docs.m

[2022-01-07 21:38] kobulloc-MSFT commented on #1802
@TheOnlyWei Thank you for your feedback!  This has been assigned to the document author for further review.

[2022-01-11 22:11] alexsmithMSFT commented on #1795
The survey link is back online- https://forms.office.com/r/F10XvmPLVw

[2022-01-11 23:45] MrCNeale opened #1807 "Broken link to Azure functions on Stack HCI"
Broken link

Tried to access
https://docs.microsoft.com/en-us/azure/app-service/overview-arc-integration.md
and got a "page not found".
Was looking for Function apps on stack-hci

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be9a6344-b950-e72f-ec2e-bdbbe9ea1c07
* Version Independent ID: 9b22c6e4-0af5-9958-7e3a-429ce14

[2022-01-12 00:16] ManikaDhiman commented on #1807
@MrCNeale Thanks for the feedback. Broken links are now fixed. Links should work fine after the next publishing pass. Thanks!

[2022-01-12 00:22] ManikaDhiman commented on #1807
#please-close

[2022-01-12 00:22] #1807 closed

[2022-01-12 23:52] jamesorlando opened #1810 "The import section is unclear."
When you download an offline package, it does not match the folder structure listed in the example.

The example has the parent folder of microsoft.custom-script-linux-arm-2.0.3 and then an icons subfolder, plus a .json, .azpkg, .txt and .zip files. When I download something such as the DSC extension, I get the parent folder of microsoft.dsc-arm.2.77.0.0 and three subfolders (extension, gallerypac

[2022-01-13 04:31] VikasPullagura-MSFT commented on #1810
@jamesorlando
Thanks for your Question! We are currently investigating and will get back on this.

[2022-01-14 06:50] VikasPullagura-MSFT commented on #1810
@jamesorlando I shared this feedback to the Doc author and this is taken to the product team for further investigation.
The document will be updated accordingly post confirmation from the Product Team.

[2022-01-17 20:29] CHDAFNI-MSFT opened #1817 "Add ASH version support matrix compared with OEM baseline version"
My understand is that Operators should only update ASH up to version supported by OEM's baseline version.

This information (correlation of OEM baseline version and ASH version supportability) doesn't appear to be called out on this page (or anywhere I've easily found), if it doesn't exist, please consider adding it to this page. If it does exist elsewhere, consider linking to it as a 'Note' on th

[2022-01-17 20:54] PriyankaRudramaina commented on #1817
@CHDAFNI-MSFT,
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@sethmanheim -Requesting you to review this doc and update the information as appropriate please.

[2022-01-19 03:52] kongou-ae opened #1821 "Add-AzStackHCIAttestation doesn't exist."
Hi,

This document uses "Add-AzStackHCIAttestation". But this command doesn't exist as follows.

[code]

And the document of this module doesn't explain this command.

https://docs.microsoft.com/en-us/powershell/module/az.stackhci/?view=azps-7.1.0

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c98d186-ef81-48f0-7e70-301b3

[2022-01-19 04:01] VikasPullagura-MSFT commented on #1821
@kongou-ae
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-01-19 04:01] VikasPullagura-MSFT commented on #1821
@sethmanheim
Can you please check and add your comments on this doc update request as applicable.

[2022-01-19 17:05] sethmanheim commented on #1821
@VikasPullagura-MSFT Thank you for catching that -- I am checking with the PM team about this.

[2022-01-19 18:14] sethmanheim commented on #184
Please let us know if this is still an issue, and if so we will reopen the item. Thank you! #please-close

[2022-01-19 18:14] #184 closed

[2022-01-19 18:15] sethmanheim commented on #616
Sorry, this is an old issue. If it's still relevant, please re-open. #please-close

[2022-01-19 18:15] #616 closed

[2022-01-19 18:21] sethmanheim commented on #719
@PatAltimore Not sure if you want to add this to your backlog for the article, so assigning to you. #reassign:@pataltimore

[2022-01-19 19:34] sethmanheim commented on #1817
Thanks for the feedback @CHDAFNI-MSFT. This is the response I got from the engineering team:

"Unless stated otherwise the latest version of Hub should be supported irrespective of which OEM update package is installed if it is still a supported OEM package.  We have historically been maintaining an N-2 support strategy for both of the OEM package and Hub to allow operators to electively defer ins

[2022-01-19 22:22] wagnerock commented on #1749
I had the same issue as the original poster. I was able to initiate provisioning using the new link (https://aka.ms/AzureArcVM) but the the VM provisioning failed.

The logs: https://nerdio1013-my.sharepoint.com/:u:/g/personal/nwagner_getnerdio_com/EccGDNU-f_hJjS1tHI0wGS8BgvbGePMleCr995RpuZMyRA?e=EwVpT6

[2022-01-19 22:25] ksurjan commented on #1749
@wagnerock  - What is the error message with VM provisioning?

[2022-01-19 22:37] wagnerock commented on #1749
The initial error message was that the operation timed out. In activity log the operation claims to have succeeded, and there's a VM resource in the portal, but it says "failed to provision"

<img width="1162" alt="image" src="https://user-images.githubusercontent.com/59660952/150229650-bf0e6af8-2539-4862-b4af-5c79822caae1.png">

[2022-01-19 22:50] ksurjan commented on #1749
Thanks for the sharing the screenshot. Will follow up with an update here. Thanks.

[2022-01-19 23:13] wagnerock commented on #1749
Thanks. I'm creating a new image now, as I think the image file was vhd and not vhdx

[2022-01-20 02:37] CHDAFNI-MSFT commented on #1817
I understand the feedback presented as it relates to what I assume was just for 1st party OEM package.

Are you open to adding a note that reflects the first paragraph response (or similar)

`Unless stated otherwise the latest version of Hub should be supported irrespective of which OEM update package is installed if it is still a supported OEM package. We have historically been maintaining an N-2

[2022-01-20 04:55] CHDAFNI-MSFT commented on #1768
Hello @Karishma-Tiwari-MSFT  and @sethmanheim  - just checking in on this.

[2022-01-20 05:44] CHDAFNI-MSFT opened #1823 "Clarify if AKS supports ADFS & Disconnected ASH Deployments - single tenant environments"
Azure Doc states `To install, you will need to have the VM extensions, the AKS base image, a plan and offer to your users, and **enable multi-tenancy for your Azure Stack Hub**. AKS clusters can only be created in the user environment.`

Disconnected environments and ADFS enabled ASH deployments only support a single tenant.

Please consider clarifying if AKS supports environments that are disconn

[2022-01-20 12:38] vipulsparsh commented on #1823
@CHDAFNI-MSFT Thanks for reaching out. We will investigate and update the thread accordingly.

[2022-01-20 19:13] sethmanheim commented on #783
I have not been able to get any response from the product team on adding this information, and this has been going on for many months. I would suggest you use the product feedback link at the bottom of the article and submit a request that way, or have your customer work with Microsoft Support. Thanks! #please-close

[2022-01-20 21:44] ksurjan commented on #1749
Hello @wagnerock - Did using a vhdx work for you?

[2022-01-21 01:27] mattbriggs commented on #1823
@CHDAFNI-MSFT Thanks for your feedback. The following answer is in the FAQ for AKS on Azure Stack Hub:
https://docs.microsoft.com/en-us/azure-stack/user/aks-known-issues?view=azs-2108#can-i-use-azure-ad-or-ad-fs-integrated-with-my-aks-clusters

Thanks!
Matt

@please-close

[2022-01-21 01:27] #1823 closed

[2022-01-21 16:41] sethmanheim commented on #1768
@CHDAFNI-MSFT I have escalated the question, hoping for a response later.

[2022-01-21 16:42] sethmanheim commented on #1695
#please-close

[2022-01-21 16:42] #1695 closed

[2022-01-21 18:06] sethmanheim commented on #1817
It sounds like the engineering team would prefer to defer such a change until after the next release, and that it should probably go [in this article](https://docs.microsoft.com/en-us/azure-stack/operator/azure-stack-servicing-policy). Thanks again for the feedback! #please-close

[2022-01-21 18:06] #1817 closed

[2022-01-21 18:47] vrajasekaran1 commented on #1791
Hi @TheOnlyWei,

Azure marketplace items can be pushed to the Azure stack hub marketplace on request from the publisher of the product (assuming that type of product is supported on the Hub marketplace).

The process of pushing the product to Hub is manual and requires a pm in the product group to publish the item themselves. Please note that any items pushed to Hub are first whitelisted to the ow

[2022-01-21 19:36] sethmanheim commented on #1791
Thank you @vrajasekaran1! Closing this issue for now. @TheOnlyWei Please follow up with any other questions. #please-close

[2022-01-21 19:36] #1791 closed

[2022-01-24 20:56] sethmanheim commented on #1768
@CHDAFNI-MSFT I got the following response from the development team:

The term “custom IPSec/IKE policy” is being overloaded. In other docs, we use the term to refer to the IKE Main Mode and Quick Mode negotiation parameters (encryption algorithm, Diffie-hellman group, etc…). We support custom IPSec negotiation parameters if the resources are created via Powershell.

The sentence you quoted inclu

[2022-01-24 22:42] sethmanheim commented on #1768
I have added some clarifying text to the section in https://docs.microsoft.com/en-us/azure-stack/user/azure-stack-vpn-gateway-settings?view=azs-2108#vpn-types. Thank you again for the feedback.

[2022-01-24 23:15] wagnerock commented on #1749
Hi @ksurjan. I created a vhdx file, but now I'm having trouble creating the image resource. The command

`az azurestackhci galleryimage create`

Fails with this error:

`Deployment failed. Correlation ID: 1bb66607-4e0e-4eab-bfc5-d66182e14701. rpc error: code = NotFound desc = Type[GalleryImage], Location[MocLocation], Name[win10-21h2-evd]: Not Found`

The Azure activity logs eventually indicated t

[2022-01-24 23:49] ksurjan commented on #1749
Thank you. I will follow up shortly.
Can you also run the command that is failing with -v and provide the output.

[2022-01-25 00:00] wagnerock commented on #1749
@ksurjan Not much info there:
<img width="974" alt="image" src="https://user-images.githubusercontent.com/59660952/150885360-9f2d44a1-bce8-4de6-8776-303fb9b68268.png">

[2022-01-25 10:46] AmoorG opened #1829 "Missprint in command"
I think some commands needs to be modified as it was mentioned incorrectly
- in Section 5.1 , the 3rd PowerShell command it supposed to be Get-ClusterFaultDomain -CimSession "ClusterS1" not New-ClusterFaultDomain -CimSession "ClusterS1".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df3012c4-22e5-004d-da6f-60744f2cfb4

[2022-01-25 11:07] PriyankaRudramaina commented on #1829
Hello @AmoorG,

Thank you for bringing this to our attention. Your feedback is being reviewed, we shall take an appropriate action towards the correction required in the document [https://docs.microsoft.com/en-us/azure-stack/hci/deploy/create-cluster-powershell](url)

[2022-01-25 12:17] PriyankaRudramaina commented on #1829
Hello @AmoorG,

I have made the necessary changes in the document and the changes are being reflected now. Please check and get back in case of any further queries.

[2022-01-25 12:17] #1829 closed

[2022-01-25 16:09] sethmanheim commented on #1768
#please-close

[2022-01-25 16:09] #1768 closed

[2022-01-25 19:11] jdrowne commented on #1810
@VikasPullagura-MSFT we are running into this same exact issue and cannot move forward with the import. Can you please keep this ticket open? This is blocking us.

[2022-01-25 19:15] sethmanheim commented on #1810
@VikasPullagura-MSFT Please re-open this issue and I will escalate with the PM team. #please-open

[2022-01-25 19:18] jdrowne commented on #1810
@VikasPullagura-MSFT @sethmanheim confirmed the proposed solution by @jamesorlando works.

Here's the actual process:

1. Copy the name of the folder. Say, microsoft.dsc-arm-2.77.0
2. Create a folder named that way.
3. Move the downloaded folder to that folder. Now you have C:\microsoft.dsc-arm-2.77.0\microsoft.dsc-arm-2.77.0\original-sub-folders-are-here and C:\microsoft.dsc-arm-2.77.0\microsoft.

[2022-01-25 19:22] sethmanheim commented on #1810
OK thank you @jdrowne. Are you saying you're no longer blocked? Maybe we just need to update the documentation, no escalation necessary.

[2022-01-25 19:26] AmoorG commented on #1829
Thank you .. fixed 😊

Best Regards,
Omar Ghazal

From: Priyanka_Rudramaina-MSFT ***@***.***>
Sent: Tuesday, January 25, 2022 3:18 PM
To: MicrosoftDocs/azure-stack-docs ***@***.***>
Cc: Omar Ghazal ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-stack-docs] Missprint in command (Issue #1829)

Hello @AmoorG<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub

[2022-01-25 19:45] jdrowne commented on #1810
@sethmanheim correct, no longer blocked.

[2022-01-26 00:05] sethmanheim commented on #1333
#please-close

[2022-01-26 00:06] #1333 closed

[2022-01-26 00:15] sethmanheim commented on #1821
@kongou-ae Sorry for the delay -- I finally got confirmation that the correct command should be `Add-AzStackHCIVMAttestation -AddAll`. I will update the article, thank you again for the report. #please-close

[2022-01-26 00:15] #1821 closed

[2022-01-26 00:40] nairsrijith opened #1832 "Correction in the path mentioned under validation"
Under the section "Validate the ACR certificate" path mentioned in step 1 and 2 should not have leading \
`\$ENV:USERPROFILE\Documents\AzureStack` should instead be `$ENV:USERPROFILE\Documents\AzureStack`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d79b488c-7ac2-a18e-014f-cf57f1139f36
* Version Independent ID: 91409

[2022-01-26 01:09] kobulloc-MSFT commented on #1832
@nairsrijith Thank you for bringing this to our attention!  We'll review the documentation and get back to you shortly.

[2022-01-26 22:42] wagnerock commented on #1749
@ksurjan I was eventually able to create an image. One issue was that I didn't realize the image-path value needed double \\ in the path. Another issue was that the disks were low on space. I now have an image, but creating the vm in the portal failed:

<img width="666" alt="image" src="https://user-images.githubusercontent.com/59660952/151259457-b4d0fd9d-37e3-4d16-a3d3-07d97a719263.png">
<img wid

[2022-01-26 22:47] wagnerock commented on #1749
Looks like that one was because I hadn't specified a resource group. It let me submit the deployment without one, but then failed. New deployment is in progress now

[2022-01-27 00:08] mattbriggs commented on #1832
@kobulloc-MSFT Thanks! #in-progress

[2022-01-27 00:14] mattbriggs commented on #1832
PR committed.

#please-close

[2022-01-27 00:14] #1832 closed

[2022-01-27 05:09] VikasPullagura-MSFT commented on #1810
@jdrowne Thanks for confirming that this is resolved.

[2022-01-27 18:46] abhilashaagarwala commented on #1204
Here's the docs - https://docs.microsoft.com/en-us/azure-stack/aks-hci/container-storage-interface-disks
You can navigate to it from How-To -> Manage Storage

#pleaseclose

[2022-01-27 18:46] mattbriggs commented on #1204
#please-close

[2022-01-27 18:48] abhilashaagarwala commented on #1300
Can you please create a github product issue (instead of doc issue) if you're still facing this issue? link to github issue - https://github.com/Azure/aks-hci/issues

[2022-01-27 18:48] ksurjan commented on #1749
@wagnerock  can you elaborate on the double \  problem.
We use single \ and that seems to work correctly. Can you provide the path so we can take a look? Thanks.

[2022-01-27 18:49] abhilashaagarwala commented on #1363
We dont need to pass deployment type anymore because this is now automatically detected.

[2022-01-27 18:49] mattbriggs commented on #1363
#please-close

[2022-01-27 18:49] #1363 closed

[2022-01-27 18:50] mattbriggs commented on #1369
#in-progress

[2022-01-27 18:51] mattbriggs commented on #1455
@dmc-tech Thanks!

#in-progress

[2022-01-27 18:52] mattbriggs commented on #1545
#in-progress

[2022-01-27 18:54] abhilashaagarwala commented on #1581
@cenkersoy  - Are you still facing this issue? If not, can we close it?

[2022-01-27 18:55] mattbriggs commented on #1678
@zYakaEagle442 Thanks!

#in-progress

[2022-01-27 18:57] mattbriggs commented on #1725
#in-progress

[2022-01-27 19:14] sethmanheim commented on #1810
@jdrowne I incorporated your clarifying steps and the updates should be live today after 3 PM PST. Thank you again for the feedback! #please-close

@jamesorlando

[2022-01-27 19:14] #1810 closed

[2022-01-28 09:45] eszych opened #1836 "Wrong PS Command-Line"
[Enter feedback here]
Line should read
((Get-NetIPConfiguration).DNSServer | ?{ $_.AddressFamily -ne 23}).ServerAddresses

Missing "(" and ")"!!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c2058b8-318d-da2b-6dc7-04d4b3dffc9e
* Version Independent ID: 0e997ca9-22fa-19c3-a5d3-71fe840843fc
* Content: [Troubleshoot kn

[2022-01-28 12:30] shashishailaj commented on #1836
@eszych Thank you for your inputs . We will investigate and update the thread.

[2022-01-28 18:38] mkostersitz commented on #1752
Yes looks like this got missed in the latest update cycle we should update it to reflect what we say elsewhere that it is 8 physical nodes and 8 target clusters with 200 VMs. @abhilashaagarwala  is working on new wording I believe

[2022-01-29 00:34] mattbriggs commented on #1836
@eszych Great! Thanks for your feedback.

Updated. Will be in the next build.

#please-close

[2022-01-29 00:34] #1836 closed

[2022-01-31 21:49] cybersmithio opened #1840 "Update the section on creating an identity"
The command in the section Create an identity on Azure for retrieving the client ID will not work.

The example given is: az ad sp show --id http://secrets-store-test --query 'appId' -otsv

According to https://docs.microsoft.com/en-us/cli/azure/ad/sp?view=azure-cli-latest#az-ad-sp-show the value of --id would not work in this instance.   "az ad sp list" might be an option to get the client  ID

-

[2022-01-31 22:15] mattbriggs commented on #1840
@cybersmithio Thanks for your feedback. We will update shortly.

#in-progress

[2022-02-01 01:11] cybersmithio opened #1842 "Incorrect command system for kubectl exec"
In the section "Validate the Secrets Store deployment" it shows the incorrect command:
kubectl exec busybox-secrets-store-inline -- ls /mnt/secrets-store/ --namespace kube-system

After the double hyphen everything must be part of the command to execute in the pod, so the "--namespace kube-system" needs to be before that.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-02-01 01:38] carlosmayol opened #1843 "Please update production limits as new max # nodes"
Please update production limits as new max # nodes, info here is outdated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 425ddc25-2a4b-c529-9d8c-b9e6975cfd1c
* Version Independent ID: 818658d6-3f73-7a88-93af-81018f971676
* Content: [Azure Kubernetes Service on Azure Stack HCI requirements - AKS-HCI](https://docs.micro

[2022-02-01 03:31] VikasPullagura-MSFT commented on #1843
@carlosmayol
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-02-01 03:31] VikasPullagura-MSFT commented on #1843
@mattbriggs
Can you please check and add your comments on this doc update request as applicable.

[2022-02-01 03:35] VikasPullagura-MSFT commented on #1840
@cybersmithio
Thanks for the feedback!
As @mattbriggs the document update is in-progress.

[2022-02-01 08:01] VikasPullagura-MSFT commented on #1842
@cybersmithio Thanks for the Feedback. We will check and update the document accordingly.

[2022-02-01 08:02] VikasPullagura-MSFT commented on #1842
@mattbriggs Can you please check and add your comments on this doc update request as applicable.

[2022-02-01 14:07] amkarmak opened #1844 "Backup fails with error as mentioned."
I have configured the backup. But it fails with below messages.. Any suggestion will be a great help.

time="2022-02-01T07:42:10Z" level=error msg="Error getting backup store for this location" backupLocation=default controller=backup-sync error="rpc error: code = Unknown desc = unable to get all required config values: the following keys do not have values: resourceGroup" error.file="/go/src/vele

[2022-02-01 15:44] kobulloc-MSFT commented on #1844
@amkarmak Thank you for your feedback!  We are reviewing this and will get back to you shortly.

[2022-02-01 19:41] mattbriggs commented on #1842
@cybersmithio Thanks for your comment. Updated.

#please-close

[2022-02-01 19:41] #1842 closed

[2022-02-01 20:17] #1455 closed

[2022-02-01 20:22] mattbriggs commented on #1725
Updated.

#please-close

[2022-02-01 20:22] #1725 closed

[2022-02-01 20:33] mattbriggs commented on #1844
@amkarmak Thanks!

#in-progress

[2022-02-02 00:09] ecaha opened #1848 "D-series missing even in pages for older stamp"
Some update of the page removed the table for older D-series VMs. It was there (D1-D6) and now it is missing even for older AzS Hub versions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab1df1a4-dba7-3a66-dce4-88028f9b663d
* Version Independent ID: 3f33cd0e-cb7f-87e8-f201-872148031f4d
* Content: [VM sizes supported

[2022-02-02 00:34] ecaha commented on #1848
Found commit mattbriggs@6cd86e61a6ceea6e7982ce1225160a30bae39b23, which removed a bunch of VM sizes even for old stacks versions. Is there a particular reason? We still reference these sizes at: [azure-stack/user/azure-stack-vm-considerations.md](https://github.com/MicrosoftDocs/azure-stack-docs/blob/main/azure-stack/user/azure-stack-vm-considerations.md)

[2022-02-02 03:53] PriyankaRudramaina commented on #1848
Hello @ecaha,

Thanks for the feedback. We will review the content and take appropriate action.

[2022-02-02 19:57] PriyankaRudramaina commented on #1848
@ecaha

I am reviewing this internally, will update here once i have more details.

[2022-02-02 21:44] mattbriggs commented on #1848
@ecaha @BryanLa  I was working with Neil Bird and Thomas Reottinger. However, there was some confusion at the time in Neil's PR. It is possible they approved of the update not aware the content was removed. The source for which sizes are available should be a stamp of those older versions. Sorry for confusion, and thank you for raising this issue.

[2022-02-03 21:59] PriyankaRudramaina commented on #1848
Hi @ecaha @mattbriggs,

I am assiging this to content author @BryanLa, please help to get this document corrected

[2022-02-04 23:28] mattbriggs commented on #1369
Updated:
https://docs.microsoft.com/en-us/azure-stack/aks-hci/system-requirements#review-maximum-supported-hardware-specifications

Additional information:
https://docs.microsoft.com/en-us/azure-stack/aks-hci/concepts-support

Thanks again for this feedback.

#please-close

[2022-02-04 23:28] #1369 closed

[2022-02-04 23:29] mattbriggs commented on #1752
Thanks for your feedback.
Updated.

https://docs.microsoft.com/en-us/azure-stack/aks-hci/concepts-support

#please-close

[2022-02-04 23:29] #1752 closed

[2022-02-04 23:32] mattbriggs commented on #1843
@carlosmayol Thanks! Content has been reviewed and updated.

https://docs.microsoft.com/en-us/azure-stack/aks-hci/system-requirements#review-maximum-supported-hardware-specifications
https://docs.microsoft.com/en-us/azure-stack/aks-hci/concepts-support

Thanks for your note!

#please-close

[2022-02-04 23:32] #1843 closed

[2022-02-05 00:09] mkostersitz commented on #1752
Thanks for pushing this out quickly.

Mike
________________________________
From: Matt Briggs ***@***.***>
Sent: Friday, February 4, 2022 15:30
To: MicrosoftDocs/azure-stack-docs ***@***.***>
Cc: Mike Kostersitz ***@***.***>; Comment ***@***.***>
Subject: Re: [MicrosoftDocs/azure-stack-docs] Please review Maximum supported specifications (Issue #1752)

Thanks for your feedback.
Updated.

https://d

[2022-02-05 14:08] ryanewillis opened #1857 "Azure Container Registry missing networking info?"
ACR created on Azure Stack Hub per instructions, login server is FQDN, does not seem to fully bake all DNS needed? Is there additional doc to figure out what is missing?

azureuser@K8Test1:~$ docker login http://test01.azsacr.ourdomain/v2/
Username: test01
Password: xxxxxx
Error response from daemon: Get "http://test01.azsacr.ourdomain/v2/": dial tcp: lookup [test01.azsacr.engctc.ourdomain.com](ht

[2022-02-06 00:30] MartinJaffer-MSFT commented on #1857
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2022-02-07 07:14] VikasPullagura-MSFT commented on #1857
@mattbriggs Can you please check and help on this query.

[2022-02-07 20:28] mattbriggs commented on #1857
@ryanewillis According to the team, there are no additional steps needed to set up DNS. ACR installation should take care of all DNS setup.

You may want to double-check that you didn't mistype the login server. You can use the command below to get the exact name of the login server with Azure CLI. And make a GET request using curl:

[code]

If you get a 401 error then DNS is working fine, and you

[2022-02-07 20:34] chappleg commented on #1857
I think the formatting got messed up on that curl command. It should be this:

[code]

[2022-02-07 20:37] mattbriggs commented on #1857
@chappleg Thanks.

[2022-02-07 20:44] ryanewillis commented on #1857
ACR login server name is correct, I am operator of the stack as well, I will contact support. thanks!

[2022-02-07 20:53] #1857 closed

[2022-02-08 02:52] amkarmak commented on #1844
Hello everyone, is there any update on this please?

[2022-02-08 03:03] CHDAFNI-MSFT opened #1862 "User to request VM console access - Add 'Az' command section"
Section 'User to request VM console access' only reflects the AzureRM module. Please consider including the Az module which is already reflected earlier in the document under 'Operator enables a user subscription for EVA'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 221ace5c-e2df-f784-d570-a39563c13a8d
* Version Inde

[2022-02-08 03:18] PriyankaRudramaina commented on #1862
Hello @CHDAFNI-MSFT,

Thank you for bringing this to our attention. Your feedback is under review, we shall update the document shortly.

[2022-02-08 17:29] abhilashaagarwala commented on #1844
Hey @amkarmak - the best place to post this error and get the dev team's attention asap is https://github.com/Azure/aks-hci/issues.

[2022-02-09 00:04] mattbriggs commented on #1840
Updated.

#please-close

[2022-02-09 00:04] #1840 closed

[2022-02-09 08:05] eszych opened #1864 "Proxy-Address should be a string"
[Enter feedback here]

In the description of the command a <String> is expected for the parameters
New-AksHciProxySetting -name <String>
                       -http <String>
                       -https <String>
                       -noProxy <String>
But in the examples the parameters for "http", "https" and "noproxy" are not in a string format:
$proxySetting=New-AksHciProxySetting -name "corp

[2022-02-09 09:26] PriyankaRudramaina commented on #1862
Hello @CHDAFNI-MSFT,

I have updated the document with az cmdlet "Invoke-AzResourceAction" at [https://review.docs.microsoft.com/en-us/azure-stack/user/emergency-vm-access?view=azs-1802&branch=pr-en-us-9370&tabs=azurerm1#user-to-request-vm-console-access](url)
![image](https://user-images.githubusercontent.com/95755055/153165252-e03d46d3-e655-41ad-89b5-6d2e47380a5f.png)

[2022-02-09 09:26] #1862 closed

[2022-02-09 10:28] VikasPullagura-MSFT commented on #1864
@eszych
Thanks for the feedback! We will check and update the document accordingly.

[2022-02-09 10:29] VikasPullagura-MSFT commented on #1864
@mattbriggs
Can you please check and add your comments on this doc update request as applicable.

[2022-02-09 19:00] mattbriggs commented on #1864
@eszych Thanks for this detailed note. I will check and update.

#in-progress

[2022-02-09 21:06] mattbriggs commented on #1864
updated.

#please-close

[2022-02-09 21:06] #1864 closed

[2022-02-10 17:28] alexsmithMSFT opened #1870 "Code block markdown typo under "To send diagnostic logs for Event Hubs:" section."
There's a code block markdown syntax issue under "To send diagnostic logs for Event Hubs:" section, which looks like:

[code]
Probably need to close the code block, and make sure the preceding text isn't included.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29690f5d-25bc-84d2-6b9c-8e5d83f0162b
* Version Independent

[2022-02-10 18:50] abhilashaagarwala commented on #1300
Closing this issue because we've released multiple product updates and this shouldnt be an issue any longer. Please open a fresh issue if this persists in the Jan 2022 AKS-HCI build.
Release notes for AKS-HCI Jan 2022 build: https://github.com/Azure/aks-hci/releases/tag/AKS-HCI-2201

[2022-02-10 18:51] abhilashaagarwala commented on #1300
#please-close

[2022-02-10 18:51] abhilashaagarwala commented on #1466
Closing this issue because we've released multiple product updates and this shouldnt be an issue any longer. Please open a fresh issue if this persists in the Jan 2022 AKS-HCI build.
Release notes for AKS-HCI Jan 2022 build: https://github.com/Azure/aks-hci/releases/tag/AKS-HCI-2201

[2022-02-10 18:51] #1466 closed

[2022-02-10 18:53] abhilashaagarwala commented on #1545
Fixed. Doc update at - https://docs.microsoft.com/en-us/azure-stack/aks-hci/set-proxy-settings#exclude-specific-hosts-or-domains-from-using-the-proxy-server

[2022-02-10 18:53] abhilashaagarwala commented on #1545
#please-close

[2022-02-10 18:55] abhilashaagarwala commented on #1581
#please-close

[2022-02-10 18:55] #1581 closed

[2022-02-10 19:01] kobulloc-MSFT commented on #1870
@alexsmithMSFT Thank you for bringing this to our attention!  I'll get a PR out to address this.

[2022-02-10 20:26] mattbriggs commented on #1678
Updated.

#please-close

[2022-02-10 20:26] #1678 closed

[2022-02-10 20:27] mattbriggs commented on #1788
Updated

#please-close

[2022-02-10 20:27] #1788 closed

[2022-02-11 17:04] giamae opened #1873 "Script error Powershell line break doesn't work"
[Enter feedback here]
The following code below doesn't work presumably because of the line break (characters ` ).
After I joined in a single line, it worked proprerly

. $tempDir\UpdateSQLProvider.ps1 -AzCredential $AdminCreds `
 -VMLocalCredential $vmLocalAdminCreds `
 -CloudAdminCredential $cloudAdminCreds `
 -PrivilegedEndpoint $privilegedEndpoint `
 -AzureEnvironment $AzureEnvironment `
 -Defa

[2022-02-11 17:56] kobulloc-MSFT commented on #1870
Code block in question:

![image](https://user-images.githubusercontent.com/37556655/153643906-aa59cab8-8401-431b-8170-7fc25c07a4dd.png)

[2022-02-11 18:59] kobulloc-MSFT commented on #1873
@giamae What error are you seeing?  The line break characters appear to be working for me:

![image](https://user-images.githubusercontent.com/37556655/153652825-89d72a82-c836-4767-9b8a-5ecc432b0035.png)

Are you using a Unix version of PowerShell?  What happens if you replace ` with \?

[2022-02-15 21:45] eponerine opened #1875 "Fast, offline update references SERVICES.MSC despite that not being a thing in Azure Stack HCI / Core"
This does not make sense for ASHCI management. Docs should be updated with references to Powershell (half the doc is already doing this; unsure why the flip-flop between GUI and Powershell)?

![image](https://user-images.githubusercontent.com/503974/154154545-c98f1b3a-d9b0-4ca9-81b0-845b9488e564.png)

URL:
https://docs.microsoft.com/en-us/azure-stack/hci/manage/update-cluster#perform-a-fast-offlin

[2022-02-15 23:13] kobulloc-MSFT commented on #1875
@eponerine Thank you for your feedback!  We've assigned this to the document author for further review.

[2022-02-16 07:47] #1870 closed

[2022-02-16 11:12] mhocso opened #1876 "Instructions for creating parentdisk for AzureACI seems to be incorrect."
The step for creating the ACI parent disk does not work or is described incorrectly.

Download the [Convert-WindowsImage.ps1 function](https://raw.githubusercontent.com/microsoft/MSLab/master/Tools/Convert-WindowsImage.ps1) to the C:\Lab\wslab_xxx\ParentDisks folder as CreateParentDisk.ps1. Then run CreateParentDisk.ps1 as administrator. Choose the Azure Stack HCI ISO from C:\Labs\Isos, and accept

[2022-02-16 17:17] VikasPullagura-MSFT commented on #1876
@mhocso
Thanks for the feedback! We are currently investigating and will get back on this.

[2022-02-16 17:17] VikasPullagura-MSFT commented on #1876
@JasonGerend
Can you please check and add your comments on this issue as applicable.

[2022-02-17 09:23] Jayes90 opened #1879 "Minor adjustments"
Swap line 120 and 136
AzureRM and Az commands wrongly placed.

Remove extra space at end of line 139 and 140, if not the chunk of commands will break during copy/paste.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 221ace5c-e2df-f784-d570-a39563c13a8d
* Version Independent ID: 38a14acb-21f5-5378-6ece-50e89e437025
* Co

[2022-02-17 16:03] sethmanheim commented on #1879
@Jayes90 Thank you for catching that -- I've submitted a PR to fix this, should be live after 10 AM PST. #please-close

[2022-02-17 16:04] #1879 closed

[2022-02-17 18:29] mattbriggs commented on #1553
Updated.

#please-close

[2022-02-17 18:29] #1553 closed

[2022-02-21 05:16] amkarmak commented on #1844
Hello everyone, is there any update on this please? As requested, I also posted the error on  https://github.com/Azure/aks-hci/issues.

Waiting for a fix or work around as my customer needs to take the backup of the AKS cluster.

[2022-02-22 11:45] PriyankaRudramaina commented on #1876
Hello @JasonGerend,

Could you please review this thread and add your comments.

[2022-02-23 11:26] VikasPullagura-MSFT commented on #1876
@mhocso
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-02-23 11:27] VikasPullagura-MSFT commented on #1876
@JasonGerend
Can you please check and add your comments on this doc update request as applicable.

[2022-02-23 14:09] carlosmayol opened #1880 "Update Windows server version in the page"
can we please update this page with the latest validated windows server version (2022)

thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 425ddc25-2a4b-c529-9d8c-b9e6975cfd1c
* Version Independent ID: 818658d6-3f73-7a88-93af-81018f971676
* Content: [Azure Kubernetes Service on Azure Stack HCI requirements - AKS-HCI

[2022-02-23 21:19] mattbriggs commented on #1880
#in-progress

[2022-02-24 22:05] PatAltimore commented on #1622
#reassign @sethmanheim

[2022-02-24 22:06] PatAltimore commented on #719
#reassign @BryanLa

[2022-02-25 17:28] IvanNaumeiko opened #1884 "Would it be possible to provide any update about this topic?"
Hello,

Would it be possible to provide any update here?
This issue in service is a real blocker for my company.
Many thanks.

Ivan.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b51ac2d-86d8-1c65-3fb9-c2e00b465d23
* Version Independent ID: 0fa7135a-e7da-a9b4-d238-0e49a4c18a68
* Content: [Set u

[2022-02-25 18:23] kobulloc-MSFT commented on #1884
@IvanNaumeiko Thank you for your feedback!  We're assigning this to the document author for further review.

@mattbriggs I believe the introduction is what is being referenced:

[2022-02-25 18:45] mattbriggs commented on #1884
@IvanNaumeiko Thanks for your question. I have forward to your technical staff. In the meantime, you may find the the roadmap for the AKS on HCI here: [AKS on Azure Stack HCI roadmap](https://aka.ms/aks-hci-roadmap/).

#in-progress

[2022-02-28 22:52] mkostersitz commented on #1844
Hello @amkarmak from the issue over in the aks-hci forum it looks like you followed the wrong documentation to enable Velero in your AKS-HCI cluster the document to follow is (here)[https://docs.microsoft.com/en-us/azure-stack/aks-hci/backup-workload-cluster]

[2022-03-01 00:05] #1729 closed

[2022-03-02 07:16] AmoorG opened #1887 "SCVMM Supportability for Azure Stack HCI"
[Enter feedback here]

its mentioned in this article as a note that :
You can't use Microsoft System Center VMM 2019 to manage clusters running Azure Stack HCI, version 21H2 or Windows Server 2022.
while on other articles supportability is there:
https://techcommunity.microsoft.com/t5/system-center-blog/get-started-with-azure-stack-hci-using-vmm/ba-p/2244302
https://docs.microsoft.com/en-us/system

[2022-03-02 07:23] VikasPullagura-MSFT commented on #1887
@AmoorG
Thanks for the feedback! We will check and update the document as appropriate.

[2022-03-02 16:52] mwdarab opened #1889 "Error when running asdk-installer.ps1"
Under this [section](https://docs.microsoft.com/en-us/azure-stack/asdk/asdk-prepare-host?view=azs-2108#prepare-the-development-kit-host-computer):

I do #1-3, and when I run the ps script for #4 (C:\AzureStack_Installer\asdk-installer.ps1) I get this error:

"**_Initialize environment. Please wait..The server is currently already booted from a virtual hard disk, to boot the server from the CloudBu

[2022-03-03 01:12] kobulloc-MSFT commented on #1889
@mwdarab Thank you for your feedback!  We've assigned this to the document author for further review.

[2022-03-03 01:23] sethmanheim commented on #1889
@mwdarab @kobulloc-MSFT Not clear what the documentation issue is here -- can you please clarify?

[2022-03-03 08:49] Jayes90 opened #1891 "Parameter storing method for azure-stack-docs/azure-stack/user/emergency-vm-access.md"
Method for storing parameter at line 35-38 using Read-Host method somehow will cause the command later on not to read and apply changes to the subscription properly. After logging case with Microsoft, storing the parameters using the usual $variable = "<value>" resolves the issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2022-03-03 14:10] MonikaReddy-MSFT commented on #1891
@Jayes90 - Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2022-03-03 14:56] Jayes90 commented on #1891
Hi, I'm not posting a question :) I followed the document but the steps are not working.
https://docs.microsoft.com/en-us/azure-stack/user/emergency-vm-access?view=azs-2108&tabs=azurerm1
Microsoft engineer tested in lab and confirmed that using Read-Host method to get parameters from user will cause the command not to work. So I am suggesting to modify the document to use $subid = "xxx" instead.

[2022-03-03 16:16] hfu949 opened #1892 "Command for Installing Hyper-V"
Hi, suggestion.

You should let people know to use the Enable-WindowsOptionalFeatures on the link below instead of the usual Install-WindowsFeature command as that seems to error out with "A prerequisite check for the Hyper-V feature failed." "Hyper-V cannot be installed because virtualization support is not enabled in the BIOS." It works with Enable-WindowsOptionalFeature.

https://docs.microsoft

[2022-03-03 17:25] MonikaReddy-MSFT commented on #1891
@Jayes90 - Thank you for providing the link to the document that needs to be updated.
I'm going to assign this to the document author so they can update the document accordingly.

[2022-03-03 18:10] sethmanheim commented on #1891
@Jayes90 Can you please specify what changes to the code you are proposing? Thanks for the feedback!

[2022-03-03 22:13] mattbriggs commented on #1844
#please-close

[2022-03-04 04:01] Jayes90 commented on #1891
For line 35-38, and line 62-65, remove Read-Host.

[2022-03-04 04:38] MonikaReddy-MSFT commented on #1892
@hfu949  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can review and update the document accordingly.

[2022-03-04 04:56] kobulloc-MSFT commented on #1889
@mwdarab It looks like you are looking for some troubleshooting assistance.  For help with a deployment, please check out Microsoft Q&A:
https://docs.microsoft.com/en-us/answers/topics/50514/azure-stack-hub.html

[2022-03-04 23:14] ManikaDhiman commented on #1887
Hi @AmoorG, thanks for your feedback. You can use VMM 2019 to manage clusters running Azure Stack HCI, version 20H2, but not version 21H2. So, the note is correct. However, you can use VMM 2022, which is currently in preview, to manage clusters running Azure Stack HCI, version 21H2. I updated the note to state that and added a link to the blog; updates will be live shortly. Thanks!

[2022-03-04 23:14] ManikaDhiman commented on #1887
#please-close

[2022-03-04 23:15] #1887 closed

[2022-03-07 01:27] kobulloc-MSFT commented on #1889
@mwdarab Unless there's a change we can make to the documentation, we are going to close this thread as resolved.  If there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-03-07 01:27] #1889 closed

[2022-03-07 14:08] IvanNaumeiko opened #1896 "Please update the page"
Hello,

Would it be possible to review content of this page and update it?
AFAIK at least docker command should be replaced with crictl in all applicable sections.
Thanks,

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42fa409d-1f42-4f1e-840b-d281dd17f3ee
* Version Independent ID: c9682e4a-02e6-9

[2022-03-07 15:40] kobulloc-MSFT commented on #1896
@IvanNaumeiko Thank you for your feedback!  We are reviewing the documentation and will get back to you shortly.

[2022-03-07 17:31] mattbriggs commented on #1896
@IvanNaumeiko Thanks for your feedback.

#in-progress

[2022-03-08 19:38] aluty opened #1898 "VNET peering Permissions: Contributor or Network Contributor?"
Please clarify VNET peering Permissions: Azure Stack Hub requires **Contributor** (superset)?  However, https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-manage-peering#permissions for Azure requires **Network Contributor** (least privilege).

--
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b74cfae8-2

[2022-03-08 19:41] VikasPullagura-MSFT commented on #1898
@aluty
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-03-08 19:41] VikasPullagura-MSFT commented on #1898
@sethmanheim
Can you please check and add your comments on this doc update request as applicable.

[2022-03-08 19:53] sethmanheim commented on #1898
@aluty It sounds like the manage peering article just describes the different types of contributor roles, so I would add a link from the peering article back to that section of the manage peering article. I don't see anything mentioning "least privilege".

[2022-03-09 15:52] raluca256 commented on #1898
@sethmanheim I was checking this out with @CristianEdwards today. @aluty is right, the minimum permission needed is "Network Contributor" role on the VNET, not even the subscription. I think we usually recommend the minimum permissions needed to set something up. The Contributor role gives too many permissions vs what is needed.
Even more that phrase has to be changed also to exclude the "Azure AD

[2022-03-09 21:38] sethmanheim commented on #1898
I have made these updates and it should be live after 3 PM today PST. #please-close

[2022-03-09 21:38] #1898 closed

[2022-03-10 00:39] mattbriggs commented on #1896
@IvanNaumeiko We are evaluating the change and the plan to handle the shift from the Docker runtime. We will update the docs when the change has been checked. Thanks again!

#please-close

[2022-03-10 00:39] #1896 closed

[2022-03-10 05:46] jamesorlando opened #1899 "Managed User Identitites"
This page covers Managed System Identities and Azure Stack (not supported), but makes no mention of Managed User Identities. I did some testing and it does appear Managed User Identities are supported in Stack, but it would be super helpful to have that spelled out in this doc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-03-10 06:57] VikasPullagura-MSFT commented on #1899
@jamesorlando
Thanks for the feedback! I will check with document author on this.

[2022-03-10 06:57] VikasPullagura-MSFT commented on #1899
@BryanLa
Can you please check and add your comments on this doc update request as applicable.

[2022-03-10 17:54] mattbriggs commented on #1880
Updated. Thanks!
https://docs.microsoft.com/en-us/azure-stack/aks-hci/system-requirements?tabs=allow-table

#please-close

[2022-03-10 17:54] #1880 closed

[2022-03-11 19:32] #1884 closed

[2022-03-15 13:40] alexsmithMSFT opened #1903 "Steps to prepare the client VM does not list required software packages"
The client VM for aks-engine created under #prepare-the-client-vm has some additional software prereqs that are not mentioned here-

* Linux requirements- https://github.com/Azure/aks-engine/blob/master/docs/topics/windows.md#linux
Specifically "jq - helpful JSON processor" which is required but not available by default on all distros, can be installed using package manager, e.g. "sudo apt install

[2022-03-15 15:21] HassanAlmanasrah opened #1904 "Logical Networks || Public VIP description"
The description below in the table is confusing,  It might be better to be stated as

Azure Stack uses a total of 31 addresses from this network and the rest are used by tenant VMs. From the 31 addresses, 8 public IP addresses are used for a small set of Azure Stack services. If you plan to use App Service and the SQL resource providers, 7 more addresses are used. The remaining **16** IPs are rese

[2022-03-15 16:56] PriyankaRudramaina commented on #1903
Hi @alexsmithMSFT,

Thank you for your feedback. We will investigate and update the thread further.

[2022-03-15 16:57] mattbriggs commented on #1903
@alexsmithMSFT Thanks for the update Alex.

#in-progress

[2022-03-15 16:58] PriyankaRudramaina commented on #1904
Hi @HassanAlmanasrah,

Thank you for your feedback. We will investigate and update the thread further.

[2022-03-16 12:38] Mihaly7 opened #1905 "Syntax error in powershell command"
The syntax in the following troubleshooting guide is bad:
https://docs.microsoft.com/en-us/azure-stack/aks-hci/known-issues-installation#moc-agent-log-rotation-is-failing

It says:
 **$(Get-MocConfig).['cloudConfigLocation']\log\logconf**

But it gives an error:
At line:1 char:19
+ $(Get-MocConfig).['cloudConfigLocation']\log\logconf
+                   ~
Missing type name after '['.
At line:1 cha

[2022-03-16 14:34] mattbriggs commented on #1905
@[Mihaly7](https://github.com/Mihaly7) Thanks for catching this!

#in-progress

[2022-03-16 14:40] Mihaly7 opened #1906 "Include az cli install in that document:"
Please include the following, because az cli is not included in the HCI OS by default.:

#install az powershell onprem
$ProgressPreference = 'SilentlyContinue'
Invoke-WebRequest -Uri https://aka.ms/installazurecliwindows -OutFile .\AzureCLI.msi
Start-Process msiexec.exe -Wait -ArgumentList '/I AzureCLI.msi /quiet'
rm .\AzureCLI.msi

Set environment path also for az cli commands:

$env:Path += "C:\

[2022-03-16 16:42] mattbriggs commented on #1905
Content update in progress. Will be in the next build. Thanks!

#please-close

[2022-03-16 18:32] VikasPullagura-MSFT commented on #1905
@mattbriggs Thanks for fixing the doc.

[2022-03-16 18:33] VikasPullagura-MSFT commented on #1906
@Mihaly7
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-03-16 18:33] VikasPullagura-MSFT commented on #1906
@ksurjan
Can you please check and add your comments on this doc update request as applicable.

[2022-03-16 21:06] OEI-Cgray opened #1907 "Docker command not found"
Doesn't this use containerd now?

ssh -i (Get-AksHciConfig).Moc.sshPrivateKey clouduser@clusterip "sudo docker container ls | grep 'kms'"
sudo: docker: command not found

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42fa409d-1f42-4f1e-840b-d281dd17f3ee
* Version Independent ID: c9682e4a-02e6-9910-1a44-076a9c6b2d06
* C

[2022-03-17 08:57] CHEEKATLAPRADEEP-MSFT commented on #1907
@OEI-Cgray  Thanks for the question! We are investigating and will update you shortly.

[2022-03-17 17:40] mkostersitz commented on #1907
@EkeleAsonye FYI

[2022-03-18 17:45] BryanLa commented on #1802
Links have been added to the "Manage and Azure AD app" section for additional operations, including how to remove an app registration. These will go live around 3pm Pacific today.

#please-close

[2022-03-18 17:45] #1802 closed

[2022-03-18 18:41] BryanLa commented on #1904
Thanks again, @HassanAlmanasrah . Changes are complete and will publish around 3pm pacific today.

#please-close

[2022-03-18 18:41] #1904 closed

[2022-03-21 21:48] BryanLa commented on #1899
Article has been revised to clarify.

#please-close

[2022-03-21 21:48] #1899 closed

[2022-03-22 12:35] dfencegit opened #1910 "Incorrect cell formula in DefineByWorkload worksheet impacts calculations"
On the DefineByWorkload worksheet the cells used to calculate figures for the Standard_A2_v2 sku are incorrectly copied from the Standard_A1_v2 row.

Effected cells:

F:190
N:190

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0361b690-092e-77c1-fccb-1c2aeba5e259
* Version Independent ID: ac57d31d-4356-2d99-9f1c-976513f

[2022-03-22 12:45] PriyankaRudramaina commented on #1910
Hello @dfencegit,

Thank you for your feedback. We will investigate and update the thread further.

[2022-03-22 14:22] alexsmithMSFT opened #1911 "AKS Base Ubuntu image version number is outdated"
With 2108 updated re-released, this public doc still lists the older base image-
https://docs.microsoft.com/en-us/azure-stack/operator/aks-add-on?view=azs-2108#download-aks-base-image

This should be updated with 2021 Q4 release (microsoft-aks.aksaks-ubuntu-1804-2021-q4-2021.12.08) and any subsequent base image versions, ideally with version information converted to a compatibility table, or speci

[2022-03-22 14:32] mattbriggs commented on #1911
@[alexsmithMSFT](https://github.com/alexsmithMSFT) Thanks for the update.

#in-progress

[2022-03-22 20:05] #1910 closed

[2022-03-22 23:09] mattbriggs commented on #1907
Update:

ssh -i (Get-AksHciConfig).Moc.sshPrivateKey clouduser@clusterip "sudo ctr container ls | grep 'kms'"

[2022-03-22 23:19] OEI-Cgray commented on #1907
Thanks!

Just to also note, the linked github issue on the page did have the commands (although I figured it out with some basic searches for containerd commands, and then found the github link...).

But thanks for updating the page!

Chris

From: Matt Briggs ***@***.***>
Sent: Tuesday, March 22, 2022 4:10 PM
To: MicrosoftDocs/azure-stack-docs ***@***.***>
Cc: Chris Gray ***@***.***>; Mention ***@

[2022-03-24 16:48] mattbriggs commented on #1907
Still working on the doc update to address containerd and the best CLIs to work in the context of AKS on HCI, but this issue specific seems closed for now.

#please-close

[2022-03-24 16:48] #1907 closed

[2022-03-24 22:02] mattbriggs commented on #1911
Passed along the suggestion and updated the topic with the most recent Linux version. Thanks! Matt

#please-close

[2022-03-24 22:02] #1911 closed

[2022-03-24 22:02] mattbriggs commented on #1903
updated.

#please-close

[2022-03-24 22:02] #1903 closed

[2022-03-24 22:04] mattbriggs commented on #1704
Catching up on this. This was updated in Feb. Thanks again.

#please-close

[2022-03-24 22:04] #1704 closed

[2022-03-29 12:04] kongou-ae opened #1914 "Need more clarification about total number of VMs"
Hi,

Does the limitation of the total number of VMs contain infrastructure role VMs? This document doesn't mention this topic. I'm confused that "TotalVMMaximum" which is used in Azure Stack Hub capacity planner is 670, not 700.

Best

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0b6179e-9c7b-4c9e-6c26-c5edfc4bedae
*

[2022-03-29 13:37] SreejaBhattacharya-MSFT commented on #1914
Hi @kongou-ae , thanks for reaching out. We will investigate this further and get back to you.

[2022-03-31 00:27] aricbernard commented on #1523
I would like to see this reopened.  Both WAC and the current SDNExpress automation appear to fail if an Azure Stack HCI OS 21H2 image are used.

[2022-03-31 00:45] aricbernard opened #1915 "Convert-WindowsImage bad link or bogus cmdlet?"
Please test the link for Convert-WindowsImage (https://gallery.technet.microsoft.com/scriptcenter/Convert-WindowsImageps1-0fe23a8f).  Is this a bad link or a non-existent script/cmdlet?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9eeb152f-1c40-2222-c2d4-199371710080
* Version Independent ID: 09741470-9f27-a683-d042-

[2022-03-31 00:49] aricbernard opened #1916 "Syspreping a Azure Stack HCI VHDx"
The content states "You can prepare the VHD using Sysprep".  After syspreping a VHDX containing Azure Stack HCI we receive the following (see screen shot).
![image](https://user-images.githubusercontent.com/15333804/160954264-b0ea1de6-6238-42b4-9355-b9924e8c9c86.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9eeb1

[2022-03-31 03:57] VikasPullagura-MSFT commented on #1915
@aricbernard
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-03-31 03:57] VikasPullagura-MSFT commented on #1915
@JasonGerend
Can you please check and add your comments on this doc update request as applicable.

[2022-03-31 04:51] AnirbanPaul commented on #1523
HI
Can you please tell us where you see the failure? And can you provide the failure details.

Thanks
Anirban

From: aricbernard ***@***.***>
Sent: Wednesday, March 30, 2022 5:28 PM
To: MicrosoftDocs/azure-stack-docs ***@***.***>
Cc: Anirban Paul ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-stack-docs] Which OS should be used for SDN infrastructure VM ? (#1523)

I would lik

[2022-03-31 06:31] SreejaBhattacharya-MSFT commented on #1916
Hi @aricbernard , thanks for reaching out. We will investigate this and update you.

[2022-03-31 06:51] SreejaBhattacharya-MSFT commented on #1914
Hi @kongou-ae , do you have any further questions on this?

[2022-03-31 07:43] kongou-ae commented on #1914
@SreejaBhattacharya-MSFT

Thank you for your reply. I know that the document mentioned the number of infrastructure VMs. My question is whether these VMs are included in 700 per scale unit and 60 per scale unit node. And I suggest that the document needs to clarify whether these VMs are included in these limitations.

Best

[2022-03-31 07:52] xYorickx commented on #1523
Hi Anirban,

Aric is my colleague and we have been working on this together.
We see the same failure in 3 different lab setups.
The screenshot you see is from the network controller VM after it has been created by WAC.

[2022-03-31 15:13] #1915 closed

[2022-03-31 16:03] BryanLa commented on #1914
Hi @kongou-ae - thanks very much for your feedback. I agree that the doc should be a little clearer. And yes, the infrastructure VMs are included in the limits. We'll be updating the doc to reflect this (which is also mentioned in the capacity planner spreadsheet). We'll drop another comment once the doc has been updated..

[2022-03-31 18:05] ronmiab commented on #1914
@kongou-ae - Updates have been made to clarify the VMs capacity and reference to the Azure Stack Hub capacity planner. The article will be published around 3PM/PST.

#please-close

[2022-03-31 18:05] #1914 closed

[2022-03-31 22:58] AnirbanPaul commented on #1523
Thanks for the feedback. I would like to take a look at logs for the deployment. If you are using Windows Admin Center for deploying Network Controller, the logs will be in the Documents folder of the first HCI host. You can send the logs to ***@***.******@***.***>.
NOTE: You should be using an Azure Stack HCI vhdx file for NC deployment on an Azure Stack HCI cluster.

Also, would you be willing t

[2022-03-31 23:03] aricbernard commented on #1523
I think part of the issue may have been the lack of good instructions for creating an Azure Stack HCI VHDX.  We created one and ran sysprep within it.  However that seem to break the VHDX.  The process documented to create the VHDX in the docs was broken (we reported this bad link) . We connected with someone in support that provided additional guidance for the VHDX creation.  We are close to bein

[2022-04-01 01:25] aricbernard commented on #1523
@AnirbanPaul creating the VHDX using Convert-WindowsImage (once I worked through the bad links links in the Docs etc.) did work and allowed me to deploy an NC using the image (with SDNExpress).  However, something is not shaking out properly with the SDN deployment even through SDNExpress says it completed successfully.  Where is the best place to start troubleshooting?  Are there logs?  EventLogs

[2022-04-01 03:40] kongou-ae commented on #1914
@ronmiab
I confirmed this commit. Thank you for your quick improvement.
https://github.com/MicrosoftDocs/azure-stack-docs/commit/aa51435b15a8a944899c2fc99427394f1a17ffd1

[2022-04-01 22:10] AnirbanPaul commented on #1523
Can you provide more details on what is failing? That will given an idea on how to investigate further and what logs to collect. Alternatively, we could discuss over a call as well.

Thanks
Anirban

From: aricbernard ***@***.***>
Sent: Thursday, March 31, 2022 6:25 PM
To: MicrosoftDocs/azure-stack-docs ***@***.***>
Cc: Anirban Paul ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azu

[2022-04-02 00:26] aricbernard commented on #1523
Happy to have a call next week.  I am in GMT-8 but can be somewhat flexible.

My latest attempt to deploy is using WAC (instead of SDNExpress) and it is 'hanging' in the "Network Controller creation" following successfully executing "Virtual machine creation".

[2022-04-04 13:39] aricbernard commented on #1523
BTW - GitHub is blocking the display of all email addresses, so I cannot email you the logs.

[2022-04-04 17:06] AnirbanPaul commented on #1523
Please send mail to sdn_feedback at microsoft.com with the logs. We can figure out a time slot for a call as required.

[2022-04-05 07:03] Deepfat opened #1918 "Disconnected containers"
[Enter feedback here]
There is nothing on this page about how I get a container in ACR to a disconnected Azure Stack Hub running K8s, in my case running on a ship which only comes into port every three to six months.  We are trying to help the customer swap out vmware and move to microservices at sea, however there must be other scenarios where this is needed.

---
#### Document Details

⚠ *Do not

[2022-04-05 07:11] SreejaBhattacharya-MSFT commented on #1918
Hi @Deepfat , thanks for reaching out. We'll review this and update the document as appropriate

[2022-04-05 19:34] Lacosta74 opened #1919 "This document is missing the powershellgallery.com which is required to install the AzureAD module during deployment."
Part of the deployment ls to install the Nuget package provider and the AzureAD module.
Deployment fails when trying to install both of these modules.

This is the first line that is called:
Install-PackageProvider -Name NuGet -verbose
Which connects to: https://onegetcdn.azureedge.net/providers/nuget-2.8.5.208.package.swidtag"
Initially it tries to connect to **https://go.microsoft.com/fwlink/?Li

[2022-04-05 20:28] kobulloc-MSFT commented on #1919
@Lacosta74 Thank you for the feedback!  We are reviewing the deployment instructions and will get back to you shortly.

[2022-04-06 16:45] JohnBMSFT opened #1920 "BMC Credentials to be configured on node before adding"
I recently assisted a customer who reported an issue during node addition which failed with below error when attempted from both portal and PowerShell. Turns out the issue was with invalid BMC credentials configured on the node being added.

_Failed to add node <**BMC IP xx.xx.xx.xx**>. Error message: The BMC IP address '**BMC IP xx.xx.xx.xx**' did not respond to a general query in the expected ti

[2022-04-06 16:51] JohnBMSFT opened #1921 "BMC credentials to be configured on the new node before addition"
I recently assisted a customer who reported an issue during node addition which failed with below error when attempted from both portal and PowerShell. Turns out the issue was with invalid BMC credentials configured on the node being added.

_Failed to add node **'BMC IP xx.xx.xx.xx'**. Error message: The BMC IP address '**BMC IP xx.xx.xx.xx**' did not respond to a general query in the expected ti

[2022-04-06 17:09] JohnBMSFT commented on #1920
Closing this as duplicate entries for the same issue were created due to network issues at my end. Please refer the below request to update the change.

https://github.com/MicrosoftDocs/azure-stack-docs/issues/1921

[2022-04-06 17:09] #1920 closed

[2022-04-06 23:36] KranthiPakala-MSFT commented on #1921
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-04-13 01:41] ManikaDhiman commented on #1916
This issue is the duplicate of issue #1523, which is already resolved. Thanks!
#please-close

[2022-04-13 06:50] #1916 closed

[2022-04-15 15:08] pgoyal01 opened #1925 "Language Issue -- possibly a Typo"
In the section Update the container operating system version without updating the Kubernetes version (https://docs.microsoft.com/en-us/azure-stack/aks-hci/upgrade#update-the-container-operating-system-version-without-updating-the-kubernetes-version), the first sentence states,

I think what it is supposed to say is that, "... it will not work unless the new operating system version does not requir

[2022-04-15 16:05] kobulloc-MSFT commented on #1925
@pgoyal01 Thank you for pointing this out!  We're reviewing this and will get back to you shortly.

[2022-04-15 18:16] mattbriggs commented on #1925
@[pgoyal01](https://github.com/pgoyal01) Thanks for catching this! #in-progress

[2022-04-15 18:22] mattbriggs commented on #1925
updated

#please-close

[2022-04-15 18:22] #1925 closed

[2022-04-21 04:46] jianfeng-jia opened #1927 "zip file download link typo."
[Download the zip file now](https://azurestackhub.azureedge.net/PR/download/MAS_ProdHotfix_1.2102.30.1323/HotFix/AzS_Update_1.2102.30.132.zip).
should be:
https://azurestackhub.azureedge.net/PR/download/MAS_ProdHotfix_1.2102.30.132/HotFix/AzS_Update_1.2102.30.132.zip

there is an extra number "3" in the URI.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2022-04-21 05:24] VikasPullagura-MSFT commented on #1927
@jianfeng-jia Thanks for pointing this out.

The document is updated and changes will go live soon.

[2022-04-21 05:52] #1927 closed

[2022-04-21 10:08] Lihailian opened #1928 "Could we add guidance on how to upgrade AKS cluster on portal please?"
Could we add guidance on how to upgrade AKS cluster on portal please?

I know if we go to AKS cluster on portal, you will see upgrade related information but it will be hard for customers to find it out. We'd better have it in document.
![image](https://user-images.githubusercontent.com/45778009/164432230-162cf947-9569-4117-b4b8-c263f95a5735.png)
![image](https://user-images.githubusercontent.com/

[2022-04-21 10:33] VikasPullagura-MSFT commented on #1928
@Lihailian
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-04-21 10:33] VikasPullagura-MSFT commented on #1928
@mattbriggs
Can you please check and add your comments on this doc update request as applicable.

[2022-04-22 00:39] mattbriggs commented on #1928
@Lihailian AKS on Azure Stack Hub doesn't yet have a version of Kubernetes to upgrade to. This is a public preview, and if you have feedback or requests, please send your insight and notes to: https://docs.microsoft.com/en-us/azure-stack/user/aks-support. Thanks again for trying AKS on Azure Stack Hub.

[2022-04-22 00:39] mattbriggs commented on #1928
#please-close

[2022-04-22 00:39] #1928 closed

[2022-04-22 18:53] easyveazie opened #1930 "Add clarity to SPN role-based permissions"
https://docs.microsoft.com/en-us/azure-stack/operator/azure-stack-aks-engine?view=azs-2108

The following line should clarify which role-based permissions are required. Do I need owner, contributor, something else? Consider adding details on how to assign the permissions in the portal as well.
_The Kubernetes cluster will need service principal (SPN) and role-based permissions in Azure Stack Hub._

[2022-04-22 19:00] mattbriggs commented on #1930
@[easyveazie](https://github.com/easyveazie) Thanks Mike. #in-progress

[2022-04-22 20:52] mattbriggs commented on #1930
updated the Operator topic.

#please-close

[2022-04-22 20:52] #1930 closed

[2022-04-27 15:09] lanicolas opened #1933 "Pre-requisites update"
On the pre-requisites  section, I think it would be nice to add the AKSHCI module requirements, some people may not have them:
  Install-Module -Name Az.Accounts -Repository PSGallery
  Install-Module -Name Az.Resources -Repository PSGallery
  Install-Module -Name AzureAD -Repository PSGallery

Also, before the Get-Command, for it to work you would need to run:

   Import-Module Az.Accounts
  Impo

[2022-04-27 15:22] PriyankaRudramaina commented on #1933
Hello @lanicolas,

Thank you for your feedback. We will investigate and update the thread further.

[2022-04-27 16:22] mattbriggs commented on #1933
@[lanicolas](https://github.com/lanicolas) Thanks for this feedback. That sounds good. I'll update shortly.

#in-progress

[2022-04-27 23:14] aluty opened #1934 "Minor issues with usability and formatting in **Azure Stack Hub** RSS feed items. Providing PowerShell script to compensate."
Browse raw RSS feed here: https://azurestackhubdocs.azurewebsites.net/xml/hotfixes.rss

Minor issues with usability and formatting in **Azure Stack Hub** RSS feed items.
- description contains indentation and whitespace breaks.
- guid is not a guid but copy of link url.
- pubDate not in easier to parse [ISO 8601](https://www.iso.org/iso/home/standards/iso8601.htm) date format.
[code]

PowerShell s

[2022-04-28 04:55] SreejaBhattacharya-MSFT commented on #1934
Hi @aluty , thanks for providing the Powershell script to parse raw RSS feed. This will help other users , who can refer to this and implement the same for their individual use cases. Thanks again, appreciate it !

[2022-05-02 20:16] mattbriggs commented on #1934
@aluty:

"Description contains indentation and whitespace breaks."

 - I can strip this out.

The format I was using was using a unique string as the GUID/URL rather than a RFC 4122.

- I can update to use a GUID like this: F9168C5E-CEB2-4faa-B6BF-329BF39FA1E4

For the date: ISO 8601 sounds fine, i.e., 2012-09-27.

I recall when I implemented this there seemed to be an issue with the RSS/Atom sche

[2022-05-02 20:17] mattbriggs commented on #1933
Sent an email with the preview item. Will appear in the next build, once it passes PR review.

Thanks! Matt

#please-close

[2022-05-02 20:17] #1933 closed

[2022-05-03 00:13] mattbriggs commented on #1934
#in-progress

[2022-05-05 21:49] walterov opened #1937 "New steps to install AKS Engine needed"
We need to add:

sudo apt update
sudo apt install jq

at the beginning in the code box:

    curl -o get-akse.sh https://raw.githubusercontent.com/Azure/aks-engine/master/scripts/get-akse.sh
    chmod 700 get-akse.sh
    ./get-akse.sh --version v0.xx.x

So it should look like this:

    sudo apt update
    sudo apt install jq
    curl -o get-akse.sh https://raw.githubusercontent.com/Azure/aks-engi

[2022-05-05 22:29] mattbriggs commented on #1937
@[walterov](https://github.com/walterov) Sure!

#in-progress

[2022-05-05 22:56] mattbriggs commented on #1937
Fixed. #please-close

[2022-05-05 22:56] #1937 closed

[2022-05-06 01:05] walterov opened #1938 "Add kubeconfig info to the "Verify your cluster" introduction section"
to that section we should add more to the introduction to say something like this:
"if you already have kubectl installed, you can get the kubeconfig file for the newly create cluster in this directory path:

<output directory>/kubeconfig/kubeconfig.<location>.json

You can use it to add it to the .kube directory to access your new cluster. If you have not installed kubectl, visit: https://kuberne

[2022-05-06 03:59] Karishma-Tiwari-MSFT commented on #1938
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-06 19:06] mattbriggs commented on #1938
@[walterov](https://github.com/walterov) #in-progress

[2022-05-10 17:16] CHDAFNI-MSFT opened #1939 "Considerations for Node count and Physical Space"
Consider adding the following site readiness factors:
* Requirements such as Power, based on node count (4 vs 16 nodes as an example)
* Physical space requirements (LxWxH) based on stacking the units.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70d0adb4-9c95-e00d-bf5d-40751896e1e2
* Version Independent ID: cfa2aa27-

[2022-05-10 18:01] JamieRalphSmithMS opened #1940 "CreateAADIdentityApp.ps1"
Script no longer works as the Reference in Get-AzureRMUserRefreshToken fails in line 27 and catches to 32 on a failure with no readitems method.  This may be to AzureStack Powershell being updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c085e86-242e-ac36-a611-3d379d3dcfb0
* Version Independent ID: 4d455fad-dc6

[2022-05-10 23:34] kobulloc-MSFT commented on #1939
@CHDAFNI-MSFT Thank you for the feedback!  We've assigned this to the document author for further review.

[2022-05-10 23:35] kobulloc-MSFT commented on #1940
@JamieRalphSmithMS Thank you for the feedback!  We have assigned this to the document author for further review.

[2022-05-11 23:29] nairsrijith opened #1941 "missing information/detail"
There are some error and missing information in the link provided below:
https://docs.microsoft.com/en-us/azure-stack/operator/azure-stack-rotate-secrets?view=azs-2108#rotate-external-secrets

Rotate External secret > Rotation > Step#1

`$CertSharePath = "<Network_Path_Of_CertShare>"`
It would be helpful to define what "<Network_Path_Of_CertShare>" should be like "`\\<IPAddress>\<ShareName>\Certif

[2022-05-12 02:38] Karishma-Tiwari-MSFT commented on #1941
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-16 19:04] NodeNine opened #1943 "Health setting name inquiry"
Context for the question: Storage Spaces Direct cluster on Windows Server 2019

Health fault "Microsoft.Health.FaultType.Node.HighRootPartitionMemoryUsage" mentions "your configured threshold". The default appears to be 50%. The full text is of an actual health fault is "Windows Server is consuming more than 50.000000 % of physical memory, which exceeds your configured threshold.".
How can the men

[2022-05-16 23:15] Karishma-Tiwari-MSFT commented on #1943
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-17 22:36] BryanLa commented on #1921
@JohnBMSFT - thanks much for your feedback on this. The article has been revised to include a reminder that the new node should be configured with BMC credentials that are already configured within Azure Stack (at the beginning of the instructions). We also reformatted and improved the flow a bit in general. This will republish again around 10am PDT tomorrow, 5/18.

#please-close

[2022-05-17 22:36] #1921 closed

[2022-05-17 23:00] BryanLa commented on #1918
@Deepfat - thanks very much for your feedback on this. We've added your suggestion to the "Features that are impaired or unavailable" table, which points to a new entry in the ACR FAQ that provides additional how-to details.

#please-close

[2022-05-17 23:00] #1918 closed

[2022-05-18 21:55] walterov opened #1947 "Need to correct K8s version numbers for AKS Engine 0.70.0"
The correct K8s version numbers  for AKS Engine 0.70.0 are 1.21.10, 1.22.7, see https://github.com/Azure/aks-engine/blob/master/docs/topics/azure-stack.md#aks-engine-versions

Please correct all instances throughout the page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e69382e4-c307-4dfe-9885-92d2436ef858
* Version I