[2020-03-26 00:09] BharathNimmala-MSFT commented on #713
@fengatms  Thank you for your query , our team will further look into it and get back to you at the earliest.

[2020-03-26 00:14] apwestgarth commented on #713
Hi @fengatms thanks for commenting.  However that is incorrect.  The App Service databases are configured as contained databases meaning the security logins are stored in the database itself.  In 1.8 we have a regression for newly deployed databases and you need to enable contained database, and then convert the databases to partially contained.  This is covered in the release notes in known issue

[2020-03-26 02:29] TravisCragg-MSFT commented on #715
@aricbernard Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-26 21:20] IngridAtMicrosoft commented on #715
This change has been reviewed and the content has been changed.

[2020-03-26 22:44] IngridAtMicrosoft commented on #702
In-review

[2020-03-26 23:42] LinoRS opened #718 "Registering Azure Stack Hub with the guest directory"
Hi MS,

is there a way to run this for all our tenants we have... like as a group or can one group all tenants ?, or does it need to be run individually for each guest on stack.
Reason why im asking i have allot of tenants that i need to run this for after each OS update etc, and to minimise any impact and save time i do this on their behalf.

thanks

---
#### Document details

⚠ *Do not edit this

[2020-03-26 23:42] ddobric opened #719 "Comparison of resource providers"
It would be great and helpful to provide on this page a comparison between Azure Stack available resour ce providers vs. Azure Resource Providers. For example: https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-services-resource-providers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7365a

[2020-03-27 04:01] Marauder1568 opened #720 "Azure Stack Hub Capacity Planner (Feature Enhancement)"
Would it be possible to include the GPU specs as a part of the Solution Partner Values? Depending on the application these calculations would be just as important.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 091e58ac-42db-d8ba-8bd9-31635f4af131
* Version Independent ID: e61fe9a3-e6d3-134e-40fe-b038240452a6
* Content

[2020-03-27 13:59] PramodValavala-MSFT commented on #718
@LinoRS Thanks for the question! We will review and get back to you!

[2020-03-27 14:00] PramodValavala-MSFT commented on #719
@ddobric Thanks for the question! We will review and get back to you!

[2020-03-27 14:01] PramodValavala-MSFT commented on #720
@Marauder1568 Thanks for the question! We will review and get back to you!

[2020-03-27 18:56] IngridAtMicrosoft commented on #702
This change has been completed.

[2020-03-27 19:02] femsulu commented on #702
thanks @IngridAtMicrosoft . Closing this thread based on the above.

[2020-03-27 19:02] #702 closed

[2020-03-27 19:26] IngridAtMicrosoft commented on #715
#please-close

[2020-03-27 19:26] #715 closed

[2020-03-27 23:12] TravisCragg-MSFT commented on #718
@LinoRS This script will need to be run for each tenant individually. It should not be too difficult to script it for multiple tenants.

Please let me know if you need any additional information.

[2020-03-27 23:13] TravisCragg-MSFT commented on #720
@Marauder1568 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-27 23:59] LinoRS commented on #718
thanks guys for the feedback, ill give it a go and see.

[2020-03-30 07:17] fengatgit opened #723 "New-AzsCertificateSigningRequest failed to run if DN String contains commas"
I can convert a subject with commas via 'UseSemicolons' like below,
$subject = "C=US;ST=Washington;L=Redmond;O=Microsoft;OU=Azure Stack,Hub"
$DistinguishedName = [System.Security.Cryptography.X509Certificates.X500DistinguishedName]::new($subject,[System.Security.Cryptography.X509Certificates.X500DistinguishedNameFlags]::UseSemicolons)

But it still failed as in  function Set-CertificateSubject in

[2020-03-30 10:40] ram-msft commented on #723
@fengatgit Is there a specific doc that you are referring? If so, could you please share the same?

[2020-03-30 12:56] fengatgit commented on #723
@ram-msft   I just follow the usage of the script.

For example, if I use script like below,
1.
$subject = "C=US;ST=Washington;L=Redmond;OU=Azure Stack.,Hub;O=Microsoft"
$outputDirectory = "c:\AzureStackCSR"
$IdentitySystem = "AAD"
$regionName = 'east'
$externalFQDN = 'azurestack.contoso.com'
New-AzsCertificateSigningRequest `
    -certificateType Deployment `
    -RegionName $regionName `
    -FQ

[2020-03-30 22:13] IngridAtMicrosoft commented on #695
#please-close

[2020-03-30 22:14] #695 closed

[2020-03-31 01:58] TravisCragg-MSFT commented on #723
@fengatgit Can you post a link to the script you are following, or the doc that it came from? This repo is for Azure Stack Documentation issues.

[2020-03-31 02:04] fengatgit commented on #723
HI @TravisCragg-MSFT  it should be this one : https://docs.microsoft.com/en-us/azure-stack/operator/azure-stack-get-pki-certs?view=azs-2002

[2020-03-31 02:10] TravisCragg-MSFT commented on #723
@fengatgit Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-31 16:22] TravisCragg-MSFT commented on #713
@fengatms We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-31 16:22] #713 closed

[2020-03-31 20:27] IngridAtMicrosoft commented on #705
This is a duplicate of #706.

#please-close

[2020-03-31 20:27] #705 closed

[2020-04-01 07:07] imamadi opened #730 "Dedicated vNIC for iSCSI"
Can we use dedicated vNIC(s) for iSCSI rather than the default vNIC to separate storage traffic and data traffic?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbda96b7-f21d-f350-b887-e13b9125d4d1
* Version Independent ID: cc717953-6370-7f6d-56f3-88b4934d5f99
* Content: [How to connect to iSCSI storage with Azure Stac

[2020-04-01 17:34] BharathNimmala-MSFT commented on #730
@imamadi Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-04-02 01:58] TravisCragg-MSFT commented on #718
@LinoRS Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-02 01:58] #718 closed

[2020-04-02 02:00] TravisCragg-MSFT commented on #719
@ddobric Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-02 05:00] TravisCragg-MSFT commented on #730
@imamadi I am reaching out for an answer on this one, I will update you as soon as I am able.

[2020-04-02 21:35] IngridAtMicrosoft commented on #720
#in-progress

[2020-04-02 23:49] IngridAtMicrosoft commented on #720
Program management has registered the feature enhancement.
#please-close

[2020-04-02 23:49] #720 closed

[2020-04-03 15:14] sethmanheim commented on #577
@comnam90 @msrini-MSFT Very sorry for the slow responses. Those parameters are documented here: https://docs.microsoft.com/en-us/azure-stack/user/azure-stack-vpn-gateway-settings?view=azs-2002#ipsecike-parameters. I hope that's helpful.

[2020-04-03 17:21] sethmanheim commented on #577
Going to close this issue for now, but please re-open or let us know if this doesn't help with your questions. #please-close

[2020-04-03 17:21] #577 closed

[2020-04-03 20:38] TravisCragg-MSFT commented on #730
@imamadi This is possible, and you can [find steps to add them here](https://docs.microsoft.com/en-us/azure-stack/user/azure-stack-network-howto-extend-datacenter?view=azs-2002#connect-to-a-windows-server-iscsi-target).

Please let me know if you need any additional information

[2020-04-03 20:41] mattbriggs commented on #730
@TravisCragg-MSFT  Thanks!

[2020-04-04 11:48] SychevIgor commented on #639
All 3 Edge options. Edge zones, private edge zones, carrier edge zone
https://azure.microsoft.com/en-us/blog/microsoft-partners-with-the-industry-to-unlock-new-5g-scenarios-with-azure-edge-zones/

[2020-04-04 11:49] SychevIgor commented on #639
@KrishnaG-MSFT @Justinha any news/plans?

[2020-04-05 20:30] fleisherdev opened #738 "brokent link https://adminportal.local.azurestack.external/"
https://adminportal.local.azurestack.external/ goes nowhere

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14c66522-b80a-ded9-aafc-05ba2fab1877
* Version Independent ID: bdf35cf3-4685-1e96-0095-b764a2772b7a
* Content: [Configure deployment sources for App Services on Azure Stack Hub - Azure Stack Hub](https://docs.micr

[2020-04-06 12:26] AjayKumar-MSFT commented on #738
@fleisherdev, Thanks for posting the question. Just to clarify, you need to access the admin portal from ASDK host machine and not locally. You have to Sign in to the Azure Stack Hub admin portal (https://adminportal.local.azurestack.external) as the service admin.
Please let us know if the issue occurs on the ASDK host machine.

[2020-04-06 15:48] fleisherdev commented on #738
Thanks for your response.  Issue seems to be DNS related:

This site can’t be reached

*adminportal.local.azurestack.external*’s server IP address could not be
found.

   - Try running Windows Network Diagnostics.

DNS_PROBE_FINISHED_NXDOMAIN

On Mon, Apr 6, 2020 at 8:26 AM AjayKumar-MSFT <notifications@github.com>
wrote:

[2020-04-06 15:50] fleisherdev commented on #738
How do I get to the host machine? The link is in the document. Perhaps you
could provide more explicit information. I am working with AppServices and
don't  have VM's. Can this be access through Bash or SSH?

On Mon, Apr 6, 2020 at 11:48 AM John Fleisher <john@fleisherdev.com> wrote:

[2020-04-06 18:56] IngridAtMicrosoft commented on #723
#in-progress

[2020-04-06 19:51] AjayKumar-MSFT commented on #738
Thanks for sharing more details.

**Short Answer:**
For accessing admin portal on integrated system deployment -the address is in the format - https://adminportal.[region].[FQDN].
For accessing admin portal on ASDK- the address format is - https://adminportal.local.azurestack.external.

We will be adding this info to bring more clarity in the documentation.

**Long Answer:**

Just to clarify, you

[2020-04-07 16:05] BryanLa commented on #738
Thanks very much for this feedback, @fleisherdev. The article has been updated accordingly, and will republish around 10am PDT today.

CXP #please-close

[2020-04-07 16:05] #738 closed

[2020-04-07 16:38] TravisCragg-MSFT commented on #730
@imamadi We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-07 16:38] #730 closed

[2020-04-07 18:25] IngridAtMicrosoft commented on #723
#please-close

It is recommended that the contributor pose their question on Stack Overflow.

[2020-04-07 18:25] #723 closed

[2020-04-08 19:47] sethmanheim commented on #701
@kongou-ae It turns out that only Microsoft can add the attributes that block administrators from downloading marketplace products that are incompatible with their Azure Stack. I have updated the release notes  to clarify this, as well as this section: https://docs.microsoft.com/en-us/azure-stack/operator/azure-stack-download-azure-marketplace-item?view=azs-2002#use-the-portal-to-download-marketpl

[2020-04-08 19:47] sethmanheim commented on #701
#please-close

[2020-04-08 19:47] #701 closed

[2020-04-11 05:47] devalian opened #749 "NATVM on adsk"
Asdk no longer have NATVM. Is there updated way for the mapping or simply map directly to the host ip? Or no longer require altogether?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8c6b8cb-6783-9ef0-4072-fee777e6c73a
* Version Independent ID: 5a5cf46f-d186-2c32-5223-67909a3df56d
* Content: [Create a site-to-site VPN

[2020-04-11 06:16] himanshusinha-msft commented on #749
Thanks for the ask  . At this time we are reviewing it and we will reply back as soon as we can .

[2020-04-14 23:08] TravisCragg-MSFT commented on #749
@devalian You can find [ASDK specific instructions for a S2S VPN Here](https://docs.microsoft.com/en-us/azure-stack/asdk/asdk-connect?view=azs-2002#connect-to-azure-stack-using-vpn).  Please let me know if you have any additional questions.

[2020-04-17 04:09] TravisCragg-MSFT commented on #749
@devalian We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-17 04:09] #749 closed

[2020-04-23 18:35] walterov opened #764 "Replace step 3 in "Update API model" with the following..."
"In the kubernetes-azurestack.json file, find orchestratorRelease and orchestratorVersion. Select one of the supported Kubernetes versions. For example, for orchestratorRelease use 1.14 or 1.15 and for orchestratorVersion use 1.14.7 or 1.15.10 respectively. Specify the orchestratorRelease as x.xx and orchestratorVersion as x.xx.x. For a list of current versions, see Supported AKS engine Versions &

[2020-04-23 18:51] walterov opened #765 "Replace step 1 in "Steps to upgrade to a newer Kubernetes version" with the following..."
"The versions of Kubernetes supported in the latest update are 1.14.7 and 1.15.10. Follow this table for the upgrades available:
Current Version	Upgrade available
1.14.7	1.15.10
1.14.8	1.15.10
1.15.4	1.15.10
1.15.5	1.15.10
For a complete mapping of AKS engine, AKS Base Image and Kubernetes versions see Supported AKS Engine Versions &lt;https://github.com/Azure/aks-engine/blob/master/docs/topics/az

[2020-04-23 18:59] walterov opened #766 "In "Add the AKS Base Image", step 5, update version value to"
AKS Base Ubuntu 16.04-LTS Image Distro, March 2020 (Version: “2020.03.19”)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bcfb60cd-c79d-e4c3-9015-bb3b49e1dc06
* Version Independent ID: 9a48b797-af3b-462d-94a0-07693651a488
* Content: [Add the Azure Kubernetes Services (AKS) engine prerequisites to the Azure Stack Hub Ma

[2020-04-23 19:20] walterov opened #767 "Replace the value for the AKS Base Image in the table to"
"AKS Base Ubuntu 16.04-LTS Image Distro, March 2020, version: 2020.03.19"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a537721-93a2-202f-abf5-6d0fe560fef0
* Version Independent ID: 676263bc-6c11-4fd4-0318-5d2504c1b014
* Content: [Set up the prerequisites for the AKS engine on Azure Stack Hub - Azure Stack Hub](https

[2020-04-23 19:35] walterov opened #768 "Change version references in section "Matching engine to base image version" with the following"
Change this link "Supported Kubernetes Versions" to "Supported AKS Engine Versions" and point it to &lt;https://github.com/Azure/aks-engine/blob/master/docs/topics/azure-stack.md#supported-aks-engine-versions&gt;

for aks engine use "0.48.0"

In "AKS Base image version 2019.10.24" replace with "AKS Base image version 2020.03.19"

Replace bash example of aks-engine version with
"$ aks-engine versio

[2020-04-23 22:27] TravisCragg-MSFT commented on #764
@walterov Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-23 22:27] TravisCragg-MSFT commented on #765
@walterov Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-23 22:28] TravisCragg-MSFT commented on #766
@walterov Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-23 22:29] TravisCragg-MSFT commented on #767
@walterov Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-23 22:29] TravisCragg-MSFT commented on #768
@walterov Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-23 22:50] mattbriggs commented on #764
@walterov Updated. Please see the following PR: https://github.com/MicrosoftDocs/azure-stack-docs-pr/pull/3444

[2020-04-23 22:51] mattbriggs commented on #764
#please-close

[2020-04-23 22:51] #764 closed

[2020-04-23 22:56] mattbriggs commented on #765
@walterov Thanks walter. I've added to the following PR: https://github.com/MicrosoftDocs/azure-stack-docs-pr/pull/3444

#please-close

[2020-04-23 22:56] #765 closed

[2020-04-23 23:00] mattbriggs commented on #766
@walterov Thanks Walter. I've added to the change to the following PR:
https://github.com/MicrosoftDocs/azure-stack-docs-pr/pull/3444

#please-close

[2020-04-23 23:00] #766 closed

[2020-04-23 23:12] mattbriggs commented on #767
@walterov I've updated the PR with this change. Thanks!
https://github.com/MicrosoftDocs/azure-stack-docs-pr/pull/3444

#please-close

[2020-04-23 23:12] #767 closed

[2020-04-23 23:18] mattbriggs commented on #768
@walterov I've updated in this PR: https://github.com/MicrosoftDocs/azure-stack-docs-pr/pull/3444

#please-close

[2020-04-23 23:18] #768 closed

[2020-04-24 07:31] dmc-tech opened #769 "On Windows systems, I get an error when installing on PSCore / Windows PowerShell 5.1"
When running my PS Core 7 or Windows PowerShell 5.1 sessions as an administrator, I get an error:
'Administrator rights are required to install or update. Log on to the computer with an account that has administrator rights...'

This can be fixed with the following:
Install-Module -Name Az.BootStrapper -Force -AllowPrerelease
Install-AzProfile -Profile 2019-03-01-hybrid -Force
Install-Module -Name

[2020-04-24 18:58] TravisCragg-MSFT commented on #769
@dmc-tech the script you gave is identical to what is in [step 4 Here](https://docs.microsoft.com/en-us/azure-stack/operator/powershell-install-az-module?view=azs-2002#4-connected-install-with-internet-connectivity). Can you clarify your issue / ask?

[2020-04-27 11:11] assing opened #773 "Add an example for scheduling update deployment for Azure Stack VMs"
I am from Azure Update Management Product Group. Please add an example for creating update deployment schedule. Currently the schedule deployment creation from the UX won't work. It will fail. The workaround is to use cmdlet or REST api and pass these machines as nonAzure machines similar to this article for the machines which belong to different tenant. https://docs.microsoft.com/azure/automation

[2020-04-27 17:23] mattbriggs commented on #773
@assing Thanks for your comment. I'll follow up with the product team and update the docs. I'll let you know when this is posted.

[2020-04-27 17:24] mattbriggs commented on #773
#in-progress

[2020-04-27 18:33] mattbriggs commented on #773
@assing: can you review this update:
https://review.docs.microsoft.com/en-us/azure-stack/user/vm-update-management?view=azs-1802&branch=pr-en-us-3472#create-an-update-deployment-schedule

Do you know if this cmdlet will work on Azure Stack Hub with the Azure Stack Hub resource manager?

[2020-04-28 07:37] assing commented on #773
@mattbriggs Please change this line "pass the machines in the other tenant to the" to "pass the azure stack machines to the" . We need to pass the azure stack machines to the NonAzureComputer parameter. You need to remove this line "To run this script you will need to use the preview of the Azure Stack Az module." as well. These are not Azure Stack Az module. These are standard Az module. You also

[2020-04-28 07:39] assing commented on #773
@mattbriggs  It won't work azure stack hub resource manager.

[2020-04-28 17:36] mattbriggs commented on #773
@assing Thanks. I've updated and made clear they need to use the global Azure Az module. Thanks!

[2020-04-28 17:36] mattbriggs commented on #773
#please-close

[2020-04-28 17:36] #773 closed

[2020-04-28 17:41] assing commented on #773
@mattbriggs I don't see a link for New-AzAutomationSoftwareUpdateConfiguration and New-AzAutomationSchedule. Please add a link to the cmdlet documentation for corresponding cmdlet.

[2020-04-28 19:01] mattbriggs commented on #773
@assing added to links to the ref content via the cmdlet names.

[2020-04-28 19:04] assing commented on #773
@mattbriggs both links are pointing to same cmdlet. Please correct the link for New-AzAutomationSoftwareUpdateConfiguration

[2020-04-28 20:56] mattbriggs commented on #773
@assing updated. Thanks.

[2020-04-29 15:44] CarlosGon opened #778 "Configure external access to the MySQL hosting server"
i followed the document to add a new mysql hosting server (bitnami Mysql server 8 marketplace item), and noted a few differences that i think we need to adjust and complete.

Title should be : Prepare a MySQL hosting server

1.	The MySQL RP doesn't support caching_sha2_password authentication. MySQL 8.0 servers must be configured to use mysql_native_password.
No explanation for that change. And if

[2020-04-29 22:36] TravisCragg-MSFT commented on #778
@CarlosGon Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-30 10:27] CarlosGon opened #781 "Estimated aggregate throughput by SKU"
This is the Estimated throughput for each tunnel by SKU, as stated on the first Note on top of this document

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f780e2ad-c126-43e9-2596-848115d09fa7
* Version Independent ID: 7e6afc9e-2803-5831-14b5-44d6fdbdb952
* Content: [Create VPN gateways for Azure Stack Hub - Azure Stac

[2020-04-30 10:29] CarlosGon opened #782 "Gateway SKUs"
This is the Estimated throughput for each tunnel by SKU, as stated on the first Note on top of this document https://docs.microsoft.com/en-us/azure-stack/user/azure-stack-vpn-gateway-about-vpn-gateways?view=azs-2002

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34ea6e48-1e3a-6fc0-04a7-89e4300eecc8
* Version Independen

[2020-04-30 13:45] CarlosGon opened #783 "Missing App Service Quota Types"
This document should include the App Service Quota types and default values.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41a2a997-ac32-8e7a-1085-12645f2b1d4d
* Version Independent ID: 5dd94010-147c-f5cd-3f22-27ff24184ff4
* Content: [Quota types in Azure Stack Hub - Azure Stack Hub](https://docs.microsoft.com/en-us/a

[2020-04-30 15:59] BryanLa commented on #778
Thanks for the feedback @CarlosGon. I'll be working through your suggestions with engineering. We'll provide another update when complete.

[2020-05-01 00:52] TravisCragg-MSFT commented on #781
@CarlosGon Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-01 00:53] TravisCragg-MSFT commented on #782
@CarlosGon Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-01 00:54] TravisCragg-MSFT commented on #783
@CarlosGon Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-01 15:38] sethmanheim commented on #781
@CarlosGon @TravisCragg-MSFT I'm sorry, I don't understand what the documentation issue is here. Can you clarify?

[2020-05-01 15:39] sethmanheim commented on #782
@CarlosGon @TravisCragg-MSFT I'm sorry, I don't understand what the documentation issue is here. Can you clarify?

[2020-05-04 10:40] CarlosGon commented on #782
The values on the table are not for the aggregate value of the gateway, instead they are the values for each tunnel created under each one of the gateways (SKU).
Using the Basic Sku as example:
100Mbps is not the aggregate throughput of the Basic SKU, it is the aggregate throughput of each IPsec tunnel created inside this gateway.

[2020-05-04 10:40] CarlosGon commented on #781
The values on the table are not for the aggregate value of the gateway, instead they are the values for each tunnel created under each one of the gateways (SKU).
Using the Basic Sku as example:
100Mbps is not the aggregate throughput of the Basic SKU, it is the aggregate throughput of each IPsec tunnel created inside this gateway.

[2020-05-04 15:09] jdm019000 commented on #778
I would like to add to this post because I hit all the same issues described above and agree it was not clearly explained. I had the same trouble finding the root password to mysql.

A couple of extra observations.
1. If you edit/change the /opt/binami/mysql/conf/my.cnf file to support legacy "mysql_native_password", I believe that you need to restart mysql.  Since this is bitnami, you have to run

[2020-05-06 03:04] poetw opened #792 "Please update the misleading code example"
[Enter feedback here]
Regarding this code example:
$decryptioncertpassword = Read-Host -AsSecureString -Prompt "Password for the decryption certificate"
Restore-AzsBackup -ResourceId "<BackupID>" `
 -DecryptionCertPath "<path to decryption certificate with file name (.pfx)>" `
 -DecryptionCertPassword $decryptioncertpassword

Please update -ResourceId to -Name. The Name parameter refers to Backup

[2020-05-06 16:27] SamaraSoucy-MSFT commented on #792
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2020-05-07 13:20] eszych opened #795 "AD FS 2016/2019 PowerShell Snippet"
Hello!
In the section "Configure relying party on existing AD FS deployment" you have a sample PowerShell snippet for the AD FS 2016/2019 Integration. You reference the .txt file as "C:\ClaimIssuanceRules.txt" - but above the sample file you propose to save the file as "c:\ClaimRules.txt"...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2020-05-07 16:09] BryanLa commented on #795
@eszych - thanks for catching this and taking time to provide feedback. I've made the correction. It should republish sometime today.

#please-close

[2020-05-07 16:09] #795 closed

[2020-05-07 21:07] ianc911 commented on #7
Ha! I too found this page because I'm trying to figure out how to deploy from a template. I too don't see the 'Custom' choice in the portal, but only see what's in atpalmer's screenshot from 7 May above. Not very helpful..

[2020-05-12 16:09] BryanLa commented on #778
@CarlosGon, @jdm019000 - changes were applied last night. The revised version will republish around 10:15am PDT today.

#please-close

[2020-05-12 16:09] #778 closed

[2020-05-15 02:59] rammalkani opened #807 "1906 archive is unavailable"
The archive for 1906 is not available. Could you make the archive available on the gallery link on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0094b74f-e85b-6983-5f58-ce24f825b63c
* Version Independent ID: a90feafe-0401-3da0-bb95-4dbc8868ea0f
* Content: [Azure Stack Hub known issues - Azure Stack Hub](htt

[2020-05-15 12:09] SadiqhAhmed-MSFT commented on #807
@rammalkani Thank you for the feedback. This issue is being assigned to the content author to evaluate and update as appropriate.

@sethmanheim FYI

[2020-05-15 16:25] sethmanheim commented on #807
@rammalkani Thank you for your feedback! We only publish release notes for the last 4 Azure Stack Hub releases on docs.microsoft.com. If you need access to earlier versions, they are on the TechNet Gallery (https://aka.ms/azsarchivedrelnotes), which is now up to date.

[2020-05-15 17:43] sethmanheim commented on #807
Closing this for now, please let us know if you have further questions. #please-close

[2020-05-15 17:43] #807 closed

[2020-05-20 15:45] dmc-tech commented on #769
The doc has been updated, so the issue can be closed.  The previous version of the doc was incorrect, per my issue.

[2020-05-20 15:48] dmc-tech commented on #769
https://github.com/MicrosoftDocs/azure-stack-docs/commit/795cd5070f791edbe4c8d62bcb5b0153b4894d8e#diff-14f616907d6d91071c237acac57e25cb

[2020-05-20 17:04] mattbriggs commented on #769
#please-close

[2020-05-20 17:04] #769 closed

[2020-05-21 18:40] jorlando82 opened #815 "Proxy Setting Typo"
Under Proxy Settings there is a missing d on /etc/system**d**/system....

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b262dce-e5b1-b335-8222-38acaf2790ee
* Version Independent ID: 3d154b9f-0ec3-840f-d09a-411ab1887483
* Content: [Deploy Azure Cognitive Services to Azure Stack Hub - Azure Stack Hub](https://docs.micro

[2020-05-21 19:20] mattbriggs commented on #815
@jorlando82 Thanks for your update. I've submitted a PR to fix the topic. Thanks! Matt

#please-close

[2020-05-21 19:20] #815 closed

[2020-05-22 03:29] chenminhua opened #816 "typo Get-AzureStackLogs"
[Enter feedback here]

Several place "Get-AzureStackLogs" in this doc. I guess it should be "Get-AzureStackLog"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9791d946-d79a-6929-4e48-56eb37021c6f
* Version Independent ID: 22b2c392-7cc5-c21a-fae5-2f717ce477c2
* Content: [Use the privileged endpoint (PEP) to collect diagn

[2020-05-22 16:14] dmc-tech opened #817 "This page refers to general secret rotation for the core components, Not Event Hubs RP"
To rotate internal secrets for Event Hubs RP:
1. Install Azure PowerShell for Azure Stack Hub
2. Connect the the Admin environment for the stamp
3. Invoke-AzsProductRotateSecretsAction -ProductId microsoft.eventhub

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4feaa2a-4850-478d-8122-7eb751ba0777
* Version Independent

[2020-05-22 20:58] AjayKumar-MSFT commented on #816
@chenminhua,  Thanks for the feedback! We are taking a look into this and will update you shortly.

[2020-05-22 22:33] TravisCragg-MSFT commented on #816
@chenminhua Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-22 22:52] TravisCragg-MSFT commented on #817
@dmc-tech Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-26 17:35] IngridAtMicrosoft commented on #817
#in-review

[2020-05-26 17:45] IngridAtMicrosoft commented on #817
This is a TOC issue for another author.  @TravisCragg-MSFT please assign to @BryanLa.

[2020-05-26 19:13] BryanLa commented on #817
Thanks @IngridAtMicrosoft
@dmc-tech - thanks much for your feedback. This is work we have planned for our June sprint. I'll update this issue again when it's completed.
#please-close

[2020-05-26 19:13] #817 closed

[2020-06-02 02:35] TheOnlyWei opened #828 "Local Properties image no longer accurate"
[Enter feedback here]

I was told the image for the Region Management > Local- Properties is out-dated in the linked tutorial. The fields that currently exist for Azure Stack environment don't exist in that screenshot.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19119cef-de12-31e5-d0b6-b95f2985f57e
* Version Indepen

[2020-06-02 16:34] MarileeTurscak-MSFT commented on #828
@TheOnlyWei
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-02 21:25] TravisCragg-MSFT commented on #828
@TheOnlyWei Are you referring to the ASDK or a full Azure Stack installation?

[2020-06-05 03:04] TravisCragg-MSFT commented on #782
@sethmanheim @CarlosGon has posted the reason for this issue - conflicting information. If you would like I can make adjustments to the table descriptions to match the note referred to [Here](https://docs.microsoft.com/en-us/azure-stack/user/azure-stack-vpn-gateway-about-vpn-gateways?view=azs-2002).

[2020-06-05 22:07] walterov opened #835 "Regarding the AKS Base Image and Custom Script Extensions"
For those two items, in their respective "instructions" boxes, we need to tell the user that those items are only visible to the Administrator and they need to ask the admin to make sure they have been added to the stamp. We are now hiding them from the tenant to avoid the customer using them to create VMs directly

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2020-06-05 23:56] MarileeTurscak-MSFT commented on #835
@walterov
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-06 00:03] TravisCragg-MSFT commented on #835
@walterov Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-06 00:19] mattbriggs commented on #835
#in-progress

[2020-06-08 19:39] alexsmithMSFT opened #837 "Restore AKS Base Ubuntu March 2020 version, and update support matrix link anchor"
Per @walterov : Could we address this as an URGENT issue? It will generate support calls.
**Version: AKS Base Ubuntu 16.04-LTS Image Distro, March 2020 (2020.03.19)**
Latest AKS Engine 0.48.0 only matches the version above: https://docs.microsoft.com/en-us/azure-stack/user/kubernetes-aks-engine-release-notes?view=azs-2002#download-new-image-and-aks-engine

Mapping of image and aks-engine versions:

[2020-06-08 19:46] alexsmithMSFT commented on #837
For the March 2020 base image, looks like it was added on April 24- https://github.com/MicrosoftDocs/azure-stack-docs-pr/pull/3444/files#diff-562d1057d338ff57057c1ca099b43150R57

But then reverted on April 27, when the image was temporarily rolled back-
https://github.com/MicrosoftDocs/azure-stack-docs/commit/22a8091495898ca9701b9665a8e0c494f1a188d7#diff-562d1057d338ff57057c1ca099b43150L57

[2020-06-08 20:17] mattbriggs commented on #837
#in-progress

[2020-06-08 20:19] mattbriggs commented on #837
@alexsmithMSFT @walterov Thanks for passing along this info. I've updated the links that had the old anchor and the operator topic with the right version number: https://review.docs.microsoft.com/en-us/azure-stack/operator/azure-stack-aks-engine?view=azs-1802&branch=pr-en-us-3864 You can find the pr here: https://github.com/MicrosoftDocs/azure-stack-docs-pr/pull/3864

[2020-06-08 20:24] mattbriggs commented on #837
#please-close

[2020-06-08 20:24] #837 closed

[2020-06-09 01:12] TravisCragg-MSFT commented on #828
@TheOnlyWei Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-09 01:12] #828 closed

[2020-06-09 14:40] ashrafelsheikh commented on #183
hi, i need to find a deployment guide to enable Azure functions in Azure Stack Hub

[2020-06-09 16:03] BryanLa commented on #183
@ashrafelsheikh - you'll need to [install the App Service on Azure Stack Hub resource provider](https://docs.microsoft.com/azure-stack/operator/azure-stack-app-service-overview?view=azs-2002) first. This is an administrator function. Once installed, you can [create an offer](https://docs.microsoft.com/azure-stack/operator/tutorial-offer-services?view=azs-2002) that includes App Services, to which

[2020-06-11 08:34] jbpaux commented on #694
I think you can close this issue as latest version of the doc has 2019 https://github.com/MicrosoftDocs/azure-stack-docs/commit/7b40e04737a754d4c0591905660db9d45c588f41#diff-7ae253ef63b63fbcbc40f0550123cac1

[2020-06-11 18:13] TravisCragg-MSFT commented on #694
@jbpaux Thanks for the update!

@jgallucci32 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-11 18:13] #694 closed

[2020-06-17 04:31] Lihailian opened #851 "AzureGallery.exe generate .azpkg example command issue"
In the document, generate .azpkg command example like below:
.\AzureGallery.exe package –m c:\<path>\<gallery package name>\manifest.json –o c:\Temp

There is tiny error in the command, the "-" before **m** and **o** was not input under Eng keyboard, due to which, when we copy the command and run it, we will get error:
_C:\hailian\Azure Stack Marketplace Item Generator and Sample Templates\AzureGa

[2020-06-17 04:53] BryanTrach-MSFT commented on #851
@Lihailian Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-17 23:20] TravisCragg-MSFT commented on #851
@Lihailian Thanks for the feedback! I was able to find another instance of a script containing the improper character as well. I have corrected the '-' characters in this doc that are found in scripts, and the docs should reflect the change within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly c

[2020-06-17 23:20] #851 closed

[2020-06-18 21:30] walterov opened #853 "Changes for 0.51.0"
[For 0.51.0]
We need to change the "Prerequisites for..." section with following:
1. The reference to ASH 1910 needs to change to 2002. Clarify that AKS engine 0.51.0 requires 2002.
2. The Ubuntu image is now AKS Base Ubuntu 16.04-LTS Image Distro, May 2020 (2020.05.13)

In section "Matching engine to base..."
1. Change 0.48.0 for 0.51.0 and 2020.03.19 for 2020.05.13.
2. Notice that the Bash text

[2020-06-18 21:32] walterov opened #854 "Changes for 0.51.0"
Search for all references to 0.48.0 and substitute to o.51.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d8c6cbd-54d8-9746-a1f8-a618b98e011e
* Version Independent ID: 479c631e-b7a4-c5cf-160d-141d336ad50a
* Content: [Install the AKS engine on Linux in Azure Stack Hub - Azure Stack Hub](https://docs.microsoft.com/en-

[2020-06-18 22:11] walterov opened #855 "Changes for 0.51.0"
Search for all references to 0.48.0 and substitute to 0.51.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d8c6cbd-54d8-9746-a1f8-a618b98e011e
* Version Independent ID: 479c631e-b7a4-c5cf-160d-141d336ad50a
* Content: [Install the AKS engine on Linux in Azure Stack Hub - Azure Stack Hub](https://docs.microsoft.com/en-

[2020-06-18 22:13] walterov opened #856 "Changes for 0.51.0"
Search for all references to 0.48.0 and substitute to 0.51.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d8c6cbd-54d8-9746-a1f8-a618b98e011e
* Version Independent ID: 479c631e-b7a4-c5cf-160d-141d336ad50a
* Content: [Install the AKS engine on Linux in Azure Stack Hub - Azure Stack Hub](https://docs.microsoft.com/en-

[2020-06-18 22:17] walterov opened #857 "Changes for 0.51.0"
Instead of referencing K8s versions 1.14 or 1.15 change them to reference only 1.16 with its minor 1.16.9. This particular version is one that customers have been asking for a while.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d8c6cbd-54d8-9746-a1f8-a618b98e011e
* Version Independent ID: 479c631e-b7a4-c5cf-160d-141

[2020-06-18 22:20] walterov opened #858 "Changes for 0.51.0"
Replace the upgrade table with either the one in the Release NOtes for 0.51.0 or add a link to that page here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d8c6cbd-54d8-9746-a1f8-a618b98e011e
* Version Independent ID: 479c631e-b7a4-c5cf-160d-141d336ad50a
* Content: [Install the AKS engine on Linux in Azure Stack Hub

[2020-06-18 22:21] walterov opened #859 "Changes for 0.51.0"
in the examples replace the 1.13.x version references to 1.16.9

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d8c6cbd-54d8-9746-a1f8-a618b98e011e
* Version Independent ID: 479c631e-b7a4-c5cf-160d-141d336ad50a
* Content: [Install the AKS engine on Linux in Azure Stack Hub - Azure Stack Hub](https://docs.microsoft.com/

[2020-06-18 23:05] walterov opened #860 "Changes for 0.51.0"
Substitute 2020.03.19 for 2020.05.13

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d8c6cbd-54d8-9746-a1f8-a618b98e011e
* Version Independent ID: 479c631e-b7a4-c5cf-160d-141d336ad50a
* Content: [Install the AKS engine on Linux in Azure Stack Hub - Azure Stack Hub](https://docs.microsoft.com/en-us/azure-stack/user/azur

[2020-06-19 01:55] TravisCragg-MSFT commented on #853
@walterov Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-19 01:56] TravisCragg-MSFT commented on #854
@walterov Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-19 01:57] TravisCragg-MSFT commented on #855
@walterov Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-19 01:58] TravisCragg-MSFT commented on #856
@walterov Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-19 01:59] TravisCragg-MSFT commented on #857
@walterov Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-19 02:00] TravisCragg-MSFT commented on #858
@walterov Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-19 02:00] TravisCragg-MSFT commented on #859
@walterov Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-19 02:01] TravisCragg-MSFT commented on #860
@walterov Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-19 15:21] ewebster-neal opened #861 "Certificate copy step is duplicated in documentation"
Documentation is repeated for copying  and installing certificate on Linux. Documentation needs to only have it present in one area to avoid confusion.

**Reduntant code steps:**
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d8c6cbd-54d8-9746-a1f8-a618b98e011e
* Version Independent ID: 479c631e-b7a4-c5cf-160d-

[2020-06-19 18:51] mattbriggs commented on #853
#in-progress

[2020-06-19 18:51] mattbriggs commented on #853
Updates: https://github.com/MicrosoftDocs/azure-stack-docs-pr/pull/3978/commits/00d344b90886bc82d0601418424f2e84e460e580

[2020-06-19 18:51] mattbriggs commented on #854
#in-progress

[2020-06-19 18:51] mattbriggs commented on #855
#in-progress

[2020-06-19 18:51] mattbriggs commented on #856
#in-progress

[2020-06-19 18:51] mattbriggs commented on #857
#in-progress

[2020-06-19 18:51] mattbriggs commented on #858
#in-progress

[2020-06-19 18:51] mattbriggs commented on #859
#in-progress

[2020-06-19 18:51] mattbriggs commented on #860
#in-progress

[2020-06-19 18:58] mattbriggs commented on #854
Updates: https://github.com/MicrosoftDocs/azure-stack-docs-pr/pull/3978/commits/7ab9e0744717248d215a7e5bf95fe673f8e5c73f

[2020-06-19 18:58] mattbriggs commented on #855
https://github.com/MicrosoftDocs/azure-stack-docs-pr/pull/3978/commits/7ab9e0744717248d215a7e5bf95fe673f8e5c73f

[2020-06-19 18:58] mattbriggs commented on #856
https://github.com/MicrosoftDocs/azure-stack-docs-pr/pull/3978/commits/7ab9e0744717248d215a7e5bf95fe673f8e5c73f

[2020-06-19 19:01] mattbriggs commented on #857
https://review.docs.microsoft.com/en-us/azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-linux?view=azs-1802&branch=pr-en-us-39

[2020-06-19 19:03] mattbriggs commented on #858
https://review.docs.microsoft.com/en-us/azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-linux?view=azs-1802&branch=pr-en-us-3978

[2020-06-19 19:04] mattbriggs commented on #859
https://review.docs.microsoft.com/en-us/azure-stack/user/azure-stack-kubernetes-aks-engine-set-up?view=azs-1802&branch=pr-en-us-3978

[2020-06-19 19:05] mattbriggs commented on #860
https://review.docs.microsoft.com/en-us/azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-linux?view=azs-1802&branch=pr-en-us-3978

[2020-06-19 20:42] mattbriggs commented on #861
@ewebster-neal  Thanks for your feedabck. The repeated step is for two different SKUs of Azure Stack Hub, but thanks for drawing my attention to the potential for confusion. Thanks!

[2020-06-19 20:42] mattbriggs commented on #861
An update is in progress.

[2020-06-19 20:42] mattbriggs commented on #861
#please-close

[2020-06-19 20:42] #861 closed

[2020-06-19 21:22] mattbriggs commented on #860
#please-close

[2020-06-19 21:22] #860 closed

[2020-06-19 21:22] mattbriggs commented on #859
#please-close

[2020-06-19 21:22] #859 closed

[2020-06-19 21:22] mattbriggs commented on #858
#please-close

[2020-06-19 21:22] #858 closed

[2020-06-19 21:22] mattbriggs commented on #857
#please-close

[2020-06-19 21:22] #857 closed

[2020-06-19 21:22] mattbriggs commented on #856
#please-close

[2020-06-19 21:22] #856 closed

[2020-06-19 21:22] mattbriggs commented on #855
#please-close

[2020-06-19 21:22] #855 closed

[2020-06-19 21:23] mattbriggs commented on #854
#please-close

[2020-06-19 21:23] #854 closed

[2020-06-19 21:23] mattbriggs commented on #853
#please-close

[2020-06-19 21:23] #853 closed

[2020-06-19 21:23] mattbriggs commented on #835
#please-close

[2020-06-19 21:23] #835 closed

[2020-06-22 14:17] caz3542 opened #864 "Test URL for Marketplace items are outdated"
The URL to validate the published custom marketplace items still references the port 30015 URL that is no longer valid. Needs to be updated to galleryartifacts URL

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e401ae26-588f-124f-09a8-f1f6dc75da4e
* Version Independent ID: 6a9509a1-f16c-f527-5df1-9dae2d8eeaed
* Content

[2020-06-22 15:14] sethmanheim commented on #864
@caz3542 Thank you for the feedback -- can you please include the name and/or path to the article in question?

[2020-06-22 17:07] caz3542 commented on #864
https://docs.microsoft.com/en-us/azure-stack/operator/azure-stack-create-and-publish-marketplace-item?view=azs-2002 - Item (6)

[2020-06-24 23:06] walterov opened #868 "Version mapping table is missing info and has a typo"
here is the correct table:

Azure Stack Hub version | AKS engine version
1910 | 0.43.0 , 0.43.1
2002 | 0.48.0, 0.51.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e69382e4-c307-4dfe-9885-92d2436ef858
* Version Independent ID: 135ea653-550b-039d-121c-95f2e7c93f10
* Content: [Release notes for the Azure Kubernetes Serv

[2020-06-24 23:13] mattbriggs commented on #868
@walterov Thanks for the update. Sending you a preview link.

#in-progress

[2020-06-24 23:24] mattbriggs commented on #868
Done. #please-close

[2020-06-24 23:24] #868 closed

[2020-06-25 22:14] walterov opened #871 "Remove references to K8s 1.17 and add note in known issues"
1. Remove reference to 1.17 in section "Kubernetes version upgrade path in AKS engine 0.51.0". See word doc for change in the section
2. Remove bullet point with reference to 1.17 in section "What's new", see word doc
3. Add this note to "Known Issue":
•	Kubernetes 1.17 is not supported in this release. Even though there are PRs alluding to it, 1.17 is in fact not supported.

---
#### Document Det

[2020-06-25 22:18] mattbriggs commented on #871
@walterov Thanks Walter. #in-progress

[2020-06-25 22:28] mattbriggs commented on #871
@walterov  https://github.com/MicrosoftDocs/azure-stack-docs-pr/pull/4028/commits/8e57751c35e8d86e3bf345d9f4bd38223d007ecc

[2020-06-25 22:39] mattbriggs commented on #871
PR signed off.

#please-close

[2020-06-25 22:39] #871 closed

[2020-06-26 18:19] TravisCragg-MSFT commented on #864
@caz3542 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-26 19:30] sethmanheim commented on #864
@caz3542 Thank you for the report, we are currently looking into this.

[2020-06-26 19:30] sethmanheim commented on #864
#in-progress

[2020-06-29 19:55] walterov opened #876 "New "known issue" to be added"
We need to add a new item to the "Known Issues" section

•	During upgrade (aks-engine upgrade) of a Kubernetes cluster from version 1.15.x to 1.16.x the kubernetes kube-proxy component is not upgraded:

o	In connected environments is not obvious to notice this issue since there are no signs in the cluster that kube-proxy was not upgraded. Everything appears to work as expected.
o	In disconnected e

[2020-06-29 20:35] sethmanheim commented on #876
Moved to private repo PR 4053. #please-close

[2020-06-29 20:35] #876 closed

[2020-06-29 23:07] walterov opened #878 "Add note explicitly saying that there is no support for the customer to provide his own certificates"
At the end of section "Define cluster specification", after step 9 add the following Note:

Currently AKS engine for Azure Stack Hub does not provide functionality to allow the user to provide his/her own certificates for the creation of the cluster.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9652b7b-09b9-ace9-4ef

[2020-06-30 01:07] SaurabhSharma-MSFT commented on #878
@walterov Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-06-30 14:22] IAteUrPoptart opened #879 "Issue with the Table"
On the System Requirements table the HW logo certification for recommended is on a new line in the table on mobile.
![Screenshot_20200630-102141](https://user-images.githubusercontent.com/11493878/86137669-87e7fd80-babb-11ea-9f4d-f56427f0e318.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc787c65-8a49-6504-abde-3

[2020-06-30 14:45] SaurabhSharma-MSFT commented on #879
@IAteUrPoptart Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-30 15:50] mattbriggs commented on #878
#in-progress

[2020-06-30 19:38] TravisCragg-MSFT commented on #879
@IAteUrPoptart Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-07-01 10:08] Andy-Dawson opened #884 "RSS feed link goes to '404 - Page not found'"
The link on this page to the RSS feed when clicked gives '404 - Page not found'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f8368a3-49e9-5216-f7cb-f91f6f1122c1
* Version Independent ID: 12092beb-efeb-974f-f9fe-5428435b228b
* Content: [ASDK Release Notes - Azure Stack Development Kit (ASDK)](https://docs.microsoft.c

[2020-07-01 15:48] SaurabhSharma-MSFT commented on #884
@Andy-Dawson Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-07-01 16:15] sethmanheim commented on #884
@Andy-Dawson Thank you for catching this -- the link in the Markdown source seems to be correct but I made a few formatting tweaks and the link in the article seems to be working. I'll close this for now but just add a comment if it isn't fixed by noon today PDT. #please-close

[2020-07-01 16:15] #884 closed

[2020-07-01 21:27] sethmanheim commented on #884
@Andy-Dawson I've noticed this is still not working correctly and have escalated the issue. #in-progress

[2020-07-06 00:43] DiegoOrdonezHPE opened #888 "Correct BMC password credential limit"
Should correct that the "BMC Password" character limit is 16 characters.
It is only stated for the "BMC Username"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4feaa2a-4850-478d-8122-7eb751ba0777
* Version Independent ID: f5cd7372-0443-3f2e-c403-ed7ba1a56146
* Content: [Rotate secrets - Azure Stack Hub](https://docs.

[2020-07-06 01:24] SaurabhSharma-MSFT commented on #888
@DiegoOrdonezHPE Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-07-07 22:47] mattbriggs commented on #878
@walterov https://github.com/MicrosoftDocs/azure-stack-docs-pr/pull/4124 messages you on Teams.

[2020-07-07 23:37] mattbriggs commented on #878
#please-close

[2020-07-07 23:37] #878 closed

[2020-07-09 16:02] IngridAtMicrosoft commented on #888
in review

[2020-07-09 16:19] IngridAtMicrosoft commented on #888
Please assign @BryanLa

[2020-07-09 18:26] BryanLa commented on #888
@DiegoOrdonezHPE - thanks very much for your feedback.

I'm in the process of making major revisions to this article, and have included your feedback.

#please-close

[2020-07-09 18:26] #888 closed

[2020-07-15 20:53] jamesorlando opened #905 "Issue with sample script"
The sample PowerShell script for updating the MySQL RP has some kind of format/character issue. You can tell by the different color of -DefaultSSLCertificatePassword parameter (line 40) . If you copy and past it to PowerShell ISE that too shows a different color. You can resolve the issue by removing the backtick( ` ) at the end of the -AzureEnvironment $AzureEnvironment line 39.

If you run the s

[2020-07-15 21:32] BryanLa commented on #905
@jamesorlando - thanks very much for your contribution, in spotting and reporting this.

It appears to have been caused by the fact that ```$PfxPass ` ``` was missing a trailing space, after the backtick character. I've tested in our test environment. I have not tested the execution of the script, but it it resolves the color formatting issue. I'll be redeploying the revised article at 3pm Pacific

[2020-07-15 21:34] BryanLa commented on #905
#please-close

[2020-07-15 21:34] #905 closed

[2020-07-23 13:30] kongou-ae opened #918 "Need more clarification about the license for guest windows server"
Hello Team,

I believe that the following sentence needs more clarification.

My confusing point is as follows.

**1.The server license for guest windows server**

Can we run the infinite guest windows servers without an additional server license? Does the billing of Azure Stack HCI OS contain the right of running guest Windows Server?

**2.The CAL for guest windows server**

Do I need CAL for the

[2020-07-23 18:24] nandak-msft opened #920 "VHD Path needs to be specified"
Install-WindowsFeature -Vhd **<vhdPath>** -Name Hyper-V, RSAT-Hyper-V-Tools, Hyper-V-Powershell

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a42847db-d724-8267-47bb-035ce4016d08
* Version Independent ID: f580b757-cefd-1765-c1ed-f6b572f849c2
* Content: [Known issues for Azure Stack HCI - Azure Stack HCI](https://docs.

[2020-07-23 18:29] nandak-msft commented on #920
Github markup keeps eating the commandline i specified.

Install-WindowsFeature -Vhd **{VHDPATH}** -Name Hyper-V, RSAT-Hyper-V-Tools, Hyper-V-Powershell

[2020-07-23 22:11] NavtejSaini-MSFT commented on #918
@kongou-ae We are checking this and we will get back to you.

[2020-07-23 23:47] TravisCragg-MSFT commented on #920
@nandak-msft Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-07-24 00:14] TravisCragg-MSFT commented on #918
@kongou-ae Let me double check on this.

[2020-07-24 01:38] TravisCragg-MSFT commented on #918
@kongou-ae The billing for Azure Stack HCI only includes the core usage, and does not include guest OS licenses. There is no native licensing method within Azure Stack HCI, so you will need to provide licenses for the Operating Systems that you deploy.

[2020-07-24 01:52] mattmcspirit commented on #918
@kongou-ae - to give an example, if you had 2 physical hosts, with 10 cores each:

1. You'd install Azure Stack HCI onto both pieces of hardware, build your cluster etc, and register it with Azure.  For a total of 20 physical cores, that would be charged at US $200 per month (List pricing).
2. For your guests, if you had only a few guests, and you wished those to be Windows Server, you could stack

[2020-07-24 16:27] danvalero opened #923 "Load balancer msut be public?"
The document mentions the template creates the a public load balancer. Is that mandatory? or can I create an internal load balancer?
If all application are inside the Stack, for security reasons I prefer no not to use public Ips
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1dba4334-9944-ca79-a90b-caa1dfd51c5d
* Versio

[2020-07-24 21:48] TravisCragg-MSFT commented on #923
@danvalero You should be able to use an Internal Load Balancer in this situation, however I would deploy a proof of concept and test a failover before using it with a production application.

[2020-07-29 23:41] TravisCragg-MSFT commented on #918
@kongou-ae We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-29 23:41] #918 closed

[2020-07-30 12:55] kongou-ae commented on #918
@mattmcspirit @TravisCragg-MSFT

Thank you for your advice. I understand and I don't have any additional questions.

I believe that the point about the license for guest VMs should be written on the price page of Azure Stack HCI when the new Azure Stack Hub will be GA. Because our friend is also confused by this.

Best.

[2020-07-30 16:09] mattmcspirit commented on #918
Thanks for this - i've started a few discussions internally, and we'll start to put some guidance together.

Thanks!

[2020-07-30 19:48] jamesorlando opened #933 "Subscription Permissions"
This page could use some information on permissions required to create a cluster. I just learned that users who are owners of a resource group in a subscription, but not an owner of the subscription will be unable to create a cluster. Do you need to be a subscription contributor or owner to create new clusters?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2020-07-30 22:48] TravisCragg-MSFT commented on #933
@BryanLa Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-07-30 23:07] TravisCragg-MSFT commented on #923
@danvalero We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-30 23:07] #923 closed

[2020-07-31 02:00] Donnie-Zhang opened #935 "The term 'Get-AzureStackLogs' is not recognized as the name of a cmdlet"
It's 'Get-AzureStackLog', not 'Get-AzureStackLog**s**'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9791d946-d79a-6929-4e48-56eb37021c6f
* Version Independent ID: 22b2c392-7cc5-c21a-fae5-2f717ce477c2
* Content: [Use the privileged endpoint (PEP) to collect diagnostic logs - Azure Stack Hub](https://docs.microsoft.com

[2020-07-31 09:06] pappleby64 opened #936 "Script parameter clarification needed"
Need more clarification on a couple of parameters
**VirtualMachineMemory** - deafult is 4GB but if I want 8GB what do pass as the parameter 8, 8G, 8000000 ?
**AzureStackCertificatePath** - need to explain why and when it's needed (using a non public CA) and be more specific about the certs that are needed and how to find them

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-07-31 18:41] BharathNimmala-MSFT commented on #935
@Donnie-Zhang  Thank you for bringing this to our notice, we will review the document and update it accordingly.

[2020-07-31 23:31] TravisCragg-MSFT commented on #936
@pappleby64 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-08-01 00:06] TravisCragg-MSFT commented on #935
@Donnie-Zhang This is already listed in #816, closing this a dupicate and following up with that issue.

[2020-08-01 00:06] #935 closed

[2020-08-01 00:08] TravisCragg-MSFT commented on #816
@Justinha this bug is still present, let me know if I can assist.

[2020-08-05 00:03] walterov opened #941 "No support for deploying a cluster in the Admin subscription"
Please add the following note to the description of "subscription-id": Only provide a tenant subscription, deploying to the admin subscription is not supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9652b7b-09b9-ace9-4ef7-abc413b9d52c
* Version Independent ID: 53c19bb0-3f77-d15c-87e2-33e1d442d73b
* Content: [

[2020-08-05 00:44] walterov opened #942 "Remove the Basic Load Balancer limitation from the doc, it is no longer a limitation"
Remove this from the doc:

Basic load balancer SKU limitations
Single agent pool limitation. Currently, Azure Stack Hub only supports the Basic load balancer SKU. This SKU limits the backend pool endpoints to virtual machines in a single availability set (or virtual machine scale set). This implies that all replicas of a LoadBalancer service should be deployed on the same agent pool and it also im

[2020-08-05 01:01] walterov opened #944 "Changes needed to this doc were sent to Matt through internal mail"
Matt, please look at the changes I outlined in an internal mail to you. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc538db2-5b34-3668-1e8e-1914b4b18c43
* Version Independent ID: 4f4c7701-f73c-ca0b-f7e4-62652a7ae66b
* Content: [Deploy a Kubernetes cluster to a custom virtual network on Azure Stack Hub - Azur

[2020-08-05 04:41] BhargaviAnnadevara-MSFT commented on #944
@walterov Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-08-05 04:48] BhargaviAnnadevara-MSFT commented on #941
@walterov Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2020-08-05 11:03] prasks82 opened #945 "registrationrole.json template Line 16 col 41 missing double quote leading to parsing error"
Hello,

In the registrationrole.json template Line 16 col 41     "Microsoft.Authorization/locks/write is missing double quote leading to parsing error:
New-AzureRmRoleDefinition : After parsing a value an unexpected character was encountered: N. Path 'Actions[9]', line
18, position 4.
At line:1 char:1
+ New-AzureRmRoleDefinition -InputFile "C:\CustomRoles\registrationrole ...
+ ~~~~~~~~~~~~~~~~~~~

[2020-08-05 11:18] BhargaviAnnadevara-MSFT commented on #945
@prasks82 Thank you very much for bringing this to our attention. We shall evaluate and update the document as appropriate.

[2020-08-05 14:22] BhargaviAnnadevara-MSFT commented on #945
@prasks82 Thank you for catching that error in the docs! I have submitted a PR to fix the issue that's in review.

[2020-08-05 14:23] BhargaviAnnadevara-MSFT commented on #942
@walterov Thank you for the feedback. I have submitted a PR to fix the issue that's in review.

[2020-08-05 14:23] BhargaviAnnadevara-MSFT commented on #941
@walterov Thank you for the feedback. I have submitted a PR to fix the issue that's in review.

[2020-08-05 17:02] #945 closed

[2020-08-05 17:03] BhargaviAnnadevara-MSFT commented on #945
@prasks82 The change is merged internally and will go-live in the public docs shortly. Thanks again for the feedback.

[2020-08-05 17:08] hfu949 opened #947 "Teaming Every "Up" Adapter"
This command seems a bit broad in terms of teaming any adapter that is up especially with SET not being able to team heterogeneous adapters.

Invoke-Command -ComputerName $Servers -ScriptBlock {New-VMSwitch -Name $using:vSwitchName -EnableEmbeddedTeaming $TRUE -EnableIov $true -NetAdapterName (Get-NetAdapter | Where-Object Status -eq Up ).InterfaceAlias}

https://docs.microsoft.com/en-us/azure-sta

[2020-08-05 18:04] mattbriggs commented on #944
https://github.com/MicrosoftDocs/azure-stack-docs-pr/pull/4542

[2020-08-05 18:04] mattbriggs commented on #944
#in-progress

[2020-08-05 19:36] mattbriggs commented on #941
Needed to make a change to the wording. I've added the note to this PR: https://github.com/MicrosoftDocs/azure-stack-docs-pr/pull/4542. Line 127 of the topic.

[2020-08-05 19:37] mattbriggs commented on #941
#please-close

[2020-08-05 19:37] #941 closed

[2020-08-05 19:52] mattbriggs commented on #942
@BhargaviAnnadevara-MSFT I've fixed in another PR. Please CC me in the future so I can fix in a single PR. Thanks! Matt

#please-close

[2020-08-05 19:52] #942 closed

[2020-08-05 23:35] NavtejSaini-MSFT commented on #947
@hfu949 We are checking this and we will get back to you.

[2020-08-05 23:45] hfu949 opened #949 "Wrong Parameter for New-ClusterFaultDomain"
Looks like the -Type should be -FaultDomainType as there is no -Type for that cmdlet.

New-ClusterFaultDomain -CimSession ClusterS1 -Type Site -Name Site1
New-ClusterFaultDomain -CimSession ClusterS1 -Type Site -Name Site2

https://docs.microsoft.com/en-us/azure-stack/hci/deploy/create-cluster-powershell#step-51-create-sites

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2020-08-06 00:12] hfu949 opened #950 "Missing Quotes for Site1"
Site1 should be in quotes or else it's not valid string

(Get-Cluster).PreferredSite = Site1

https://docs.microsoft.com/en-us/azure-stack/hci/deploy/create-cluster-powershell#step-53-set-a-preferred-site

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df3012c4-22e5-004d-da6f-60744f2cfb4f
* Version Independent ID: 57e21

[2020-08-06 00:45] TravisCragg-MSFT commented on #949
@hfu949 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-08-06 00:45] TravisCragg-MSFT commented on #950
@hfu949 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-08-06 01:15] TravisCragg-MSFT commented on #947
@hfu949 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-08-06 15:37] v-dasis commented on #947
content updated in staging per below. Let me know if this is OK. Then will merge and publish live later today:

"All network adapters must be identical when teaming NICs."

[2020-08-06 15:37] v-dasis commented on #950
content updated in staging. Will merge and publish live later today.

[2020-08-06 15:38] v-dasis commented on #949
content updated in staging. Will merge and publish live later today.

[2020-08-06 15:43] jonathanrelf opened #951 "AzureStack-Tools-az still make use of AzureRM PowerShell modules"
Whilst the instructions invite the use of the preview Az modules for Azure Stack, scripts like 'CloudCapabilities\AzureRM.CloudCapabilities.psm1' still make use of commands like 'Get-AzureRmResourceProvider'. After uninstalling all Azure modules from PowerShell 7.0.3 I was getting the error that 'The term 'Get-AzureRmResourceProvider' is not recognized as the name of a cmdlet, function, script fil

[2020-08-06 16:45] mattbriggs commented on #951
@jonathanrelf Thanks for your comments and experimentation with the GitHub repo. I'm following with with with the owner of the scripts, and will update once I get their response or let you know if they are updating something. Thanks! Matt

#in-progress

[2020-08-06 16:52] bganapa commented on #951
@mattbriggs it looks like the az branch CloudCapabilities script hasnt got converted to Az. Simply changing the -AzureRM prefix to -Az in the script should work I believe. Do you have time to make a PR to AzureStack tools repo?

[2020-08-06 21:53] mattbriggs commented on #951
@bganapa I submitted a PR to the Tools repo and validated that it run locally. @jonathanrelf  The update is in progress and should be live shortly. Thanks for your feedback.

#please-close

[2020-08-06 21:53] #951 closed

[2020-08-06 22:56] v-dasis commented on #950
push live Monday as missed Fri window

[2020-08-06 22:56] v-dasis commented on #947
push live on Monday as missed Fri window

[2020-08-06 23:41] hfu949 opened #954 "Error running Install-WindowsFeature List"
The -IncludeAllSubFeature and -IncludeManagementTools will produce an error.
[code]
**Result**
ArgumentNotValid: The role, role service, or feature name is not valid: 'Failover-Clustering -IncludeAllSubFeature -IncludeManagementTools'. The name was not found.

I assume it should be like this instead.
[code]

https://docs.microsoft.com/en-us/azure-stack/hci/deploy/create-cluster-powershell#step-13-

[2020-08-06 23:49] hfu949 opened #955 "Invalid Parameter for Get-Storagepool"
There is no -Cluster parameter. Probably meant to use -Cimsession.

Get-StoragePool -Cluster Cluster1

https://docs.microsoft.com/en-us/azure-stack/hci/deploy/create-cluster-powershell#step-6-enable-storage-spaces-direct

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df3012c4-22e5-004d-da6f-60744f2cfb4f
* Version Indep

[2020-08-07 09:25] PatrickLownds opened #956 "Backup payload for connected deployments i.e. with Azure AD are not 1GB in size."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34deefc4-caeb-f37d-a8c2-38425d5c8229
* Version Independent ID: ddb06ae4-dc73-543d-dc86-c28af82f98c6
* Content: [Infrastructure Backup Service reference - Azure Stack Hub](https://docs.microsoft.com/en-us/azure-stack/operator/azure-stack-backup-referen

[2020-08-07 09:26] PatrickLownds commented on #956
Document needs updating to reflect changes in the size of the backup payload for connected deployments.

[2020-08-07 09:34] BhargaviAnnadevara-MSFT commented on #954
@hfu949 Thanks for the question! We're investigating this and will get back to you shortly.

[2020-08-07 12:12] BhargaviAnnadevara-MSFT commented on #955
@hfu949 Thanks for the question! We're investigating this and will get back to you shortly.

[2020-08-07 14:31] NavtejSaini-MSFT commented on #956
@PatrickLownds We are checking this and will get back to you.

[2020-08-07 21:00] TravisCragg-MSFT commented on #956
@PatrickLownds Can you give a bit more context on what you are referring to, and what section of the doc needs to be changed?

Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-08-10 16:09] #954 closed

[2020-08-10 16:11] #955 closed

[2020-08-10 16:13] v-dasis commented on #947
#sign-off

[2020-08-10 16:19] BhargaviAnnadevara-MSFT commented on #954
@hfu949 Thank you for catching that error in the docs! I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2020-08-10 16:19] BhargaviAnnadevara-MSFT commented on #955
@hfu949 Thank you for catching that error in the docs! I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2020-08-10 20:39] walterov opened #960 "Add one more item to "AKS engine areas not supported""
Please add the following bullet at the end of the existing list under "AKS engine areas not supported":

"Production environments should only use highly available Kubernetes clusters, that is, clusters deployed with a minimum of 3 masters and 3 agent nodes. Anything less cannot be supported in production deployments"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2020-08-10 22:38] mattbriggs commented on #960
@walterov Sent an update preview.

#in-progress

[2020-08-11 14:54] mattbriggs commented on #944
Resolved. #please-close

[2020-08-11 14:54] #944 closed

[2020-08-12 10:31] SqlTechMike opened #962 "Spelling error - noice should be noise"
In the list of Fixes in the 2005 release the 8th bullet, related to code integrity policy, has a spelling error.  I believe "noice" should be corrected to "noise".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6e05517-6ffa-ad32-ec69-d3299492d880
* Version Independent ID: 2d6ffb4c-9134-a390-3f90-2322c9182e76
* Content

[2020-08-12 15:36] sethmanheim commented on #962
@SqlTechMike Thank you so much for catching that! I just submitted a PR to fix it, should be live after 10:15 AM PDT. #please-close

[2020-08-12 15:36] #962 closed

[2020-08-12 19:37] mattbriggs commented on #960
#please-close

[2020-08-12 19:37] #960 closed

[2020-08-13 03:06] Donnie-Zhang opened #965 "1908 release notes should not be archived"
1908 is still supported (due to CoVid 19), so it should not be archived.
And it's not available at https://gallery.technet.microsoft.com/Azure-Stack-version-1811-13716073

Anywhere can I find it?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6e05517-6ffa-ad32-ec69-d3299492d880
* Version Independent ID: 2d6ffb4c-9134-a

[2020-08-13 03:32] sethmanheim commented on #965
@Donnie-Zhang Sorry about that, we only found out very late about the 45-day grace period. I will add 1908 back, and it will be live by 10 AM PDT.

[2020-08-13 17:13] sethmanheim commented on #965
@Donnie-Zhang Done, and published live. #please-close

[2020-08-13 17:13] #965 closed

[2020-08-17 16:16] BryanLa commented on #933
Hi @jamesorlando - apologies for the delay on this. Engineering has confirmed that the user only needs to be a member of the Contributor role. I will also add a note to the article you cited, and thanks for your feedback.

#please-close

[2020-08-17 16:16] #933 closed

[2020-08-17 22:25] HassanAlmanasrah opened #972 "interactive container and connecting to ARM"
1. the below command runs container and let us access it at the same time, so if this is used each time, multiple containers will be run.
**docker run -it azure-stack-powershell powershell**
It might worth mentioning that this command can be used to access the container, instead of creating one each time:
**docker exec -it "Container name" powershell**

2. Tried the below and it works, but figured

[2020-08-17 23:35] mattbriggs commented on #972
@HassanAlmanasrah Thanks for this detailed feedback. I will update the article.

#in-progress

[2020-08-17 23:49] mattbriggs commented on #972
updated. #please-close

[2020-08-17 23:49] #972 closed

[2020-08-18 19:30] sethmanheim commented on #864
@caz3542 Hi again and sorry for the delay. I have obtained the new information, as follows are the corrected gallery artifacts URLs. I will be updating the article with this information today:

https://galleryartifacts.adminhosting.[Region].[externalFQDN]/artifact/20161101/[TemplateName]/DeploymentTemplates/Template.json

https://galleryartifacts.hosting.[Region].[externalFQDN]/artifact/20161101/[

[2020-08-18 19:30] #864 closed

[2020-08-18 20:36] leyasa opened #973 "MySQL RP Update example script has extra spaces"
The example update script has an extra space after each tick of each parameter that breaks the correct parsing of the parameters
# Then adjust the endpoints.
.$tempDir\UpdateMySQLProvider.ps1 -AzCredential $AdminCreds `
-VMLocalCredential $vmLocalAdminCreds `
-CloudAdminCredential $cloudAdminCreds `
-PrivilegedEndpoint $privilegedEndpoint `
-AzureEnvironment $AzureEnvironment `
-DefaultSSLCertific

[2020-08-18 20:37] leyasa opened #974 "SQL RP Update example script has extra spaces"
The example update script has an extra space after the tick on the AzureEnvironment parameter that breaks the correct parsing of the last two parameters

# Then adjust the endpoints.
. $tempDir\UpdateSQLProvider.ps1 -AzCredential $AdminCreds `
  -VMLocalCredential $vmLocalAdminCreds `
  -CloudAdminCredential $cloudAdminCreds `
  -PrivilegedEndpoint $privilegedEndpoint `
  -AzureEnvironment $AzureE

[2020-08-19 04:56] BhargaviAnnadevara-MSFT commented on #974
@leyasa Thanks for bringing this to our attention. We shall evaluate and update the document as appropriate.

[2020-08-19 04:56] BhargaviAnnadevara-MSFT commented on #973
@leyasa Thanks for bringing this to our attention. We shall evaluate and update the document as appropriate.

[2020-08-19 05:16] #973 closed

[2020-08-19 05:22] BhargaviAnnadevara-MSFT commented on #973
@leyasa Thank you for catching that error in the docs! I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2020-08-19 05:27] #974 closed

[2020-08-19 05:40] BhargaviAnnadevara-MSFT commented on #974
@leyasa Thank you for catching that error in the docs! I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2020-08-19 08:17] Werner-MOC opened #976 "vhdx disk size to small for ASDK 2005"
If you use default vhdx size of cloudbuilder.vhdx then you will have only 4GB left on C drive after setup.
This should be changed in next version, until then, before booting into this vhdx you can extend the size inside the vhdx to 200GB with cmdlet:
Resize-VHD -Path 'C:\Azure Stack Development Kit\CloudBuilder.vhdx' -SizeBytes 200GB
and then after booting into this vhdx extend C drive with comput

[2020-08-19 15:49] KranthiPakala-MSFT commented on #976
@Werner-MOC Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2020-08-24 07:18] Rkariyal opened #984 "FAQ question and answer is a little misleading"
[The FAQ section has this question and the answer is Yes - Do the the Azure portal cost management tools work for Azure Stack HCI? Yes

On discussion with a GBB colleague I was told that the " Azure Cost management tools don’t integrate with HCI or Hub or on premise resources" So I asked what does the question and answer refer to? his response is the 10$ per core per month charge.

Is this correct

[2020-08-24 09:18] LingYi-Wu opened #985 "Meter ID"
Hello Team,

Azure Stack Meter ID is different with Azure Meter ID (Resource guid).
It's really hard to check which Azure Stack Meter ID will bill our customers.
There is no document to compare with both IDs.

Please help mark each Azure Stack Meter ID which will generate cost, and add corresponding Azure Meter ID (Resource guid) to each ID.
Thank you!

---
#### Document Details

⚠ *Do not edit th

[2020-08-24 20:23] Grace-MacJones-MSFT commented on #985
Hi @LingYi-Wu,  thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-08-24 21:40] Grace-MacJones-MSFT commented on #984
Hi @Rkariyal, thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate

[2020-08-26 23:33] khdownie commented on #984
Hi @Rkariyal - I've reached out to my boss about this issue. Azure Stack HCI is not in GA yet so it's possible that this integration is forthcoming. Nonetheless I agree that we should clarify if it's not yet available. Thanks for pointing this out.

[2020-08-27 05:27] Rkariyal commented on #984
Thanks, my information could be wrong as well, in fact I hope it's wrong, :) cause that would be a great feature!

Look forward to hearing back from you.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Ken Downie <notifications@github.com>
Sent: Thursday, August 27, 2020 7:33:33 AM
To: MicrosoftDocs/azure-stack-docs <azure-stack-docs@noreply.github.com>
Cc:

[2020-08-27 10:26] HassanAlmanasrah opened #992 "VM overview blade does not show correct computer name"
I would like to suggest the below modification, since it make confusion. In the below part:
**VM overview blade does not show correct computer name
Applicable: This issue applies to all releases.
Cause: When viewing details of a VM in the overview blade, the computer name shows as (not available). This is by design for VMs created from specialized disks/disk snapshots.
Remediation: View the Proper

[2020-08-27 12:59] IbTornoe opened #993 "CSV enabled by default or not"
You may choose to use the CSV cache, or not – it's up to you. It is off by default in Storage Spaces Direct.
Thought that the CSV cache was enabled by default after 2012R2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f73eaa55-b596-53e5-bc97-d6730b70b721
* Version Independent ID: b940469f-9a0d-b119-e708-2c54f3e34e96
*

[2020-08-27 16:43] khdownie commented on #993
@IbTornoe I am looking into this now. We definitely have some conflicting information in the docs. Thanks for this catch. I think that in Windows Server 2016, the CSV cache is off by default. In Windows Server 2019, it's on by default with 1 GB allocated. I will make this clarification and address the out of date Windows Server docs as well.

[2020-08-27 18:19] khdownie commented on #993
This seems to change with every Windows Server release, so I'm not surprised we're pulling from outdated docs. This is the correct info, I think:

By default in Windows Server 2012, the CSV cache is disabled by default.

In Windows Server 2012 R2, the CSV cache is enabled by default. However, you must still allocate the size of the block cache to reserve.

In Windows Server 2016, it's off by defau

[2020-08-28 00:34] bganapa opened #996 "master.zip should be changed to az.zip for az"
# Change directory to the root directory.
here master.zip to az.zip

# Download the tools archive.
[Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12
invoke-webrequest `
  https://github.com/Azure/AzureStack-Tools/archive/az.zip `
  -OutFile master.zip

# Expand the downloaded files.
expand-archive master.zip `
  -DestinationPath . `
  -Force

# Change to the tools dir

[2020-08-28 00:57] TravisCragg-MSFT commented on #992
@HassanAlmanasrah Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-08-28 19:23] mattbriggs commented on #996
@bganapa Thanks! updating...

#in-progress

[2020-08-28 19:29] mattbriggs commented on #996
article updated. https://github.com/MicrosoftDocs/azure-stack-docs-pr/pull/4831/commits/33367ed81e7d1a39990251d9e3689d0f8b3f98b3

#please-close

[2020-08-28 19:29] #996 closed

[2020-08-31 22:46] sethmanheim commented on #992
@HassanAlmanasrah Thank you for catching that; we will add that known issue to 2005 as well as 2002. It should be live tomorrow after 10 AM PDT. Thanks again for the feedback! #please-close

[2020-08-31 22:46] #992 closed

[2020-08-31 22:58] sethmanheim commented on #678
Hi @AndreasFrangopoulos and sorry for the long delay in responding. As you can see we have added some notes, and I will also make sure to add this information to the doc page you referenced. Again, thanks for your feedback! #please-close

[2020-08-31 22:58] #678 closed

[2020-08-31 23:01] sethmanheim commented on #666
@HassanAlmanasrah As these are the subnet masks, please let us know if you have further questions. If so, please open a new issue and we will assign it to the engineering team. Thanks again for the feedback! #please-close

[2020-08-31 23:01] #666 closed

[2020-08-31 23:05] sethmanheim commented on #663
Hi @Donnie-Zhang and sorry for the long delay in processing this. We will add this to the referenced article, specifying that you must connect to public Azure instead of Azure Stack Hub before running the command New-AzureRmResource. Thanks again for the feedback! #please-close

[2020-08-31 23:05] #663 closed

[2020-08-31 23:15] sethmanheim commented on #14
@jgallucci32 Sorry for leaving this open so long. We have made modifications to this article, so if you still feel the information is missing, can you please open a new issue and @ mention me? Many thanks for your feedback! #please-close

[2020-08-31 23:15] #14 closed

[2020-08-31 23:18] sethmanheim commented on #22
@BjornAnd Sorry for leaving this open for so long. Is this still an issue? The ASDK has undergone some changes recently. If so, can you please open a new issue and @ mention me? Thanks again for your feedback. #please-close

[2020-08-31 23:18] #22 closed

[2020-09-01 22:00] david-dell opened #1002 "CloudID"
In the current version of this document, you require the user to obtain the CloudID, however you never actually mention what you need it for? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19119cef-de12-31e5-d0b6-b95f2985f57e
* Version Independent ID: 5a7921c1-ac2e-6de8-0e8d-de9f04e457a6
* Content: [Register Az

[2020-09-02 02:08] walterov opened #1003 "Changes for new AKS engine 0.55.0 version"
1. In section "Steps to upgrade to a newer Kubernetes version", step 1. Replace "The versions of Kubernetes supported in the latest update are 1.14.7 and 1.15.10. Follow this table for the upgrades available:" and the table right below that. for the following:
"To see the latest updat supported see the release notes here link:https://docs.microsoft.com/en-us/azure-stack/user/kubernetes-aks-engine-

[2020-09-02 02:13] walterov opened #1004 "New version of AKS engine v0.55.0"
1. In section "Prerequisites for the AKS engine" fine the image version in the table "AKS Base Ubuntu 16.04-LTS Image Distro, May 2020 (2020.05.13)" and replace it for "AKS Base Ubuntu 16.04-LTS Image, August 2020 (2020.08.24)"

2. Find all the refernces to "v0.51.0" and replace them for ""v0.55.0"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-09-02 02:14] walterov opened #1005 "New version of AKS Engine v0.55.0"
Find all refernces to "v0.51.0" and replace them to "v0.55.0"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d8c6cbd-54d8-9746-a1f8-a618b98e011e
* Version Independent ID: 479c631e-b7a4-c5cf-160d-141d336ad50a
* Content: [Install the AKS engine on Linux in Azure Stack Hub - Azure Stack Hub](https://docs.microsoft.com/en

[2020-09-02 02:15] walterov opened #1006 "New version of AKS Engine v0.55.0"
replace all references o 0.51.0 to 0.55.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 374a2d3f-fc08-7479-678e-cc1b28fa09c3
* Version Independent ID: 56139164-d119-c4e5-de98-3bf7cb0702bc
* Content: [Deploy the AKS engine on Windows in Azure Stack Hub - Azure Stack Hub](https://docs.microsoft.com/en-us/azure-stack/use

[2020-09-02 15:15] HassanAlmanasrah commented on #992
Hello Seth,

Thanks for the update. It has been mentioned under 2005. But still showing that this is applied on Specialized/Snapshot VMs, while in reality , this applies on Market place images as well.

﻿Best Regards
Hassan

From: Seth Manheim <notifications@github.com>
Sent: Tuesday, September 1, 2020 1:47 AM
To: MicrosoftDocs/azure-stack-docs <azure-stack-docs@noreply.github.com>
Cc: Hassan Alma

[2020-09-02 15:52] mattbriggs commented on #1003
@walterov Thanks!

#in-progress

[2020-09-02 15:52] mattbriggs commented on #1006
@walterov Thanks!

#in-progress

[2020-09-02 15:52] mattbriggs commented on #1005
@walterov Thanks!

#in-progress

[2020-09-02 15:52] mattbriggs commented on #1004
@walterov Thanks!

#in-progress

[2020-09-02 17:16] mattbriggs commented on #1006
@walterov https://review.docs.microsoft.com/en-us/azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-windows?view=azs-1802&branch=pr-en-us-4879

[2020-09-02 17:17] mattbriggs commented on #1005
@Walterov https://review.docs.microsoft.com/en-us/azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-linux?view=azs-1802&branch=pr-en-us-4879

[2020-09-02 17:17] mattbriggs commented on #1004
@walterov https://review.docs.microsoft.com/en-us/azure-stack/user/azure-stack-kubernetes-aks-engine-set-up?view=azs-1802&branch=pr-en-us-4879

[2020-09-02 17:17] mattbriggs commented on #1003
@walterov https://review.docs.microsoft.com/en-us/azure-stack/user/azure-stack-kubernetes-aks-engine-upgrade?view=azs-1802&branch=pr-en-us-4879

[2020-09-02 17:46] himanshusinha-msft commented on #1002
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-09-02 17:48] himanshusinha-msft commented on #1003
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-09-02 23:24] TravisCragg-MSFT commented on #1002
@david-dell Thanks for the feedback! I do not see the Cloud ID being used anymore, it is likely a remnant from a past registration method. I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-09-03 22:46] mattbriggs commented on #1006
#please-close

[2020-09-03 22:46] #1006 closed

[2020-09-03 22:46] mattbriggs commented on #1005
#please-close

[2020-09-03 22:46] #1005 closed

[2020-09-03 22:46] #1004 closed

[2020-09-03 22:46] mattbriggs commented on #1003
#please-close

[2020-09-03 22:46] #1003 closed

[2020-09-07 05:04] SumanthMarigowda-MSFT opened #1016 "In resource tab: Azure Stack MSDN forum is been redirected to old MSDN portal"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1af91df-2eff-9379-b3b1-e1ad2ab70c9e
* Version Independent ID: fb6f5447-ebde-8883-9f6f-5d36d4ed0cad
* Content: [Troubleshoot the ASDK - Azure Stack Development Kit (ASDK)](https://docs.microsoft.com/en-us/azure-stack/asdk/asdk-troubleshooting?view=azs

[2020-09-07 05:05] SumanthMarigowda-MSFT commented on #1016
@SumanthMarigowda-MSFT  Thanks for the question! We are investigating and will update you shortly.

[2020-09-08 12:33] HassanAlmanasrah opened #1018 "Collect AKS engine logs - confusing"
was going through this part and seems confusing at least for me.
Seems that command is not correct **aks-engine --output-directory <path to the directory>**
as **aks-engine get-logs** has this switch "--output-directory"
also, it is not clear if this process do the same as next section for **Collect Kubernetes logs**, since its required parameters are below and they seem collecting logs using scri

[2020-09-08 17:42] walterov opened #1020 "Missed version for image in example phrase"
Section "Matching engine to base image version", need to replace "2020.05.13" for "2020.08.24"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a537721-93a2-202f-abf5-6d0fe560fef0
* Version Independent ID: 676263bc-6c11-4fd4-0318-5d2504c1b014
* Content: [Set up the prerequisites for the AKS engine on Azure Stack Hub - A

[2020-09-08 20:29] TravisCragg-MSFT commented on #1018
@HassanAlmanasrah Thanks for the feedback! The Get-Logs part of aks-engine was added recently, and likely needs to be updated here as well. I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-09-08 21:00] mattbriggs commented on #1020
@walterov Thanks! fixed. #in-progress

[2020-09-08 21:00] mattbriggs commented on #1020
https://github.com/MicrosoftDocs/azure-stack-docs-pr/pull/4955/commits/fc7cebf1f0354e6cb28089c8fbfdc0f496a4f7d0

[2020-09-08 21:00] mattbriggs commented on #1020
#please-close

[2020-09-08 21:00] #1020 closed

[2020-09-08 21:01] mattbriggs commented on #1018
@@HassanAlmanasrah I'll check this. Thanks! #in-progress

[2020-09-08 21:42] mattbriggs commented on #1018
@HassanAlmanasrah Thanks for calling out the missing command. I've double checked the aks-engine and we are missing the command get-logs in the instructions. I've updated. The logs with the command aks-engine get-logs, 'Collect logs and current cluster nodes configuration.' This is seperate process from the full range of info collected by the getkuberneteslogs.sh. Without this script, you would ne

[2020-09-08 21:45] mattbriggs commented on #1018
Here is the PR with the fix: https://github.com/MicrosoftDocs/azure-stack-docs-pr/pull/4957

[2020-09-08 21:45] mattbriggs commented on #1018
#please-close

[2020-09-08 21:45] #1018 closed

[2020-09-09 07:48] #1016 closed

[2020-09-09 19:59] Justinha commented on #816
@TravisCragg-MSFT sorry for delay and thanks raising this @chenminhua . This is fixed.

[2020-09-09 20:29] Justinha commented on #1002
@TravisCragg-MSFT We will add an explanation here: https://docs.microsoft.com/en-us/azure-stack/operator/azure-stack-find-cloud-id?view=azs-2005 and link to it from the registration topic.

The Cloud ID is the unique ID for tracking support data uploaded from a specific scale unit. When diagnostic logs get uploaded for support analysis, the Cloud ID is how they are associated to that scale unit.

[2020-09-10 18:01] walterov opened #1025 "We need to add a section on "Version support""
Add a new section to this article title: "Version support". With this paragraph:

The AKS engine version support follows the same pattern established by the rest of the Azure Stack Hub support policy, that is support of a version of AKS engine on Azure Stack Hub is based on the n-2 formula. For example, if the latest version of AKS engine is v0.55.0, the set of supported versions are: 0.48.0, 0.51

[2020-09-10 18:02] mattbriggs commented on #1025
@walterov Thanks! #in-progress

[2020-09-10 21:49] mattbriggs commented on #1025
@walterov For your review: https://github.com/MicrosoftDocs/azure-stack-docs-pr/pull/5006

[2020-09-10 22:29] mattbriggs commented on #1025
updated

#please-close

[2020-09-10 22:29] #1025 closed

[2020-09-11 13:22] alexsmithMSFT opened #1027 "Outbound URLs for Diagnostic Log Collection do not include prod SAS URI DNs name azsdiagprdlocalwestus"
Outbound URLs for **Diagnostic Log Collection** do not include prod SAS Uri DNS name azsdiagprdlocalwestus

Current doc, outbound endpoints:
**Diagnostic Log Collection**
https://azsdiagppelocalwestus02.blob.core.windows.net
https://azsdiagppewestusfrontend.westus.cloudapp.azure.com
https://azsdiagprdwestusfrontend.westus.cloudapp.azure.com

Example prod SASUri starts with- https://azsdiagprdlocal

[2020-09-11 18:35] Justinha commented on #1027
@alexsmithMSFT thanks for the feedback! We have some follow up questions for you and will update the topic after.

[2020-09-11 18:58] Justinha commented on #387
@jgallucci32 @TravisCragg-MSFT with the 2002 release, we no longer require using Storage Explorer. I think we can close this as a result.

[2020-09-11 20:15] slinehan opened #1029 "Initial feedback."
I would consider changing this paragraph a bit to lead not only with the feature but that it is with the customers consent.  I would also rephrase the benefit to ensure we are not setting a false expectation.  So from this:

"The Azure Stack Hub remote support feature enables Microsoft Support to perform support operations remotely on your Azure Stack Hub device. Remote support lets Microsoft Supp

[2020-09-11 23:13] TravisCragg-MSFT commented on #1029
@slinehan Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-09-11 23:14] walterov opened #1031 "Need new Issue section for 0.55.0"
We need to add a new section title: "Disk detach operation fails in AKS Engine 0.55.0" and the following as content.

When the Kubernetes user tries to delete a deployment that contains Persistence Volumes, the user will notice a series of attach/detach errors associate to the delete operation. This is due to a bug in AKS Engine v0.55.0 Cloud Provider whereas the Cloud Provider calls ARM using a n

[2020-09-11 23:14] mattbriggs commented on #1031
@walterov #in-progress

[2020-09-11 23:35] mattbriggs commented on #1031
@walterov https://github.com/MicrosoftDocs/azure-stack-docs-pr/pull/5027

[2020-09-11 23:48] mattbriggs commented on #1031
#please-close

[2020-09-11 23:48] #1031 closed

[2020-09-12 16:56] jgallucci32 opened #1032 "Infrastructure Backup size requirements do not add up correctly"
The math is incorrect for the recommended size of the backup directory. Seven backups @10GB per backup would be 70GB, not 140GB. Given the default setting for Infrastructure Backup is 2 backups per day, I think this means to say "Fourteen or 14" backups which would add up to 140GB total.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2020-09-13 03:34] RohitMungi-MSFT commented on #1032
@jgallucci32 Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-09-13 16:52] jgallucci32 commented on #387
@Justinha In the context of Azure Stack yes this may be closed. The underlying issue still exists where Azure Government users cannot easily get the SAS URI of a container and must manually construct it based on the storage account info. That is a minor problem though.

[2020-09-14 16:43] alexsmithMSFT commented on #1027
Pending input from PG. Based on conversation so far this...
https://azsdiagppelocalwestus02.blob.core.windows.net
...will become one of these (not both):
https://azsdiag*.blob.core.windows.net
https://*.blob.core.windows.net

For the others, not sure if we remove the PPE endpoint-
https://azsdiagppewestusfrontend.westus.cloudapp.azure.com **(REMOVE?)**
https://azsdiagprdwestusfrontend.westus.cloud

[2020-09-15 19:10] mattbriggs commented on #511
@eric-jenouvrier Thanks for yoiur comment. #-in-progress

[2020-09-15 20:23] myoungerman commented on #427
@TravisCragg-MSFT I have fixed this, thanks!

[2020-09-15 20:33] myoungerman commented on #613
@alexsmithMSFT @TravisCragg-MSFT Fixed this. Thanks!

[2020-09-15 21:40] myoungerman commented on #879
@TravisCragg-MSFT @SaurabhSharma-MSFT Fixed, thanks!

[https://github.com/MicrosoftDocs/azure-stack-docs-pr/pull/5062](https://github.com/MicrosoftDocs/azure-stack-docs-pr/pull/5062)

[2020-09-15 23:39] TravisCragg-MSFT commented on #1032
@jgallucci32 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-09-16 00:15] TravisCragg-MSFT commented on #427
@frehnejc We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-16 00:15] #427 closed

[2020-09-16 00:15] TravisCragg-MSFT commented on #613
@alexsmithMSFT We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-16 00:15] #613 closed

[2020-09-16 17:32] walterov opened #1036 "New patch release for AKS Engine v0.55.4"
In this page we need to:

1. Change references to AKS engine version "0.55.0" for "v0.55.4" (let's make sure we use the "v")
2. Change references to image "2020.08.24" for "2020.09.14 and "August 2020" for "September 2020"
3. Add a new bullet point to "What's new"
   Update Azure Stack's Linux VHD to 2020.09.14 (#3828 <link: https://github.com/Azure/aks-engine/pull/3828>). Fix to issue #3817 (disk

[2020-09-16 17:35] walterov opened #1037 "replace v0.55.0 for v0.55.4 and 2020.08.24 for 2020.09.14"
In this page we need to:

replace v0.55.0 for v0.55.4 and 2020.08.24 for 2020.09.14

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e69382e4-c307-4dfe-9885-92d2436ef858
* Version Independent ID: 135ea653-550b-039d-121c-95f2e7c93f10
* Content: [Release notes for Azure Kubernetes Service (AKS) engine on Azure Stack Hub -

[2020-09-16 19:17] mattbriggs commented on #1036
@walterov Thanks! https://github.com/MicrosoftDocs/azure-stack-docs-pr/pull/5078

[2020-09-16 19:17] mattbriggs commented on #1036
#in-progress

[2020-09-16 19:17] mattbriggs commented on #1037
@walterov Thanks! https://github.com/MicrosoftDocs/azure-stack-docs-pr/pull/5078

[2020-09-16 19:17] mattbriggs commented on #1037
#in-progress

[2020-09-16 21:24] mattbriggs commented on #1037
#please-close

[2020-09-16 21:24] #1037 closed

[2020-09-16 21:24] mattbriggs commented on #1036
#please-close

[2020-09-16 21:24] #1036 closed

[2020-09-17 00:22] walterov opened #1039 "Release notes is missing the latest fix bullet item"
In the "what's new" section add this fix:

Update Azure Stack's Linux VHD to 2020.09.14 #3828 <TODO:#3828 should point to https://github.com/Azure/aks-engine/pull/3828>

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e69382e4-c307-4dfe-9885-92d2436ef858
* Version Independent ID: 135ea653-550b-039d-121c-95f2e7c93f10
* Co

[2020-09-17 01:51] TravisCragg-MSFT commented on #1039
@walterov Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-09-18 20:16] mattbriggs commented on #511
@eric-jenouvrier We have a question to our legal team and I've brought this to the attention of the product group. Thanks for raising this issue. I will update when legal and the product group provide guidance.

[2020-09-18 20:16] mattbriggs commented on #511
#please-close

[2020-09-18 20:16] #511 closed

[2020-09-21 21:28] sethmanheim commented on #525
@cenkersoy Very sorry for the slow response. I will add some relevant links to the Next Steps section ASAP. Thank you for your feedback! #please-close

[2020-09-21 21:28] #525 closed

[2020-09-23 02:44] #816 closed

[2020-09-25 15:32] khdownie commented on #993
@IbTornoe @TravisCragg-MSFT this is now resolved in both the Windows Server and Azure Stack HCI repos, so this issue can be closed. Thanks again for the heads up.

[2020-09-25 19:22] alexsmithMSFT opened #1052 "Use Test-AzureStack SecretRotationReadiness group"
In Prerequisites section, under first step to run Test-AzureStack, this page should reference the new-ish validation group for secret rotation:
`Test-AzureStack -Group SecretRotationReadiness`

For reference- https://docs.microsoft.com/en-us/azure-stack/operator/azure-stack-diagnostic-test?view=azs-2005#groups

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2020-09-25 19:28] alexsmithMSFT opened #1053 "BMC Credential step confuses interactive PEP session"
Step #3 under [Update the BMC credential](https://docs.microsoft.com/en-us/azure-stack/operator/azure-stack-rotate-secrets?view=azs-2005#update-the-bmc-credential) is worded in a confusing way.

If you are **inside** the locked PEP session, you will see the "PS>", but then you can't run the command using **Invoke-Command** as described. To set the BMC credential while in an interactive PEP session

[2020-09-25 21:18] myoungerman commented on #1032
@RohitMungi-MSFT @TravisCragg-MSFT I've updated the article as appropriate. Thanks!

https://github.com/MicrosoftDocs/azure-stack-docs-pr/pull/5212

[2020-09-25 23:46] BryanLa commented on #1052
@alexsmithMSFT - thanks much for the contribution. The changes are in staging and will publish in the next business day.

#please-close

[2020-09-25 23:46] #1052 closed

[2020-09-26 01:52] TravisCragg-MSFT commented on #993
@IbTornoe We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-26 01:52] #993 closed

[2020-09-28 13:43] CarlosGon commented on #782
@sethmanheim @TravisCragg-MSFT I submitted a pull request with my propose of changes on the documents. Let me know your feedback

[2020-09-28 13:43] CarlosGon commented on #781
@sethmanheim @TravisCragg-MSFT I submitted a pull request with my propose of changes on the documents. Let me know your feedback

[2020-09-28 15:23] sethmanheim commented on #782
@CarlosGon @TravisCragg-MSFT Thank you and very sorry for the delay -- I never saw this issue as it was never assigned to anyone. I've asked for clarification in the other PR, so let's close this one. #please-close

[2020-09-28 15:23] #782 closed

[2020-09-28 15:24] sethmanheim commented on #781
@CarlosGon @TravisCragg-MSFT Thank you and very sorry for the delay -- this issue was never assigned to anyone. I've asked for clarification in the other PR, so let's close this one. #please-close

[2020-09-28 15:24] #781 closed

[2020-09-28 16:14] myoungerman commented on #920
@TravisCragg-MSFT I've updated the article, thanks!

https://github.com/MicrosoftDocs/azure-stack-docs-pr/pull/5211

[2020-09-28 18:22] myoungerman commented on #1027
@alexsmithMSFT Fixed this, thanks!

https://github.com/MicrosoftDocs/azure-stack-docs-pr/pull/5223

[2020-09-28 19:03] mattbriggs commented on #1039
@walterov Sorry this slipped through the cracks. Updated:
https://github.com/MicrosoftDocs/azure-stack-docs-pr/pull/5224

#in-progress

[2020-09-28 19:08] mattbriggs commented on #1039
Updated.

#please-close

[2020-09-28 19:08] #1039 closed

[2020-09-28 22:41] abatishchev opened #1059 "Doc how to create custom environment is incomplete, no information for Dogfood"
Currently the doc says how to create a custom environment for Azure Stack Hub. But no word about how to add fully custom Azure environment, such as Microsoft Azure Dogfood.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5aa954f6-471e-fb07-ad81-d3c389b8d1ea
* Version Independent ID: c80b0c02-9292-c5e1-d7df-c37db7aa2c42

[2020-09-29 09:55] SwathiDhanwada-MSFT commented on #1059
@abatishchev Thanks for your comment. We will review the issue and get back to you shortly.

[2020-09-29 18:46] TravisCragg-MSFT commented on #1059
@abatishchev This doc (and repository) is designed to be specific for [Azure Stack Hub](https://docs.microsoft.com/en-us/azure-stack/operator/azure-stack-overview?view=azs-2005).

If you need assistance with Storage Explorer on an issue unrelated to Azure Stack, your best bet is to [ask that question on Azure Storage Explorer's doc page](https://docs.microsoft.com/en-us/azure/vs-azure-tools-storag

[2020-09-29 18:57] abatishchev commented on #1059
hi @TravisCragg-MSFT,
I got this link from ASE itself:

![image](https://user-images.githubusercontent.com/351644/94603101-a7253100-024a-11eb-946e-7ff4f13a3842.png)
and then

![image](https://user-images.githubusercontent.com/351644/94603158-ba380100-024a-11eb-9234-6517d11bb4d8.png)

If the dropdown item was called "New Azure Stack Hub Environment" I would not have questions.

Can you please work

[2020-09-29 20:06] mattbriggs commented on #1059
@cawaMS @abatishchev I've added the github alias for the Get Started with Storage Explorer here. Thanks again for your feedback.

Thanks, Matt

#please-close

[2020-09-29 20:06] #1059 closed

[2020-10-01 20:17] walterov opened #1064 "Need to add the "v" to 0.55.4"
Change this line ./get-akse.sh --version 0.55.4

for this one

./get-akse.sh --version v0.55.4

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d8c6cbd-54d8-9746-a1f8-a618b98e011e
* Version Independent ID: 479c631e-b7a4-c5cf-160d-141d336ad50a
* Content: [Install the AKS engine on Linux in Azure Stack Hub - Azure Stack H

[2020-10-01 20:19] mattbriggs commented on #1064
@walterov #in-progress

[2020-10-01 20:21] mattbriggs commented on #1064
@walterov preview: https://github.com/MicrosoftDocs/azure-stack-docs-pr/pull/5275/commits/204d52e587a6d1c9e622d1e48f61845bf58330ca

[2020-10-01 21:18] mattbriggs commented on #1064
Merging... #please-close

[2020-10-01 21:18] #1064 closed

[2020-10-02 21:55] walterov opened #1068 "Need to upgrade script version to v0.1.5"
This link: https://github.com/msazurestackworkloads/azurestack-gallery/releases/tag/diagnosis-v0.1.3
should change to https://github.com/msazurestackworkloads/azurestack-gallery/releases/tag/diagnosis-v0.1.5

This command:

wget https://github.com/msazurestackworkloads/azurestack-gallery/releases/download/diagnosis-v0.1.1/diagnosis-v0.1.1.tar.gz
tar xvf diagnosis-v0.1.1.tar.gz -C ./

Should change

[2020-10-02 23:00] mattbriggs commented on #1068
@walterov #in-progress

[2020-10-02 23:13] mattbriggs commented on #1068
@walterov Here is the change: https://github.com/MicrosoftDocs/azure-stack-docs-pr/pull/5290/files

[2020-10-02 23:41] mattbriggs commented on #1068
Updated.

#please-close

[2020-10-02 23:41] #1068 closed

[2020-10-06 02:07] walterov opened #1072 "Change the the Log list"
Replace the entire list of logs described under "This script automates the process of gathering the following logs:" with:

- Log files in directory /var/log/azure/
- Log files in directory /var/log/kubeaudit (kube audit logs)
- Log file /var/log/waagent.log (waagent)
- Log file /var/log/azure/deploy-script-dvm.log (if deployed using Azure Stack's Kubernetes Cluster marketplace item)
- Static mani

[2020-10-06 06:41] AnuragSharma-MSFT commented on #1072
@walterov Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-06 06:54] GitaraniSharma-MSFT commented on #1072
@TravisCragg-MSFT , could you please take a look into this feedback?

[2020-10-06 16:17] walterov commented on #1072
Hi Team, I'm the PM for this product, we need these changes to be applied. Could you review language and proceed? Thanks!

[2020-10-06 16:22] walterov commented on #1072
Please check with @mattbriggs, he normally manages this content. Thanks!

[2020-10-06 22:07] mattbriggs commented on #1072
@walterov in-progress

[2020-10-07 22:56] mattbriggs commented on #1072
@walterov updated: https://review.docs.microsoft.com/en-us/azure-stack/user/azure-stack-kubernetes-aks-engine-troubleshoot?view=azs-1802&branch=pr-en-us-5335

[2020-10-07 23:06] BryanLa commented on #1053
Resolved in azure-stack-docs-pr PR #5216.
#please-close

[2020-10-07 23:06] #1053 closed

[2020-10-08 17:13] mattbriggs commented on #1072
#please-close

[2020-10-08 17:13] #1072 closed

[2020-10-18 22:36] ISMDemocom opened #1090 "Incorrect heading"
There are 2 headings for 'Drive health state: Healthy' - the 2nd one should likely read 'Drive health state: Warning'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 464f75d9-17b7-34b1-346d-f7fa2d90fea5
* Version Independent ID: b80d6847-7c20-82d1-7cea-d24f6b82aa9e
* Content: [Manage storage infrastructure for Azure St

[2020-10-18 22:37] #1090 closed

[2020-10-18 22:39] ISMDemocom opened #1091 "Incorrect heading"
There are 2 headings for 'Drive health state: Healthy' - the 2nd one should likely read 'Drive health state: Warning'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 464f75d9-17b7-34b1-346d-f7fa2d90fea5
* Version Independent ID: b80d6847-7c20-82d1-7cea-d24f6b82aa9e
* Content: [Manage storage infrastructure for Azure St

[2020-10-19 03:49] BhargaviAnnadevara-MSFT commented on #1091
Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2020-10-19 07:07] #1091 closed

[2020-10-19 07:07] BhargaviAnnadevara-MSFT commented on #1091
@ISMDemocom Thank you for the feedback. I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2020-10-20 07:26] MatthiasMerk opened #1094 "windowss typo"
There's a typo in the taint yaml. should be windows and not windowss with two s.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15b010a6-b39c-0423-ae57-c1977c8f4a0a
* Version Independent ID: 081ecd08-bece-aa57-229d-06c5d46a8fa5
* Content: [Adapt applications for use in mixed-OS Kubernetes clusters - Azure Stack Hub](ht

[2020-10-20 10:36] #1094 closed

[2020-10-20 10:36] BhargaviAnnadevara-MSFT commented on #1094
@MatthiasMerk Thank you for catching that error in the docs! I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2020-10-23 13:20] carlosmayol opened #1101 "Pics are missing in the docs"
[Enter feedback here]
Please fix this issue, images are gone across the sections.
Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3b4e8aa-3637-897c-3db5-1be1a435b606
* Version Independent ID: 8f83513a-b461-5c6d-bd8d-ce13486f4691
* Content: [Deploy the Azure Stack HCI operating system - Azure Stack HCI](https://

[2020-10-23 21:00] walterov opened #1103 "Add a known issue to this page"
Title: "Resizing cluster VMs through the Compute service does not work with AKS engine"

The reason is that AKS engine maintains the state of the cluster in the API json file. To ensure that the desired VM size is reflected in any create, update, or scale operation done with AKS engine the API model must be updated before executing any of those operations. For example, on an already deployed clust

[2020-10-23 22:29] mattbriggs commented on #1103
@walterov #in-progress

[2020-10-23 22:31] mattbriggs commented on #1103
@https://github.com/MicrosoftDocs/azure-stack-docs-pr/pull/5523

[2020-10-23 23:43] TravisCragg-MSFT commented on #1101
@carlosmayol Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-10-27 16:53] JohnCobb1 commented on #1101
Hi @carlosmayol Thanks for this feedback. I've checked the images in the topic in both Edge and Chrome. All images are displaying as expected from my PC.

[2020-10-27 18:09] carlosmayol commented on #1101
Hello @JohnCobb1 since yesterdays seems OK, I though it might be related to where the images are stored. thanks for checking.

[2020-10-27 23:29] mattbriggs commented on #1103
#sign-off

[2020-10-27 23:32] #1103 closed

[2020-11-02 16:39] myoungerman commented on #1029
@TravisCragg-MSFT I've updated the article text since this issue was opened, so the text is clearer now. Thanks!

[2020-11-05 12:50] joberholzer opened #1119 "Unable to find nupkg as instructed"
The document talks about saving a nuget package to a local file share or some other location so you can import it into Windows Admin Center and begin setting up Azure Kubernetes service. Yet I can't seem to find this nuget package anywhere. It's not available on the downloads page, on the ISO for AKS-HCI, not in the MSI for admin center... where is this file? How do we get it?

---
#### Document D

[2020-11-05 13:00] joberholzer commented on #1119
Also, Tried to switch over to the Powershell instructions but the zip file referenced for all the powershell modules is also missing from the download page. Unable to continue with any setup what-so-ever for Kubernetes on HCI.

[2020-11-05 13:12] #1119 closed

[2020-11-05 13:12] joberholzer commented on #1119
User error. Disregard

[2020-11-05 18:39] TravisCragg-MSFT commented on #1119
@joberholzer Thanks for following up!

[2020-11-05 19:16] JohnCobb1 commented on #1101
@carlosmayol  I've checked the images again in this topic in both Edge and Chrome. All images are displaying as expected from my PC. Do you want me to sign off on this PR? Thanks

[2020-11-05 20:37] carlosmayol commented on #1101
@JohnCobb1 Sure sorry I forgot. thanks

[2020-11-05 20:37] #1101 closed

[2020-11-08 06:28] AquanPJCA opened #1125 "Replace PFXpassword with the actual password:"
Replace PFXpassword with the actual password <--------------- this line is incorrect.
The line creates a prompt where the user inputs a password. PFXpassword is the prompt text itself.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82d4c695-8176-5c19-9814-6dd9b7506138
* Version Independent ID: fc6ceb0a-5167-1251-2e75-b

[2020-11-09 05:09] HarithaMaddi-MSFT commented on #1125
@AquanPJCA - Thanks for your valuable feedback. We are looking into it and will update you shortly.

[2020-11-10 00:04] TravisCragg-MSFT commented on #1125
@AquanPJCA Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-11-10 17:47] IngridAtMicrosoft commented on #1125
This is being investigated.

[2020-11-10 18:06] BryanLa commented on #1125
@AquanPJCA - thanks for finding this and contributing feedback. The article has been fixed and will be updated during the next publishing cycle, about 5 hours from now.

#please-close

[2020-11-10 18:06] #1125 closed

[2020-11-10 18:55] toolboc opened #1130 "Update steps to deploy DeepStream Module to accommodate all customer environments"
It appears that not all customer environments have access to deploy IoT Edge Modules from the Azure Marketplace, it may be advised to update documentation to reflect manual steps to accommodate this situation.  This would impact steps 14 & 15 [here](https://docs.microsoft.com/en-us/azure-stack/hci/manage/attach-gpu-to-linux-vm#configure-azure-iot-edge).
 I will update this issue shortly with a pro

[2020-11-11 02:49] BharathNimmala-MSFT commented on #1130
@toolboc Thanks a lot for bringing this to attention and also helping fixing the document with a PR. Thank you

[2020-11-11 10:06] VJayMeyer opened #1133 "Update documentation -"
Hi There,

ASR states to use Server 2016. But in 2016 you first need to mandate the correct TLS level.
For the next person. Add this line to the PowerShell commands to be run:-

[Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52c7ec8b-634f-6

[2020-11-11 10:48] HarithaMaddi-MSFT commented on #1133
@VJayMeyer - Thanks for your valuable feedback. Our team is looking into it and will get back to you soon.

[2020-11-11 17:47] mattbriggs commented on #1133
@VJayMeyer Tanks for your feedback. I'll update the content. #in-progress

[2020-11-11 22:18] mattbriggs commented on #1133
Updated the doc. Will be merged in the next doc build. Thanks! Matt

#please-close

[2020-11-11 22:18] #1133 closed

[2020-11-12 15:17] SychevIgor commented on #976
It's super important problem. currently disk require 56GB! MSFT- please fix requirements and this document

[2020-11-12 19:36] bganapa opened #1137 "Link needed for Download the Azure Stack Hub tools."
Download the Azure Stack Hub tools.

this should be a link the Azurestack hub registration page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19119cef-de12-31e5-d0b6-b95f2985f57e
* Version Independent ID: 5a7921c1-ac2e-6de8-0e8d-de9f04e457a6
* Content: [Register Azure Stack Hub with Azure - Azure Stack Hub](https://d

[2020-11-12 19:59] TravisCragg-MSFT commented on #1130
@toolboc Thanks for the feedback! It looks like your PR request was merged, so I am going to close this issue.

@khdownie FYI

[2020-11-12 19:59] #1130 closed

[2020-11-12 20:05] TravisCragg-MSFT commented on #1137
@bgianfo the link for how to get the tools is given in the [Download the Azure Stack Hub tools section](https://docs.microsoft.com/en-us/azure-stack/operator/azure-stack-registration?view=azs-2008&pivots=state-disconnected#download-the-azure-stack-hub-tools). It takes you to another page where installation instructions are given, as it is best to use PowerShell to download the tools. The Exact URL

[2020-11-12 20:11] bganapa commented on #1137
I see that now :). There is no further action needed . Thank you!

[2020-11-12 20:11] #1137 closed

[2020-11-15 02:36] francoislegrange opened #1141 "No custom vm folder in downloaded file"
. This download includes custom VM templates. Extract the .zip file, and under the folder Custom VMs, < The is no such folder in downloaded zip file.>
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e401ae26-588f-124f-09a8-f1f6dc75da4e
* Version Independent ID: 6a9509a1-f16c-f527-5df1-9dae2d8eeaed

[2020-11-15 06:26] HarithaMaddi-MSFT commented on #1141
@francoislegrange - Thanks for your valuable feedback. We will review and get back to you with more details.

[2020-11-17 16:58] eszych opened #1145 "PowerShell Command for Domain Join has typos"
To connect to the Windows Worker VM using SSH you first need the SSH Key.
**Please add a description on how to optain the key.**
Also, the optained key is in the wrong format for putty for Windows and needs to be converted into a .ppk file.

After connecting to the Windows Worker VM using SSH the user will be at a command prompt - not a powershell prompt. Hence the listed PowerShell command (add-c

[2020-11-17 18:56] TravisCragg-MSFT commented on #1145
@eszych Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-11-20 23:36] TravisCragg-MSFT commented on #1141
@francoislegrange Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-12-04 16:19] carlosmayol opened #1166 "Update content - Tiering volumes is not accurate"
The section on tiering does not provide accurate informaiton about the current tiers created for AZSHCI and therefore some of the examples will fail.

NestedMirrorOnHDD          Mirror
MirrorOnHDD                Mirror
Capacity                   Mirror
NestedParityOnHDD          Parity
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2020-12-04 16:27] khdownie commented on #1166
@carlosmayol thanks for the catch! Are you able to provide the correct info? Should we remove some of the examples? Please let me know who I should contact to get the correct information to update this page. Thank you!

[2020-12-04 17:28] carlosmayol commented on #1166
Hello Sir, I could, but probably Jaromir have it already @jaromirk is his Github user (jaromirk@microsoft.com) but for some reason its not picking-up.

[2020-12-04 17:30] khdownie commented on #1166
@jaromirk are you able to advise on this?

[2020-12-04 18:46] jaromirk commented on #1166
Hi folks, yeah, here you go https://github.com/Microsoft/WSLab/tree/master/Scenarios/S2D%20and%20Volumes%20deep%20dive

[2020-12-04 18:49] jaromirk commented on #1166
+ here is code to add "missing" tiers. In 2016 are not "MirrorOnHDD/SSD" and it makes more sense to use this naming. Also this codes adds nested resiliency volumes tiers for 2 node configurations https://github.com/microsoft/WSLab/blob/master/Scenarios/S2D%20Hyperconverged/Scenario.ps1#L731-L770

[2020-12-04 19:24] carlosmayol commented on #1166
Jaromir, can you update on the nestedTiers also? They are populated in 2node AZSHCI.

Thanks

________________________________
From: Jaromir Kaspar <notifications@github.com>
Sent: Friday, December 4, 2020 1:49:17 PM
To: MicrosoftDocs/azure-stack-docs <azure-stack-docs@noreply.github.com>
Cc: Carlos Mayol Berral <carlosm@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftD

[2020-12-04 19:31] khdownie commented on #1166
Thanks @jaromirk - this page was very closely based on an S2D topic in the Windows Server repo. @carlosmayol - does that page need to be updated as well?

[2020-12-04 19:50] carlosmayol commented on #1166
@khdownie Yes, the S2D topic should be updated with jaromir's content (probably not all) but at least updates on the updates names for the tiers in 2019. the AZSHCI page should be updated with the new tiers NestedMirrorOnHDD Mirror & NestedParityOnHDD Parity on 2 nodes, but probably there are more in 4 nodes setup. @jaromirk  can you come up with an update for both pages?? something not as deep as

[2020-12-10 06:29] msjingli commented on #1145
This issue is already fixed. See [Prepare Windows nodes for group Managed Service Account support - Azure Stack Hub | Microsoft Docs](url) Thanks for the feedback.

[2020-12-11 20:35] khdownie commented on #1166
@carlosmayol I stepped away from this to focus on GA, but now that's done. I can address these issues with the content. Do we have everything we need here in this thread, or are we still waiting on update on the nestedTiers from @jaromirk ?

[2020-12-14 14:58] dacoppet opened #1182 "Should add Azure Stream Analytics Preview in the list"
[Enter feedback here]
The list of services should be updated with preview services : Azure Stream Analytics is missing.
https://azure.microsoft.com/en-us/updates/asaonstack/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34b4d158-a0bd-47ce-4a29-60111ef9f515
* Version Independent ID: 4a8f336e-cbb4-f35a-429c-048ada1c6df6

[2020-12-14 15:33] carlosmayol commented on #1166
Hello @khdownie afaik the information is incomplete because few current tiers are not exposed on AZSHCI notes i added, I would like to double check the current tier naming in Stack HCI for 4+ nodes, those might not be the same @jaromirk  added on his page and therefore not accurate, if we are doing this to provide accuracy to both S2D and AZSHCI docs, then that info must be provided, but you can w

[2020-12-15 00:04] jaromirk commented on #1166
Nested tiers are exposed in 2node deployments by default - no need to manually create. All other tiers are exposed if mediatype is present (if HDD, then mirroronhdd and parityonhdd are exposed). It's easy to validate with WSLab - you can spin multiple node clusters as in this scenario: https://github.com/microsoft/WSLab/tree/master/Scenarios/S2D%20and%20Metadata%20deep%20dive

[2020-12-15 01:29] carlosmayol commented on #1166
Yes and those are the ones I put in the issue. Hello don’t have 4 node cluster and I thought you had it already and will be easy for you to run one command and expose any new name in azshci. But if you are too busy that’s fine. Thanks

________________________________
From: Jaromir Kaspar <notifications@github.com>
Sent: Monday, December 14, 2020 7:04:58 PM
To: MicrosoftDocs/azure-stack-docs <azur

[2020-12-16 02:10] jianfeng-jia opened #1187 "Docker in windows request hyper-V enabled but VM in AzureStack Hub do not support nested virtualization"
[Enter feedback here]
It seems we need give notes that this document is not applied to windows VM running in Azure Stack hub as it does not support nested virtualization, which hyper-v can not be enabled. Readers can be mislead as this document mentioned for azure stack hub so some readers try the steps in windows VMs running in Azure Stack Hub but get blocked.  Thanks.

---
#### Document Details

[2020-12-16 05:58] HarshitaSingh-MSFT commented on #1187
Hello @jianfeng-jia , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2020-12-16 16:28] mattbriggs commented on #1187
@jianfeng-jia This a good call out. I'll add to the docs. #In-progress

[2020-12-16 18:48] mattbriggs commented on #1187
https://github.com/MicrosoftDocs/azure-stack-docs-pr/pull/6111

[2020-12-16 18:48] mattbriggs commented on #1187
Thanks again! #please-close

[2020-12-16 18:48] #1187 closed

[2020-12-21 08:21] DarrylvanderPeijl opened #1196 "Windows Server can run on-premises or in the cloud, but isn't itself a complete hyperconverged offering."
"Windows Server can run on-premises or in the cloud, but isn't itself a complete hyperconverged offering."

Windows Server (vNext) has Hyper-V, Storage Spaces Direct and SDN. How it this not a complete hyperconverged offering?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd1b5681-bec1-c4d2-bb1a-9c1e2533d710
* Version

[2020-12-21 08:24] DarrylvanderPeijl opened #1197 "Azure Stack HCI doesn't run PaaS services on-premises."
"Connect your datacenter to Azure services" & "Azure Stack HCI doesn't run PaaS services on-premises."

Azure Stack HCI is intended to run Azure services on-premises, including PaaS services. See:
https://docs.microsoft.com/en-us/azure-stack/aks-hci/

[2020-12-21 18:49] himanshusinha-msft commented on #1196
@DarrylvanderPeijl   Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2020-12-21 19:00] TravisCragg-MSFT commented on #1197
@DarrylvanderPeijl Can you link the doc you are referring to that states that "Azure Stack HCI doesn't run PaaS services on-premises."?

[2020-12-21 19:31] DarrylvanderPeijl commented on #1197
https://docs.microsoft.com/en-us/azure-stack/hci/concepts/compare-windows-server

[2020-12-22 16:54] khdownie commented on #1196
@DarrylvanderPeijl makes a good point. I will open a separate PR to revise the language. Keep in mind that Microsoft no longer wants to position Windows Server as a future-ready HCI offering. But we should obviously still be factual.

[2020-12-22 18:34] khdownie commented on #1196
I revised the language to: "Windows Server can run on-premises or in the cloud, but will not offer the latest hyperconverged features moving forward." Which is true; the Windows Admin Center cluster creation wizard includes SDN and RDMA only for Azure Stack HCI.  Good to close this issue?

[2020-12-28 17:39] ezYakaEagle442 opened #1204 "AKS on HCI Storage Configuration "How-to" section to add"
[https://docs.microsoft.com/en-us/azure-stack/aks-hci/overview#use-aks-to-automate-management-of-containerized-applications](https://docs.microsoft.com/en-us/azure-stack/aks-hci/overview#use-aks-to-automate-management-of-containerized-applications) mentions _functionality provided : Manage storage and networking on your Kubernetes cluster_

But there is not documentation about Storage configuratio

[2020-12-28 21:13] khdownie commented on #1197
Hi Darryl,

I hear your concerns and I appreciate you bringing them up. A lot of people are off this week, and this is above my pay grade to resolve. I’ll have to wait for input from Jason and Cosmos, which may not happen until next week.

Thanks,

Ken

From: Darryl van der Peijl<mailto:notifications@github.com>
Sent: Friday, December 25, 2020 4:24 AM
To: MicrosoftDocs/azure-stack-docs<mailto:azur

[2020-12-28 22:34] SaiKishor-MSFT commented on #1204
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-12-29 00:25] TravisCragg-MSFT commented on #1204
@ezYakaEagle442 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-12-29 16:53] khdownie commented on #1166
@carlosmayol @jaromirk do the Performance and Capacity tier templates still exist? Can you confirm that all that needs to change in this page is the last section (Example: Using Storage Tiers)? Can I just replace what's there now with Jaromir's documentation on tiering?

[2020-12-29 19:03] jaromirk commented on #1166
Hi,
I just started a lab - the same as this, just with azshci OS and 1GB RAM https://github.com/microsoft/WSLab/tree/master/Scenarios/S2D%20and%20Tiers%20deep%20dive .... I'll share screenshots from there. I think perf and capacity still exists. But it should not be used as it's confusing (2node and 4 node systems have different purpose for performance and capacity)

[2020-12-29 20:31] jaromirk commented on #1166
![image](https://user-images.githubusercontent.com/9829838/103312414-3f36e000-4a1d-11eb-94de-08b1cfdf64e9.png)

[2020-12-30 18:08] khdownie commented on #1166
@jaromirk so can I just incorporate your Introduction to tiers, etc. WSLab documentation into the HCI docs, with some small changes? https://github.com/Microsoft/WSLab/tree/master/Scenarios/S2D%20and%20Volumes%20deep%20dive#introduction-to-tiers

[2020-12-30 23:12] jaromirk commented on #1166
Of course! Let me know if I should rewrite scenario to Azure Stack HCI, so you could reference lab if needed.

[2020-12-30 23:25] khdownie commented on #1166
If you have time, that would be great. If not, I can use what you've provided as the basis for a revised doc. Thank you!

[2021-01-04 15:29] ezYakaEagle442 commented on #1204
FYI I have found this [MS blog](https://techcommunity.microsoft.com/t5/azure-stack-blog/azure-kubernetes-service-on-azure-stack-hci-deliver-storage/ba-p/1703996) explaining that the Storage Class to use with the HCI Software Defined Storage "Storage spaces Direct" is : msvhd

[2021-01-04 18:13] BasWassenaar opened #1210 "Image under add a node is a bit confusing"
Hi!
I was reading to this page and the image under "add a node" is a bit confusing. To me it looks like it adds another scale unit instead of a node. I think it's because of the naming used: Azure Stack Hub Stack 1 and Azure Stack Hub Stack 2.

So maybe change the naming to Azure Hub Node 1 and Azure Stack Hub Node 2?

https://docs.microsoft.com/en-us/azure-stack/operator/azure-stack-capacity-plan

[2021-01-04 21:51] KranthiPakala-MSFT commented on #1210
@BasWassenaar
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2021-01-05 17:09] BryanLa commented on #1182
Contacted contributor internally to suggest an alternate path.
#please-close

[2021-01-05 17:09] #1182 closed

[2021-01-05 20:21] TravisCragg-MSFT commented on #1210
@BasWassenaar Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-01-05 21:31] IngridAtMicrosoft commented on #1210
Please reassign to one of the other authors on Azure Stack. I no longer maintain this content.

[2021-01-06 20:56] alexsmithMSFT opened #1219 "Add link to Microsoft Q&A, Questions in tag: azure-stack"
The second paragraph has a link to the MSDN forum, but that is deprecated and moved to the Azure Q&A site, per this post-
https://social.msdn.microsoft.com/Forums/en-US/17450e71-6eb4-43b7-be12-107a82631ae8/announcement-azure-stack-forum-migrated-to-microsoft-qa?forum=AzureStack

Please update and add a link to new Q&A site-
Microsoft Q&A, Questions in tag: azure-stack
https://docs.microsoft.com/en

[2021-01-07 01:07] KranthiPakala-MSFT commented on #1219
@alexsmithMSFT
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-01-07 09:45] GitaraniSharma-MSFT commented on #1219
@alexsmithMSFT , thank you for your feedback. I see that the backend repo is already updated with the Q&A URL but for some reason, it is not being reflected in the actual doc. I am checking with the relevant team regarding same. I'll get back to you with an update soon.
![image](https://user-images.githubusercontent.com/67630903/103877411-0e306c80-50fb-11eb-8399-46c84631db73.png)

[2021-01-07 15:55] PatAltimore commented on #1219
Hi @alexsmithMSFT and @SumanthMarigowda-MSFT,

I fixed this yesterday. I thought I had responded to this issue and closed it. Sorry for the confusion.

Pat
#please-close

[2021-01-07 15:55] #1219 closed

[2021-01-08 09:41] Hyldsgaard opened #1224 "Search and replace gone wrong"
In the second code block under "Register the ASDK" I think a search and replace might have gone wrong.

It seems that the word "Azure" has been replaced with the word "AzureRMure" multiple times which makes this code fail.

Best regards,
Michael

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ccb9b30-d08b-f263-c23e-abe

[2021-01-08 16:55] KranthiPakala-MSFT commented on #1224
@Hyldsgaard
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-01-12 00:07] TravisCragg-MSFT commented on #1224
@Hyldsgaard Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-01-12 09:30] RZomermanMS opened #1230 "review doc!"
This document makes no sense at all - it's a mixture of Hyper_V commands (if HCI nodes are running on another Hyper-V hosts, mismatching commands, wrong values etc).. this needs a proper cleanup

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df3012c4-22e5-004d-da6f-60744f2cfb4f
* Version Independent ID: 57e21edd-9a2b-f

[2021-01-12 16:53] Grace-MacJones-MSFT commented on #1230
thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-01-12 18:47] PatAltimore commented on #1224
Hi @Hyldsgaard,

Thanks for catching the issue. I've fixed the article and it should publish today.

Thanks!
Pat
#please-close

[2021-01-12 18:47] #1224 closed

[2021-01-13 11:14] Amarcoccia opened #1233 "AzureRM registration"
Hi,
I think there is an issue with the registration command because the _Set-AzureRMsRegistration_ seems to be not present into the module _RegisterWithAzure.psm1_.
I registered my ASDK 1.2008.0.59 using the command _Set-AzsRegistration_

[2021-01-13 19:21] GiftA-MSFT commented on #1233
@Amarcoccia can you please provide the document you're providing feedback on? Thanks.

[2021-01-13 19:55] Amarcoccia commented on #1233
https://docs.microsoft.com/en-us/azure-stack/asdk/asdk-register?view=azs-2008&tabs=azurerm1%2Caz2%2Caz3%2Caz4%2Caz5%2Caz6%2Caz7

[2021-01-14 19:31] aricbernard opened #1240 "Install-Module PowerShellGet -MinimumVersion 2.2.3 -Force"
On a newly installed host (Windows 10 or Windows Server 2019) when executing this command the following warning will be received:

WARNING: The version '1.4.7' of module 'PackageManagement' is currently in use. Retry the operation after closing the applications.

There are no known applications, PowerShell sessions, scripts, etc. running or known to be using this module.

---
#### Document Details

[2021-01-14 19:35] aricbernard opened #1241 "Install-Module -Name Az.BootStrapper -Force"
When executing this command, the following error message is received:

PackageManagement\Install-Package : No match was found for the specified search criteria and module name
'Az.BootStrapper'. Try Get-PSRepository to see all available registered module repositories.
At C:\Program Files\WindowsPowerShell\Modules\PowerShellGet\2.2.5\PSModule.psm1:9711 char:34
+ ... talledPackages = PackageManageme

[2021-01-14 19:36] aricbernard opened #1242 "Install-Module -Name Az.BootStrapper -Force -AllowPrerelease"
When executing this command, the following error message is received:

`PackageManagement\Install-Package : No match was found for the specified search criteria and module name
'Az.BootStrapper'. Try Get-PSRepository to see all available registered module repositories.
At C:\Program Files\WindowsPowerShell\Modules\PowerShellGet\2.2.5\PSModule.psm1:9711 char:34
+ ... talledPackages = PackageManagem

[2021-01-14 19:40] mattbriggs commented on #1240
@aricbernard I suspect this is related to a known issue with the Az modules on Azure Stack Hub.

1. Have you restarted your session? This sometimes works.
2. This is the mitigation to a similar known issue:
3.
Run the following cmdlet in the same session:
Install-Module PowershellGet -MinimumumVersion 2.3.0 -Force
Close your session and start a new elevated PowerShell session.

I'll send your feed

[2021-01-14 19:41] mattbriggs commented on #1241
@aricbernard: I think this may be related. If the mitigation doesn't work, can you let me know here? I am following up with the technical contact for Azure Stack Hub PowerShell, and will have an answer in a bit. Thanks for your comments. #in-progress

[2021-01-14 23:47] jamesorlando opened #1244 "1910 Release Notes Missing"
1910 Release Notes do not appear in the Technet Gallery Archive or the Archive as this page mentioned. Latest Archive notes are from 1908.0

[2021-01-15 00:24] sethmanheim commented on #1244
@jamesorlando I will add these back tomorrow (PST). Please keep in mind that the 1910 Azure Stack build is no longer under support.

[2021-01-15 00:41] sethmanheim commented on #1244
Hi again @jamesorlando. Unfortunately TechNet has been made read-only, and will be retired soon. So we will need to find another place to host archived release notes. Thanks for bringing this to our attention! #please-close

[2021-01-15 00:41] #1244 closed

[2021-01-15 07:47] SaiKishor-MSFT commented on #1242
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-15 21:51] khdownie commented on #1196
Update: We are redoing this page and will be ready to publish soon, probably next week. I believe the new approach will alleviate the concerns that @DarrylvanderPeijl brings up here (which are totally valid).

[2021-01-15 22:00] PatAltimore commented on #1210
@TravisCragg-MSFT Please assign to me @PatAltimore

[2021-01-15 22:01] mattbriggs commented on #719
@sethmanheim

[2021-01-15 22:02] mattbriggs commented on #639
@sethmanheim

[2021-01-15 22:02] PatAltimore commented on #1032
@TravisCragg-MSFT Please assign to me @PatAltimore

[2021-01-15 22:02] mattbriggs commented on #387
@sethmanheim

[2021-01-15 22:02] mattbriggs commented on #184
@sethmanheim

[2021-01-15 22:03] PatAltimore commented on #1029
#please-close

[2021-01-15 22:03] #1029 closed

[2021-01-15 22:03] mattbriggs commented on #956
@mattbriggs

[2021-01-15 22:03] mattbriggs commented on #936
@mattbriggs

[2021-01-15 22:03] mattbriggs commented on #879
@mattbriggs

[2021-01-15 22:03] mattbriggs commented on #792
@mattbriggs

[2021-01-15 22:14] sethmanheim commented on #719
Hi @TravisCragg-MSFT, can you please assign this issue to me? Thanks!

[2021-01-15 22:15] sethmanheim commented on #639
Hi @KrishnaG-MSFT, can you please assign this issue to me? Thanks!

[2021-01-15 22:16] sethmanheim commented on #387
#please-close

[2021-01-15 22:16] #387 closed

[2021-01-15 22:16] sethmanheim commented on #184
Hi @TravisCragg-MSFT, can you please assign this issue to me? Thanks!

[2021-01-15 22:38] mattbriggs commented on #956
@TravisCragg-MSFT the author has left. Can you re-assign this topic to me? @mattbriggs Thanks! Matt

[2021-01-15 22:38] mattbriggs commented on #936
@TravisCragg-MSFT the author has left. Can you re-assign this topic to me? @mattbriggs Thanks! Matt

[2021-01-15 22:39] mattbriggs commented on #792
@TravisCragg-MSFT the author has left. Can you re-assign this topic to me? @mattbriggs Thanks! Matt

[2021-01-15 22:48] mattbriggs commented on #879
#please-close

[2021-01-15 22:49] #879 closed

[2021-01-15 22:57] mattbriggs commented on #792
@poetw Thanks for your feedback. I've updated the topic.

#please-close

[2021-01-15 22:57] #792 closed

[2021-01-15 23:05] mattbriggs commented on #936
@pappleby64 Thanks @pappleby64. I have a question out.

#in-progress

[2021-01-15 23:10] mattbriggs commented on #956
Sorry for the length of time to respond. Storage size is listed as 280 GB.

#please-close

[2021-01-15 23:10] #956 closed

[2021-01-16 01:47] DRAirey1 opened #1247 "The link to the .NET Core Hosting package is obsolute"
Great page of documentation.  I use it often, but the link for the .NET Core hosting package points to the 2.1 version which is being end-of-lifed.  You want:

https://dotnet.microsoft.com/download/dotnet-core/current/runtime

As the link on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f86a4e4e-a87b-376f-c

[2021-01-16 12:15] SnehaAgrawal-MSFT commented on #1247
@DRAirey1 Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-01-19 18:06] mattbriggs commented on #1247
@DRAirey1 Thanks for the comment and update!

#in-progress

[2021-01-19 18:08] DRAirey1 commented on #1247
Actually, you probably want to point to the .NET 5.0 Download site now.  FWIW.

[2021-01-19 18:24] mattbriggs commented on #1247
@DRAirey1 Thanks again.

Updated and will appear in the next build.

#please-close

[2021-01-19 18:24] #1247 closed

[2021-01-20 00:33] PatAltimore commented on #1032
Checked update was published.

#please-close

[2021-01-20 00:33] #1032 closed

[2021-01-20 18:20] TravisCragg-MSFT commented on #1233
@Amarcoccia Thanks for the feedback! You are correct, and 'Set-AzureRMsRegistration' is no longer a part of [Registerwithazure.psm1](https://github.com/Azure/AzureStack-Tools/blob/master/Registration/RegisterWithAzure.psm1)

I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-01-20 18:47] TravisCragg-MSFT commented on #1242
@aricbernard I am not aware of any current Issues with this installation. Please verify that you meet the prerequisites listed in this doc, and that the computer has access to outbound internet.

If you are still having this issue, your best bet is to work with CSS, or continue with the offline installation instructions.

We will now proceed to close this thread. If there are further questions reg

[2021-01-20 18:47] #1242 closed

[2021-01-21 00:22] PatAltimore commented on #1233
@TravisCragg-MSFT. Could you assign to @mattbriggs?

Thanks!

[2021-01-21 01:12] mattbriggs commented on #1233
@Amarcoccia Thanks for your feedback. The cmdlet was incorrect and has been updated in the topic, and some other issues have been corrected as well. The update should be posted soon. Thanks!

#please-close

[2021-01-21 16:54] noellis-ms opened #1254 "Conflicting information"
Although the release notes states "Starting with the 2005 release, when you update to a new major version (for example, 1.2005.x to 1.2008.x), the latest hotfixes (if any) in the new major version are installed automatically. From that point forward, if a hotfix is released for your build, you should install it."   In this paragraph the word "**_should_**" is used.

Next, the release note states t

[2021-01-21 17:42] sethmanheim commented on #1254
@noellis-ms Thank you for the feedback. We have a couple of issues here.

First, I agree the wording of this is confusing. The idea is that you don't need to install the latest hotfix before updating to a major release (which was previously a requirement); the major releases contain all the cumulative hotfixes up to that point. I like your suggestions for rewording, and will make that change you s

[2021-01-21 18:19] noellis-ms commented on #1254
Hi Seth,

Much appreciate the quick response.

The URL to the RSS feed for Azure Stack Hub hotfixes is listed below.

https://support.microsoft.com/app/content/api/content/feeds/sap/en-us/32d322a8-acae-202d-e9a9-7371dccf381b/rss

Additionally, a customer reading the release note could go to this URL and select Azure Stack Hub from the dropdown menu.
Feed Picker (microsoft.com)<https://support.micr

[2021-01-22 16:47] sethmanheim commented on #1254
Thanks again for your feedback. I have changed this section in the 2008 release notes as follows. It should be live today after 10 AM PST:

**After successfully applying the 2008 update**
Because Azure Stack Hub hotfixes are cumulative, as a best practice you should install all hotfixes released for your build, to ensure the best update experience between major releases. When you update to a new m

[2021-01-22 16:47] sethmanheim commented on #1254
#please-close

[2021-01-22 16:47] #1254 closed

[2021-01-22 22:51] v-dasis commented on #1230
updating article with feedback - this is a work in progress . Thanks for your patience.

[2021-01-25 21:25] carlosmayol commented on #1166
Hello @khdownie how is the new article doing? are we ready for review? Thanks

[2021-01-25 22:25] khdownie commented on #1166
@carlosmayol I am just getting back to this after some higher priority tasks, plus I wanted to give Jaromir a bit more time. But I think I can put something together based on what he has sent so far. I will have something for your review later this week or early next week.

[2021-01-25 22:39] jaromirk commented on #1166
Sorry, bit busy lately (and still on parental leave :)

[2021-01-26 16:00] alexsmithMSFT opened #1262 "Disable multi-tenancy section title is misleading"
The section title "Disable multi-tenancy" is misleading. There is no setting to enable/disable multi-tenancy, just whether there is a single directory, or multiple directories (multi-tenancy). Removing a tenant directory does not disable multi-tenancy, if there are still 2 or more directories configured.

This leads to customer confusion, when they want steps to remove one or more guest directorie

[2021-01-26 17:50] SaiKishor-MSFT commented on #1262
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-26 18:42] BryanLa commented on #1262
@SaiKishor-MSFT - please assign this one to me. This article needs multiple revisions, including the ones called out by @alexsmithMSFT.

[2021-01-26 18:44] SaiKishor-MSFT commented on #1262
Assigned. Thanks!

[2021-01-26 18:54] alexsmithMSFT commented on #1262
@SaiKishor-MSFT thanks for taking this one. One other issue I noticed, is with the comment in the second script under "Disable multi-tenancy", which mentions creation of a registration resource. I think it was copied verbatim from earlier sample to "Configure Azure Stack Hub directory".

`## Replace the value below with the name of the resource group in which the directory tenant registration reso

[2021-01-26 19:00] BryanLa commented on #1262
@alexsmithMSFT - done. I'm making several other revisions to make this more intuitive as well. I'll send you a link to the preview when it's ready..

[2021-01-26 21:28] alexsmithMSFT opened #1264 "Supported CentOS appear to be out of date for versions 7.6 - 8.0"
The list of supported Linux distros only includes CentOS up to version 7.5-
https://docs.microsoft.com/en-us/azure-stack/operator/azure-stack-supported-os?view=azs-2008#linux

But the "Add from Azure" in Azure Stack Hub Marketplace Management also has CentOS images for versions 7.6, 7.7, 7.8 and 8.0-
![image](https://user-images.githubusercontent.com/26260056/105907540-10e3fa80-5ff3-11eb-8156-b765

[2021-01-26 21:32] alexsmithMSFT commented on #1264
See- https://docs.microsoft.com/en-us/azure-stack/operator/azure-stack-marketplace-changes?view=azs-2008#updated-marketplace-items

09/04/2020: CentOS-based 7.6 - version 7.6.201909120
09/04/2020: CentOS-based 7.7 - version 7.7.2020062400
09/04/2020: CentOS-based 8.0 - version 8.0.201912060

[2021-01-27 00:19] khdownie commented on #1196
We published the new page: https://docs.microsoft.com/en-us/azure-stack/hci/concepts/compare-windows-server

@DarrylvanderPeijl has further suggestions which I will discuss with Cosmos, but I think the above is sufficient to close this issue now.

[2021-01-27 14:00] shashishailaj commented on #1264
@alexsmithMSFT Thank you for your feedback . We will investigate and update the thread with our findings .

[2021-01-28 00:16] walterov opened #1266 "We need to update the api model json file references in this article"
please change all references to this url:

https://github.com/Azure/aks-engine/blob/master/examples/azure-stack/kubernetes-azurestack.json

use this one instead

https://aka.ms/aksengine-json-example

Thanks,
Walter.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9652b7b-09b9-ace9-4ef7-abc413b9d52c
* Version Independe

[2021-01-28 00:49] mattbriggs commented on #1266
#in-progess

https://github.com/MicrosoftDocs/azure-stack-docs-pr/pull/6387

[2021-01-28 00:58] mattbriggs commented on #1266
Updated and merged

#please-close

[2021-01-28 00:58] #1266 closed

[2021-01-28 03:23] jimchurches opened #1267 "Publishing a Windows Image using this guide does not work"
Following these instructions does not work.  It seems to me that these instructions are out of date or are not tested (or I can't read).

This guide provides more information but there is inconsistencies between the two:

https://azurestack.blog/2016/10/adding-and-using-os-gallery-items-to-azure-stack-tp2/

Combining the information in the two articles I can get a custom Windows image published, b

[2021-01-28 14:41] kikofarad opened #1268 "Missing Event Hub Quotas"
please check this part missing event hub quotas :

https://docs.microsoft.com/en-us/azure-stack/operator/azure-stack-quota-types?WT.mc_id=modinfra-12256-thmaure&view=azs-2008#event-hubs-quota-types

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41a2a997-ac32-8e7a-1085-12645f2b1d4d
* Version Independent ID: 5dd94010-147

[2021-01-28 15:09] HarshitaSingh-MSFT commented on #1267
Hello @jimchurches , thanks for the question! We are taking a look into this and will get back to you soon.

[2021-01-28 16:44] sethmanheim commented on #1267
@jimchurches Hello and thanks for the feedback. We have seen that error before when there’s insufficient quota. Can you please verify that you have enough compute quota?

[2021-01-28 19:33] kikofarad opened #1270 "Code title. Az module is duplicated"
The code snippet title tab are duplicated , should be Az module and AzRM module

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a227a2f7-001d-edb2-31d2-6dc020fa666d
* Version Independent ID: cae8db95-8311-3ff3-8c63-30d9c751d8e6
* Content: [Change the billing owner for an Azure Stack Hub user subscription - Azure Stack H

[2021-01-28 22:33] jimchurches commented on #1267
Hi - that was one of the things I checked and it looks fine to me, but I will get with my colleague who set up quotas to make sure I'm reading things correctly.  Wouldn't quotas also stop ARM templates and PowerShell from provisioning a machine from the image?

[2021-01-28 22:46] SaiKishor-MSFT commented on #1270
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-28 23:11] sethmanheim commented on #1267
Hi again @jimchurches -- I asked the product team about this and they replied that "They would, but that’s the message that shows up before resource creation in the portal."

Hope that's helpful.

[2021-01-29 03:27] SatishBoddu-MSFT commented on #1268
Hello @kikofarad Thanks for your feedback.
I have assigned the issue to the content author @sethmanheim  for further review.

[2021-01-29 03:37] sethmanheim commented on #1268
@SatishBoddu-MSFT Please assign to @spelluru. Thank you!

[2021-01-29 04:05] jimchurches commented on #1267
Hi Folks - we have checked quotas and offers and we are sure they are okay.  I can sanitise our .azpkg configuration files and share them if that helps at all.

[2021-01-29 15:00] alexsmithMSFT commented on #1264
@sethmanheim we have at least one customer who upgraded an existing VM to CentOS 7.9, so it would be good to have clarification on that version, even if we don't have a marketplace image for it.

[2021-01-29 16:13] sethmanheim commented on #1264
@alexsmithMSFT I have no clue and I'll need to ask a PM somewhere anyway, so... if you have any helpful information, that'd be great.

[2021-01-29 18:40] SaiKishor-MSFT commented on #1270
@kikofarad Thanks for pointing this. I have made the changes and it should update soon. If you have any further concerns, please do let us know. Thank you!

[2021-01-29 18:40] #1270 closed

[2021-01-29 19:28] khdownie commented on #1166
Is everything on this page correct except for the last section (Example: Using storage tiers)? https://docs.microsoft.com/en-us/azure-stack/hci/manage/create-volumes

[2021-01-31 20:52] aricbernard opened #1274 "add- vs. login-azaccount"
In the Connect with Azure AD section, the command Add-AzAccount is used.
In the Connect with AD FS section, the command Login-AzAccount is used.

These cmdlets are **the same** and both are aliases for **Connect-AzAccount**.  The best practice for PowerShell coding, especially when publishing scripts and snippets, is to use proper cmdlet names instead of aliases.  As this is official documentation

[2021-01-31 22:06] aricbernard opened #1275 "Missing '/'"
There appears to be missing '/' characters in the example calls in the REST API section.  All references to "/providersMicrosoft.Commerce.Admin/" should be changed to "/providers/Microsoft.Commerce.Admin/"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35cd7f7c-54fa-f242-bee3-860e5378b135
* Version Independent ID: 1f87

[2021-02-01 03:24] SatishBoddu-MSFT commented on #1274
@aricbernard
Thanks for the feedback!
I have assigned the issue to the content author for further review.

[2021-02-01 03:45] SatishBoddu-MSFT commented on #1275
@aricbernard Thanks for bringing this to our notice!
I have assigned the issue to the content author for further review.

[2021-02-01 17:16] mattbriggs commented on #1274
@aricbernard in-progress

[2021-02-01 17:32] sethmanheim commented on #1275
@SatishBoddu-MSFT Thank you for catching that -- I just submitted a PR to fix it. Appreciate the feedback! #please-close

[2021-02-01 17:32] #1275 closed

[2021-02-01 18:09] mattbriggs commented on #1274
Updated. #please-close

[2021-02-01 18:09] #1274 closed

[2021-02-01 18:56] sethmanheim commented on #1267
@jimchurches Thanks for the response -- at this point it's probably best to file a support ticket with CSS. Thank you for the feedback! #please-close

[2021-02-01 18:56] #1267 closed

[2021-02-01 19:41] sethmanheim commented on #1264
Updates to the article will be live after 3 PM PST today. Thank you for the feedback! #please-close

[2021-02-01 19:41] #1264 closed

[2021-02-01 22:29] aricbernard opened #1278 "Azure Stack Hub GPU support is currently in public preview."
Isn't AZsH GPU support now GA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 682649a8-9b9c-1376-9e06-3ec3bbdaad8f
* Version Independent ID: 3f14a385-148c-8ad2-5526-9c5ef5f9ac07
* Content: [Graphics processing unit (GPU) VM on Azure Stack Hub - Azure Stack Hub](https://docs.microsoft.com/en-us/azure-stack/user/gpu-vms-

[2021-02-01 23:10] bowlerma opened #1280 "Install fails with no administrator for any Active Directory Tenant"
Hi,

This isn't really an issue with the documentation, but more a problem with the PowerShell installer (wasn't sure where to submit this feedback).

Whenever an installation is performed us Azure AD the install falls over with the following error:

"the account you entered <account name> is not an administrator of any Azure Active Directory tenant"

The problem seems to be that the installer exp

[2021-02-01 23:49] mattbriggs commented on #1278
@aricbernard following up. Thanks for the note.

#in-progress

[2021-02-02 12:19] carlosmayol commented on #1166
Hello again, correct this section is the wrong one:
https://docs.microsoft.com/en-us/azure-stack/hci/manage/create-volumes#example-using-storage-tiers
Why? because we dont have those tiers in AZSHCI, as is a mimic of WS2019 approach, we shoule mention instead MirrorOnMediaType for performance or ParityOnMediaType for capacity.
We should mention, we can combine a volume that expands across those ti

[2021-02-02 13:31] shashishailaj commented on #1280
@bowlerma Thank you for catching this and taking the time to report it . We have assigned it to an expert who would check this and provide an update. If it requires change in the script , we may take this issue offline internally .

[2021-02-02 18:21] khdownie commented on #1166
Thanks @carlosmayol - I am starting to put the pieces together and work on this. Question: Does creating a mirror-accelerated parity volume always require ReFS? Or only in tiering situations?

[2021-02-02 18:34] jaromirk commented on #1166
yes, MAP is ReFS feature.

[2021-02-02 19:01] khdownie commented on #1166
There is already a MAP section in the doc so I will put this note there. Is there anything else that needs to change for the MAP section?
https://docs.microsoft.com/en-us/azure-stack/hci/manage/create-volumes#create-a-mirror-accelerated-parity-volume

[2021-02-02 19:15] carlosmayol commented on #1166
Yes, that's how it look in a 2 node Cluster with no SSD drives. Is a better capture that the one we have today. Please remember to include a Nested example in the HCI docs there is none I could have seen.

[2021-02-03 00:03] jaromirk commented on #1166
BTW. You don't have Performance tier because you have 2 node system. Since you have 2 node, Capacity tier is Mirror. In 4+ node cluster is Performance Mirror and capacity is Parity... Well, This is some skeleton Claus Joergensen made :), That's why I would skip Capacity/Performance naming completely as it's confusing!

[2021-02-03 18:35] mattbriggs commented on #1278
@aricbernard @shashishailaj  Thanks for your question. GPU is not yet GA yet for Azure Stack Hub. We will update the page as soon as it does. Thanks! Matt

#please-close

[2021-02-03 18:35] #1278 closed

[2021-02-03 21:24] khdownie commented on #1166
@jaromirk and @carlosmayol here is a PR for your review. I put a couple questions in bold: https://review.docs.microsoft.com/en-us/azure-stack/hci/manage/create-volumes?branch=pr-en-us-6459

[2021-02-04 00:28] carlosmayol commented on #1166
@khdownie looks pretty good to me, I will personally add some more info about the nested tiers from here: https://docs.microsoft.com/en-us/windows-server/storage/storage-spaces/nested-resiliency or mentioned in this volumes section but add an additional section for nested resiliency knowledge...
About the bold sections, I dont see any...

[2021-02-04 16:56] khdownie commented on #1166
@carlosmayol so nested resiliency only applies to 2-node clusters? I'm having trouble figuring out how much of that page to port over, since WS2019 is a little different than Azure Stack HCI. Is there anything that doesn't apply?

[2021-02-04 17:01] carlosmayol commented on #1166
Correct, only 2 nodes, from the link above:

Prerequisites
Consider nested resiliency if:
**Your cluster runs Windows Server 2019; and
Your cluster has exactly 2 server nodes**
Red X icon. You can't use nested resiliency if:
**Your cluster runs Windows Server 2016; or
Your cluster has 3 or more server nodes**

[2021-02-04 17:04] khdownie commented on #1166
Right, I saw that, thanks -- wasn't sure if it applied to Az HCI. So should I port that whole page over, or just parts of it? It's a pretty long page.

[2021-02-05 21:26] walterov opened #1289 "curl example does not work with the aka.ms url"
curl example does not work with the aka.ms url, we need to provide the actual target url instead:

https://raw.githubusercontent.com/Azure/aks-engine/v0.55.4/examples/azure-stack/kubernetes-azurestack.json

Please use this url in the curl example command. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9652b7b-

[2021-02-05 21:32] SaiKishor-MSFT commented on #1289
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-05 22:42] mattbriggs commented on #1289
!!!!

@walterov will update the curl link! thanks, Matt

#in-progress

[2021-02-05 23:46] mattbriggs commented on #1289
updated.

#please-close

[2021-02-05 23:46] #1289 closed

[2021-02-08 17:22] BryanLa commented on #1262
Substantive changes made to Configure multi-tenancy in Azure Stack Hub to address this issue.
#please-close

[2021-02-08 17:22] #1262 closed

[2021-02-10 00:01] aricbernard opened #1295 "Incorrect URL"
In the section "Quick start: install and run DISKSPD" the incorrect URL is provided for the diskspd download.

The following path is provided:
https://github.com/Microsoft/diskspd/releases/download/v2.0.21a/DiskSpd-2.0.21a.zip
The correct path is:
https://github.com/Microsoft/diskspd/releases/latest/download/DiskSpd.zip

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2021-02-10 10:53] CHEEKATLAPRADEEP-MSFT commented on #1295
@aricbernard  Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-10 11:48] basawaqe opened #1296 "No AzureRM commands"
the commands are not correct as AzureRM contain no commands:
Get-AzureRMsUserSubscription
Set-AzureRMsUserSubscription

And to find a replacement for the commands (bear in mind its not AzureRM Modules nor Az Modules) as this is a specific commands for Azure Stack(Built in function that worked along with AzureRM Modules or Az Modules):

CommandType     Name

[2021-02-10 12:50] GitaraniSharma-MSFT commented on #1295
@aricbernard , thank you for bringing this to our notice.

I have updated the URL for DISKSPD download :
From - https://github.com/Microsoft/diskspd/releases/download/v2.0.21a/DiskSpd-2.0.21a.zip
To - https://github.com/microsoft/diskspd/releases/download/v2.0.21a/DiskSpd.zip

It will reflect shortly on the doc.

We are closing this issue for now. If there are further questions regarding this matt

[2021-02-10 12:50] #1295 closed

[2021-02-10 20:07] mattbriggs commented on #1296
@basawaqe  Thanks for the feedback.

#in-progress

[2021-02-10 22:50] bowlerma opened #1299 "Create-AADIdentityApp.ps1 relies on the AzureRM modules"
It appears that you have to have the AzureRM module for Azure Stack Hub installed for this script to work.

Is there a version of the script that works with Az, as AzureRM is now deprecated?  If not, please can the documentation be updated to reflect this dependency.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c085

[2021-02-10 23:13] mohaom opened #1300 "Setting up AKS on Azure Stack HCI, Stuck at waiting for cloud agent endpoint come online"
I'm facing a problem when setting up Azure Kubernetes Services on an Azure Stack HCI, I'm stuck in the review and create step, with the process displaying "waiting for cloud agent endpoint come online".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 966bc617-756d-b69a-0d30-c8bc20d6e40b
* Version Independent ID: c208637

[2021-02-11 10:30] AjayKumar-MSFT commented on #1299
@bowlerma, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-02-11 10:32] AjayKumar-MSFT commented on #1300
@mohaom,  Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-02-11 18:39] walterov opened #1302 "Please add the following version mapping table to this document after the "upgrade path section""
Add the table found here:

https://github.com/Azure/aks-engine/blob/master/docs/topics/azure-stack.md#aks-engine-versions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e69382e4-c307-4dfe-9885-92d2436ef858
* Version Independent ID: 135ea653-550b-039d-121c-95f2e7c93f10
* Content: [Release notes for Azure Kubernetes Serv

[2021-02-11 19:05] basawaqe opened #1303 "Az Modules Last Line will return an Error"
Set-AzsUserSubscription -InputObject $subscription will not Work.

this due newer Version from Azure Stack module "2.0.2-preview"
replacement:

$Subscription | Set-AzsUserSubscription | fl *

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a227a2f7-001d-edb2-31d2-6dc020fa666d
* Version Independent ID: cae8db95-8311-3ff3-

[2021-02-11 19:08] SaiKishor-MSFT commented on #1302
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-11 19:09] SaiKishor-MSFT commented on #1303
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-11 23:53] mattbriggs commented on #1296
Updated. Thanks again!

#please-close

[2021-02-11 23:53] #1296 closed

[2021-02-12 00:14] mattbriggs commented on #1302
@walterov Adding the table.

[2021-02-12 21:54] mattbriggs commented on #1302
updated.

#please-close

[2021-02-12 21:54] #1302 closed

[2021-02-13 01:16] TravisCragg-MSFT commented on #1303
@basawaqe Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-02-16 07:38] SychevIgor opened #1309 "Add a link on function runtime comparison instead of root page for functions"
Big Azure supports 3 versions Functions, while Stack Hub on v1. It's better to replace link on root of azure functions page with a link on runtime comparison. https://docs.microsoft.com/en-us/azure/azure-functions/functions-versions
![image](https://user-images.githubusercontent.com/578954/108032196-2329e500-7043-11eb-8a9c-3b2eed3b3725.png)

---
#### Document Details

⚠ *Do not edit this section.

[2021-02-16 14:48] SaiKishor-MSFT commented on #1309
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-17 07:26] tysonflint opened #1312 "Broken link to download Deployment Checker for ASDK"
The link with this name can't find the download for the ASDK pre-req checker script.

Deployment Checker for ASDK
https://go.microsoft.com/fwlink/?LinkId=828735&clcid=0x409

It now redirects to the TechNet Gallery script samples browser.
![2021-02-16 23_24_24-Download Pre-Req Script -- Broken Link to Download](https://user-images.githubusercontent.com/1578227/108170045-6f5e3f00-70ae-11eb-936c-155b

[2021-02-17 15:00] HarshitaSingh-MSFT commented on #1312
Hello @tysonflint , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-02-17 15:35] matiasdahl opened #1313 "Reference to Set-AzVMBootDiagnostics (Quickstart: Create a Linux server VM by using PowerShell in Azure Stack Hub)"
Possible minor typo: The page

https://github.com/MicrosoftDocs/azure-stack-docs/blob/master/azure-stack/user/azure-stack-quick-create-vm-linux-powershell.md

references `Set-AzVMBootDiagnostics`.

Should it be [Set-AzVMBootDiagnostic](https://docs.microsoft.com/en-us/powershell/module/az.compute/set-azvmbootdiagnostic?view=azps-5.5.0)  (without s)?

Thank you

---
#### Document Details

⚠ *Do not

[2021-02-17 18:07] JamesTran-MSFT commented on #1313
@matiasdahl
Thanks for your feedback! We will investigate and update as appropriate.

![image](https://user-images.githubusercontent.com/36619112/108247744-eb38a580-7107-11eb-90a8-011797aa7ac0.png)

[2021-02-17 18:52] PatAltimore commented on #1303
Hi @basawaqe,

Thanks for finding the issue. I've made the fix to the article. The change will publish today.

Thanks,
Pat
#please-close

[2021-02-17 18:52] #1303 closed

[2021-02-17 19:16] BryanLa commented on #1309
@SychevIgor - thanks for your feedback and [PR contribution.](https://github.com/MicrosoftDocs/azure-stack-docs/pull/1310)
@SaiKishor-MSFT - this makes sense to me. Adding @apwestgarth for his thoughts as well.

[2021-02-18 18:16] mattbriggs commented on #1313
@matiasdahl Thanks for your feedback. I'll update shortly. Thanks! Matt

#in-progress

[2021-02-18 18:16] mattbriggs commented on #1313
@TravisCragg-MSFT just letting you know. Cheers!

[2021-02-18 18:34] mattbriggs commented on #1313
@matiasdahl Created a PR and caught another Set-AzVMBootDiagnostic with an S. Thanks again for your feedback. The update should be live with our next doc build.

#please-close

[2021-02-18 18:34] #1313 closed

[2021-02-18 23:45] aricbernard opened #1317 "Missing code in "Connected: Install with internet connectivity""
Prior to installing the modules as specified in "Connected: Install with internet connectivity" you must first update PowerShellGet to a minimum of version 2.2.3. To update PowerShellGet execute the following:
`
Install-Module PowerShellGet -MinimumVersion 2.2.3 -Force
`
However, before this update takes effect, you must first close the PowerShell window and open a new PowerShell window.  In the n

[2021-02-18 23:56] mattbriggs commented on #1317
@aricbernard  thanks for your comments.

#in-progress

[2021-02-19 07:06] bobleith opened #1318 "Error on Get-AzToken in Set-AzsRegistration - Unable to find type"
Any ideas on the below? Everything looks fine with the Azure Stack SDK install, No errors on the Test-AzureStack on Azs-ERCS01.  Everything seems to work and then last thing that happens is
Get-AzToken : Unable to find type [Microsoft.Azure.Commands.Common.Authentication.Authentication.Clients.AuthenticationClientFactory].
At C:\AzureStack-Tools-az\Registration\RegisterWithAzure.psm1:404 char:26
+

[2021-02-19 17:35] HarshitaSingh-MSFT commented on #1312
@tysonflint, I verified that the script was hosted on the retired `gallery.technet.microsoft.com`. We are working on updating the new link on [this](https://docs.microsoft.com/en-us/azure-stack/asdk/asdk-download?view=azs-2008) page and will keep you posted. Thanks again for reporting this!

[2021-02-19 18:19] JamesTran-MSFT commented on #1318
@bobleith
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-22 19:19] mohaom commented on #1300
any update on this please ?

[2021-02-23 17:43] walterov opened #1319 "Change the Windows containers support note from "Private" to "Public""
please change the Windows containers support note from "Private" to "Public"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e69382e4-c307-4dfe-9885-92d2436ef858
* Version Independent ID: 135ea653-550b-039d-121c-95f2e7c93f10
* Content: [Release notes for Azure Kubernetes Service (AKS) engine on Azure Stack Hub - Azure S

[2021-02-23 19:28] mattbriggs commented on #1319
@walterov Updated. Sent the PR.

#in-progress

[2021-02-24 01:51] TravisCragg-MSFT commented on #1145
closing as this no longer seems appropriate for the doc.

[2021-02-24 01:51] #1145 closed

[2021-02-24 01:55] TravisCragg-MSFT commented on #20
@PatAltimore @mattbriggs This is still not fixed, bumping this issue up.

[2021-02-24 01:59] #376 closed

[2021-02-24 06:30] GitaraniSharma-MSFT commented on #1319
@walterov , thank you for the feedback. As @mattbriggs mentioned, this is in progress and has been assigned to him for doc update.

[2021-02-24 19:43] brsteel opened #1321 "Add certificate property requirements"
Would be nice to add the required properties of the certificates.
See:
https://docs.microsoft.com/en-us/azure-stack/operator/azure-stack-validate-pki-certs?view=azs-2008
Just a mention that the cert needs "Server Authentication" and "Client Authentication", the PFX should be encrypted with 3Des Sha1, etc

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2021-02-24 23:10] SaiKishor-MSFT commented on #1321
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-24 23:49] TravisCragg-MSFT commented on #1321
@brsteel I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-02-25 11:40] yellowpanda opened #1322 "Bad powershell for "sign in as a user""
Section: "Connect with Azure CLI" and "AD FS on Windows" you write:

The powershell in the example seems to be a copy/past error and is not related to sign in at all. Consider revisit this section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 583c4bab-c16a-a723-04ac-b3265d9e8269
* Version Independent ID: e6ecb0ee-230

[2021-02-25 16:54] BryanLa commented on #1309
Completed. #please-close

[2021-02-25 16:54] #1309 closed

[2021-02-25 17:22] PatAltimore commented on #1312
Hi @tysonflint,

Thanks for finding and reporting the issue. We've reviewed, updated, tested, and hosted the script on GitHub. The link has been updated to point to https://github.com/Azure/AzureStack-Tools/blob/master/Deployment/asdk-prechecker.ps1.

I'm going to close the issue.

Thanks,
Pat
#please-close

[2021-02-25 17:22] #1312 closed

[2021-02-25 17:32] BryanLa commented on #1321
@brsteel - thanks for the feedback.

We point the reader to the [Validate Certificates](https://docs.microsoft.com/azure-stack/operator/azure-stack-validate-pki-certs) article later, in [validate certificates](https://docs.microsoft.com/azure-stack/operator/azure-stack-app-service-before-you-get-started#validate-certificates), which does list the requirements that the tool validates for. LMK if it

[2021-02-25 18:12] SaiKishor-MSFT commented on #1322
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-25 20:06] mattbriggs commented on #1317
Updated

#please-close

[2021-02-25 20:06] #1317 closed

[2021-02-25 20:07] mattbriggs commented on #1319
Updated.

#please-close

[2021-02-25 20:07] #1319 closed

[2021-02-25 22:11] mattbriggs commented on #1240
Az topic has been updated.

#please-close

[2021-02-25 22:11] #1240 closed

[2021-02-25 22:13] mattbriggs commented on #1241
Az topic has been updated.

#please-close

[2021-02-25 22:13] #1241 closed

[2021-02-26 02:13] Donnie-Zhang opened #1323 "description of clusterSubnet is incorrect."
Field | Example | Description
-- | -- | --
clusterSubnet | 172.16.244.0/24 | IP range of the cluster subnet (POD network) must use an IP range within the space of the custom VNET IP range you defined.

1. POD network should not use the same IP space as that of the VNET.
2. We should use /16 instead /24 subnet. If we use /24, this subnet will be assigned to one node only. Other node will not get PO

[2021-02-26 12:31] SaiKishor-MSFT commented on #1323
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-26 17:13] realgregoryk opened #1324 "Typo in instructions"
[Enter feedback here]
Step #6 says go to App Permissions in the portal it should be go to API Permissions in the portal for Admin Consent

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0b133de-ea80-3860-b8d2-00f1b109fef9
* Version Independent ID: cea18011-66a6-521c-1517-312a1508f1ab
* Content: [Register Windows Admin

[2021-02-26 17:41] SaiKishor-MSFT commented on #1324
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate

[2021-02-26 21:40] mattbriggs commented on #1323
@Donnie-Zhang Thanks for your feedback. I have a question out, and will update when I get an answer.

#in-progress

[2021-03-01 21:04] walterov opened #1325 "Remove section "Supported scenarios with the AKS engine""
I don't think this section adds info anymore, all areas mentioned are documented and this one is out of date. We can do this as part of the v0.60.1 docs release

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4810154-9f19-3f67-8c54-c2bb08edc2b4
* Version Independent ID: e99088a6-f7b1-cefd-4cad-3554423d4900
* Content: [

[2021-03-01 21:21] #1325 closed

[2021-03-01 21:28] walterov opened #1326 "For v0.60.1 release changes"
1. In section "Prerequisites for the AKS engine". In table entry for "AKS Base Ubuntu Image":
     i. Change "AKS Base Ubuntu Image" to "AKS Base images"
     ii. Change "AKS Base Ubuntu 16.04-LTS Image" to "AKS Base Ubuntu and Windows Image"

2. In section "Matching engine to base image version", change "AKS Base Ubuntu 16.04-LTS Image Distro" for "AKS Base Ubuntu and Windows Image Distro".

---

[2021-03-01 21:51] mattbriggs commented on #1326
@walterov  #in-progress

[2021-03-01 21:51] mattbriggs commented on #1325
@walterov in-progress

[2021-03-01 22:02] walterov opened #1327 "For v0.60.1 release changes"
Section "Add the AKS Base Image" Change the title to plural "Add the AKS Base Images". Also, in that same section change point number 5 to pint to the version table mapping we have in the release notes. In other words, point 5 should read: "Select the image version that matches the version of the AKS engine. You can find listing of AKS Base Image to AKS engine version at <insert link to latest rel

[2021-03-01 22:33] walterov opened #1328 "For v0.60.1 release changes"
In general, through out the doc, change any explicit reference to AKS Engine like "v0.55.4" to "v0.xx.x" and tell the customer to look at the release notes for the latest AKS engine version.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d8c6cbd-54d8-9746-a1f8-a618b98e011e
* Version Independent I

[2021-03-01 22:34] walterov opened #1329 "For v0.60.1 release changes"
In general, through out the doc, change any explicit reference to AKS Engine like "v0.55.4" to "v0.xx.x" and tell the customer to look at the release notes for the latest AKS engine version.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 374a2d3f-fc08-7479-678e-cc1b28fa09c3
* Version Independent

[2021-03-01 23:31] walterov opened #1330 "For v0.60.1 release changes"
In general, throughout the doc, remove the explicit version reference in the page and substitute it with "v0.xx.x" and reference the user to the release notes's aks engine version mapping table so that they can get the latest AKS Engine version from it. For example, the command example "curl -o kubernetes-azurestack.json https://raw.githubusercontent.com/Azure/aks-engine/v0.55.4/examples/azure-sta

[2021-03-01 23:52] walterov opened #1331 "For v0.60.1 release changes"
In section "Steps to upgrade to a newer Kubernetes version" step number 1. Substitute the text "The versions of Kubernetes supported in the latest update are 1.14.7 and 1.15.10. Follow this table for the upgrades available: (and corresponding table with version right after)" with the following text:
"The Kubernetes versions supported by your AKS Engine can be listed by running the following comman

[2021-03-02 00:01] mattbriggs commented on #1331
@walterov #in-progress

[2021-03-02 10:16] GitaraniSharma-MSFT commented on #1326
@walterov , thank you for the feedback. We have assigned this issue to the respective content owner/author for updating the doc accordingly.

[2021-03-02 10:19] GitaraniSharma-MSFT commented on #1327
@walterov , thank you for the feedback. We have assigned this to the content owner/author for review.
@mattbriggs , request you please review the suggestion and update the doc accordingly.

[2021-03-02 11:11] GitaraniSharma-MSFT commented on #1329
@walterov , thank you for the feedback. This is a duplicate of #1328 , hence we are closing this.

[2021-03-02 11:11] #1329 closed

[2021-03-02 11:13] GitaraniSharma-MSFT commented on #1328
@walterov , thank you for the feedback. We have assigned this to the content owner/author for review.
@mattbriggs , could you please review the suggestion and provide your inputs?

[2021-03-02 12:25] GitaraniSharma-MSFT commented on #1330
@walterov , thank you for the feedback. We are currently reviewing this feedback and will get back to you shortly.

[2021-03-02 12:27] GitaraniSharma-MSFT commented on #1331
@walterov , thank you for the feedback. We have assigned this to the content owner/author for doc update.

[2021-03-02 20:13] mattbriggs commented on #1323
updated.

#please-close

[2021-03-02 20:13] #1323 closed

[2021-03-03 15:55] lanicolas opened #1332 "Link to set-akshciconfig is Broken"
The link under set-akshciconfig throws a 404

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca3647ab-54da-0c66-c4ee-cf14f4adc4e1
* Version Independent ID: 8ea9f725-84c1-aeea-68c3-fbfab909d73a
* Content: [AksHci PowerShell module - AKS-HCI](https://docs.microsoft.com/en-us/azure-stack/aks-hci/akshci)
* Content Source: [

[2021-03-03 16:32] BhargaviAnnadevara-MSFT commented on #1332
@lanicolas Thanks for bringing this to our attention. I have submitted a PR to fix the issue that's in review.
Meanwhile, please refer to: [Set-AksHciConfig](https://docs.microsoft.com/en-us/azure-stack/aks-hci/set-akshciconfig).

[2021-03-03 18:01] Curious-Navigator opened #1333 "Full index text search options"
[Enter feedback here]
I often mistake the "Title Search" as full index text search and get upsets that I wanted to find something within the product / sub topic document.

Wish to see the feature for full text index search as a new feature for page enhancements. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 191

[2021-03-03 20:54] SaiKishor-MSFT commented on #1333
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-03-03 21:29] PatAltimore commented on #1333
@Curious-Navigator, Thanks for the feedback. If I understand your feedback correctly, you are talking about the filter box above the table of contents. The box above the table of contents is a filter on title rather than a search. There is a search box in the upper right corner that works more like search rather than a filter.

@SaiKishor-MSFT, This is feedback on docs.ms functionality rather than

[2021-03-03 22:04] TravisCragg-MSFT commented on #1330
@walterov Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-03-04 00:07] mattbriggs commented on #1331
Update has been sent to @walterov

#please-close

[2021-03-04 00:07] #1331 closed

[2021-03-04 00:07] mattbriggs commented on #1330
Update has been sent to @walterov

#please-close

[2021-03-04 00:07] #1330 closed

[2021-03-04 00:07] mattbriggs commented on #1328
Update has been sent to @walterov

#please-close

[2021-03-04 00:07] #1328 closed

[2021-03-04 00:07] mattbriggs commented on #1327
Update has been sent to @walterov

#please-close

[2021-03-04 00:07] #1327 closed

[2021-03-04 00:07] mattbriggs commented on #1326
Update has been sent to @walterov

#please-close

[2021-03-04 00:07] #1326 closed

[2021-03-04 00:09] mattbriggs commented on #936
@pappleby64 Updated topic and is in progress for publish. In review with the technical owner.

#please-close

[2021-03-04 00:09] #936 closed

[2021-03-04 01:30] mihiguch opened #1335 "VNET Peering is supported since version 2008"
This page says:

However, other doc says it's supported since version 2008.
https://docs.microsoft.com/en-us/azure-stack/user/azure-stack-network-differences?view=azs-2008

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53626034-9b54-0438-23db-7e2539493d6f
* Version Independent ID: e4ce9a49-ac2f-9ba2-a8b1-0edd8253edb3
*

[2021-03-04 01:40] Curious-Navigator commented on #1333
Hi Pat,
               Yes, I understand that is filter on title and not the search, but I am curious if there is a way we can do a search  within the subdocument area "Azure Stack Hub 2008" (refer screenshot below), since using the top right corner search  will get results from the entire Microsoft site.

[cid:image001.png@01D71054.42BA4580]

Jegan
Azure Stack Hub CSS
Office: +1 469.775.0253
v-je

[2021-03-04 03:48] BhargaviAnnadevara-MSFT commented on #1332
@lanicolas We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-03-04 03:48] #1332 closed

[2021-03-04 06:41] SaiKishor-MSFT commented on #1335
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate

[2021-03-04 06:41] #1335 closed

[2021-03-04 18:16] khdownie commented on #1324
@realgregoryk thanks for the catch - this is fixed now. @SaiKishor-MSFT this issue can now be closed:
https://docs.microsoft.com/en-us/azure-stack/hci/manage/register-windows-admin-center

[2021-03-04 18:20] SaiKishor-MSFT commented on #1324
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-04 18:20] #1324 closed

[2021-03-05 00:29] TravisCragg-MSFT commented on #1322
@yellowpanda Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-03-05 00:55] mattbriggs commented on #1322
@yellowpanda This topic is about using Azure CLI rather than PowerShell. To use the Azure CLI you must do several steps including registering our Cloud Environment, setting your environment, and then signing in with your credentials. Were you looking for instruction on PowerShell? I'd like to make sure the organization of the content isn't confusing. Thanks for taking the time to provide feedback.

[2021-03-05 17:40] CarlosGon commented on #783
@TravisCragg-MSFT
Nothing changed in many months.... any feedback?

[2021-03-08 21:06] TravisCragg-MSFT commented on #783
@CarlosGon The issue is currently assigned to @sethmanheim, he has the action.

[2021-03-08 22:37] sethmanheim commented on #783
@CarlosGon Working on it! Thanks for the reminder. #in-progress

[2021-03-09 10:23] emilpeder opened #1344 "Wrong port number for SQL Server"
Hi

In this [section](https://docs.microsoft.com/en-us/azure-stack/operator/azure-stack-app-service-before-you-get-started?view=azs-2008&pivots=state-connected#sql-server-instance), there is a note about opening port 1434.

Shouldnt this be 1433 in stead?

BR.
Emil

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c085e8

[2021-03-09 18:10] SaiKishor-MSFT commented on #1344
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-09 19:01] TravisCragg-MSFT commented on #1344
@emilpeder Port 1434 is for the [SQL Browser Service](https://docs.microsoft.com/en-us/sql/tools/configuration-manager/sql-server-browser-service). 1433 should already be enabled and allowed.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-09 20:08] BryanLa commented on #1321
#please-close

[2021-03-09 20:08] #1321 closed

[2021-03-11 20:58] mattbriggs commented on #1322
#please-close

[2021-03-11 20:58] #1322 closed

[2021-03-11 20:59] mattbriggs commented on #17
#please-close

[2021-03-11 20:59] #17 closed

[2021-03-11 23:23] mihiguch opened #1350 "Next Hop address might be wrong"
Next Hop address in the picture might be wrong.
I think it should be:

RoutesForVNet1-rt
Address Prefix 10.2.0.0/16
Next Hop 10.1.1.4

and

RoutesForVNet2-rt
Address Prefix 10.1.0.0/16
Next Hop 10.2.1.4

Same comment is applied to:
https://docs.microsoft.com/en-us/azure-stack/user/network-howto-vpn-tunnel-gre?view=azs-2008
https://docs.microsoft.com/en-us/azure-stack/user/network-howto-vpn-tunnel-

[2021-03-12 01:09] SaiKishor-MSFT commented on #1350
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-12 04:04] TravisCragg-MSFT commented on #1350
@mihiguch Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-03-12 22:23] mattbriggs commented on #1350
@mihiguch Thanks for your feedback.

#in-progress

[2021-03-12 23:02] mattbriggs commented on #1350
Updated.

#please-close

[2021-03-12 23:02] #1350 closed

[2021-03-13 19:50] cenkersoy opened #1353 "Sentence unclear"
[Enter feedback here]

Could someone explain this sentence ? "Shared workers are multi-tenant and host free and shared App Service plans and consumption-based Azure functions for many tenants. "
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a844634b-8ece-f737-7686-b6a2231db1ba
* Version Independent ID: 2f928f50-bbbc-ae

[2021-03-14 04:52] BhargaviAnnadevara-MSFT commented on #1353
@cenkersoy Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-03-15 15:41] sethmanheim commented on #1141
@francoislegrange Thank you for the feedback and sorry for the delayed response. This article has been updated in several places and has addressed the issue you reported. Thanks again for reaching out! #please-close

[2021-03-15 15:41] #1141 closed

[2021-03-17 19:09] BryanLa commented on #1299
@bowlerma - thanks very much for your feedback, and apologies for the delay.
I've checked and there does not appear to be a version of the scripts that will work with the Az module.
As such, I've added a NOTE block to the prerequisites section, indicating that AzureRM is required, for now.

#please-close

[2021-03-17 19:09] #1299 closed

[2021-03-18 17:24] TrentShoun opened #1362 "App Services on stack hub | SQL permissions"
In the app services prerequisites under "Prepare the SQL Instance"
https://docs.microsoft.com/en-us/azure-stack/operator/azure-stack-app-service-before-you-get-started?view=azs-2008&pivots=state-connected#prepare-the-sql-server-instance

We should list out what SQL permissions are required for the SQL account being used for app services.

---
#### Document Details

⚠ *Do not edit this section. It

[2021-03-18 18:08] carlosmayol opened #1363 "deploymentType parameter is not documented."
deploymentType parameter is not documented. Also will be great to have the parameter sort by descending alphabetical order

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7063b994-0e35-6c7e-3be9-b29de6047509
* Version Independent ID: fddeb894-cb94-8e42-a6b1-0d9100e0428b
* Content: [Set-AksHciConfig - AKS-HCI](https://do

[2021-03-18 18:44] SaiKishor-MSFT commented on #1362
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-03-19 02:54] DerekHerman-MSFT commented on #1363
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-19 16:14] BryanLa commented on #1362
Adding @apwestgarth for his thoughts, as I'm not sure what the actual account/perms would be.

[2021-03-24 15:41] PatAltimore commented on #1210
Hi @BasWassenaar,

Thanks for the feedback.  I updated the image to node 1 & node 2.

Pat
#please-close

[2021-03-24 15:41] #1210 closed

[2021-03-24 19:04] rfsonders opened #1369 "Question regarding the maximum supported hardware specification"
[Enter feedback here]
For this matrix
https://docs.microsoft.com/en-us/azure-stack/aks-hci/system-requirements#review-maximum-supported-hardware-specifications

More clarity is needed. Should be..  ( in parentheses )
Resource
Physical servers per cluster ( Azure Stack HCI Cluster ) =  4
Kubernetes Clusters ( per Azure Stack HCI Cluster ) = 4
Total number of VMs ( per Kubernetes Cluster ) = 4

I am

[2021-03-24 20:51] SaiKishor-MSFT commented on #1369
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-03-28 21:21] jamesaepp opened #1375 "Data dedup feature/role missing from instructions"
Step 1.3: Install roles and features

Step does not include the data deduplication but the WAC wizard includes this feature ... what gives?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df3012c4-22e5-004d-da6f-60744f2cfb4f
* Version Independent ID: 57e21edd-9a2b-f1ca-2ff7-48e3da5dc260
* Content: [Create an Azure Stack

[2021-03-28 22:40] jamesaepp commented on #947
I was reviewing the documentation for powershell commands as I'm frustrated with WAC and I found the same thing. This seems like quite the oversight.

[2021-03-29 04:13] ram-msft commented on #1375
@jamesaepp Thanks for the feedback! We will review and update accordingly.

[2021-03-29 17:10] v-dasis commented on #947
Hi, please clarify what is meant by "...and I found the same thing." Thanks.

[2021-03-29 17:44] jamesaepp commented on #947
As in, I found the same issue in the documentation that OP reported.

[2021-03-29 17:47] v-dasis commented on #947
This was closed last August with "All network adapters must be identical when teaming NICs." Not sure specifically what you are referring to in addition here.

[2021-03-29 17:49] jamesaepp commented on #947
What if I don't want all network adapters on the system to be part of the same virtual switch? What purpose is accomplished by putting all adapters into the same vSwitch? Why do the powershell steps make this recommendation but the wizard in WAC does something different?

There is a lot of confusion in this document and product.

[2021-03-29 21:34] v-dasis commented on #1375
This has been updated and is live: https://docs.microsoft.com/en-us/azure-stack/hci/deploy/create-cluster-powershell

[2021-03-29 21:50] v-dasis commented on #947
To address these specific questions, recommend going to product support at https://docs.microsoft.com/en-us/azure-stack/hci/manage/get-support. WAC wizard follows a specific preset implementation based on auto-discovery of your environment while the PowerShell article gives but one example of how things could be done, out of many possible permutations. For a deep-dive of PowerShell scripts used fo

[2021-03-29 22:44] #1375 closed

[2021-03-30 14:57] DellProSupportGse commented on #918
Would it be possible to add this Windows licensing information on the HCI OS pricing page?
https://azure.microsoft.com/en-us/pricing/details/azure-stack/hci/

[2021-03-30 14:58] jlgandy2 commented on #918
Would it be possible to add this Windows licensing information on the HCI OS pricing page?
https://azure.microsoft.com/en-us/pricing/details/azure-stack/hci/

[2021-04-01 08:28] FJRomeroS opened #1383 "Needed Ports between HCI and WAC"
Hello HCI Team,

I've currently in a POC with MAS HCI 20H2 and WAC. We need as Input for the Security Team a detailed Port overview for the communication between WAC, the Nodes and HCI Cluster. Also we need the direction information from WAC to Nodes/Cluster and from Nodes/HCI to WAC.

Send this Issue even to WAC Team!

Best regards
Sebastian Romero @fujitsu
[Enter feedback here]

---
#### Documen