[2022-05-18 22:10] mattbriggs commented on #1947
@[walterov](https://github.com/walterov) #in-progress

[2022-05-18 22:21] mattbriggs commented on #1947
Updated: https://github.com/MicrosoftDocs/azure-stack-docs-pr/pull/10047

[2022-05-18 22:22] mattbriggs commented on #1947
#please-close

[2022-05-18 22:22] #1947 closed

[2022-05-19 20:36] BryanLa commented on #1919
@Lacosta74 - my apologies for the delay on this.

I'm discussing with engineering, and they mentioned that those installations are typically done from the Operator's workstation (for example, see [Install PowerShell Az module for Azure Stack Hub](https://docs.microsoft.com/azure-stack/operator/powershell-install-az-module), and that the Azure Stack Hub infrastructure deployment does not require ac

[2022-05-19 21:07] lcacosta commented on #1919
That is correct, this is specific to DellEMC deployments where it is building the MGMT-VM and DVM to start the baremeal deployment.  ".\MGMTVMPreReqInstall.ps1 -InstallAzureAD" is the code that calls for those modules.

[2022-05-19 21:20] BryanLa commented on #1919
Great, thanks @Lacosta74. Let me circle back w/engineering and I'll post a follow up...

[2022-05-20 15:37] TrentShoun opened #1948 "Remove ATA References under Protect identities"
Under "Protect identities" we need to remove references to ATA (Advanced Threat Analytics" as it's no longer a supported product. I believe the section should be replaced with Endpoint protection.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a0c2cfb-d58d-04c3-c4f7-0aa1accc7c9f
* Version Independent ID: f16ff48f-c6a2

[2022-05-20 19:35] kobulloc-MSFT commented on #1948
@TrentShoun Thank you for the feedback!  We've assigned this to the document author for further review.

[2022-05-24 18:34] JohnBMSFT opened #1950 "Feedback on EVA - Improvements to scripts and work flow listed in the document"
I have noticed few issues when working with a customer who's trying to test EVA feature in his environment. Suggesting the following corrections/updates to the document based on my observation:

**Issue#1:**
Use of "Read-Host" to pass the values to variables in "Operator enables a user subscription for EVA" section of the document is throwing below exception when trying to grant consent from tenan

[2022-05-24 21:46] jamesorlando opened #1951 "Minimum Stack Version is Unclear"
The doc for ALL 2102 Hotfixes state the minimum version the Hotfix applies to is 1.2102.28.82 This includes the 1.2102.28.87 update. First, I get the feeling this is not accurate for 1.2102.28.82 to be the minimum for 1.2102.28.87. Second, if it is accurate there is no hotfix available in the public facing docs that can get a 1.2102.0.10 build patched.

Example:
Dell deployed 1.2102.0.10

Lowest 2

[2022-05-25 02:50] VikasPullagura-MSFT commented on #1950
@sethmanheim
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-05-25 02:51] VikasPullagura-MSFT commented on #1950
@sethmanheim
Can you please check and add your comments on this doc update request as applicable.

[2022-05-25 02:53] VikasPullagura-MSFT commented on #1951
@jamesorlando
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-05-25 02:53] VikasPullagura-MSFT commented on #1951
@sethmanheim
Can you please check and add your comments on this doc update request as applicable.

[2022-05-25 15:11] #1951 closed

[2022-05-27 19:51] BryanLa commented on #1941
@nairsrijith - thanks very much for your feedback. I've made several changes to the article to improve clarity on the directory/folder structure, as well as the casing issue you pointed out. The revised version will republish around 3pm PDT today.

#please-close

[2022-05-27 19:51] #1941 closed

[2022-05-27 22:32] BryanLa commented on #1919
@Lacosta74 - just a quick update... it sounds like this is something we'll need to relay to DellEMC, as engineering prefers to not add the additional endpoints for deployment of the ASH stamp itself. Deployment HLH image and module/script requirements varies by OEM. As soon as I get confirmation I will post another reply..

[2022-05-28 06:58] Lihailian opened #1954 "getkuberneteslogs.sh is used to collect k8s cluster logs which deployed by aks engine not apply to AKS n azure stack hub."
Hi Team,

In this guide, it is for AKS on azure stack hub issue troubleshoot. Commands was given to collect k8s cluster logs.
But seems "getkuberneteslogs.sh" collects diagnostics from Kubernetes clusters provisioned by AKS Engine. Furthermore, it asks to provide "-i, --identity-file" while aks on azure stack hub deployment don;t provide keys. Could you update with correct log collection steps for

[2022-05-29 06:55] shwetamathur7 commented on #1954
@Lihailian Thanks for your feedback. I have assigned the issue to author to update further.

[2022-05-30 12:33] jaromirk opened #1956 "Pool quorum is not working like this since Windows Server 2019"
[Enter feedback here]

Hey all,

pool quorum behavior changed in Windows Server 2019. No longer every disk has vote, but only selected amount of disks...

Here is proof:
https://github.com/microsoft/MSLab/blob/master/Scenarios/S2D%20and%20Metadata%20deep%20dive/readme.md#exploring-pool-metadata

metadata=vote ;)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2022-05-30 12:47] SreejaBhattacharya-MSFT commented on #1956
@jaromirk
Thanks for reaching out. Could you please mention how would you like us to help here as this issue has been opened in the Documentation channel. Do you want us to make any documentation changes for this ?

[2022-05-30 12:51] jaromirk commented on #1956
I think Cosmos Darwin created graphics while Jason Gerend documented it. I cannot recall the dev name now, who was responsible modifying pool quorum logic. I think failover clustering is now owned by Rob Hindman, but not sure :).

[2022-05-30 12:54] SreejaBhattacharya-MSFT commented on #1956
Thanks @jaromirk
@JasonGerend could you please look into this?

[2022-06-02 12:27] basawaqe opened #1958 "Current Command: Get-AzureStackLog -FilterByResourceProvider ACR -FilterByRole FabricRingServices return error"
[Enter feedback here]

we have wrong command in our public doc

Current Command:Get-AzureStackLog -FilterByResourceProvider ACR -FilterByRole FabricRingServices

Output:
Get-AzureStackLog -FilterByResourceProvider ACR -FilterByRole FabricRingServices

Parameter set cannot be resolved using the specified named parameters.
    + CategoryInfo          : InvalidArgument: (:) [Get-AzureStackLog], Param

[2022-06-02 15:07] kobulloc-MSFT commented on #1958
@basawaqe Thank you for your feedback!  We've assigned this to the document author for further review.

[2022-06-03 22:47] walterov opened #1959 "Add references to AS HCI and Windows Server support policies"
At the end of section "Supported version policy" add a new paragraph with the following:
"
AKS on Azure Stack HCI and on Windows Server follow their specific platform version support timeframes, that is, AKS is not supported on unsupported versions of those products, please see their support policies:
- (Azure Stack HCI supported versions information)[https://docs.microsoft.com/en-us/azure-stack/h

[2022-06-03 22:49] sethmanheim commented on #1959
@walterov Will do.

[2022-06-06 13:08] fe77 opened #1961 "Link broken, powershell"
Hi Team
On the page we have this text : "If you’ve already set up AKS-HCI on your Azure Stack HCI cluster, you cannot currently deploy Arc Resource Bridge through Windows Admin Center. Use the command line instructions for Arc Resource Bridge deployment instead. For information about the command line deployment, see [Deploy Arc Resource Bridge using command line](https://docs.microsoft.com/en-us/a

[2022-06-06 13:49] fe77 opened #1962 "Find the "edit" button"
Team
On this text "To check all the prerequisites that should be met to deploy Arc Resource Bridge on an Azure Stack HCI Cluster, select Settings when connected to a cluster and navigate to Azure Arc VM setup for Azure Stack HCI.".. it took some time to locate the right place to go. Just as a feedback, I went on the EDIT logo at the top right of the screen, and had to select the bottom left, which

[2022-06-06 15:06] sethmanheim commented on #1959
Updated in private repo, #please-close

[2022-06-06 15:42] sethmanheim commented on #1958
Updated. #please-close

[2022-06-06 16:00] sethmanheim commented on #1961
@fe77 Please specify which article you're referring to, thank you.

[2022-06-06 16:27] fe77 commented on #1961
Hi,
If you click the link on the previous post you will land on it. Locate then the text I mentioned, and you will see that it points to "itself", not the part related to "command line".
regards
fred

[2022-06-06 16:38] sethmanheim commented on #1961
@fe77 Got it, thanks for catching. This will be updated today. #please-close

[2022-06-06 16:38] #1961 closed

[2022-06-06 16:39] sethmanheim commented on #1962
@fe77 Not sure what the documentation issue is here? Please clarify.

[2022-06-06 17:08] sethmanheim commented on #1962
OK, per our discussion, thank you @fe77 for catching this, and I will update it on the livesite today. #please-close

[2022-06-06 17:08] #1962 closed

[2022-06-09 16:05] BryanLa commented on #1919
@Lacosta74  - apologies for the delays on this, but I have confirmed that this is something we are going to need to share with the DellEMC engineers. We'll likely recommend that they download the modules in advance and build them into the DVM image.

We'll post any updates to this issue going forward, and thank you again for your feedback on this.

#please-close

[2022-06-09 16:05] #1919 closed

[2022-06-14 18:08] ManikaDhiman commented on #1807
Hi @AjayKumar-MSFT: This issue is already fixed and closed. Any reason why it's assigned to the author again? Thanks!

[2022-06-14 23:14] TheOnlyWei opened #1964 "Wrong example used"
Wrong example used in the example section:
https://docs.microsoft.com/en-us/azure-stack/reference/pep/set-graphapplication#example-1

The example uses "new-graphapplication", when the article is about "set-graphapplication".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbc64dc6-6940-75d9-c2d1-fd179852719e
* Version I

[2022-06-14 23:38] BryanLa commented on #1964
Thanks @TheOnlyWei. We'll get this fixed..

[2022-06-15 13:22] AjayKumar-MSFT commented on #1807
@ManikaDhiman, Just for the triage completion, the appropriate labels' are added. There is no action item for you. Thanks!

[2022-06-16 01:30] imjoebond opened #1965 "Step 6 where to run New-AksHciCluster powershell command"
[Enter feedback here]

https://docs.microsoft.com/en-us/azure-stack/aks-hci/kubernetes-walkthrough-powershell#step-6-create-a-kubernetes-cluster

The first 5 steps indicate on what machine to run commands but that is not included in step 6.  Do you run it from an ask hci node as an administrator?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2022-06-16 04:11] PriyankaRudramaina commented on #1965
@imjoebond ,

Thank you for your feedback. We will investigate and update the thread further.

[2022-06-17 20:17] sethmanheim commented on #1950
@JohnBMSFT I have made some of the fixes suggested here but will need more information about what you're suggesting in the "Some additional feedback" section. There isn't enough information here to make updates (i.e. what sections and scripts you're referring to).

[2022-06-20 18:51] JohnBMSFT commented on #1950
Hi Seth,

Providing below some additional information on the suggestions I requested for the EVA document. Please let me know if you need any additional information.

Issue#4:
There's an additional space in the script executed by tenant after "-ErrorAction Stop `" and throws an error. Although it is not preventing the script from execution it just throws below error.

Error Details: Space highligh

[2022-06-22 17:49] sethmanheim commented on #1950
@JohnBMSFT Thank you for taking the time to write this up. It seems clear, and I will work on these changes ASAP.

[2022-06-27 16:14] mattbriggs commented on #1934
@aluty and I discussed this. The current feed is compliant with the RSS standards. I will add to my backlog some of the elements that would make this more friendly to his script, but I am not sure when I will be able to get to them.

#please-close

[2022-06-28 03:11] xzrian opened #1966 "SDN on HCI Single Node cluster"
Hi,
Do you have any supporting case scenario of running SDN on HCI Cluster single node?
i did encounter issue based on screenshot below.
![image](https://user-images.githubusercontent.com/47202302/176083912-41bd1b60-6897-4e01-9461-b761a876fa9a.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6db0c266-9042-4171-77fe-

[2022-06-28 03:42] AshokPeddakotla-MSFT commented on #1966
@xzrian Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2022-06-28 23:01] sethmanheim commented on #1950
All the changes have been published, but feel free to open a new issue, if anything else pops up. Contacting me internally would be preferable, FYI. :-) #please-close

[2022-06-28 23:01] #1950 closed

[2022-06-30 08:28] xzrian commented on #1966
hi @AshokPeddakotla-MSFT

sorry didnt notice the email.
below are the docs as per requested.
https://docs.microsoft.com/en-us/azure-stack/hci/concepts/software-defined-networking

[2022-06-30 19:16] #1268 closed

[2022-07-04 16:27] AnirbanPaul commented on #1966
Hi, can you remove the regkey on the HCI host as referenced in the below article and try again: https://docs.microsoft.com/en-us/azure-stack/hci/deploy/sdn-wizard#redeploy-sdn-network-controller

[2022-07-05 06:56] VikasPullagura-MSFT commented on #1966
@AnirbanPaul Thanks for sharing the details.

[2022-07-05 06:57] VikasPullagura-MSFT commented on #1966
@xzrian Can you please try the suggestion and see if that helps.

[2022-07-05 22:07] rjstephan opened #1969 "Outdated WAC Screen shots."
[Enter feedback here]

I am using WAC 2110.2 with my Azure Stack HCI cluster and all of the screenshots appear to be incorrect.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0343338-2574-7945-e13d-dd000ba634bb
* Version Independent ID: 9b0e602d-151e-7502-e389-c3bb56794841
* Content: [Get started with Azure Stack HCI a

[2022-07-06 00:16] kobulloc-MSFT commented on #1969
@rjstephan Thank you for your feedback!  We've assigned this to the document author for further review.

[2022-07-07 00:05] V-GSOLER commented on #1964
@BryanLa
Task updated in ADO: https://dev.azure.com/mseng/TechnicalContent/_queries/edit/1961186/?queryId=90a6e983-15c6-4225-b0f8-7fd8237428cb
Preview: [Set-GraphApplication privileged endpoint for Azure Stack Hub - Azure Stack Hub | Microsoft Docs](https://review.docs.microsoft.com/en-us/azure-stack/reference/pep/set-graphapplication?branch=pr-en-us-10360)
Pull Request: [User Story 1961186 Wrong

[2022-07-07 05:28] VikasPullagura-MSFT commented on #1966
@xzrian
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2022-07-07 05:28] #1966 closed

[2022-07-07 16:40] alexsmithMSFT opened #1970 "VSCode Azure Accounts extension config value for azure.cloud should always be "AzureCustomCloud""
From **Set up the Azure Account extension -> Step 7 -> Values:**

azure.cloud | The name of your environment.
-- | --

However, I don't think this parameter should be changed to the name of the environment, it appears to required the literal string ["AzureCustomCloud"](https://github.com/microsoft/vscode-azure-account/blob/6fa3cab0b8f1784a3183fe38ad89055ed190bea7/package.json#L148).

I tried in a

[2022-07-07 18:43] alexsmithMSFT commented on #1970
@BryanLa you summed up the two issues perfectly.

<img width="584" alt="image" src="https://user-images.githubusercontent.com/26260056/177846089-09b26453-1d5a-438f-a99d-495512285af3.png">

[2022-07-13 04:17] xzrian commented on #1966
Hi Anirban

I believe we met on SDN support email.
Yes i did run the command to remove and try to add again.
did not work

Just to add on that currently I’m running azure stack hci on top of unsupported hardware( no RDMA, no 10G, unmanaged switch with no DCBX)

Do let me know if you have case scenario where the SDN running on Single node cluster.

[2022-07-13 12:26] JamieRalphSmithMS commented on #1940
Thanks for responding @V-GSOLER
1.  ASH version is 2108
2.  2021Q3

[2022-07-19 08:22] munir94 opened #1973 "msk8s.api.cdp.microsoft.com is not available"
While trying to install akshci mgmt node, i stumble on this error ,

![image](https://user-images.githubusercontent.com/39366930/179702915-13e92425-02f4-4dc4-a9b8-d5d7b33c7c1b.png)

while trying to resolve the issue , and try to test the connectivity , it seems like the url is not available, tried from multiple device and multiple internet connection

![image](https://user-images.githubusercontent

[2022-07-20 01:36] TheBlackMini opened #1974 "Azure AD Graph API Tools for ADFS Identity users"
This page was last edited on the 11/11/2021 and goes on to say that the article will be updated in the future with a list of supported tools for ADFS users.

"This article will be updated in the future and list supported tooling versions for Azure Stack Hub for AD FS."

Just wondering, now that the API has now been retired and ADFS hasn't been updated to support the new API. Has anyone compiled th

[2022-07-20 02:23] Karishma-Tiwari-MSFT commented on #1974
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-07-20 02:31] munir94 commented on #1973
Hi @dineshgovindasamy , as per my checking , the issue is still there

[2022-07-20 15:43] dineshgovindasamy commented on #1973
@madhanrm FYI

[2022-07-20 15:46] dineshgovindasamy commented on #1973
Sorry @munir94 one more thing. Could you please update the PS Module and then try again? the fix was in the updated PS module.

Update-Module -Name AksHci -Force -AcceptLicense

[2022-07-21 00:58] munir94 commented on #1973
Hi @dineshgovindasamy ,
here is the result on running the update module command
![image](https://user-images.githubusercontent.com/39366930/180107161-3cfa29f5-ea8b-4e7d-8cb8-95fcd5db91be.png)

[2022-07-21 17:13] jkingdon-ms opened #1975 "Link to Sandbox Guide"
Need a link to this guide https://github.com/microsoft/AzStackHCISandbox on this page at the end, as it is currently the best one out there, with minimal issues. Tried the Private Forest guide and the HCI Eval guide, both of those guides have blocking issues right now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e58

[2022-07-21 17:14] MarileeTurscak-MSFT commented on #1975
@jkingdon-ms
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-21 17:26] MarileeTurscak-MSFT commented on #1975
Thanks! I had made a pull request to add this, but looks like you beat me to it. :) https://github.com/MicrosoftDocs/azure-stack-docs-pr/pull/10439

[2022-07-21 17:26] #1975 closed

[2022-07-21 17:27] jkingdon-ms commented on #1975
Thanks Marilee!

[2022-07-21 17:29] jkingdon-ms commented on #1975
Looks like I don't have access to re-open the issue though @MarileeTurscak-MSFT

[2022-07-22 15:09] nicolgit opened #1978 "sequence for dynamic ip address not working"
I am following this step-by-step procedure for dynamic ip address

at the step "If AKS on Azure Stack HCI and Windows Server is not installed. Run the following cmdlets to provide an IP address to your Azure Arc Resource Bridge VM:"

when I execute

`Set-MocConfig -workingDir $csv_path\ResourceBridge  -vnet $vnet -imageDir $csv_path\imageStore -skipHostLimitChecks -cloudConfigLocation $csv_path\cl

[2022-07-22 15:27] ManikaDhiman commented on #1978
@nicolgit: Thanks for reaching out.
@ZmanKyle: Could you please look into this? Thanks!

[2022-07-25 16:43] ZmanKyle commented on #1978
@nicolgit I cleaned up my environment and re-tried dynamic IP configuration. It did not give me any error for the same steps. Could you try to upgrade/reinstall moc module and other related modules and try again? Let me know if you see the same error.
@ksurjan any thought on this?

[2022-07-25 17:17] ksurjan commented on #1978
@nicolgit  - If the hosts are configured to have static IP configuration, then you would need cloudServiceIP.
If the hosts are dynamic, then you don't need it.

[2022-07-26 18:40] aserfass-msft opened #1981 "Inconsistent 2206 upgrade instructions"
There appear to be inconsistent requirements in the documentation.

This says to update from 1.2108.2.111 to 2206
"Hotfix prerequisites: before applying the 2206 update
The 2206 release of Azure Stack Hub must be applied on the 2108 release with the following hotfixes:

[Azure Stack Hub hotfix 1.2108.2.111](https://docs.microsoft.com/en-us/azure-stack/operator/hotfix-1-2108-2-111?view=azs-2206)"
S

[2022-07-27 00:05] Karishma-Tiwari-MSFT commented on #1981
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-07-27 15:24] sethmanheim commented on #1981
Please contact Microsoft Support, as on the documentation side, I have no visibility into versioning schemes. Thanks for reaching out! #please-close

[2022-07-27 15:24] #1981 closed

[2022-07-28 01:50] JasonMei11 opened #1982 "SDN re-deployment wizard cannot be displayed if Customer want to deploy again"
[Enter feedback here]

HI Team,

we have a customer deployed SDN via WAC, but for some reason, customer want to redeploy it agian. We follow the doc that remove NC and NC host agent resgistry settings, but the SDN deployment wizard cannot be displayed, then casuse customer cannot deploy the SDN again. Finally, we just remove the cluster from WAC and then add the cluster to WAC for management, the

[2022-07-28 02:56] VikasPullagura-MSFT commented on #1982
@JasonMei11
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-07-28 02:56] VikasPullagura-MSFT commented on #1982
@ManikaDhiman
Can you please check and add your comments on this doc update request as applicable.

[2022-07-28 16:27] ManikaDhiman commented on #1982
Hi @VikasPullagura-MSFT, I started an internal thread to review this issue and update the article as needed. Thanks!

[2022-07-29 19:46] ManikaDhiman commented on #1982
Hi @JasonMei11: Thanks for your feedback! The [Redeploy SDN Network Controller](https://docs.microsoft.com/en-us/azure-stack/hci/deploy/sdn-wizard#redeploy-sdn-network-controller) section is now updated with an additional step as described in your feedback. Thanks again for helping us improve our docs!

@VikasPullagura-MSFT: Please review the changes and close this issue. Thanks!

#please-close

[2022-07-29 19:46] #1982 closed

[2022-07-29 23:28] keystroke commented on #1974
Hi @TheBlackMini, there is no update yet for different Azure Stack tooling for AAD versus ADFS environments. When such a time comes, we'll update that documentation and mention it in release notes, etc.

[2022-07-30 01:18] BrunoStack opened #1985 "Az Connect missing details"
https://docs.microsoft.com/en-us/azure-stack/operator/azure-stack-create-and-publish-marketplace-item?view=azs-2206&tabs=az#publish-a-marketplace-item
Connect to Azure Stack Hub using Az module misses the tenant information which is causing confusion when customer follows this article to create and publish marketplace.

Refer this link for missing tenant information.
![MicrosoftTeams-image (1)](ht

[2022-07-30 01:34] KranthiPakala-MSFT commented on #1985
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-08-01 05:06] reddydhanunjaya1 opened #1987 "YAML Not Found."
I don't find the statefulset.yaml file in the Document. Please verify and update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12a11a7f-d473-c72e-137a-815f941c0b7c
* Version Independent ID: e7d83e93-e793-e01a-ae3e-e8c020729a1d
* Content: [Create StatefulSets in Azure Kubernetes Service on Azure Stack HCI and Windows

[2022-08-01 06:03] VikasPullagura-MSFT commented on #1987
@reddydhanunjaya1
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-08-01 06:03] VikasPullagura-MSFT commented on #1987
@sethmanheim
Can you please check and add your comments on this doc update request as applicable.

[2022-08-01 15:19] sethmanheim commented on #1987
Hi @reddydhanunjaya1, thanks for the feedback. Please see https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/ for more information. #please-close

[2022-08-02 20:05] sethmanheim commented on #1974
#please-close

[2022-08-02 20:05] #1974 closed

[2022-08-02 20:08] sethmanheim commented on #1970
This has been fixed, but I guess this issue wasn't closed.

[2022-08-02 20:08] #1970 closed

[2022-08-02 20:13] sethmanheim commented on #1964
This appears to be fixed although the issue was never closed. Closing now...

[2022-08-02 20:13] #1964 closed

[2022-08-02 20:23] sethmanheim commented on #1939
Please reopen if you can obtain this information, and I will add it to the docs.

[2022-08-02 20:23] #1939 closed

[2022-08-02 20:28] sethmanheim commented on #1938
@walterov It's not clear to me where your suggested content would belong -- I don't see a "Verify your cluster" section in this article, or anything that mentions the kubeconfig file.

[2022-08-02 20:29] sethmanheim commented on #1906
@ksurjan Can you please address this issue? Thank you!

[2022-08-02 20:31] sethmanheim commented on #1891
This was fixed, but the issue was never closed. Closing now...

[2022-08-02 20:31] #1891 closed

[2022-08-02 20:34] sethmanheim commented on #1848
Please see the comment from Matt Briggs.

[2022-08-02 20:34] #1848 closed

[2022-08-02 20:35] #1776 closed

[2022-08-02 20:36] #1749 closed

[2022-08-02 20:38] sethmanheim commented on #1622
Please contact Microsoft Support for ASDK issues, as we cannot verify the information currently.

[2022-08-02 20:38] #1622 closed

[2022-08-02 20:39] sethmanheim commented on #1555
Sounds like the issue was resolved.

[2022-08-02 20:39] #1555 closed

[2022-08-02 20:40] #1537 closed

[2022-08-02 20:42] sethmanheim commented on #1510
Please reopen a new GitHub issue if this is still an issue.

[2022-08-02 20:42] #1510 closed

[2022-08-02 20:53] gabrielluizbh opened #1988 "Wrong documentation."
The documentation is wrong regarding not using keys when using Windows Server Subscription.

![image](https://user-images.githubusercontent.com/31531703/182470553-27450234-137b-4a5e-a715-57bc9be34a1c.png)

Need to use AVMA key activation.

https://docs.microsoft.com/en-us/windows-server/get-started/automatic-vm-activation

Open a support ticket.  I was instructed to use the AVMA key.

Support requ

[2022-08-02 20:57] sethmanheim commented on #1988
Hi @gabrielluizbh -- thank you for pointing this out, we are aware of the issue and I have a PR already filed to fix it. I am changing that table entry to "No host-side keys – AVMA is automatically enabled. After it's enabled, you can then apply the generic AVMA keys on the client side." Thanks again for the feedback.

[2022-08-02 20:57] #1988 closed

[2022-08-03 04:48] i3laze opened #1989 "Storage Tiers monitoring and reporting"
There's no documentation on monitoring and reporting of Storage Tiers performance and cache hit ratio.
One for Server 2012 and defrag.exe is currently obsolete:
https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2012-r2-and-2012/dn789160(v=ws.11)

Previous issue was auto closed without resolution:
https://github.com/MicrosoftDocs/azure-stack-docs/issues/1510

#### Doc

[2022-08-03 22:26] KranthiPakala-MSFT commented on #1989
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-08-03 23:32] khdownie commented on #1989
@i3laze @KranthiPakala-MSFT I am no longer on the HCI team so I'm asking @JasonGerend to recommend someone else to assign this to. Thanks!

[2022-08-05 21:44] jonjunell opened #1991 "Clarification"
My team and I are deploying Azure Arc Resource Bridge and we'd like to know if we run the scripts from a HCI cluster member, or from an external server.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2b89ce1-6af9-aaa1-48f2-da8d2f5c8b75
* Version Independent ID: db6c5f7c-77b2-7a97-dc2c-d904db88edf5
* Content:

[2022-08-05 22:14] ZmanKyle commented on #1991
@jonjunell You need to run the scripts from an HCI node.

[2022-08-06 00:31] kobulloc-MSFT commented on #1991
@jonjunell We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-08-06 00:31] #1991 closed

[2022-08-17 00:16] gabrielluizbh opened #2004 "Wrong documentation"
I tested several times to enable the benefit of azure in the VM with it running.
Did not work.

Finally I turned off the VM and enabling the azure benefit enabled the VM.

Documentation should inform that for activation the VM must be in a shutdown status.

![image](https://user-images.githubusercontent.com/31531703/185006230-f5024300-4424-47fe-a379-93f5c8f3647c.png)
![image](https://user-images.g

[2022-08-17 01:50] gabrielluizbh opened #2005 "Confusing documentation."
Confusing documentation.

Documentation for using Azure Stack HCI to make use of ESUs, very confusing.

And the link that says it is necessary to read is from 2020.
https://techcommunity.microsoft.com/t5/windows-it-pro-blog/obtaining-extended-security-updates-for-eligible-windows-devices/ba-p/1167091

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2022-08-17 04:00] PriyankaRudramaina commented on #2004
@gabrielluizbh,

Thank you for your feedback. We will investigate and update the thread further.

[2022-08-17 04:00] PriyankaRudramaina commented on #2005
@gabrielluizbh,

Thank you for your feedback. We will investigate and update the thread further.

[2022-08-17 10:04] PriyankaRudramaina commented on #2005
@gabrielluizbh,

The blog post that is added for reference is to know what the installation prerequisites for ESUs are. Even though it is dated back to 2020, it is still applicable. The document is getting updated as and when there are more updates.(3 updates in the top from 2021)
[blog post](https://docs.microsoft.com/en-us/azure-stack/hci/manage/azure-benefits-esu#prerequisites)

It is an import

[2022-08-17 16:31] cgatjens opened #2006 "Secrets Store CSI Driver still pointing to old URL"
Microsoft Documentation is still pointing to the old GitHub URL for Secrets Store CSI Driver:

Install the Secrets Store CSI Driver

helm repo add **csi-secrets-store-provider-azure https://raw.githubusercontent.com/Azure/secrets-store-csi-driver-provider-azure/master/charts**

GitHub page describes that a new URL should be used - https://github.com/Azure/secrets-store-csi-driver-provider-azure/tr

[2022-08-17 16:41] sethmanheim commented on #2006
@cgatjens Thank you for reaching out. Actually this was updated a few days ago and the URL was updated to https://azure.github.io/secrets-store-csi-driver-provider-azure/charts.

#please-close

[2022-08-17 16:41] #2006 closed

[2022-08-18 06:21] tksh164 opened #2007 "Question: Secrets Store CSI Driver with AKS on Azure Stack HCI is GA or not?"
The document has the following note. Is this note meaning Secrets Store CSI Driver with AKS on Azure Stack HCI still preview feature?

![image](https://user-images.githubusercontent.com/1618784/185308262-a5d21cfb-9f8f-4d5d-9e2a-dfd5dedb9e5a.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48500978-a4c7-4fd8-2c5a-3fc

[2022-08-18 06:32] SreejaBhattacharya-MSFT commented on #2007
@tksh164 Thanks for reaching out. We will investigate and update the thread further.

[2022-08-18 09:15] #2005 closed

[2022-08-18 09:21] PriyankaRudramaina commented on #2004
@gabrielluizbh,

Thanks again for surfacing this feedback. So here is the update, if it is a Gen 1 VM then yes, you need a shutdown. Gen 2 VMs do not need to be shutdown.

We will add this as a note in the document https://docs.microsoft.com/en-us/azure-stack/hci/manage/azure-benefits?WT.mc_id=WDIT-MVP-5003815#azure-benefits-available-on-azure-stack-hci

For any further queries or concerns, please

[2022-08-18 09:21] #2004 closed

[2022-08-19 10:16] CarlosGon opened #2009 "Az module vs AzureRM"
On the step
Create an Azure AD App
3.[Install PowerShell for Azure Stack Hub](https://docs.microsoft.com/en-us/azure-stack/operator/powershell-install-az-module?view=azs-2206).

it should point to AzureRM module instead
3.[Install PowerShell for Azure Stack Hub](https://docs.microsoft.com/en-us/azure-stack/operator/azure-stack-powershell-install?view=azs-2206).

More robust and permanent fix:
Anot

[2022-08-19 10:19] SreejaBhattacharya-MSFT commented on #2009
@CarlosGon thanks for the feedback, we will update the docs with necessary changes. Thanks

[2022-08-19 10:32] CarlosGon opened #2010 "Missing step to start bitnami after apply changes to my.cnf"
Topic Configure external access to the MySQL hosting server
3. If the MySQL hosting server is version 8.0 or above, you need to change the authentication method to mysql_native_password. If the MySQL version is below 8.0, this step can be skipped.

After add the change on my.cnf file
[mysqld]
default_authentication_plugin=mysql_native_password

We need to delete ib_logfile0 file before start the b

[2022-08-19 10:43] SreejaBhattacharya-MSFT commented on #2009
@CarlosGon , I have updated the doc for now and pointing it to the AzureRM module link. Regarding updating of the helper scripts, @sethmanheim could you please look into this and check if converting the helper scripts to az module version would be possible? Thanks

[2022-08-19 10:45] SreejaBhattacharya-MSFT commented on #2010
Thanks for reaching out. We will look into this and update the thread. Thanks

[2022-08-19 10:49] SreejaBhattacharya-MSFT commented on #2007
Have you referred to this? - [https://github.com/Azure/secrets-store-csi-driver-provider-azure](https://github.com/Azure/secrets-store-csi-driver-provider-azure)

[2022-08-19 11:13] tksh164 commented on #2007
@SreejaBhattacharya-MSFT Thank you for the information. I had not checked that yet. So, the note in the document represents the Azure Key Vault Provider for Secrets Store CSI Driver is not covered by the Microsoft Azure support policy, right?

[2022-08-19 11:43] SreejaBhattacharya-MSFT commented on #2007
Yes correct. It is open source.

[2022-08-19 11:50] #2007 closed

[2022-08-19 13:08] tksh164 commented on #2007
@SreejaBhattacharya-MSFT Thanks!

[2022-08-22 02:03] lckho3693 opened #2011 "Installing remote support agent failed"
Install remote support agent failed with following message in log file:
2022/08/22 09:42:40 : INFO : RetryCount: 3
2022/08/22 09:42:40 : INFO : TimeIntervalInSeconds: 60
2022/08/22 09:42:55 : INFO : Importing Remote Support Dep module
2022/08/22 09:42:56 : INFO : Started Remote Support JEA installation.
2022/08/22 09:43:34 : ERROR : Exception during JEA installation. Count 3 Cannot find an object

[2022-08-22 04:51] VikasPullagura-MSFT commented on #2011
@lckho3693
Thanks for your Question! We are currently investigating and will get back on this.

[2022-08-23 13:36] #2010 closed

[2022-08-25 09:51] VikasPullagura-MSFT commented on #2011
@ronmiab Can you please help on this.

[2022-08-25 14:55] sethmanheim commented on #2011
@VikasPullagura-MSFT This isn't a documentation issue, it needs to go to the product team or support team.

[2022-08-25 15:10] sethmanheim commented on #2009
I will pass this information on to the product team, thank you for pointing this out.

[2022-08-25 15:10] #2009 closed

[2022-08-25 15:14] sethmanheim commented on #1985
@BrunoStack Thank you for the feedback. Can you please be more specific about what the documentation issue is here? Setting the tenant name is part of the script.

[2022-08-25 15:16] ronmiab commented on #2011
Hi @VikasPullagura-MSFT - as mentioned in my emails back to you. I have reached out via email and sent a follow-up email to the PMs supports that provided information for the post installation article that you have referred to in this customer feedback issue. Unfortunately, since this is not a documentation issue, the PMs or Support team will need to provide more insight into the error and how to

[2022-08-26 03:29] VikasPullagura-MSFT commented on #2011
@ronmiab Thanks for the update.

[2022-08-26 13:23] ronmiab commented on #2011
@VikasPullagura-MSFT - You're welcome.

Do you know which command in the post-installation steps they were trying to run when they encountered the error?

[2022-08-26 13:31] lckho3693 commented on #2011
Hi, I'm actually getting that error when installing remote support agent into ASHCI 22H2
- Install-AzStackHCIRemoteSuppor
![JEA PS Script Error1](https://user-images.githubusercontent.com/111038119/186914933-0f2323b4-4330-4216-950d-a81e243dbab1.jpg)
t

[2022-08-26 13:34] lckho3693 commented on #2011
If I go directly to JEA folder and run the SupportServiceJEA.ps1 I will get the following erro
![JEA PS Script Error2](https://user-images.githubusercontent.com/111038119/186915537-1ea68c50-f7e7-461b-b3b0-d334fc60c946.jpg)
r

[2022-08-26 13:34] lckho3693 commented on #2011
I tried installing the agent via Windows Admin Center -  remote support extension also failed.

[2022-08-26 13:43] ronmiab commented on #2011
Are you following this document for getting remote support for Azure Stack HCI: https://docs.microsoft.com/en-us/azure-stack/hci/manage/get-remote-support#before-you-begin

This seems to have a step-by-step speaking to the Install JEA configuration and granting support access in Windows Admin Center, once the prior steps are complete.

This is a product issue and not a documentation issue, so this

[2022-08-26 13:45] lckho3693 commented on #2011
Yes, you are right, I following the step to prepare the node for Remote Support grant.
however, get error when installing the agent.

[2022-08-26 20:32] ronmiab commented on #2011
Thank you for verifying. I don't yet have a PM/Support team from that side, but I am working to identify someone. As soon as I have a contact, they may respond via this thread or possibly message you separately.

[2022-08-30 03:24] tksh164 commented on #2007
[GA: Azure Key Vault secrets provider extension for Arc enabled Kubernetes clusters](https://techcommunity.microsoft.com/t5/azure-arc-blog/ga-azure-key-vault-secrets-provider-extension-for-arc-enabled/ba-p/3389231)

[2022-08-30 23:54] easyveazie commented on #2011
Hi @lckho3693, the Remote Support preview requires domain admin permissions to provision the `hciremotesa` gMSA, and then then Install-AzStackHCIRemoteSupport script will configure that account to be used for the remote support agent. I understand this elevated access will not be feasible in most production environments and we are reviewing alternatives. Are you able to try the running Install-AzS

[2022-08-31 12:54] lckho3693 commented on #2011
Hi @easyveazie, I'm running the script using domain admin (Domain\administrator) and received that error.

[2022-09-01 20:57] easyveazie commented on #2011
@lckho3693 the gMSA appears to be failing to create. What is the functional level of the AD forest and domain?

`Get-ADForest | Select ForestMode`
`Get-ADDomain | Select DomainMode`

Are you able to manually create the gMSA?

[code]

[2022-09-02 01:21] lckho3693 commented on #2011
@easyveazie, below is my forest and domain mode detail

       ForestMode
       ----------
Windows2016Forest

       DomainMode
       ----------
Windows2016Domain

Will run the script and get back to you later

[2022-09-02 01:34] lckho3693 commented on #2011
service account created.
![image](https://user-images.githubusercontent.com/111038119/188040141-fd8c0182-0d97-4292-abb9-b22c44cb5e9a.png)

will try the RemoteSupportAgent installation later

[2022-09-02 01:36] lckho3693 commented on #2011
In progress
![image](https://user-images.githubusercontent.com/111038119/188040393-79d2fa19-7d16-452b-8422-811e618ba494.png)

[2022-09-02 01:41] lckho3693 commented on #2011
Great, it works.
![image](https://user-images.githubusercontent.com/111038119/188040878-dc2730a1-36d5-4ba5-90a1-cd8a956a5047.png)

[2022-09-02 02:06] lckho3693 commented on #2011
The agent installed, however, still having issue one enabling Remote support using Windows Admin Center
![image](https://user-images.githubusercontent.com/111038119/188043401-23b1db09-699b-4850-8760-5d3561c990e4.png)

[2022-09-02 02:09] lckho3693 commented on #2011
Agent status screen updated correctly
![image](https://user-images.githubusercontent.com/111038119/188043695-c021d4e9-fba6-40ee-b9a0-db1d28cb5894.png)

[2022-09-02 02:12] lckho3693 commented on #2011
Get error as per below if I run the enabling remote support via PowerShell

Enable-AzStackHCIRemoteSupport -AccessLevel Diagnostics -ExpireInMinutes 61

![image](https://user-images.githubusercontent.com/111038119/188044020-d5b0db9b-def4-474b-80f6-a892fc101bc3.png)

[2022-09-02 17:58] easyveazie commented on #2011
Interesting, I don't know why Netwonsoft would be missing. I'll DM you my contact and we can take a closer look together.

[2022-09-05 08:44] lckho3693 commented on #2011
Hi @easyveazie, I sent you some information about my lab environment via email last week, take a look and we can communicate over it

[2022-09-06 10:35] Remigijus-D opened #2014 "Missing Azure Kubernetes Mapping and Failed to resolve the extension version from the given values."
Hello,

This is a few errors I get when I try to follow this manual:

az k8s-extension create --cluster-type appliances --cluster-name $resource_name --resource-group $resource_group --name hci-vmoperator --extension-type Microsoft.AZStackHCI.Operator --scope cluster --release-namespace helm-operator2 --configuration-settings Microsoft.CustomLocation.ServiceAccount=hci-vmoperator --configuration-p

[2022-09-06 15:12] YashikaTyagi-MSFT commented on #2014
@Remigijus-D
Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-06 15:25] ManikaDhiman commented on #2014
Hi @ZmanKyle, could you look into this issue and let me know if any doc update is needed? Thanks!

[2022-09-07 10:42] johnliu55-msft opened #2016 "No "Azure" option in WAC Settings page"
In [Validate Azure integration](https://docs.microsoft.com/en-us/azure-stack/aks-hci/aks-hci-evaluation-guide-2a#validate-azure-integration), step 2 mentioned "Under Gateway, click Azure.":
![image](https://user-images.githubusercontent.com/107901166/188858781-41e12ca4-6291-4cd7-92ce-c9010bcbd9f6.png)

But in WAC version 2110.2, there's no "Azure" option to select in WAC Settings page:
![image](ht

[2022-09-07 16:40] YashikaTyagi-MSFT commented on #2016
@johnliu55-msft
Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-11 00:38] YeJianXin opened #2018 "Any disk addition"
Dear There，
I just got two questions for this page,
1. Do you have any disk addition procedures? can we disable the auto claim for disk addition
2. Is this disk replacement procedure just published in year 2022. just curious this because seems it is not there before.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5205c

[2022-09-11 03:40] AjayBathini-MSFT commented on #2018
@YeJianXin
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-12 21:36] TroyMiller opened #2020 "VLANID Syntax is wrong"
`New-ArcHciConfigFiles -subscriptionID $subscription -location $location -resourceGroup $resource_group -resourceName $resource_name -workDirectory $csv_path\ResourceBridge -controlPlaneIP $controlPlaneIP  -k8snodeippoolstart $VMIP -k8snodeippoolend $VMIP -gateway $Gateway -dnsservers $DNSServers -ipaddressprefix $IPAddressPrefix [-vLanID=$vlanID] `

Please remove the brackets around VLANID.  If u

[2022-09-12 21:51] eponerine opened #2021 "URL broken in Step 4, Option 2"
The link to register AKS-HCI using a Service Principal is broken/incorrect:

![image](https://user-images.githubusercontent.com/503974/189764942-37e7fc91-cfdf-4dd2-b147-167255b04368.png)

The link should probably be:
https://docs.microsoft.com/en-us/azure-stack/aks-hci/reference/ps/set-akshciregistration#register-aks-on-azure-stack-hci-and-windows-server-using-a-service-principal

---
#### Documen

[2022-09-13 05:56] AjayBathini-MSFT commented on #2021
@eponerine
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

@sethmanheim
Please review it

[2022-09-13 05:57] AjayBathini-MSFT commented on #2020
@TroyMiller
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

@ManikaDhiman
please review it

[2022-09-13 18:03] ZmanKyle commented on #2020
The following command has been updated about 2 weeks ago and we have changed it from [vLanID=$vlanID] to [vLanID $vlanID]. The command currently in the doc is shown below:
New-ArcHciConfigFiles -subscriptionID $subscription -location $location -resourceGroup $resource_group -resourceName $resource_name -workDirectory $csv_path\ResourceBridge -controlPlaneIP $controlPlaneIP  -k8snodeippoolstart $VM

[2022-09-13 19:05] TroyMiller commented on #2020
New-ArcHciConfigFiles -subscriptionID $subscription -location $location -resourceGroup $resource_group -resourceName $resource_name -workDirectory $csv_path\ResourceBridge -controlPlaneIP $controlPlaneIP -k8snodeippoolstart $VMIP -k8snodeippoolend $VMIP -gateway $Gateway -dnsservers $DNSServers -ipaddressprefix $IPAddressPrefix[-vLanID $vlanID]
At line:1 char:331

[2022-09-13 20:14] TroyMiller opened #2022 "Pulling Image from URL not listed in Firewall exceptions"
Azure HCI Resource Bridge - Extension for hci-vmoperator pulls images from gcr.io.  This needs to be included in firewall rules and/or Microsoft might consider hosting their own image.

Found in command:
`az k8s-extension create --cluster-type appliances --cluster-name $resource_name --resource-group $resource_group --name hci-vmoperator --extension-type Microsoft.AZStackHCI.Operator --scope clust

[2022-09-13 20:53] sethmanheim commented on #2021
@eponerine Thank you for catching this, it will be fixed by 3 PM today PDT.

[2022-09-13 20:53] #2021 closed

[2022-09-14 05:00] AjayBathini-MSFT commented on #2022
@TroyMiller
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-14 18:01] zohebs341 opened #2023 "AKS Deployment in Azure Stack Hub - Load Balancing Options For Master Nodes"
Hi Team,

We are planning to deploy AKS in Azure Stack Hub.

Scenario:

If I have one master and multiple worker nodes, then no need to use any load balancing solution.
What If I want to go with 3 master nodes and multiple worker nodes, how does it work in the Azure Stack Hub? Do I need to use any load balancing solution for worker nodes to talk to master nodes for load balancing? Or it's not requ

[2022-09-14 21:29] TroyMiller commented on #2020
I just tested this again today and it looks like it might have been fixed with an update.  The JSON is coming out correct using -vlanid $vlanid now.

[2022-09-14 21:31] ZmanKyle commented on #2020
Yes we have fixed the issue.

[2022-09-15 03:49] AjayBathini-MSFT commented on #2023
@zohebs341
It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!!

[2022-09-15 05:55] zohebs341 commented on #2023
@AjayBathini-MSFT Thanks for your response.

I've explored alot and didn't find much info on how to start with or how we can deploy AKS on Azure Stack Hub.

Is there any guide or installation documents available?

Atleast if you can share few documents on how to install AKS on Azure Stack Hub, it would be great. Regarding load balancing option, I don't see any documentation. That's why thought to

[2022-09-15 06:11] AjayBathini-MSFT commented on #2023
@zohebs341
Kindly find below link to install AKS on Azure Stack Hub.
https://docs.microsoft.com/en-us/azure-stack/operator/aks-add-on?view=azs-2206

if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-15 07:06] zohebs341 commented on #2023
@AjayBathini-MSFT Thanks for sharing the details. I was under an impression that AKS in Azure Stack Hub is a self-managed service. But after going through the docs, I've got clarity. It's similar to AKS public one, where the control plane(Master Nodes) will be managed by Azure, and the Worker Nodes(Data Plane) customer has to manage.

If it is a hosted-Kubernetes service, then hopefully Microsoft

[2022-09-15 07:25] AjayBathini-MSFT commented on #2023
@zohebs341

Could you please go through below links which can be helpful on Load Balancing options and overview.
https://docs.microsoft.com/en-us/azure-stack/aks-hci/configure-load-balancer
https://docs.microsoft.com/en-us/azure/architecture/guide/technology-choices/load-balancing-overview

[2022-09-15 12:01] zohebs341 commented on #2023
@AjayBathini-MSFT I've gone through the installation doc provided by you - https://docs.microsoft.com/en-us/azure-stack/operator/aks-add-on?view=azs-2206

Azure Kubernetes Service on Azure Stack Hub is currently in PREVIEW. So can't I use it for the Production environment? As still it's in preview, when can we expect it to be Generally available (GA)?

Only use the Kubernetes Azure Stack Marketpla

[2022-09-18 11:26] zohebs341 commented on #2023
@AjayBathini-MSFT I understand that you/team are busy, but I would appreciate it if you/team could review and respond to me as soon as you can.

Based on th options available, I can plan accordingly.

[2022-09-19 04:32] AjayBathini-MSFT commented on #2023
@zohebs341
I have sent your query to product team. They will look into it and update according to it.

[2022-09-19 09:41] SreejaBhattacharya-MSFT commented on #2022
Hi @ksurjan could you please take a look at this. Thanks

[2022-09-19 19:58] ksurjan commented on #2022
@ZmanKyle - is gcr.io now in the updated firewall requirements?

[2022-09-20 15:45] ZmanKyle commented on #2022
gcr.io has been added to the doc under firewall requirements section. The change will be reflected soon.

[2022-09-21 08:22] AjayBathini-MSFT commented on #2023
@sethmanheim
Can you please look into this and loop in appropriate member.

[2022-09-21 23:09] easyveazie commented on #2023
Hi @zohebs341 , you are correct that the AKS service is in preview and is not to be used for production scenarios. The recommended approach for deploying production Kubernetes clusters on Azure Stack Hub is to use AKS Engine. We are still collecting feedback from the AKS Preview and do not have a date for general availability at this time.

https://learn.microsoft.com/en-us/azure-stack/user/azure-

[2022-09-22 15:31] LucaOtto opened #2025 "Issue registering cluster via Windows Admin Center with Azure"
I'm getting an error while trying to register the cluster with Azure ( https://learn.microsoft.com/en-gb/azure-stack/hci/guided-quick-deploy-eval?tabs=global-admin&tutorial-step=6 ).

I ran the tutorial twice and I keep getting the same issue even though I wait more than 60 seconds as mentioned in the Warning box

![image](https://user-images.githubusercontent.com/42404744/191789126-06cac012-595c-

[2022-09-22 16:52] RamanathanChinnappan-MSFT commented on #2025
@LucaOtto

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-23 06:05] RamanathanChinnappan-MSFT commented on #2025
@LucaOtto

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-24 22:16] OEI-Cgray opened #2026 "Windwos node stuck on old k8s version"
https://learn.microsoft.com/en-us/azure-stack/aks-hci/known-issues-upgrade#upgrade-of-target-cluster-gets-stuck-with-one-or-more-nodes-in-an-old-kubernetes-version-

How do I resolve this for a Windows node?

The login portion works, ssh -i (Get-MocConfig).sshPrivateKey -o StrictHostKeyChecking=no administrator@ip.

But the crictl cmd only exists in Linux as far as I'm aware.

---
#### Document De

[2022-09-25 02:25] RamanathanChinnappan-MSFT commented on #2026
@OEI-Cgray

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-25 08:30] AjayBathini-MSFT commented on #2026
@OEI-Cgray
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

@mattbriggs
Could you please look into these and do needful

[2022-09-26 16:21] mattbriggs commented on #2026
@sethmanheim FYI

[2022-09-26 16:41] iinfi1 opened #2028 "Live Migration"
[Enter feedback here]
Please talk about and help configure Live Migration network here in this page. Preferably ATC should configure LM on storage intents.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c918dd65-3761-be6b-6e5b-199255402a27
* Version Independent ID: 7c33b8ea-f2f5-11f7-f478-42d2d80a220a
* Content: [Netw

[2022-09-26 18:17] SummerSmith commented on #2026
@OEI-Cgray which AKS-HCI version are you using?

[2022-09-26 18:41] VikasPullagura-MSFT commented on #2028
@iinfi1
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-09-26 19:37] OEI-Cgray commented on #2026
This eventually did finish, I'm not entirely sure when (although I think I could find out via log analytics). It was longer than 4 hours.

I probably should have just removed the node pool with the Windows node before doing this, we don't need it anymore.

  Id CommandLine
  -- -----------
   1 cd C:\Temp\
   2 Update-Module -Name AksHci -Force -AcceptLicense
   3 Connect-AzAccount
   4 Get-AksHci

[2022-09-27 09:04] wotd opened #2029 "There is typo in kubectl command"
There is typo in kubectl command in Error: 'Secrets "sh.helm.release.v1.azure-arc.v1" not found':

[code]
it should be:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: bbd83c8b-58db-8675-91ee-0bab820828cf
* Version Independent ID: 237eeeb1-fa14-dfb2-618b-73b5b9f9a21b
* Content: [Resolve errors when enabling and

[2022-09-27 10:48] VikasPullagura-MSFT commented on #2029
@wotd Thanks for the feedback. The document is updated and changes will go live once it is approved by the document author.

[2022-09-27 10:48] #2029 closed

[2022-09-28 15:32] ercohen19 commented on #2025
Hi @LucaOtto can you share a screenshot of the error you are receiving please?  Also, what permissions do you have to the Azure tenant and subscription where you are trying to register the cluster?

[2022-09-29 14:10] madansr7 opened #2033 "Remove the clientID (appid) from samples"
The use of your client id of your public client application in sample code of your documentation leads devs to just copy paste the code and run it. It would look seem as if they are using your application instead of their own app.
**Action:** Please remove your applications client id (1950a258-227b-4e31-a9cf-717495945fc2) from your doc samples.

---
#### Document Details

⚠ *Do not edit this secti

[2022-09-29 16:22] SaibabaBalapur-MSFT commented on #2033
@madansr7
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-01 04:20] zohebs341 opened #2034 "AKS Deployment in Azure Stack Hub - From Marketplace - K8s Latest Versions not available"
Hi Team,

When I tried deploying AKS in Azure Stack Hub using the marketplace option. It doesn't have Kubernetes latest versions, not even 1.21/1.22/1.23 versions. As in the drop-down list, I can see only 1.13 & 1.14.

We cannot use k8s 1.22 or 1.23 k8s versions if I use Azure stack hub marketplace.

Appreciate your inputs/suggestions. As I am a new user of Azure Stack Hub.
<img width="661" alt="i

[2022-10-01 15:46] ManoharLakkoju-MSFT commented on #2034
@zohebs341
Thanks for your feedback! We will investigate and update as appropriate.

It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!

[2022-10-04 16:49] ewingcorey opened #2036 "Failure to install hci-vmoperator extension"
When running the following command from the documentation [here](https://learn.microsoft.com/en-us/azure-stack/hci/manage/deploy-arc-resource-bridge-using-command-line):
az k8s-extension create --cluster-type appliances --cluster-name $resource_name --resource-group $resource_group --name hci-vmoperator --extension-type Microsoft.AZStackHCI.Operator --scope cluster --release-namespace helm-operato

[2022-10-05 02:33] Naveenommi-MSFT commented on #2036
@ewingcorey
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-06 04:01] SaibabaBalapur-MSFT commented on #2034
@zohebs341
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-06 04:01] #2034 closed

[2022-10-06 15:21] rbaret commented on #2036
Hello,
I'm also encountering the same error.
Removing/reinstalling the whole ARC Bridge stuff  did not change anything.
Like OP, any command prior to that has run successfully

[2022-10-06 16:25] ZmanKyle commented on #2036
This is a known issue that occurred recently and is currently being investigated. Will provide an update once root cause is found. This is not a documentation issue.

[2022-10-09 07:08] lckho3693 opened #2038 "Unable to enable Azure Site Recovery via Windows Admin Center"
Unable to enable Azure Site Recovery via Windows Admin Center

Having error when enabling Azure Backup and Azure Site Recovery using Windows Admin Center

Setting up host with Azure Site Recovery

1:41:43 PM
Source
Go to Virtual machines.
Type
Error

Message
Azure Site Recovery software set up and registration to the recovery services vault 'HybridT10RSV' failed for the following hosts: node1.lab.

[2022-10-09 07:24] lckho3693 opened #2039 "Unable to enable Azure via Windows Admin Center"
Unable to enable Azure Backup via Windows Admin Center

Error:

3:18:25 PM
Source
Go to Azure Backup.
Type
Error

Message
Microsoft Azure Backup encountered an internal error. Wait for a few minutes and then try the operation again. If the issue persists, please contact Microsoft support.

[2022-10-09 07:28] lckho3693 commented on #2011
Thanks to @easyveazie and Eleanor for the information shared.
Will continue to test the feature one it's become GA.

[2022-10-09 07:28] #2011 closed

[2022-10-09 14:58] ManoharLakkoju-MSFT commented on #2038
@lckho3693
Thanks for your feedback! We will investigate and update as appropriate.

It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!

[2022-10-09 14:59] ManoharLakkoju-MSFT commented on #2039
@lckho3693
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-09 15:00] ManoharLakkoju-MSFT commented on #2039
@lckho3693
Duplicate of #2038

We are going to close this thread as Duplicate.

[2022-10-09 15:00] #2039 closed

[2022-10-09 18:29] CHDAFNI-MSFT opened #2040 "Indicate App Svc supportability & version for ASH 2206"
Last version listed is for ASH 2108 with App Svc RP version 2021.Q3

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 14cde69a-5ed9-566f-4046-8cdd1d78493c
* Version Independent ID: b0bfbf03-907d-bd97-9a05-0102d9780a3f
* Content: [Deploy App Service in Azure Stack Hub - Azure Stack Hub](https://learn.microsoft.com/en-us/a

[2022-10-10 00:14] VikasPullagura-MSFT commented on #2036
@ZmanKyle Thanks for confirming on the issue. Requesting you to share the update here for the benefit of community.

[2022-10-10 00:32] VikasPullagura-MSFT commented on #2040
@CHDAFNI-MSFT
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-10-10 00:32] VikasPullagura-MSFT commented on #2040
@sethmanheim
Can you please check and add your comments on this doc update request as applicable.

[2022-10-10 04:45] lckho3693 commented on #2038
Hi, just to update that this happened to enabling Azure Backup using Windows Admin Center as well

[2022-10-10 04:51] lckho3693 commented on #2038
this is the guide that I'm following
https://learn.microsoft.com/en-us/windows-server/manage/windows-admin-center/azure/azure-site-recovery

Step 1-7 (Select Setup ASR)

[2022-10-10 05:08] ManoharLakkoju-MSFT commented on #2038
@lckho3693
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

@IngridAtMicrosoft
Could you Please review this and update as appropriate.

[2022-10-10 05:58] lckho3693 commented on #2038
The step seems to be correct, as I manage to get it running few weeks ago.
It may due to some Azure Recovery Service Vault updates causing the features failed.

[2022-10-10 17:39] ZmanKyle commented on #2036
The IcM is still active and this is still under investigation. I will give an update here once the issue is resolved.

[2022-10-11 08:32] lckho3693 commented on #2011
Hi, below is the screen capture where the script error message shown during installation.

From: VikasPullagura-MSFT ***@***.***>
Sent: Thursday, 25 August, 2022 5:51 PM
To: MicrosoftDocs/azure-stack-docs ***@***.***>
Cc: lckho3693 ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-stack-docs] Installing remote support agent failed (Issue #2011)

@ronmiab<https://github.com/ronmi

[2022-10-11 22:06] cptzz opened #2041 ""Select-Object -First 1" >>"Select-Object -Last 1""
[Enter feedback here]
In the section of "Rotate Azure Stack Hub root certificate", the script uses "Select-Object -First 1" which would display the Oldest certificate. Instead, using "Select-Object -Last 1" displays the Latest root certificate installed.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e4feaa2a-4850-478

[2022-10-12 00:52] VikasPullagura-MSFT commented on #2041
@cptzz
Thanks for the feedback! We will check and update the document as appropriate.

[2022-10-12 05:47] eponerine opened #2042 "Remove incorrect whitespace characters"
This whitespace:

![image](https://user-images.githubusercontent.com/503974/195259855-bfb61841-0883-43ed-832c-8c8d11a45e81.png)

Is actually not whitespace if you copy/paste it directly into PowerShell / Notepad / etc:

![image](https://user-images.githubusercontent.com/503974/195259986-4fb5e12b-f077-4dcd-8065-fd7c4a4c2103.png)

It appears that is `U+202F` instead of `U+0020`:

![image](https://us

[2022-10-12 05:58] Naveenommi-MSFT commented on #2042
@eponerine
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-12 11:38] SaibabaBalapur-MSFT commented on #2042
@eponerine
I am not facing any issue in Notepad

<img width="711" alt="image" src="https://user-images.githubusercontent.com/111563669/195332106-7870f9a4-5f9b-4dd5-9a51-15454422140b.png">

Facing similar issue in Notepad++

<img width="937" alt="image" src="https://user-images.githubusercontent.com/111563669/195332816-ff9af98d-cbb4-4996-a097-ec7c45cff510.png">

Please check with your Notepad Versi

[2022-10-12 13:05] eponerine commented on #2042
I’m confused - why do you need me to check any versions if you are experiencing the same problem? I literally sent the exact Unicode character that is on the Docs page. It’s wrong. The app (notepad, npp, etc) doesn’t matter. I’m copying it FROM your page.

If you copy that exact command into PowerShell, it fails because PowerShell doesn’t actually separate the parameters. Again, because it’s WRONG

[2022-10-12 14:19] eponerine commented on #2042
Here is an additional screenshot showing PowerShell 5.1 interpreting that character not as whitespace (as expected):

![image](https://user-images.githubusercontent.com/503974/195366638-dad73137-b65e-4e65-8f8b-7c7f7c9b92ea.png)

I also pulled the entire `deploy-arc-resource-bridge-using-command-line.md` and found that character is only used incorrectly _twice_ ... lines 181 and 217.

I'll be sendi

[2022-10-12 18:53] hfu949 opened #2045 "Dead Link"
This link doesn't work.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 6f92859f-7987-76ae-6f0d-8b048298158d
* Version Independent ID: 519ebc92-176d-7d46-a0ac-476cc241f45d
* Content: [Azure Stack HCI billing and payment - Azure Stack HCI](https://learn.microsoft.com/en-us/azure-stack/hci/concepts/billing)
* Content Sou

[2022-10-12 19:03] ManikaDhiman commented on #2042
Hi @eponerine, I am the assigned author of this article. Thanks for pointing out the whitespace issue! I will look into this and fix it as soon as possible. Thanks again!

[2022-10-12 19:10] sethmanheim commented on #2045
@hfu949 Thank you for pointing this out -- the fix has been merged and should be live after 3:30 PM PDT.

[2022-10-12 19:13] sethmanheim commented on #2045
#please-close

[2022-10-12 19:13] #2045 closed

[2022-10-12 19:52] ManikaDhiman commented on #2042
Hi @eponerine, I was able to reproduce the issues you pointed out. I fixed them and merged the PR. Updates should be live after the PM publishing pass today. Thank you so much again for your feedback!

[2022-10-13 05:39] Naveenommi-MSFT commented on #2045
Hi @sethmanheim
Thanks for your response.

[2022-10-13 09:34] calcobia opened #2048 "AKS on Azure Stack Hub requires 2108 or higher."
[Enter feedback here]
Needs a note stating that AKS on Azure Stack Hub is only available on stamps running 2108 or higher.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 1162d2cd-89ae-c709-9b50-2e38eb464c58
* Version Independent ID: d7f7a574-2c5c-1333-57a1-767ffaafb365
* Content: [Azure Kubernetes Service on Azure Sta

[2022-10-13 13:27] VikasPullagura-MSFT commented on #2048
@calcobia
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-10-13 15:42] eponerine opened #2049 "Update to include 22H2 build info"
AS HCI 22H2 went GA the other day at Ignite. Can this page please be updated to include build numbers and release info?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 22ce0662-cc07-34bc-1d9c-de7fd075bdee
* Version Independent ID: fc01822a-5d78-b4e0-eb1a-ccd8d9c7bdf0
* Content: [Azure Stack HCI release information - Az

[2022-10-13 17:03] Naveenommi-MSFT commented on #2049
@eponerine
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-14 05:13] SaibabaBalapur-MSFT commented on #2041
@cptzz
Close

[2022-10-14 05:13] #2041 closed

[2022-10-14 05:14] SaibabaBalapur-MSFT commented on #2042
@eponerine
Closed

[2022-10-14 05:14] #2042 closed

[2022-10-14 06:50] AjayBathini-MSFT commented on #2049
@eponerine

Thank you for your time and patience!
Unfortunately, we don't provide product release updates through our GitHub channels. For this, I'd recommend referring to our [Azure Updates](https://azure.microsoft.com/en-us/updates/) or [Microsoft 365 Roadmap](https://www.microsoft.com/en-us/microsoft-365/roadmap?filters=Azure%20Active%20Directory) pages for this info.

[2022-10-17 10:29] eponerine commented on #2049
@AjayBathini-MSFT I'm sorry, but did you even bother checking the link I sent?

The Azure Stack HCI official docs literally link here for release notes. Ever build is included here.

[2022-10-17 10:33] AjayBathini-MSFT commented on #2049
@eponerine
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-10-17 13:10] cveld opened #2053 "AKS Host Windows Server requirements"
It is not clear to me what the requirements are for AKS host running on Windows Server:
* Does the AKS host need to run on the hypervisor, or is it fine to run it inside a virtual machine
* Is Windows Server 2022 Datacenter required for the host? Or is Windows Server 2022 Standard sufficient
* Can the AKS host run on VMWare vSphere?

---
#### Document Details

⚠ *Do not edit this section. It is re

[2022-10-17 16:32] abhilashaagarwala commented on #2053
Hello!

[2022-10-18 13:10] zohebs341 opened #2054 "Istio Deployment is failing in Azure Stack Hub -2102 - AKS Version 1.20.11"
Hi Team,

Using aks-engine I've deployed prod AKS cluster in Azure Stack Hub. The cluster is up/running.

I've deployed Istio as well, but it is failing. The ingress Gateway pod is not coming up.

This will install the Istio 1.13.8 default profile with ["Istio core" "Istiod" "Ingress gateways"] components into the cluster. Proceed? (y/N) y
✔ Istio core installed
✔ Istiod installed
✘ Ingress gatewa

[2022-10-18 17:29] ManikaDhiman commented on #2049
@eponerine: Thanks for your feedback. The release info article is updated to include Azure Stack HCI, version 22H2 details. Thanks!

#please-close

[2022-10-18 17:29] #2049 closed

[2022-10-19 09:05] AjayBathini-MSFT commented on #2054
Hi @zohebs341
Could you please add Microsoft Document link that you are following to deploy Azure Stack Hub. So, we can be able to help you according to that.

We are not able to look any third-party link to help you. As we are here to help you related to improving our Micrsoft Docs. It will be helpful for us if you share the related Microsoft Doc Link.

Thank you!

[2022-10-20 09:51] jianfeng-jia opened #2056 "The EVA failed to enable if customer get $TenantSubscriptionId via $TenantSubscriptionId = read-host but not $TenantSubscriptionId = "SubID""
Some users write script to leverage this feature and find that if they get $TenantSubscriptionId  via $TenantSubscriptionId = Read-Host
Then Invoke-AzureRmResourceAction can run **successfully** but EVA was not enabled. Such behavior can be replicated in 2108 and 2206.
From debug log I can see if users read-host to get $TenantSubscriptionId
The POST body looks as following:
Absolute Uri:
https://a

[2022-10-20 16:11] YashikaTyagi-MSFT commented on #2056
@jianfeng-jia
Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-10-21 12:20] alexor-ms opened #2058 "Wrong Powershell commands"
In the Option 2: turn on Azure Benefits using PowerShell part there are a mismatch of the used PowerShell cmdlets.
Some commands are start with Enable-AzStack.... or Get-AzStack... both are wrong in my opinion. It should be always start with Get-AzureStackHCI....

Pls check and change it.

Thanks
Alexander

GBB Hybrid Specialist @ Microsoft

---
#### Document Details

⚠ *Do not edit this section.

[2022-10-21 18:07] YashikaTyagi-MSFT commented on #2058
@alexor-ms
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-22 03:14] AjayBathini-MSFT commented on #2054
@zohebs341
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-22 03:14] #2054 closed

[2022-10-25 07:47] zohebs341 opened #2061 "Addition & Deletion of NodePool using aks-engine - 0.67.0 & AKS Version 1.20.11 (Azure Stack Hub 2102)"
Hi Team,

I've deployed the AKS cluster using aks-engine on Azure Stack Hub and it's up and running. However, I need to perform some modifications in the cluster. Like I need to delete one node pool and add a new node pool.

my "apimodel.json" file looks like the below:

cat apimodel.json | grep -i profile

"orchestratorProfile": {
"masterProfile": {
  "storageProfile": "ManagedDisks",
  "availabi

[2022-10-25 15:18] zohebs341 commented on #2061
As I've used the availability set, I need commands/process to add a new node pool & delete the node pool.

[2022-10-25 17:39] AjayBathini-MSFT commented on #2061
@zohebs341
It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!!

[2022-10-25 22:40] sethmanheim commented on #2056
Thank you for bringing this up, it looks like it was addressed and fixed in a separate PR.

[2022-10-25 22:40] #2056 closed

[2022-10-25 23:21] Trace1337 opened #2062 "Update doc to state expected outcome for 'Set-DataResidencyLocation -Europe:$false'"
Currently the doc only states and shows a screenshot of the expected outcome if the flag 'Europe=$true' is set. I recommend updating the doc to state the outcome of 'Europe=$false' which would show the Geographical region field as 'Other' and provide a screenshot example for this.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking

[2022-10-25 23:26] sethmanheim commented on #2062
@Trace1337 Do you have the screenshot?

[2022-10-25 23:47] Trace1337 commented on #2062
My apologies, this request should have been for [this page], which does have a screenshot.(https://learn.microsoft.com/en-us/azure-stack/operator/azure-stack-security-foundations?view=azs-2206#eu-schrems-ii-initiative-for-azure-stack-hub).

I'll work to get a screenshot showing 'Other'. Additionally, maybe for this page we just make a note saying it will show "Europe" for $true and "Other" for $fa

[2022-10-26 04:10] AjayBathini-MSFT commented on #2062
@Trace1337
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-30 03:18] #2061 closed

[2022-11-02 03:28] aricbernard opened #2068 "NetworkATC not automatically installed"
"When running the 22H2 Azure Stack HCI OS, each node will come with Network ATC pre-installed, along with all it's required modules. So you do not need to run an installation command."

Based on what I am seeing after downloading the ISO and installing the OS from the ISO, this is not the case.  The neither the NetworkATC or NetworkHUD Windows Features appear to be automatically installed.

---
##

[2022-11-02 05:30] RamanathanChinnappan-MSFT commented on #2068
@aricbernard

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-02 18:22] sethmanheim commented on #2068
@aricbernard Thank you for reaching out. The documentation has already been corrected to address this issue. #please-close

[2022-11-02 18:22] #2068 closed

[2022-11-04 04:05] sawneil commented on #1876
Is there any  update on this. I tried deploying and same issue. the parentdisk creation doesnt do anything.

[2022-11-04 14:04] alexsmithMSFT opened #2069 "Release note gives incorrect hotfix build as pre-req for 2206 update"
This generic release-note page still says 1.2108.2.113 is required to go to 2206 update:

However, since the release of newer 1.2108.2.127 hotfix, customers must go to that first before 2206.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c6e05517-6ffa-ad32-ec69-d3299492d880
* Version Independent ID: 2d6ffb4c-

[2022-11-04 14:59] sethmanheim commented on #2069
Thanks for catching that @alexsmithMSFT -- I'll fix it immediately.

[2022-11-04 14:59] #2069 closed

[2022-11-05 17:40] Naveenommi-MSFT commented on #2069
@alexsmithMSFT
It looks like your issue is resolved since you closed this thread.
If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-11-07 16:44] dafutsi opened #2071 "Probe behavior missing"
There is a difference in between the probe behavior of AzS load balancers and public Azure load balancers:
- for public azure , probe originates from 168.63.129.16
- for AzS , probe originates from the default gateway of the subnet.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: fd5972fd-29f4-2643-56d4-98f845a132e6
*

[2022-11-07 17:43] Naveenommi-MSFT commented on #2071
@dafutsi

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-09 18:01] DellProSupportGse opened #2076 "Missing NuGet and PSGallary Required for Registration"
Please add NuGet and PSGallary to this list as it is required to be able to install the registration module as stated this Doc [https://learn.microsoft.com/en-us/azure-stack/hci/deploy/register-with-azure#register-a-cluster-using-powershell](url)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2957e994-0bc8-aeb6-0c54-f

[2022-11-09 18:56] DellProSupportGse commented on #2076
When you register an Azure Stack HCI cluster you have to run Install-Module -Name Az.StackHCI which goes to NuGet to get the required modules for the registration. If we are not able to download the modules, we will not be able to register the HCI cluster with Azure.

The link I provided shows a note that NuGet and PSGallary are required.

 Note

You may see a prompt such as Do you want PowerShell

[2022-11-09 18:58] DellProSupportGse commented on #2076
Add NuGet and PSGallery to the Required firewall URLs table

[2022-11-09 19:02] DellProSupportGse commented on #2076
You can find the NuGet URLs and ports documented in the Visual Studio and Azure Services behind a firewall or proxy server
[https://learn.microsoft.com/en-us/visualstudio/install/install-and-use-visual-studio-behind-a-firewall-or-proxy-server?view=vs-2022](url)

[2022-11-10 01:28] kimlam-ms opened #2077 "Clearing up Azure registration & configuration section"
🚨 Looks like you arrived from the internal review site
🚨 Do not enter Microsoft confidential information here

Under "Run deployment tool", step 6, it is a bit misleading to put the screen grab of the WAC before the subsequent steps (a-d) is done.
I would recommend moving the screen shot to the bottom of the steps to show what a finished page should look like. I was concerned that I didn't have th

[2022-11-10 03:40] VikasPullagura-MSFT commented on #2077
@kimlam-ms
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-11-10 03:40] VikasPullagura-MSFT commented on #2077
@dansisson
Can you please check and add your comments on this doc update request as applicable.

[2022-11-10 04:22] AjayBathini-MSFT commented on #2071
@dafutsi
Thanks ! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-10 04:23] AjayBathini-MSFT commented on #2071
@sethmanheim
Can you please add your comments on above query.

[2022-11-10 09:26] dafutsi commented on #2071
Thanks Ajay,
I see the public docs have already been updated.

Many thanks

David

From: AjayBathini-MSFT ***@***.***>
Sent: Thursday, November 10, 2022 4:23 AM
To: MicrosoftDocs/azure-stack-docs ***@***.***>
Cc: David Futsi ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-stack-docs] Probe behavior missing (Issue #2071)

@dafutsi<https://nam06.safelinks.protection.outlook.com/

[2022-11-10 16:45] alexsmithMSFT opened #2078 "Azure Account Center links to retired page at https://account.windowsazure.com/subscriptions"
The "View usage - other subscriptions" section, has a link for the Azure Account Center link to https://account.windowsazure.com/subscriptions

But the linked page refers customers to the Azure portal-

I suggest that we update this doc with a similar link directly to Azure Cost Management blade.

Also the [View usage - Enterprise Agreement subscriptions](https://learn.microsoft.com/en-us/azure-st

[2022-11-10 16:58] #2071 closed

[2022-11-10 19:14] sethmanheim commented on #2078
@alexsmithMSFT Thank you for catching that -- I updated to the link to point to the Azure Cost Management blade. Will be live after 3 PM PT today.

[2022-11-10 19:14] #2078 closed

[2022-11-10 20:35] DellProSupportGse commented on #2076
No I am not asking for the Visual Studio article to be updated. I am asking for the missing NuGet URL's to be added to the Firewall requirements for Azure Stack HCI article ([https://learn.microsoft.com/en-us/azure-stack/hci/concepts/firewall-requirements](url). The Visual Studio article has the NuGet URLs listed that need to be also added to the Firewall requirements for Azure Stack HCI.

[2022-11-10 20:58] sethmanheim commented on #2076
Got some clarification -- #please-open

[2022-11-11 03:17] Naveenommi-MSFT commented on #2078
@alexsmithMSFT

It looks like your issue is resolved since you closed this thread.
If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-11-11 04:17] SaibabaBalapur-MSFT commented on #2076
@DellProSupportGse
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-11-11 05:06] anandmeg commented on #2076
#assign: @cosmosdarwin

[2022-11-11 05:08] anandmeg commented on #2076
#assign: @SaibabaBalapur-MSFT
The issue is on https://learn.microsoft.com/en-us/azure-stack/hci/concepts/firewall-requirements, I'm not the author of this doc. Please reassign. Thanks!

[2022-11-11 07:24] SaibabaBalapur-MSFT commented on #2076
@alexbuckgit
Could you please look into this.

[2022-11-11 16:10] sethmanheim commented on #2076
This issue tags the incorrect article. We are addressing the issue and it's being worked on in a PR in the private repo. #please-close

[2022-11-11 16:10] #2076 closed

[2022-11-14 07:24] NikhilBhoga opened #2079 "Specifying the interface to run the command Set-DataResidencyLocation -Europe:$true or $false"
Regarding the KI "Geographical region not provided"
I really appreciate for writing down the known issues and the mitigation steps. This was quick to identify what the alert is for and what should be done further. Thanks for your efforts.

Just one feedback, I thought may be specifying where to run this command *Set-DataResidencyLocation -Europe:$true or $false* will really help customers to follo

[2022-11-14 08:16] zohebs341 opened #2080 "AKS Deployment in Azure Stack Hub - Service principal identity (SPN) (Secret expiry - two years)"
Hi Team,

I am planning to deploy the k8s cluster using the AKS engine in Azure Stack Hub. In order to deploy the cluster, we need Service Principal details.

Question is, can we create SPN first from the portal and we can create a secret with two years expiry???

If I use the below command, it will create a secret with one-year expiry. Instead of this, I want to create SPN from the portal and cre

[2022-11-14 14:51] ManoharLakkoju-MSFT commented on #2080
@zohebs341
Thanks for your feedback! We will investigate and update as appropriate.

It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!

[2022-11-14 15:54] sethmanheim commented on #2079
@NikhilBhoga Thank you for the feedback! We will update this information ASAP. #please-close

[2022-11-14 15:54] #2079 closed

[2022-11-15 13:12] AndreasMWalter opened #2081 "Required Azure AD Rights are not mentioned anywhere in the document"
Azure AD Rights are not mentioned anywhere in the document.
When registering using the Windows Admin Center and not using Powershell Azure AD rights are needed to set up the Service Principal.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a936999c-1c8d-e967-6571-4c73796b0721
* Version Independent ID: 6823f75b-1687-28

[2022-11-15 14:41] ManoharLakkoju-MSFT commented on #2081
@AndreasMWalter
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-17 12:30] SaibabaBalapur-MSFT commented on #2081
Hi @AndreasMWalter please follow up below steps provided in link for register windows admin center.

https://learn.microsoft.com/en-us/azure-stack/hci/manage/register-windows-admin-center

[2022-11-17 15:22] lnnrtkln opened #2083 "k8s-extention create exits with http error 400"
When deploying the Azure Arc VM management I can't set the requiered extentions using Azure CLI.
The following command exits with a https error 400 "Bad Request" :
$hciClusterId= (Get-AzureStackHci).AzureResourceUri
az k8s-extension create --cluster-type appliances --cluster-name $resource_name --resource-group $resource_group --name hci-vmoperator --extension-type Microsoft.AZStackHCI.Operator --

[2022-11-17 15:51] ManoharLakkoju-MSFT commented on #2083
@lnnrtkln
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-18 06:59] SaibabaBalapur-MSFT commented on #2083
@lnnrtkln
I'm going to assign this to the document author so they can take a look at it accordingly.

@ManikaDhiman
Can you please check and add your comments on this doc update request as applicable.

[2022-11-18 10:45] ManoharLakkoju-MSFT commented on #2080
@zohebs341
Since we have not heard back from you, we will now proceed to close this thread.
If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-11-18 10:45] #2080 closed

[2022-11-18 11:39] AndreasMWalter commented on #2081
We are not trying to register the Windows Admin Center, we are trying to register the Azure Stack HCI **using** the Windows Admin Center. However the required AAD permissions are not given in the document. Most importantly it is interesting to know what the "least privilege" rights are. For example the Role Application Developer may be enough?

[2022-11-18 11:43] SaibabaBalapur-MSFT commented on #2081
@sethmanheim
Can you please check and add your comments on this doc update request as applicable.

@AndreasMWalter
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-11-18 16:01] sethmanheim commented on #2083
@SaibabaBalapur-MSFT This appears to be a request for technical support rather than an issue with the documentation. Please redirect as appropriate. Thanks!

[2022-11-18 19:40] DellProSupportGse opened #2084 "Missing Required ARC Agent Install Url"
When you install the ARC agent a redirect URL https://go.microsoft.com/fwlink/?LinkID=627338&clcid=0x409 is called which redirects you to https://onegetcdn.azureedge.net/providers/providers.masterList.feed.swidtag and this is NOT listed as a required Url. Please add onegetcdn.azureedge.net port 443 to the required Url's.

[2022-11-18 20:09] ManikaDhiman commented on #2084
@tiaramathur Could you please look into this and let me know if any doc changes are required? Thanks!

[2022-11-19 03:54] kimlam-ms opened #2085 "Configure custom quorum"
🚨 Looks like you arrived from the internal review site
🚨 Do not enter Microsoft confidential information here

Under the [validate custom quorum settings](https://review.learn.microsoft.com/en-us/azure-stack/hci/deploy/deployment-tool-validate?branch=release-asz-aug#validate-cluster-quorum-settings), the link is broken to "configure the cluster quorum".

---
#### Document Details

⚠ *Do not edit t

[2022-11-19 05:16] ManoharLakkoju-MSFT commented on #2084
@DellProSupportGse
Thanks for your feedback! We will investigate and update as appropriate.

It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!

[2022-11-19 05:17] ManoharLakkoju-MSFT commented on #2085
@kimlam-ms
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-21 05:53] SaibabaBalapur-MSFT commented on #2083
@lnnrtkln
Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue there so our community, and MVPs

[2022-11-21 05:53] #2083 closed

[2022-11-21 06:19] SaibabaBalapur-MSFT commented on #2085
@kimlam-ms
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-11-21 06:23] SaibabaBalapur-MSFT commented on #2085
@dansisson
Can you please check and updated broken link shared below screenshot and request as applicable.

<img width="758" alt="image" src="https://user-images.githubusercontent.com/111563669/202979198-12937867-16a8-4316-b7e2-0d9efbc6c9ef.png">

[2022-11-21 16:32] sethmanheim commented on #2085
Deleted screenshot as it contained an internal URL.

[2022-11-23 04:11] ManoharLakkoju-MSFT commented on #2084
@DellProSupportGse
Since we have not heard back from you, we will now proceed to close this thread.
If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-11-23 04:11] #2084 closed

[2022-11-24 10:24] NikhilBhoga commented on #2079
Hi @sethmanheim, thank you for acknowledging. May I know how many days you usually take to update a document.

[2022-11-26 10:22] #1978 closed

[2022-11-28 20:37] DellProSupportGse commented on #2084
Sorry for the delayed response. I was offline for the holidays.
I discovered these URLs while repairing the ARC agents on Azure Stack HCI Nodes.

[2022-11-28 21:09] storey-dev commented on #2036
I have encountered the same issue - it would be great to understand the root cause/status of this and if a workaround exists for right now?

[2022-11-29 06:43] ManoharLakkoju-MSFT commented on #2084
@DellProSupportGse It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!

[2022-11-30 14:09] DellProSupportGse commented on #2084
The issue is that the ARC agent is not installed when running Register-AzureStackHCI. When we manually download and install the ARC agent. Here is the error message
![image](https://user-images.githubusercontent.com/79069476/204613267-0d9e0647-5285-474c-9ce9-89bc47d292d3.png)
When we investigate the stackhci.ps1 we find URL https://go.microsoft.com/fwlink/?LinkID=627338&clcid=0x409 is called which